[2017-04-05 02:09] tayvano commented on #404
https://github.com/kvhnuke/etherwallet/tree/mercury/releases

https://github.com/kvhnuke/etherwallet/blob/mercury/gulpfile.js#L254-L266

We are likely going to remove releases entirely from the repo. The releases page will have the release zips, generated and "released" automatically through travis.

- People downloading `mercury` don't want to download a file twice as big to have a zip file anywa

[2017-04-05 04:39] fortran77 commented on #404
Thanks for the response, and I don't know how to interpret it. The first link you included gives me a zip archive dist-v3.6.0.zip that, like the ones I previously downloaded, doesn't extract into a unique subdirectory. In a tar archive context they call this a "tar-bomb".

[2017-04-05 04:41] tayvano commented on #404
I was just linking the relevant files.

Im wondering why you don't clone gh pages or use the releases page to track and download new versions?

[2017-04-05 05:19] fortran77 commented on #404
Yes I can use git clone, and I do when I need to.

You can often resolve an issue by getting the person reporting that issue to use a slightly different approach. But that doesn't necessarily negate the issue itself. I was hoping that the way I wrote this issue, it was not just about me.

Right now, people have limited choices. Windows is insecure, OS X is expensive, stable Linux (e.g., CentOS 7.x

[2017-04-05 06:08] tayvano commented on #404
I guess I'm just trying to figure out exactly what you want and what it solves. Cloning the repo gh pages and using git pull would allow you to have the most up to date release without any zip.

Downloading the mercury branch so you only have the zip seems excessive when you could just download the zip to where ever you want, subdirectory or no subdirectory. Additionally, if you are downloading th

[2017-04-05 08:16] fortran77 commented on #404
We get out of the zip whatever is in it. If there's a unique top-level directory in the zip, then when we extract we get that. If there is no top-level directory inside, then whether or not we get one upon extraction very much depends on whether the extraction program creates one anyway, and in many environments it doesn't. The only way to be sure that a top-level directory is created when the arc

[2017-04-05 09:37] tayvano opened #405 "Safari 10.1 -- nodes forever balancing"
"Hi there

When I open myetherwallet on Safari 10.1using a mac 10.12.4.it says all the time loading and does not show my ether acount. Every time i delete the s on htttps it puts the s again. I also verified these points here and they work coorectly.

Verify geth is running with `geth --rpc --rpccorsdomain "null" --keystore "dont_put_secret_files_here_ever"` or parity is running with `parity --rpc

[2017-04-05 10:34] tayvano commented on #404
Wow, fuck that took me way too long for me to understand what we were going for here. #braindead 😑 🔫

Instead of zipping the dist folder, we need to zip a folder with a folder called `dist-v3.6.0` inside it. This should be.....maybe doable? Let me see what I can do.

Sorry about that.

[2017-04-05 10:43] fortran77 commented on #404
Yes, "instead of zipping the dist folder, we need to zip a folder with a folder called dist-v3.6.0 inside it", that's what I meant, I should have been more clear. Thanks.

[2017-04-05 10:44] tayvano commented on #404
I'm going to blame lack of sleep on this one, not you. :P

[2017-04-05 22:17] #400 closed, assigned to nobody

[2017-04-05 22:33] #399 closed, assigned to nobody

[2017-04-06 00:37] tayvano commented on #383
Please email us at support @ myetherwallet.com if you are still having issues.

[2017-04-06 00:37] #383 closed

[2017-04-06 17:08] crptm commented on #403
We can try Etherscan websocet subscriptions https://etherscan.io/apis#websocket

[2017-04-06 17:11] crptm commented on #403
But it wouldnt work for tokens, right? Because they have no transaction with user address involved.

[2017-04-06 21:44] MicahZoltu opened #406 "Instructions should tell user to restart Ledger app."
https://www.myetherwallet.com/#view-wallet-info

If Browser support *isn't* enabled when the user opens the Ethereum app, they will need to enable it and then restart the Ledger.  This is a known issue with the Ledger, but at the moment the instructions don't actually work.  :/

[2017-04-07 03:55] MicahZoltu opened #407 "Plans for Ledger Derivation Path? (Multiple Ledger / Path Issues inside)"
I'm working on a dApp and when attempting to do what I was hoping would be a fairly straightforward ledger integration I found out that MEW and Ledger Chrome App are both using BIP32 derivation paths that claim to be BIP 44 compliant per BIP 43, but aren't actually BIP 44 compliant.  After reading #332 it sounds like Ledger team and MEW are interesting in "fixing" this mistake but I haven't seen a

[2017-04-07 04:51] tayvano commented on #407
Sorry for the hot mess of thoughts but wanted to shed some light even though I'm in the middle of like 10 things.

- We will be moving to some sort of HD mnemonic system for V4. Not sure on timing. If its not done by end of summer, I'll kill something though so.....there's a deadline for you. 😉 We'll likely follow Metamask / Jaxx unless a standard is approved beforehand.

- But at the moment we do

[2017-04-07 05:50] MicahZoltu commented on #407
Our dApp wants to be able to use hosted nodes (e.g., Infura) for accessing the chain but allow the user to sign transactions with the ledger.  The ledger _only_ stores a master seed (per BIP 32) so in order to ask the ledger to sign things on behalf of our users, using an account/address the user is familiar with (and has ETH), we have to supply the Ledger with a path.  If we were to follow the BI

[2017-04-07 06:39] tayvano commented on #407
yes sorry. braindead. really really really braindead. you are 100% correct.

https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/controllers/decryptWalletCtrl.js

    $scope.HDWallet = {
        numWallets: 0,
        walletsPerDialog: 5,
        wallets: [],
        id: 0,
        hdk: null,
        dPath: '',
        defaultDPath: "m/44'/60'/0'/0", // first address: m/44'/60'/0'/0/0

[2017-04-08 01:10] linagee opened #408 "Scan in QR codes?"
It would be nice to be able to input addresses using QR codes whenever possible.

Here is a possible library that does this from within Chrome (or Firefox if it supports WebRTC).

https://webqr.com/

https://github.com/LazarSoft/jsqrcode

I was playing with this a bit with Jaxx wallet, not sure why their bare thing says iban:....., I guess that's just standard.

Please label this as feature.

[2017-04-08 01:12] linagee opened #409 "Ledger Nano S - sign message?"
I wasn't able to get the "Sign Message" view when using MyEtherWallet and a Ledger Nano S. Ledger Nano S has this ability in their library. Maybe I'm just missing something or is this just not implemented yet?

[2017-04-08 01:13] linagee commented on #406
I've had to kind of "toggle" the Ledger into working by going into Browser Support and back out and then MyEtherWallet comes up with addresses. No idea if related. No idea if this is something device side or javascript side.

[2017-04-08 01:21] MicahZoltu commented on #406
Hmm, I haven't _personally_ run into the issue you have described linagee.  You may want to ask in the Ledger support room and see if that is a known issue or not.  It is possible that MEW is opening up a connection to the ledger, then (for whatever reason) it gets into a bad state and toggling/re-opening "clears" the Ledger's side of that connection.  I have run into trouble with the ledger not b

[2017-04-08 01:25] linagee commented on #381
Also... ChangeTip is dead. The others you listed are not tip bots. I guess Coinbase allows an email address (I think?), but don't they also do ETH...?

[2017-04-08 01:28] linagee commented on #408
Sorry, I opened a duplicate of https://github.com/kvhnuke/etherwallet/issues/367

Putting my suggestions on there instead.

[2017-04-08 01:28] #408 closed, assigned to nobody

[2017-04-08 01:31] linagee commented on #367
I was going to add my 2 wei, but I realize the library I was just going to suggest was already suggested. I guess the same one really is used everywhere!

[2017-04-08 01:48] tayvano commented on #409
It's currently hidden for Ledgers / Trezors for some reason. I can't recall why, but I can turn it back on next update and see if it works. 😃

[2017-04-08 01:59] linagee commented on #43
I think the easiest and most straightforward way to solve this is likely to switch from https://github.com/cryptocoinjs/scryptsy to https://github.com/dchest/scrypt-async-js

I don't know how difficult it would be, but this seems like a solved problem luckily, myetherwallet just has to implement/test/etc the different library.

https://github.com/kvhnuke/etherwallet/blob/d8fb316162b3fecce29bfd3be5

[2017-04-08 02:17] linagee opened #410 "Newbs entering password on "Generate Wallet" when they have a hard wallet"
I've seen this referenced by someone, "Don't enter a password at the generate wallet screen if you have a hard wallet!"

Then I had a co-worker do it he was just trying to intuitively figure it out.

I had to kindly tell them "you shouldn't have done that!!!"

Can we make the instructions more Newb friendly please?

Maybe some gray text, "(If you have a Ledger or Trezor, don't generate a new walle

[2017-04-08 08:04] tayvano commented on #409
More info in case we need it: https://github.com/LedgerHQ/ledger-node-js-api#using-with-ethereum

[2017-04-10 04:49] mariam-crissi opened #412 "Regarding Integration in dapp"
I have developed a dapp using Truffle Framework.I am trying to integrate wallet for other users to pay ether in my dapp.How can i integrate the wallet in my dapp??

[2017-04-10 05:53] tayvano commented on #412
You're going to want to encourage users to use [MetaMask](https://metamask.io/) or [Mist](https://github.com/ethereum/mist/releases).

Dapps should not be managing keys / wallets for users. #trustless

[2017-04-10 05:53] #412 closed, assigned to nobody

[2017-04-10 06:04] mariam-crissi commented on #412
Anyother way to integrate wallet interface in dapp?

[2017-04-10 06:05] tayvano commented on #412
Instead of thinking about adding a wallet to the Dapp, think about it like adding the Dapp to the wallet. Please take a look at the links I provided. Both are trusted applications that allow users to have a wallet and interact with your dapp.

[2017-04-10 06:36] mariam-crissi commented on #412
Okay.. Let me try using Metamask or Mist

[2017-04-10 06:37] tayvano commented on #412
https://metamask.io/

https://github.com/ethereum/mist/releases

[2017-04-10 06:37] mariam-crissi commented on #412
Okay ..Thankyou

[2017-04-10 14:36] jclarkv opened #413 "Unable to print paper wallet in Chrome App on OS X"
Summary: In MyEtherWallet CX with Ledger Nano S attached and unlocked,  I can't print the paper wallet for external backups.

Steps to reproduce:
1. Launch MyEtherWallet CX Chrome app and choose 'My Wallets'.
2. In page that opens (showing my two wallets) I click eye icon under 'View' for either wallet.
3. I enter my wallet password successfully and see the "Viewing Wallet".  I **can** see the add

[2017-04-10 22:28] joggraham opened #414 "unable to send DGD"
having toruble setting up a trasnsaction where i send DGD to another wallet.

[2017-04-10 22:57] crptm commented on #413
Looks like chrome CSP doesnt want to allow inline scripts from that page, we should try to white-list script hashes to see if policy gets inherited to new window.

ref https://developer.chrome.com/extensions/contentSecurityPolicy#relaxing-inline-script

[2017-04-10 23:32] tayvano commented on #414
Did you try the instructions found here? https://myetherwallet.groovehq.com/knowledge_base/topics/how-do-i-send-tokens-and-add-custom-tokens

[2017-04-10 23:33] tayvano commented on #413
Just to clarify, are you trying to download your key for your Ledger? The private key shouldn't ever leave the Ledger, be accessible to the browser, or therefore be printable. I'm not sure how you are seeing a keystore file either?

[2017-04-10 23:52] crptm commented on #413
Regardless of ledger usage, wallet printing from extension is broken in current chrome version and should be fixed.

[2017-04-10 23:54] jclarkv commented on #413
Just trying to print a paper wallet to store remotely. Otherwise, what is the purpose of "Print a Paper Wallet"? I'm sorry if I misunderstood the purpose.

[2017-04-11 01:41] tayvano commented on #413
@crptm I (obviously) haven't looked at it but if that's the case then yes, that is an issue worth resolving. 😬

@jclarkv If you generate a new wallet, printing that wallet is a good way to back it up. However, if you have a Ledger Nano S, the key (24 word phrase) should be kept on the Ledger device itself, the 24 words written on the card they provide you, and that's it. It shouldn't ever touch an

[2017-04-11 01:42] tayvano commented on #413
@kvhnuke Can you take a couple seconds to look at this and see if it's a quick fix that you can knock out?

[2017-04-11 01:48] jclarkv commented on #413
@tayvano Thank you for that explanation.  I didn't stop to think about the fact that the whole point of having the Nano S was that **IT** would manage those keys. [embarrassed]

[2017-04-11 20:41] joggraham commented on #414
yes, going through that process it tells me I have insufficient amount to send.

[2017-04-11 20:56] tayvano commented on #414
This means you do not have enough Ether in your account to cover the cost of gas. Each transaction (including token and contract transactions) require gas and that gas is paid in ETH.

The first long number displayed is the amount required to cover the cost of the transaction in Wei.

Take that number, divide by 1000000000000000000 and that is the amount of ETH you will need to have in your accoun

[2017-04-12 09:18] kvhnuke commented on #409
i dont think enabling it will work, we might have to add some additional code

[2017-04-12 11:52] Overlok opened #418 "all transactions were gone!!!"
on testnet.etherscan.io all my transactions were gone, I transferred funds at a rate of about 0.66 ETH to the website ethtrade.org. my purse 0x9717Ac11cd65aF38Ca3be34eFF9E46434C61462d. Means haven't arrived to the recipient and after that all transactions were gone. In what the reason? Pomogiye to understand!

на testnet.etherscan.io пропали все мои транзакции, переводил средства в размере примерн

[2017-04-12 12:18] crptm commented on #418
I think you want to use etherscan.io not testnet.etherscan.io. Testnet is like name implies for ethereum testnet for developers. This is your transaction on mainnet https://etherscan.io/tx/0x1ce9b82286a328e6917a7d4e17ea38ddee113ee324adba8262ac29bac015ab90

[2017-04-12 15:37] joggraham commented on #414
I believe that is the issue. thank you.

[2017-04-14 09:08] sikaru opened #419 ""Invalid status 6a80" when sending dgd with ledger nano s"
i comes out when i click "generate transactionco"

[2017-04-14 13:26] vojtacerny opened #420 "Unintuitive switching to ETC Node"
When switching to a different node ( e.g. ETH -> ETC) there's no pop-up, UI change or anything that would suggest that process was successful. Can you guys consider coming up with something?

It could help a lot.
Thx.

[2017-04-14 14:47] marri5317 opened #421 "Add Rinkeby etherscan.io node"
Please add https://rinkeby.etherscan.io/ to the list of nodes or another node on the Rinkeby testnet

[2017-04-16 19:54] miohtama opened #422 "MyEtherWallet sets invalid gas value, causes transactions to be rejected"
MyEtherWallet sets an bad value to *Gas* field.

Steps to reproduce

- Send Ether & Token

- For address enter 0x3cd4351f3c962f871024efef2922ae39896e4761

- For gas enter 250000

- For data enter 0xa6f2ae3a

- Tab out from the data field

Expected result:

The transaction is send with a gas of 250000.

Actual outcome:

MyEtherWallet estimates the gas limit, but this estimation may still be wrong,

[2017-04-16 19:57] kvhnuke commented on #422
Enter the data first then set the gas value, when you enter the data it tries to automatically calculate the estimated value.

[2017-04-16 20:01] miohtama commented on #422
Yes. The current user interface logic is counter-intuitive, as we have instructed our users to enter the gas limit manually. They fill in the gas limit first and do not notice that the gas limit automatically changes, as they proceed to the data field that is next on the form.

My suggestions are

* Do not estimate the gas if the gas value field has been filled in by the user

* Fix the gas estima

[2017-04-16 20:38] GriffGreen commented on #419
Hmmm I am also getting this error when i try to send REP.

I can send ETH but when i try to send tokens i get the "Invalid status 6a80"

[2017-04-16 20:42] kvhnuke commented on #419
You have to enable contract data on you ledger it is under ethereum settings

[2017-04-16 20:44] kvhnuke commented on #422
it is not properly estimating because 0x381be84a2364f1a5e4b8df5c42e21b4853dae1f8 address is not a contract, https://etherscan.io/address/0x381be84a2364f1a5e4b8df5c42e21b4853dae1f8 and therefore data field is just considered as embedded data in the tx not a contract vm execution, please use the correct contract address

[2017-04-16 21:28] miohtama commented on #422
@kvhnuke Had a copy paste error in the testing, updated the recording

[2017-04-16 22:03] miohtama commented on #422
Looks like there is something else involved. Closing this for now. My fault.

[2017-04-16 22:03] #422 closed, assigned to nobody

[2017-04-17 06:01] GriffGreen commented on #419
Oh come on buddy ;-) i went thru all the advice i could find before having this issue

[2017-04-17 06:35] kvhnuke commented on #419
Did you try doing it stranding upside down? Hehe

[2017-04-17 06:36] kvhnuke commented on #419
You usually get it when you have contract data disabled, what else could be causing it?

[2017-04-17 08:01] GriffGreen commented on #419
Hmmm maybe you are right! Sorry about that i was thinking about enabling the browser! I will try again tomorrow! I saw this quickly during easter dinner at the fams house... must have been under undue stress to respond like that ;-)

[2017-04-17 09:43] sikaru commented on #419
@kvhnuke thanks!it works

[2017-04-17 09:43] #419 closed, assigned to nobody

[2017-04-17 18:09] ckcollab opened #423 "Trying to send GNT to my Ledger Nano S -- insufficient funds?"
First of all... thanks for this project! Really appreciate all the hard work.

I'm trying to send .99 GNT to my Poloniex deposit address. Everything seems fine, Gas gets set to ~56000 (I guess that's good?)  and I confirm the transaction on my Nano. However, I get this message:

![image](https://cloud.githubusercontent.com/assets/2185159/25098595/0b207eaa-235e-11e7-8e9a-03a4315649ea.png)

(For peo

[2017-04-17 18:33] tayvano commented on #423
This means you do not have enough Ether in your account to cover the cost of gas. Each transaction (including token and contract transactions) require gas and that gas is paid in Ether. You can think of this like a transaction fee.

A standard TX will be 21000 gas & a gas price of 0.00000002 ETH so the total TX fee will be 0.00042 Ether. With tokens, the amount of gas is typically 50000 gas - 1000

[2017-04-17 18:40] ckcollab commented on #423
Thank ya!

That... seems weird, but cool, ok, thanks :)

[2017-04-17 18:40] #423 closed, assigned to nobody

[2017-04-17 19:05] tayvano commented on #423
LOL - tell me about it. Unfortunately, that's an error from the client itself, not ours. Basically everything you do is actually calculated in Wei, not ETH. So you are essentially converting WEI -> ETH when you do that division. You can get a better idea of what you are doing with this tool: http://ether.fund/tool/converter

[2017-04-17 19:09] tayvano commented on #421
I need the chain ID in order to do this.

You can see the files that need updating / adding here:

https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/nodes.js

https://github.com/kvhnuke/etherwallet/tree/mercury/app/scripts/nodeHelpers

ENS: https://github.com/kvhnuke/etherwallet/tree/mercury/app/scripts/ensConfigs

Default Tokens: https://github.com/kvhnuke/etherwallet/tree/mercury/a

[2017-04-17 19:10] tayvano commented on #420
@kvhnuke Please add a success notification upon node switch: "Node successfully switched to [Node name] [Node service]"

If it can't connect to the node, please show error notification instead (same as the header one)

[2017-04-17 19:32] tayvano commented on #418
First, please check which node you are on vs which node your ETH is on. You should be on an ETH node, not a testnet, ropsten, or ETC node. You can switch between the two via the node switcher in the upper right corner of https://www.myetherwallet.com/

Secondly, if you did send ETH **to Ethtrade**, you need to contact them as they are the ones who have not credited your account.

Lastly, we strong

[2017-04-17 19:32] #414 closed, assigned to nobody

[2017-04-17 19:35] tayvano commented on #197
N/A due to V4

[2017-04-17 19:35] #197 closed, assigned to nobody

[2017-04-17 19:36] tayvano commented on #36
Moved to v4

[2017-04-17 19:36] #36 closed, assigned to nobody

[2017-04-17 19:36] tayvano commented on #357
@kvhnuke Status update on this?

[2017-04-17 19:40] #413 closed, assigned to kvhnuke

[2017-04-17 19:41] tayvano opened #424 "Check & Fix Print Wallet functionality on Chrome Extension"

[2017-04-17 20:33] raineorshine commented on #65
@tayvano Has this feature been moved? I get a blank screen in Chrome when I load the url. Thanks!

[2017-04-17 21:32] #421 closed, assigned to nobody

[2017-04-17 22:26] tayvano commented on #65
@raineorshine

Sorry - its on View Wallet Details and https://www.myetherwallet.com/signmsg.html

Pushing an update now to fix the minor issue of not having a place to enter your key on https://www.myetherwallet.com/signmsg.html

[2017-04-17 22:54] GriffGreen commented on #419
Yep enabling contract data was the secret sauce!

[2017-04-17 23:07] kvhnuke commented on #419
C'mon @GriffGreen you should know this haha

[2017-04-17 23:12] raineorshine commented on #65
@tayvano Thanks!

[2017-04-18 00:36] GriffGreen commented on #419
(How Embarrassing)
Well now that I know how to send tokens (and I figured out how to do DASH as well... didn't bother testing BTC) I am buying 6 more ledger's using your awesome affiliate link :-D https://www.ledgerwallet.com/r/fa4b?path=/products/

The first 6 went way to fast ;-)

[2017-04-19 16:55] VadimIsk commented on #360
Good day! I have the same situation. Created a wallet, copied the account. gave it to ETH transfer . the money came partner gave the report. go to your wallet there is no money and the score changed . The first time I created a wallet. Technical support is silent after clarification of the problem .

[2017-04-19 17:18] VadimIsk commented on #360
Good day! I have the same situation. Created wallet. Copied account. Translated ETH . The money came partner gave the report. Go to your wallet there is no money and the score changed . The first time I created a wallet. Technical support is silent after clarifying the problem . Please help to return the money.

[2017-04-19 17:34] VadimIsk opened #427 "changed the number of the purse"
Good day! I have the same situation. Created wallet. Copied account. Translated ETH . the money came partner gave the report. Go to your wallet there is no money and the score changed . The first time I created a wallet. Technical support is silent after clarifying the problem . Please help to return the money.

[2017-04-19 17:42] tayvano commented on #427
@vadimlsk we have had an inordinate amount of folks from Russia \ Ukraine report similar issues which makes us believe that there is a service or phishing site right now. Unfortunately we have not been able to get necessary information like who or where this site is.

Please go back through your history and show me the URL of the site you created your wallet on.

[2017-04-19 18:01] VadimIsk commented on #427
my correspondence with technical support:

Good afternoon!

I created a purse at www.myetherwallet.com
On this site I copied the address
And on this account sent the etherium
Now I open a purse, and he issues another account, but there is no money.

How can this be? Why my current account was changed?
Why my checking account has changed?

Суббота, 8 апреля 2017, 22:46 +05:00 от "Taylor @ MyEtherWa

[2017-04-19 18:20] VadimIsk commented on #427
0x8c3b845CB261B3B6942398b112969058C7BE2FDC now the real account address

[2017-04-19 19:26] kvhnuke commented on #427
Hi @vadimlsk can you please browse through your browser history to the day you generated the wallet and send us the link, we are pretty confident that there is a phishing site targeting users from Russia.

[2017-04-19 22:24] pyskell commented on #407
Would like to add to this that the Ledger ETC derivation path is: `44’/60’/160720'/0'/0` while Ledger ETH derivation path is as you noted: `44’/60’/0'/0`

As it stands right now MyEtherWallet will fail on Ledger ETC transactions with an "Invalid Network ID" error.

Details are here: http://support.ledgerwallet.com/knowledge_base/topics/general-ledger-nano-s-faq

[2017-04-19 22:30] MicahZoltu commented on #407
The BIP 44 derivation path for ETC **SHOULD** be `m/44'/61'/0'/0/<index>`.

[2017-04-19 22:32] MicahZoltu commented on #407
@pyskell Where do you see that error?  In MEW?  What are the steps to reproduce it?

[2017-04-19 22:35] MicahZoltu opened #429 "Add support for custom BIP32 derivation path when interacting with a hardware wallet (Ledger)."
The Ledger API expects the caller to provide a derivation path.  Currently if you use a Ledger with MEW the derivation path is automatically provided and not displayed anywhere.  It would be nice if there was an option for choosing a derivation path similar to when you load a wallet via mnemonic.  At the least, MEW should display the derivation path that was used to the end-user.

[2017-04-19 22:44] pyskell commented on #407
@MicahZoltu Yes the error is in `MEW`

I just realized that this may be two separate issues:
1. The different derivation path so it doesn't align with the `ETC` address seen in the official Ledger `Ethereum Wallet Chrome App`.
a. The `ETH` address however will match the offical `Ledger Ethereum Wallet Chrome App` as `MEW` is using the same derivation path as the official application.
1. Getting th

[2017-04-19 22:51] MicahZoltu commented on #407
I don't believe the drop-down in the top right changes the derivation path used when communicating with a Ledger.  I think right now if you talk to a Ledger with MEW it always uses one derivation path which is `m/44'/60'/0'/0/0`.

I believe the `Invalid Network ID` issue you are running into is a separate issue.  You probably will have more success opening a separate GitHub issue for it.

[2017-04-19 22:54] crptm commented on #420
We should also add some visual differentiation bw mainnet nodes and everything else while we are on it.

[2017-04-19 23:03] pyskell commented on #407
Yeah I think my attempt was to get MEW to use the same derivation path as the official application when it comes to ETC but none of the derivation paths we've mentioned thus far seem to be it (including the ones noted on Ledger's own website). I'll need to open a separate issue with them I suppose to figure out the actual derivation path.

Any idea where <index> comes from for the ETC derivation p

[2017-04-19 23:05] MicahZoltu commented on #407
If you have your mnemonic you can experiment with derivation paths that way via MEW.  I would expect the path to be either the one they documented or `m/44'/61'/0'/0/0` (BIP 44) or `m/44'/51'/0'/0` (Ledger not-quite-BIP44).

[2017-04-19 23:06] pyskell opened #430 "Invalid network ID when creating an ETC transaction with a Ledger Nano S"
Steps to reproduce the error I'm seeing when accessing `https://myetherwallet.com`:

0. Make sure "Browser Support" is set to "Yes" on the Ledger Nano S device
1. Select "ETC (Epool.io)" in the top right
1. Select "Send Ether & Tokens"
1. Check "Ledger Nano S"
1. Choose "Connect to Ledger Nano S"
1. Addresses shown are not the same ones that the Ledger Ethereum Wallet uses as the derivation path u

[2017-04-19 23:23] pyskell commented on #407
Odd, it should be but none of these derivation paths give the same address as the official application either. I'll email them and report back.

[2017-04-19 23:43] tayvano commented on #407
Gah. Okay there are like 10 separate issues here. 💀 🔫 @kvhnuke

# Actionable List

1. Default Ledger path needs to be fixed for ETC  (offer same as `Trezor ETC (61)` AND m/44'/60'/160720'/0'/0 as defaults, with custom input as third option) https://www.reddit.com/r/ethereum/comments/628lgf/mew_ethetc_question_with_nano_legder/dfkud56/)

2. If you choose Ledger, it should allow you to enter custom

[2017-04-19 23:47] pyskell commented on #407
Ok, so I've figured out the "correct" derivation path for Ledger ETC. Using MEW and entering my mnemonic phrase with a Custom derivation path of `m/44'/60'/160720'/0'` gives me the same first address as the official Ledger application when handling ETC. This seems to be because MEW will automatically tack on an extra `/0` (for the index) after I've entered my derivation path.

A more detailed desc

[2017-04-19 23:47] tayvano opened #431 "Better linkage / history for tokens via Ethplorer"
"Hi, insomniasexx

Hope everything is grand.

Just wanted to share that we just released a big update for Ethplorer.io (you have seen this tool before)
https://www.reddit.com/r/ethereum/comments/5wukrh/ethplorer_20_big_update_tokens_for_investors/

What you may find interesting is that Ethplorer now have public Tokens API. For example, vDice designed own simple wallet using MEW for creating transa

[2017-04-19 23:50] pyskell commented on #407
@tayvano Gotcha, well this user has figured this out, but the problem still exists for actually using my Ledger Nano S, as when I do I'm unable to choose my own derivation path.

Entering my mnemonic onto an internet-connected machine is very much the opposite of the purpose of hardware wallets so hopefully you can at least let the user input their own derivation path when using the Ledger Nano S

[2017-04-19 23:52] tayvano commented on #407
Okay so the spec is:

`m / purpose' / coin_type' / account' / change / address_index `

The "last 0" that you speak of is the address index. The Ledger CX only shows the first address. We pull all the addresses.

I'm not sure what you mean by "adding a zero" though. The first address will be `..../ 0`, the second will be `..../ 1` and so forth.

And yes, I think allowing users to enter a cust path

[2017-04-19 23:55] pyskell commented on #407
Gotcha, thanks. By "adding a zero" I was referring to the `address_index`.

Seems that I need to input the derivation path **without** the `address_index` to get the address derived correctly. When I **include** the `address_index` then MEW does not correctly derive the address (it gives a wrong set of addresses). Wrong in the sense that they do not match the address that Ledger's official Ethereu

[2017-04-19 23:57] tayvano commented on #407
Interesting, I'm going to add a note to look into that. We should probably just ignore any specified `address_index`...or only show that address. Not sure why it would be specifying a separate set of addresses.

Also, finally found the comment regarding Ledger + ETC:

[2017-04-20 01:03] MicahZoltu commented on #407
@tayvano Unfortunately you can't do this because everything is terrible.  BIP44 says that if the second segment is `44'` then the full path is `m / purpose' / coin_type' / account' / change / address_index` as you mentioned.  Unfortunately, some wallets (including the Ledger wallet app) leave out the `change` segment despite BIP 43/44 explicitly saying not to.  This means that when an end-user put

[2017-04-20 05:32] imrockin commented on #360
Hello,
Where you able to get your funds back or access to the wallet?
Let me know.  Mine are still there stuck.

    On Wednesday, April 19, 2017 10:18 AM, VadimIsk <notifications@github.com> wrote:

 Good day! I have the same situation. Created wallet. Copied account. Translated ETH . the money came partner gave the report. Go to your wallet there is no money and the score changed . The first tim

[2017-04-20 06:19] VadimIsk commented on #360
In this purse was an excessive number of people from Russia \ Ukraine report similar problems. How much money hanged on accounts simply can not be transferred. This purse on the basis of ETH changes addresses, you need to constantly check the address of the wallet

[2017-04-20 08:04] VadimIsk commented on #427
If this is a phishing site, how can it give the keys, the file for access, the public key to the correct wallet. Left sites create that to take money, but the money lies there, and they will lie there because "no access" is not available to anyone. The address of the wallet simply can not be invented, there is no confirmation that the account belongs to my wallet. My wallet created the address (1)

[2017-04-20 08:48] tayvano commented on #427
We do not know. Of all the reports we have received, NO ONE has managed to get us their actual history or provide additional information.

Once we FIND the site that is causing these issues we can figure out what they are doing, how they are doing it, if there is a way to recover anything, and get their ass taken the fuck down to prevent this from happening anymore.

So please, look at your actual

[2017-04-20 17:27] VadimIsk commented on #427
![4](https://cloud.githubusercontent.com/assets/27778614/25243969/5cf88a8a-2618-11e7-9196-f49bea1e57e8.png)
![1](https://cloud.githubusercontent.com/assets/27778614/25243971/5cf957e4-2618-11e7-8023-f39f1cccfdb5.png)
![2](https://cloud.githubusercontent.com/assets/27778614/25243972/5cfb07ce-2618-11e7-8ddc-3d6682ba5e8a.png)
![3](https://cloud.githubusercontent.com/assets/27778614/25243970/5cf9a636-2

[2017-04-20 17:28] VadimIsk commented on #427
all that is

[2017-04-20 19:17] cosmicscr commented on #322
Hi,

I'm back at it and still running into problems.  I'm trying to run MEW locally and connect to ledger wallet.

Here is what I have done so far:

1.  Running latest geth.  Geth does not support HTTPS directly with its rpc server, so I set a quick node https proxy server on port 3000 pointing to geth for MEW to attach to.  Using a curl statement proves that this https proxy works fine for intera

[2017-04-20 19:39] crptm commented on #322
No other errors in console prior? Can you attach your etherwallet-master.js ?

[2017-04-20 19:41] cosmicscr commented on #322
From a fresh reload, there are hardly any further messages... only these seemingly benign warnings:

[code]
uploading soon...

[2017-04-20 19:43] cosmicscr commented on #322
[etherwallet-master.js.zip](https://github.com/kvhnuke/etherwallet/files/945284/etherwallet-master.js.zip)

Here is the file from the dist folder.  Presumably it's precisely what you would get by doing:

1.  git pull latest mecury branch
2.  npm install
3.  gulp
4.  gulp clean

[2017-04-20 19:49] crptm commented on #322
Can you try doing it in chrome?

[2017-04-20 19:49] crptm commented on #322
Better yet, can you join slack so we wont spam email %)

[2017-04-20 19:54] cosmicscr commented on #322
Failed! invite_limit_reached

[2017-04-20 20:00] crptm commented on #322
:( How is chrome going? :)

[2017-04-20 20:05] cosmicscr commented on #322
I was able to add an extension to bypass cors errors in Chrome.

1.  I load up MEW successfully over HTTPS (even though google complains a bit and doesn't handle trusted self signed certs as cleanly)

2.  I create a custom node to my https proxy and it seems to work!  no errors

3.  Then I attach nano and start the eth app

4.  Click connect and nothing happens.  Hmmm.  I then open dev tools and t

[2017-04-20 20:19] cosmicscr commented on #322
I also disabled all chrome extensions except the needed cors plugin and got the same results, so I don't think it's plugin interference.

Will you please test the issue on your side?  I can reproduce the error extremely simply:

1.  It doesn't matter whether I'm on HTTPS or file, I get the same error.
2.  It doesn't matter whether I connect to myetherwallet default node or custom node, I get the s

[2017-04-20 20:22] crptm commented on #322
1) is it working for you on mew.com?

2) go to app/scripts/controllers/decryptWalletCtrl.js:ledgerCallback and console.log(error) there, then rebuild and come back with error code :)

[2017-04-20 20:22] tayvano commented on #322
Have you guys looked at this before? https://github.com/benjaminion/eth-parity-qnap/wiki/Connecting-to-MyEtherWallet (Not sure if helful...)

[2017-04-20 20:22] crptm commented on #322
firefox issue is unrelated, we can fix it once chrome flow is working.

[2017-04-20 20:43] cosmicscr commented on #322
Okay I'll need some time to troubleshoot.  thx

[2017-04-20 22:00] cosmicscr commented on #322
Okay, most of the issue I think is resolved by one of the following:  updating to the latest firmware, or updating to the latest ethereum app on the nano device.

1.  The bug still exists on Firefox.  I think that is actually a bug.

2.  Connecting the nano to MEW is extremely intermittent and I mean extremely.  If one clicks on connect, then clicks cancel, it seems they can never reconnect unless

[2017-04-20 22:18] crptm commented on #322
1. Yep, i'll take a look. Maybe on a weekend.

2. Yep, it should at least display error codes to have some sort of feedback from user actions.

You can open network tab in chrome devtools and ensure that it calls your node. Simply unlocking wallet should prompt multiple queries to check eth and token balances.

[2017-04-20 22:31] cosmicscr commented on #322
Ah thanks good idea!  That makes perfect sense... I'll watch in devtools.

However, I've noticed that MEW errors if devtools is opened.  Please try to open devtools and refresh the page and you'll see a bunch of errors.  Screenshots of it are above in the thread.  But perhaps I can load it and get the process all set up and then load devtools and it all may still work.   I suppose in the worst cas

[2017-04-20 22:46] crptm commented on #322
If you are talking about cert messages - these are just warnings, everything should work just fine with devtools open.

[2017-04-20 22:54] cosmicscr commented on #322
No I'm talking about the screenshot above related to devtools.  Here's a new screenshot performing the exact steps I just described... and this is with all extensions disabled.  Perhaps it's from a devtools plugin?:

![screen shot 2017-04-20 at 4 55 20 pm](https://cloud.githubusercontent.com/assets/6118944/25255825/30a39340-25ea-11e7-9ccb-89cbd851ead0.png)

[2017-04-20 22:56] crptm commented on #322
I see, would visiting your node url and adding cert exception help?

[2017-04-20 22:58] tayvano commented on #322
The latest screenshot looks like you have Javascript turned off, or something didn't get compiled correctly....

[2017-04-20 22:58] cosmicscr commented on #322
@crptm Hi sorry, see new screenshot above.  The old was due to an extremely annoying behavior of chrome:  if it connects to a custom node that it considers not secure then it appears red.  If you switch to a good node it's still red.  If you refresh the browser it's still f*cking red.  If you duplicate the damn tab it's still red.  you have to actually create a new tab and go to MEW for it to be g

[2017-04-20 23:00] cosmicscr commented on #322
@tayvano Hi,

1.  Load MEW.  See that it looks nice.
2.  Open devtools.  See that it still looks nice
3.  Refresh the browser, see that it doesn't look nice anymore.  This is not about having javascript turned off.

[2017-04-20 23:04] tayvano commented on #322
Hmmmm....that is extremely strange. I haven't been 100% following this thread, I'm just sharing what I know from past experience. I wonder if it's unable to load the JS for some reason - https vs non-https or something?

I believe in the devtools console, if you click on the network tab, it should show your local 127..... instead of myetherapi.com or whatever it normally is.

I'm trying to get @kv

[2017-04-20 23:16] cosmicscr commented on #322
I just installed Chrome on a separate ubuntu image and I could NOT reproduce the devtools problem shown above.   It seems to only happen on OSX for some reason.  It happens even when I disable all extensions including extra devtools extensions like for react and redux.  Not sure what's going on.  If you can reproduce it and see it for yourselves then maybe you can troubleshoot it.  Otherwise I sup

[2017-04-20 23:17] kvhnuke commented on #322
Yea if you are using the local node devtools network tab should show the local node ip for all outgoing requests, it definitely seems like a broken just error, check the devtools console

[2017-04-21 10:07] crptm commented on #427
@VadimIsk are you sure you saved private key the first time you generated the address?

[2017-04-21 10:27] VadimIsk commented on #427
Yes of course and key with password and public key. alarming me the address, eth.pp.ru  I didn't go in it

[2017-04-21 10:47] VadimIsk commented on #427
make a screenshot of the files in the keys folder the download later

[2017-04-21 11:34] stewface commented on #280
Looks like I am running into the same error... trying to transfer Vslice tokens to Liqui

[2017-04-21 11:36] stewface commented on #280
Found it it was a setting about the contract data set to off...  as the post two up..

*face palm*

[2017-04-21 13:01] tayvano commented on #410
will be live in v3.6.4. thanks!

[2017-04-21 13:01] #410 closed, assigned to tayvano

[2017-04-21 16:47] VadimIsk commented on #427
when I created the wallet. the site was like this. the account was copied and sent for payment. and I haven't checked my account (number) wallet as he changed I didn't notice

[2017-04-27 08:36] #430 closed, assigned to nobody

[2017-04-27 18:15] VadimIsk commented on #427
![7](https://cloud.githubusercontent.com/assets/27778614/25497852/4e55d4ba-2b9f-11e7-9e80-4a0cb1aed821.png)
this is some nonsense

[2017-04-28 07:03] tayvano opened #435 "Feature Request: Show equivalent values of tokens AND ETH, not just ETH in wallet balance directive"
"I was wondering if there was any way to display the USD value or BTC value of all individual tokens or all tokens when viewing a wallet via the public address."

+

Add GBP to Equivalent Values list (#440)

+

There are also current prices available in token's API.
So you can easy show token and transactions prices in USD using same API as before.
Structure added:

price:
{ # token
   price (fals

[2017-04-28 08:28] stefek99 opened #436 "When signing a message make the date optional, keep it empty when it is empty."
In the project I've been working on, we've forked MEW.

I've implemented a few customisations here and there.

Then I proceed to testing the **Sign Message** feature:

![image](https://cloud.githubusercontent.com/assets/249703/25520614/6c1c4fd8-2bf4-11e7-85a3-f444bf3dce0e.png)

I want to sign my email: `email@genesis.re`

Unfortunately the generated message (and subsequent signature) assumes: `ema

[2017-04-28 09:08] tayvano commented on #436
1. I wasn't aware there was a formal signing message spec. Can you please direct me?

1b. If you give users the opportunity to do something insecure, they will do it every time. While I agree that a date isn't necessary for every message, it would have prevented a number of scams, including the clusterfuck that was 'i am Satoshi here is a message'. I would recommend you keep that in mind when buil

[2017-04-28 09:12] tayvano commented on #420
@crptm I don't disagree. Any ideas? I was thinking maybe color coding or something the ETH \ ETC \ TESTETH variable that appears all over the site as it wouldn't be too overbearing.

[2017-04-28 09:14] tayvano commented on #403
Apparently this is something to do with a recent parity update which will be solved when we finish updates for geth v1 6 and use that. Adding websockets to v4 list though. Love websockets.

[2017-04-28 09:27] crptm commented on #420
I am not a designer :D

Was thinking about usual grouped dropdowns like:

**Mainnet**
--------

MEW
EtherScan

**Testnets**
-------

Blah
Blah

**Custom nodes**
-------

Add

[2017-04-28 09:30] crptm commented on #420
Color coding UI is nice also, but it wouldnt work for new users as good as it would for returning ones.

[2017-04-28 10:40] #436 closed, assigned to nobody

[2017-04-28 11:48] stefek99 commented on #436
Sorry if typos too 😎

I edited source of the page directly using Chrome Dev Tools: http://stackoverflow.com/a/43631130/775359

Pull in the context of Github usually means "Pull request" - is that what you mean?

That's why:

Boom!

[2017-04-28 12:06] tayvano commented on #420
Would love feedback on this. I think it may need to be more obvious, but it may be just enough to give you that extra "hey wait why is there a yellow border......". Except for poor color blind people. I'll have to double-check colors and see.

Maybe change the color of the "make transaction" button?

![screen shot 2017-04-28 at 5 03 36 am](https://cloud.githubusercontent.com/assets/7924827/2552796

[2017-04-28 12:13] tayvano commented on #407
v3.6.6 should allow for customization of all paths. If anyone wants to pull current mercury version and test it, it would be much appreciated. (Except.....maybe you can't because you'd have to set up SSL first?)

https://github.com/kvhnuke/etherwallet/commit/93d9e1415ea99c00abfcf1c2ae765c6022520a95

@kevinmonahan Please let me know how it works with the Ledger and if you find anything un-intuitive

[2017-04-28 14:06] pyskell commented on #407
Yeah can't test without setting up a server w/ SSL first. Will do later if I can get something spun up fast.

Also, just curious, why does MEW require SSL when running a local copy?

[2017-04-28 15:43] tayvano commented on #407
@pyskell it's a requirement of U2F, not MEW or Ledger. The reason Ledger uses a Chrome App over and extension is bc the app has access to USB directly and doesn't have to use the U2F functionality.

This is also the reason it doesn't work in firefox. U2F is kinda led by Google.

[2017-04-28 15:50] MicahZoltu commented on #407
You can tell chrome to allow U2F from pages served by HTTP.  I found this to be easier than setting up a local HTTPS server.

[2017-04-28 15:55] pyskell commented on #407
@MicahZoltu How do you do that? A quick google search doesn't say.

Also I've tested it anyway and it works correctly for ETC with the Ledger Nano S. Providing the derivation path `m/44'/60'/160720'/0'/0` as listed on Ledger's website leads to MEW providing the same address as in the official Ledger client.

And thanks. You devs are the best devs!

[2017-04-28 16:02] tayvano commented on #407
@MicahZoltu If you could share how, it would make a lot of folks lives easier - especially those running locally.

Thank you @pyskell. I will test a couple more times and then push live. Considering the amount of issues people are currently having with this, as long as it isn't hopelessly broken, It'll be an improvement.  :/ We can make further updates / warnings / instructions based on how the su

[2017-04-28 16:13] MicahZoltu commented on #407
https://github.com/google/u2f-ref-code#option-1-use-the-extension-from-the-webstore (at the end of the readme).

I went with option 2 because the extension linked in option 1 is from some random dude on the internet and I didn't trust it (though, it is linked from a Google GitHub repo).

[2017-04-28 16:16] MicahZoltu commented on #407
Note: `HTTP_ORIGINS_ALLOWED` resets itself to `false` after some period of time, so while testing you may find that you have to go back in and set it again.  I wasn't able to figure out what triggered the reset, but it seemed to happen after maybe 30+ minutes.

[2017-04-28 16:30] tayvano commented on #407
Thank you! Reminds me of cloudflares dev mode: it's on for 3 hours. After 3 hours you about kill yourself trying to figure out why your changes are working and even your 5 alerts on document ready arent firing, before you realize it's cached.

[2017-04-29 05:34] cosmicscr commented on #322
Just a note for anyone coming across this thread, I switched over to using the parity client and it works way more consistently.

[2017-04-29 06:18] ghost opened #437 "No response from support@myetherwallet.com"
Please answer for dtyz8@ukr.net about https://www.myetherwallet.com/#swap

[2017-04-30 11:22] tayvano commented on #437
Both myself AND Bity have responded to you. Perhaps you need to check your email?

You sent ETC, not ETH. You can only Swap ETH as the system does not support ETC.

[2017-04-30 11:22] #437 closed, assigned to nobody

[2017-04-30 11:23] tayvano commented on #431
Added a link to Ethplorer.io address in v 3.6.6. It's not everything I want to do, but it's all I (personally) am capable of. Will continue on for actual integration.

[2017-04-30 12:41] tayvano commented on #429
v3.6.6 now gives you the ability to use any path you chose on any chain you chose with your Ledger and TREZOR (and of course, you can also do the above + any word-count via mnemonic phrase option)

[2017-04-30 12:41] #429 closed, assigned to nobody

[2017-04-30 12:45] tayvano commented on #407
The issues (besides the issue of having too many damn paths for ETH) is resolved. (I hope) with v3.6.6 which I just pushed live. Feel free to reopen or comment if it ain't.

@pyskell I just realized what you were talking about with the index: We are asking for the path, sans address index, as we then display 5 addresses (.... /0, ..... /1, ...../2,.......). Regardless of which way we chose to do t

[2017-04-30 12:45] #407 closed, assigned to kvhnuke

[2017-04-30 12:47] tayvano commented on #327
v3.6.6 allows you to choose any path, on any chain, for TREZORs and LEDGERs, which hopefully will resolve some of the issues were seeing with people sending ETH to ETC addresses and vice versa, as well as the folks who are just sparkly little diamonds who use their own custom path for everything. 👍

[2017-04-30 12:47] #327 closed, assigned to nobody

[2017-04-30 12:49] tayvano commented on #427
I'm even more confused: that screenshot is NOT MyEtherWallet.com - it is Etheruem Wallet.

**Where** did you generate the wallet?

[2017-04-30 12:49] #427 closed, assigned to nobody

[2017-04-30 13:33] ghost commented on #437
Is there an opportunity to return the ETC back?

[2017-04-30 14:03] btchip commented on #327
Great, thanks for the extra work put into that.

[2017-04-30 15:09] karelbilek commented on #327
Great!

On Apr 30, 2017 4:03 PM, "Nicolas Bacca" <notifications@github.com> wrote:

[2017-04-30 22:20] hectorchu opened #440 "Add GBP to Equivalent Values list"
It would be nice to know what MEW thinks my wallet is worth in English money.

[2017-05-01 05:05] tayvano commented on #435
This also ties in with #440

[2017-05-02 16:31] mrbrdo commented on #422
This is still an issue on the online version, it just happened to me (and kinda screwed me a bit).
For me it reduced the gas limit (I input 300000 and it reduced it to something like 20000, causing my TX to run out of gas and be reverted). I input the gas limit manually and AFTER entering the amount. The gas limit changed when I clicked Generate Transaction just like in the gif above.

[2017-05-02 17:02] tayvano commented on #422
It is going to re-estimate your gas when you add data or change the value of the transaction.

If you want to manually increase the gas, do so *last*.

[2017-05-02 19:29] miohtama commented on #422
@tayvano Yes, that's how people should do it, as the last step as you mention.

However the current user interface is little confusing here because fields are in a wrong order for this workflow and it is easy for an average user to miss this, unless they have been noted about this behavior beforehand.

[2017-05-02 19:35] tayvano commented on #422
Perhaps the folks who just raised 12M have a bit of extra time to write a line of code to fix it. Would have been nice if they had done it beforehand. Or not used a contract that didn't estimate correctly. Or maybe just shot us a note when they were making the tutorials.

Nah.

We'll just leave it and then blame MEW and roll around in our piles of money.

Whatever. I'll push a update tonight for t

[2017-05-03 00:04] derEremit commented on #65
unfortunately this is missing trezor integration, is that a bug, or not planned?

[2017-05-03 02:37] GriffGreen opened #445 "estimateGas() for SWT is smokin' dope... or just very optimistic"
The value I am getting is 25652

The Value needed is: 90972 for an account that has tokens already or 128167 for an account that has never received before.... so maybe over estimate with a 95k and 135k?

It's one of those stupid "MiniMe" tokens... 🙄  Unfortunately Aragon is going to use it too so might as well get this estimate gas thing working 🙄

Oh and have I told you, lately, that I love you?

[2017-05-03 04:19] tayvano commented on #445
Can you send us the address + recommended gas + ??? info so we can have it manually fill in the gas for those token addresses and not try to deal with it / estimate? It'll also reduce the # of calls to our server which saves us like 0.001 cent which doesn't matter until you get 1m requests / day.

You'll have to ask @kvhnuke what we are using for estimating gas that's failing so bad. Obviously not

[2017-05-03 04:21] tayvano commented on #65
It's a separate functionality that we have to develop (same with Ledger). Please open a separate issue. I'll see if I can find any docs.

[2017-05-03 05:52] GriffGreen commented on #445
hahahahah
Yeah the big todo list on Mewify is to make it not block me from using your node every time i turn it on!!!

I am still waiting on info from my lawyer, but i bet i make it down there in the next 6 days :-D

[2017-05-03 05:56] GriffGreen commented on #445
token address: 0xb9e7f8568e08d5659f5d29c4997173d84cdf2607

Recommended gas depends on if the account has sent tokens or not:
90972 for an account that has tokens already or
128167 for an account that has never received before

Or to keep it simple, recommended gas 128167 + 10,000

:-D

Much love and see you soon!
;-)

[2017-05-03 07:10] tayvano commented on #445
Okay I'll see if we can manually set it for now. Thanks  . Kvhnuke says it'll be better when we finish migration to geth after ens.

[2017-05-03 21:39] mrbrdo commented on #422
Let's not get emotional :) My thoughts are that if the user fills the gas limit it shouldn't reset to something else, since he probably filled it with a reason (no matter of order of filling the fields). Also if memory serves right, the field updated for me after clicking generate transaction, which isn't that great either. To me it looked like it is not possible to use the gas limit I specified a

[2017-05-03 22:50] miohtama commented on #422
@tayvano Good answer! :)

[2017-05-03 22:51] miohtama commented on #422
Am I correct: Ultimately the estimator is in Geth/Parity and has to be fixed on little bit lower level?

[2017-05-03 23:22] tayvano commented on #422
@mrbrdo Feel free to open a PR. This is exactly what I have on the todo list as a temp solution. We are trying to get ENS laucnhed.

@miohtama Supposedly geth is better as they are literally brute forcing gas limits. Parity can have problems when there are multiple layers or something.

Here's some interesting numbers for you:

**Here are their relative block number (first tx=0, last success=112)

[2017-05-04 21:06] crptm commented on #424
This was fixed a while ago can someone check and close this?

[2017-05-04 21:08] crptm commented on #405
This might be bignumber bug, OP should try using latest MEW version.

[2017-05-04 21:13] crptm commented on #381
Theoretically we can create new wallet, send eth there, give back qr-code or something with pkey+flag that it is a tip key. Then create another wallet when onboarding users with tips.

[2017-05-05 16:19] VadimIsk commented on #427
I did the import

[2017-05-05 16:28] VadimIsk commented on #427
I made one purse two Keystore File (UTC / JSON). First correctly determined.  The second does not accept

[2017-05-05 16:55] tayvano commented on #427
If it does not unlock it is because your password is incorrect.

[2017-05-05 17:23] VadimIsk commented on #427
created     Illusory wealth   :-(((

[2017-05-05 21:20] ghost opened #449 "How Do I Generate Keystore File (UTC / JSON)"
Hi - I love your service but I don't like having to cut/paste my private key whenever I want to use the UI. I can't figure out how to generate a Keystore File (UTC / JSON) from my private key. Do you have any guidance?

Thanks

[2017-05-05 21:23] tayvano commented on #449
You can encrypt your private key by using our Chrome Extension, or importing your raw private key into geth.

**Chrome Extension**

- [Download and install our Chrome Extension](https://chrome.google.com/webstore/detail/myetherwallet-cx/nlbmnnijcnlegkjjpcfjclmcfggfefdm?hl=en):

- Add a new wallet using your private key, enter a password, and save this wallet.
- Go to the "My Wallets" section and c

[2017-05-06 17:30] ghost commented on #449
That worked, but I have to say that it felt very confusing from a UI perspective. First, having to click My Wallet in order to interact with it was not intuitive. Then, being bounced out to a browser window from within the extension felt odd and insecure. Finally I don't get why the download keystore UI only appears if launched from the extension. Food for thought!  Maybe I'll hack on this and sub

[2017-05-06 17:30] #449 closed, assigned to nobody

[2017-05-07 18:39] rmerom opened #453 "ENS clock wrong"
Local time is 2017-05-07 11:38AM PDT
See image below:
![image](https://cloud.githubusercontent.com/assets/650968/25783947/aab9c8d4-3319-11e7-9ebc-2e30ff46d057.png)

The countdown clock is wrong (4 days from now would already be May 11).

[2017-05-07 18:40] rmerom commented on #453
My mistake, now I understand the clock is until the whole auction ends?
It might make sense to reconsider what the countdown is showing (users are likely interested when they can bid/reveal more than when someone wins, but I may be wrong of course)

[2017-05-07 18:41] rmerom opened #454 "ENS - show contract address"
When placing a bid for ENS, nowhere on the UI did I find what the address of the target contract (ENS registrar) is. Being a Ledger user, the ledger itself also does not reveal the entire address, and so it feels a bit risky to go ahead with the transaction without being able to verify where the bid ETH is going to.
It would be great if you could add that address somewhere, thanks!

[2017-05-07 22:05] linagee opened #455 "Please save my Ether on MEW/ENS"
Please save my $0.07 of Ether on ENS. (And everyone else's 7 cents.) Could you just check to see if there is already a winning bid and warn the user that revealing their bid would be a waste of 7 cents for a transaction as there's already a higher bid out there? I just revealed several bids, then realized this afterward.

[2017-05-07 22:09] tayvano commented on #445
@kvhnuke was this updated in the latest round?

[2017-05-07 22:11] tayvano commented on #420
Calling this done. If anyone has any feedback or thinks it needs to be even more obvious, let me know.

[2017-05-07 22:11] #420 closed, assigned to kvhnuke

[2017-05-07 22:11] #418 closed, assigned to nobody

[2017-05-07 22:11] tayvano commented on #405
I haven't had support requests for this in a while so I think that the bignumber fix fixed it. 👍

[2017-05-07 22:11] #405 closed, assigned to nobody

[2017-05-07 22:42] linagee commented on #455
Also note: This only applies to the minimum bid of 0.1 ETH, I think you'd want to execute a reveal no matter what if you bid more, in order to get your money back. (But I'm not sure on that.)

[2017-05-07 22:47] tayvano commented on #455
@Arachnid Would love your insights on this one...

@kvhnuke Do you know what is possible / not possible?

[2017-05-07 23:36] linagee commented on #455
Please disregard. I have consulted people who know more than I know on ENS. You'll always want to reveal, even if you only had 0.1 ETH in the game and it costs you 7 cents.

[2017-05-07 23:36] #455 closed, assigned to kvhnuke

[2017-05-08 02:27] linagee opened #456 "Email or Google Calendar reminder for ENS reveal period"
I'd like to make a feature request: Email reminder or Google Calendar reminder for ENS reveal period.

https://github.com/ethereum/ens/blob/a3019af3397342e80503c6f3943673c1e1e606cb/contracts/HashRegistrarSimplified.sol#L392

The code above says: "If you fail to reveal during the reveal period, you only get 0.5% back, not 99.5%"

I realize you've already put a lot of work into your "make sure you s

[2017-05-08 07:14] tayvano commented on #456
basically you lose anything you don't reveal... or reveal late

So yeah. Making some updates to the UI now. 😰

[2017-05-08 07:21] tayvano commented on #456
Event Name: `[ENS] Reveal bid for name.eth`

Timezone: `{local time}`

Description: `Reveal bid for { name } on https://www.myetherwallet.com/#ens. <br><br> If you do not reveal this bid, you cannot win, nor will you be refunded. <br><br> { json string of their bid } `

URL: `https://myetherwallet.com/#ens`

Start time: `beginning of reveal time`

End time: `end of reveal time - 4 hours`

[2017-05-08 07:24] tayvano commented on #453
You are correct. I've updated the UI in v 3.7.0, and am continuing to make updates to make this all more obvious / clear.

[2017-05-08 07:24] #453 closed, assigned to tayvano

[2017-05-08 18:34] tayvano commented on #311
https://developers.google.com/web/updates/2012/06/Don-t-Build-Blobs-Construct-Them

https://github.com/eligrey/FileSaver.js/#supported-browsers

-->   **https://stuk.github.io/jszip/**

[2017-05-09 06:18] nicewoody69 commented on #360
Hello Rockin and Vad,

I am having the same exact problem. Please how was yours resolved?

Kindly revert.

Thank you.

[2017-05-09 06:28] tayvano commented on #360
Did any of you guys OPEN your keystore file and COPY a string of text out of your keystore file and use that string instead of the text as the private key? Bc I just found 2 people's eth today by doing that.

The file does NOT have an extension for a reason. It should not be opened. You only access it on MyEtherWallet or geth or Mist.

[2017-05-09 06:36] tayvano commented on #360
Like I honestly am stumped by this. We have on 6 separate occasions now:

- generated tens of thousands of wallets and verified addresses / private keys via geth

- tested programmatically on all browsers (there is no correlation between the browsers people said they used and this issue)

- tested manually (20+ wallets per browser) on old browsers, new browsers, mobile browsers

- tried to break t

[2017-05-09 14:12] MysticRyuujin opened #459 "ENS Already Owned By 0x0::0"
This is what i'm seeing on MEW right now when trying to finalize my winning bid:

{DOMAIN}.eth is not available. It's already owned by 0x0000000000000000000000000000000000000000.
If you are the winner, you must finalize the auction to claim the name.

Mist browser shows my address as the winner.

[2017-05-09 14:31] MysticRyuujin commented on #459
I should note that trying to finalize anyway results in:
Unlocked wallet doesn't match the owner address

[2017-05-09 15:48] linagee opened #460 "ENS addresses not resolving yet"
![image](https://cloud.githubusercontent.com/assets/636551/25859671/7ab0cb68-349c-11e7-8212-7fa3110dfe4a.png)

It looks like ENS resolution isn't working yet with MEW? (I've tried other combinations, without the .eth, and other names. Everything kept the box red. If I hit submit anyway, it says "Invalid address." at the bottom.)

[2017-05-09 16:19] tayvano commented on #460
dude its been FIVE HOURS since people could possibly own domains.

Priorities:

1. Help everyone who **needs** to reveal in the next 24 hours reveal

2. Help everyone who can't seem to finalize

3. Sleep

4. Make sure clients don't fire taylor or else taylor won't have any money and cant keep running MEW

5. Test this functionality and push live

😂

[2017-05-10 05:56] tayvano commented on #459
This was fixed about 19 Horus ago. Please let me know if still experiencing issues.

[2017-05-10 05:56] tayvano commented on #459
10 hours*

[2017-05-10 05:56] #459 closed, assigned to nobody

[2017-05-10 11:38] kalyanmeduri opened #461 "Swap order of Ether to Bitcoin got cancelled but my ether were not returned to my wallet"
![1](https://cloud.githubusercontent.com/assets/13646701/25896775/d4f4063c-3585-11e7-93cf-a6905c65e1d1.jpg)
![2](https://cloud.githubusercontent.com/assets/13646701/25896776/d4f8d950-3585-11e7-8065-d3076e9e7e0c.jpg)

Pl help me complete the order to my paymium bitcoin wallet or else return my ether to my ethereum wallet. Thanks

[2017-05-10 11:39] tayvano commented on #461
See that blue link below the thing that says "Issue with your Swap?"

Click it & press send.

[2017-05-10 11:41] kalyanmeduri commented on #461
Wow that was express response thanks a ton. Done as suggested and awaiting support :)

[2017-05-10 11:42] kalyanmeduri commented on #461
Please include the below if this issue is regarding your order.

REF ID#: BITYPKBRV2

Amount to send: 2.29000000 ETH

Amount to receive: 0.11556943 BTC

Payment Address: 0xef1f30ef93fb0058628f6bed5cfd8d98148efac0

Rate: 0.050628 ETH/BTC

<https://in.linkedin.com/pub/kalyan-shankar-meduri/0/a64/b07>

Everything u've ever wanted is on d other side of fear. *Do it !!!*

[2017-05-10 12:42] VadimIsk commented on #360
Hello! the problem is not solved

С уважением,
Вадим Искандаров
vadimplus@list.ru

[2017-05-13 12:36] jyap808 opened #462 "Suggestion to not store Zip distribution binaries in the Git source control"
This would make the repository smaller.

I purged some old Zips and rough numbers are the repo download went from 500 MB to 150 MB. Cleaned repo:
https://github.com/ubiq/pyruswallet

Suggest utilizing Github's Releases page:
https://github.com/kvhnuke/etherwallet/releases

[2017-05-13 12:50] tayvano commented on #462
Yeah Im usually better at purging them. If you are cloning down, I recommend ignoring them so you don't ever have to dl future ones. At some point Travis will auto post with hashes to releases and we can just stop this process entirely.

If you are just downloading \ cloning for local use, I recommend the gh-pages branch. Much smaller and you won't occasionally get a broken dev state like Mercury.

[2017-05-13 20:38] petebeck opened #463 "ENS revealBid - Out of Gas"
https://etherscan.io/tx/0x4582149b68649228e6781c897697578c533ee461ee404be7e0def94033cad383

https://etherscan.io/tx/0x9b2ea4d171baac4220184030d537690b0c640c153c7d2353ff65484d96d261c5

Revealing bid via MEW interface is failing, gas limit seems to be 90k with no option to change it.

Any ideas how to proceed?

[2017-05-13 20:50] jyap808 commented on #462
It's kinda tricky but you actually need to re-write the repo history using something like this:
https://rtyley.github.io/bfg-repo-cleaner/

It's suggested to use a new repo but moving forward I'd suggest not committing binaries as it just continues to bloat the repo.

[2017-05-13 21:20] petebeck commented on #463
Now resolved - thanks for the swift response by MEW!

[2017-05-13 21:20] #463 closed, assigned to nobody

[2017-05-13 21:30] mattdf opened #464 "ENS Reveal Transaction OOG Error"
MEW allocated 90k gas when doing a reveal but that wasn't enough and I had to send a raw data tx with over 100k gas to actually get the reveal to go through.

See: https://etherchain.org/tx/0x7af3b69fde4c50112e8c32ad5d2033de5532b2bec4d9a1bde011ceb5fe07ade0

Total gas required seems to be over 90k, though after gas storage "refund" it's below 90k in "cost".

[2017-05-13 21:32] tayvano commented on #464
@mattdf already pushed a fix for this. thats what i get for not testing numerous styles of reveals while trying to save ya'll some money

[2017-05-14 22:06] stpaxoliydina66 commented on #464
The wallet does not work. Recipient's address ..... amount to send ........ gas limit 21000 to form a transaction ......... send a deal ????????? The send button does not work.

[2017-05-15 15:48] VadimIsk commented on #360
Good day!

It showed me the wallet on the first pass. all the addresses and passwords I have recorded 06 Mar 2017 according to instructions. sorry for the hand drawn screenshot. 09 APR 2017 wallet has become what it is now and can't do anything

С уважением,
Вадим Искандаров
vadimplus@list.ru

[2017-05-15 18:41] arambala opened #467 "Please help can not get into the wallet"
Hello! There were problems with the entrance to the purse, there Keystore File UTC came in repeatedly, now I enter the password and wrote that it is not true. Help to understand the problem, wrote in support, but so far in response to silence.

[2017-05-16 12:43] richjenks commented on #440
+1

[2017-05-16 14:04] prusnak commented on #409
Not sure about Ledger, but TREZOR does not support signing Ethereum messages at the moment.

Link above to LedgerAPI also does not list point to signing Ethereum messages, but rather signing Ethereum transactions.

[2017-05-16 17:28] tayvano commented on #460
@linagee This is working on the send tx page now (type in mewtopia.eth) and I will expand to all address fields when I get a chance.

Resolution instructions via contract tab are up there as well. If you are already the owner of a name, when you unlock it'll give you the instructions on how to set up with the public resolver.

We will be adding more interfaces / buttons as time goes on.

😃

[2017-05-16 17:28] #460 closed, assigned to nobody

[2017-05-16 18:27] arambala commented on #467
up

[2017-05-16 18:29] arambala commented on #467
I understand that you probably will not help me, maybe your customers have already faced this and somehow solved this problem, I will be grateful, I have a programming experience, I'm noob

[2017-05-16 18:44] tayvano commented on #467
Please enter your correct password or, if you saved the private key or paper wallet, try that.

We do not save, store, or transmit any sensitive information like your private key or password. We cannot recover or reset anything.

[2017-05-16 22:23] crptm opened #468 "Move 3rd party dependencies to separate js bundle"
Rebuilds are too slow right now.

[2017-05-17 00:12] GriffGreen opened #469 "Contract functions don't update on contract tab"
<img width="423" alt="screen shot 2017-05-16 at 4 51 45 pm" src="https://cloud.githubusercontent.com/assets/14945613/26133289/da546188-3a5a-11e7-94ea-40e3ade148ec.png">
This is a silly issue and super low priority

But check out the screen shot, and see that when I change the from using the ENS-Registry to using the ENS-Public Resolver the old function lingers.

Love this site, it is a life saver

[2017-05-17 14:28] Dmitry7na7 opened #470 "Has made an exchange and has not received bitcoin"
Please help me to understand the exchange of eth / btc
I made an exchange, but I did not have enough for the commission, but still the transfer was made, later I sent more than needed to the commission and did not get my bitcoin. What to do ? help me please

[2017-05-17 15:17] Premik commented on #374
Not sure if this is the same issue but I'm also unable to connect with Trezor on the [Send Ether](https://www.myetherwallet.com/#send-transaction) page now.
Js console shows this error:
[code]
And the ```https://connect.trezor.io/1/popup/popup-dist.js``` js won't load. Which I guess is the reason the login dialog never finishes loading.

edit: Found out it works ok in Google Chrome. Only Goole Chr

[2017-05-18 12:12] fortran77 opened #471 "Consequences of duplicate reveal bid in ENS"
I forgot if I had revealed an ENS bid, and did it again just in case. The transaction page on etherscan.io showed this error message in red:

     Warning! Error encountered during contract execution [Bad instruction]

This could mean that I was revealing for the first time and the reveal failed.

Or it could mean that I was revealing the same bid for a second time and  [Bad instruction] essential

[2017-05-18 19:02] tayvano commented on #471
I'm fairly certain that the same error appears if you attempt to reveal with bad information that doesn't match any of your bids.

I will need to confirm.

The easiest way to check if you have already revealed is to search yourname.eth in the search bar on etherscan.io and see if you are in the list for that domain.

[2017-05-18 20:31] cosmicscr opened #472 "No "ENS" tab on local build?"
Hi MEW people!

I built the latest MEW locally (v3.8.0) and it has no "ENS" tab.  Why is that?

I built on the mercury branch according to instructions:

`git pull`
`npm install`
`node ./node_modules/gulp/bin/gulp.js`
`node ./node_modules/gulp/bin/gulp.js clean`

The site says "v3.8.0" but it has no "ENS" tab.

Thanks for any help.

[2017-05-18 20:33] kvhnuke commented on #472
ENS tab is only available if your node type is ETH, can you make sure you are on an ETH node

[2017-05-18 20:37] cosmicscr commented on #472
Okay.  Why wouldn't the ENS tab work with or be compatible with a local custom Ethereum node?  Why does MEW force ENS queries to go through the trusted MEW node?

[2017-05-18 20:41] kvhnuke commented on #472
Make sure your custom node type is ETH

[2017-05-18 20:41] kvhnuke commented on #472
Let me know if it is ETH and still doesn't show up, I'll take a look

[2017-05-18 20:44] cosmicscr commented on #472
I'm not sure I understand.  My custom node is a parity Ethereum node which I've named "parity" locally.  What do you mean by ETH?  Isn't this just an Ethereum wallet?  Parity is ETH no?

[2017-05-18 21:11] kvhnuke commented on #472
interesting let me look into it mean time if you add #ens you can access the tab
https://localhost/mew/#ens

[2017-05-18 21:35] #472 closed, assigned to nobody

[2017-05-18 21:35] tayvano opened #473 "Notifications are janky and don't always stay up"
"When finalizing an ENS, about 25% of the time the orange bar shows up for less than 1 second and then disappears... 75% of the time it works fine... but 100% of the time the tx actually goes thru :-D"

[2017-05-18 21:37] kvhnuke commented on #469
you have to click "Access" @GriffGreen

[2017-05-18 21:39] cosmicscr commented on #472
One thing that might help:  after naming my custom node "parity" it's now listed in MEW as precisely "parity:eth".  Maybe it's an upper/lower case condition somewhere?  And also I created that on a slightly older version of MEW.  Also, #ens in the path works!  thx.

[2017-05-18 21:42] kvhnuke commented on #472
No it was an issue in the code gosh it took me way too long to figure it out. haha it is fixed in the latest commit, please do a git pull and you dont have to type in #ens :)

[2017-05-18 21:45] cosmicscr commented on #472
Okay cool.  I just confirmed it works.  Thanks a lot!

[2017-05-18 21:45] fortran77 commented on #471
That was a very helpful reply, thanks. Searching for the domain on etherscan.io showed me an "unsealBid" entry in the "Action Taken" column, and the sending address matched mine, so I did successfully reveal the bid.

So that means that a duplicate reveal attempt would in fact be expected to result in the "[Bad instruction]" error that I saw.

[2017-05-18 22:55] tayvano commented on #471
Here is the error that shows when you try to reveal with incorrect information:

https://etherscan.io/tx/0x39fa3e945b10fdb5ae755cefdec69943efb39a141ecb758ddf493372094990a1

[2017-05-18 23:24] tayvano commented on #470
If you need help with a swap you need to go to https://www.myetherwallet.com/#swap and click the "Issue with your Swap? Contact support." button.

[2017-05-18 23:24] #470 closed, assigned to nobody

[2017-05-18 23:25] tayvano commented on #467
Please reach out to support@myetherwallet.com if you need anymore help.

[2017-05-18 23:25] #467 closed, assigned to nobody

[2017-05-18 23:26] tayvano commented on #464
@stpaxoliydina66 Is this related to the ENS reveal saying "Out of Gas".

If not, please open a new issue. Thank you.

[2017-05-18 23:26] #464 closed, assigned to nobody

[2017-05-18 23:26] #461 closed, assigned to nobody

[2017-05-19 02:32] typoinadvance opened #474 "guide to transfer ownership ens"
hi myetherwallet...
can u please guide the noob me how to transfer ens ownership via https://www.myetherwallet.com/#contracts ?? i dont understand what is "node bytes 32" under the setOwner function. ty

[2017-05-19 02:36] tayvano commented on #474
I haven't done it yet either. I'm still trying to catch up with people revealing.  :( :( :(

node bytes32 == your namehash.

If you type your name it on https://www.myetherwallet.com/#ens itll tell you your name hash.

For example:

Is there another field that you need?

[2017-05-19 10:20] typoinadvance commented on #474
Thanks you so much @tayvano  for the reply... i think the last field "owner address",  is the ether address of the new owner.

[2017-05-19 10:40] tayvano commented on #474
@typoinadvance Yup yup. You should have it then. Let me know if you have any issues :)

[2017-05-19 12:56] typoinadvance commented on #474
all is good .. @tayvano  tyuu huyaa!!!

[2017-05-19 13:56] alexesnsk commented on #431
@tayvano
There are also current prices available in token's API.
So you can easy show token and transactions prices in USD using same API as before.
Structure added:

    price:
    { # token
       price (false, if token is non-tradeble)
       rate:  # current rate
       currency: # token price currency (USD)
       diff: # 24 hour rate difference (in percent)
       ts: # last rate update time

[2017-05-19 14:00] jc-jnet opened #478 "ENS reveal phase error - Please enter valid amount."
Hello, I am trying to reveal a bid. I enter the Long string of text I copied. It populates the Name:, Bid Amount: and Secret Phrase: correctly. I click Reveal Your Bid and it reports the error "Please enter valid amount".

But I have entered the correct bid amount. If I hover my mouse over the Bid Amount field, it says "Please enter a valid value. The two nearest valid values are 0 and 1".

[2017-05-19 14:32] alexesnsk commented on #435
See also the comment: https://github.com/kvhnuke/etherwallet/issues/431#issuecomment-302709558

[2017-05-19 14:33] alexesnsk commented on #440
https://github.com/kvhnuke/etherwallet/issues/431#issuecomment-302709558

[2017-05-19 14:55] crptm commented on #478
Your bid is < 0.01

[2017-05-19 16:02] jc-jnet commented on #478
No, my bid is 0.0.1 exactly. Plus 0.01 to hide the bid.

[2017-05-19 16:04] tayvano commented on #478
I thought we fixed this? Do you have less than .01 eth in your account currently?

[2017-05-19 16:31] crptm commented on #478
Any chance you can share the name?

[2017-05-19 16:39] crptm commented on #478
Do you use MEW 3.8.0?

[2017-05-19 16:45] jc-jnet commented on #478
Nope using MEW 3.7.8. Yes I have less than 0.01 ETH. I will add some more and try again.

[2017-05-19 16:50] tayvano commented on #478
Ahh. Yeah, either update MEW or add 0.01 ETH to your account. This was such a weird mismatched error message

[2017-05-19 18:42] jc-jnet commented on #478
OK it worked with extra ETH in the wallet. Thanks. I like MEW. Have installed 3.8.0 on another Chrome instance and will upgrade this one too.

[2017-05-20 13:39] fortran77 opened #480 "Non-ASCII characters length detection error when registering ENS domain"
Suppose we want to register a domain

日本橋.eth

which, according to [https://www.punycoder.com/](https://www.punycoder.com/), can be written in Punycode as:

xn--wgv71ar2e.eth

If we enter xn--wgv71ar2e into MyEtherWallet's entry box for the domain, and we click on the Check ENS Name button, the xn--wgv71ar2e magically changes into 日本橋 and we're told that "日本橋.eth is available!"

But if we unlock o

[2017-05-20 13:42] fortran77 commented on #471
Thanks for the confirmation. I don't know much Solidity, but it seems like the contract ought to print a better error message.

[2017-05-20 22:12] jpeletier opened #481 "CRITICAL: Windows defender detects last release v3.8.1 as Trojan!"
Hello,

First of all, thank you for this great app.

After downloading dist-v3.8.1.zip, Windows Defender (Windows 10) popped up and prevented access to the downloaded file:

![image](https://cloud.githubusercontent.com/assets/11574521/26279666/0547e5ce-3dba-11e7-8c82-df0e63c8e631.png)

Tested in two different computers. Please check this, as this may scare people off, and rightly so!

Cheers,
Javi

[2017-05-20 22:38] kvhnuke commented on #481
https://www.virustotal.com/en/file/810ea90cd6375579033ea06bcbfa1dc535a9aac9506d51c2ef0cbcc744b38470/analysis/1495319712/

I would go ahead and do a full scan on your computer it is highly likely your computer might be infected. Let me know how it goes. Mean time I'll try to get someone with Windows scan it too

[2017-05-21 06:58] tayvano commented on #481
@jpeletier Have you ever downloaded other versions from the repo and encountered similar issues?

@kvhnuke I don't understand viruses. Is this unrelated to our download, something new in our repo that's throwing a false positive, or a real virus or something?

[2017-05-21 13:51] tomisme opened #483 "Error when attempting to send ETH or tokens using the chrome extension"
Hi guys, I get the error below when trying to send from one of my accounts in the chrome extension.

Stack trace looks like:

![image](https://cloud.githubusercontent.com/assets/7482194/26284482/1d76fddc-3e6f-11e7-8506-3edde7f41bd4.png)

Let me known if there's anything else I can provide :)

[2017-05-21 13:59] jpeletier commented on #481
I had the same issue with 3.8.0. I am pretty sure my PC is not infected, tried with two different unrelated machines. Take a look at windows defender report, it complains about `bin/startMEW.js`

This is a false positive obviously, the question is why...

Let me know how can I help.

Regards,
Javier

[2017-05-21 14:53] crptm commented on #483
Update to 3.8.x should solve this for you

[2017-05-21 15:21] #483 closed, assigned to nobody

[2017-05-21 20:54] VadimIsk commented on #360
С уважением,
Вадим Искандаров
vadimplus@list.ru

[2017-05-22 00:21] tayvano commented on #480
@Arachnid Can you tell me how you guys are handling this so we can at least be consistent. Thank
 you! 💖

[2017-05-22 00:22] #478 closed, assigned to nobody

[2017-05-22 06:37] Arachnid commented on #480
ENS doesn't use punycode, so no punycode translation in either direction should be done.

For length counting, count the number of unicode codepoints. This requires some special handling in JS for emoji, because they're on the astral plane, which JS represents with two 'characters'.

[2017-05-22 07:40] fortran77 commented on #480
When I go to https://registrar.ens.domains/ and enter xn--wgv71ar2e into the search box, instantly I see two things happen:

1. The error message "Name is too short" appears.
2. The URL in my address bar changes to the string `https://registrar.ens.domains/#日本橋` in which, as we already know, 日本橋 is the string for which xn--wgv71ar2e is the Punycode.

So it appears that the official ENS website is

[2017-05-22 07:50] Arachnid commented on #480
It definitely shouldn't be doing that; I'll open a bug on our side.

[2017-05-22 10:15] crptm commented on #480
Does it mean that i can register 日本橋 and then someone could register punycode version for that? I guess ens cant handle that because it is too much work for contract?

Punycode aside, UTF phishing is looking lucrative :)

[2017-05-22 10:18] Arachnid commented on #480
Client will only resolve the one directly in unicode - punycode domains either won't be resolvable, or will require users to enter the punycode version of the domain (xn-- etc) themselves.

[2017-05-22 10:32] crptm commented on #480
But browsers would only use punycode right? Resolver will look up utf records for them and xn-- stuff would only be available in non address bar context?

[2017-05-22 11:07] Arachnid commented on #480
All that matters to ENS is that unicode records are passed through unmangled, without punycode. If a browser does punycode translation, then whatever interfaces with it (eg, the Swarm gateway, DNS proxy, or browser plugin) must un-punycode the address before passing it to ENS.

[2017-05-22 22:17] tayvano opened #485 "Force user to re-type Parity phrase before showing address to prevent typos leading to later-inaccessible wallet"
"When someone enters in a private key or parity recovery phrase on the "view wallet" feature, do not let them view the address until they've re-entered it."

(via https://twitter.com/ryancdotorg - 5.22.17)

[2017-05-22 22:44] tayvano opened #486 "Improve UX for decryption of keys with high n values"
See: https://github.com/ryancdotorg/scrypt-async-js

*orgasms*

[2017-05-23 07:01] imrockin commented on #360
Hello,
Well I checked again today just to see if the time tokens are still there in my MEW...  

1.  View Wallet Info
2. VIew by Address only
3. My tokens are stuck here.   0x4682e3DA4AA62e69656c3Fe85262202C3a53F0E6
4. I have no record of that address when I created MEW. 

5. I have my JSON and its a different address.
6.  I have searched my whole PC for the Deposit Token Address and there is no r

[2017-05-23 08:10] VadimIsk commented on #360
Там не было транзакций

С уважением,
Вадим Искандаров
vadimplus@list.ru

[2017-05-23 08:33] imrockin commented on #360
sorry i could not translate language of last reply.

    On Tuesday, May 23, 2017 1:10 AM, VadimIsk <notifications@github.com> wrote:

 Там не было транзакций

С уважением,
Вадим Искандаров
vadimplus@list.ru
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-23 13:51] prusnak opened #487 "Illegal value for Message.Field .EthereumSignTx.chain_id of type uint32: string (not an integer)"
When I use custom node and use custom ChainId, the sending of transaction fails because of the error in title. I suspect this is because user-entered chainId is stored as string, not as integer.

[2017-05-23 14:52] GenTarkin opened #488 "where did "swap" go?"
Loved that feature....

[2017-05-23 16:37] tayvano commented on #488
Had to make some backends upgrades. It'll be back soon. We love it too!

[2017-05-23 18:49] beh4R opened #490 "Etherum Balance"
Hello I opened a wallet on MyEtherWallet and exchanged some funds from btc to etherum, but my balance it shows everytime 0.301 . So I don't know why balance doesn't changes like Blockhain Wallet when balance change, like when value of Etherum changes?

[2017-05-23 19:08] tayvano commented on #490
Blockchain.info raised $30M+ and has been building for 7 years. We've got < 0.33% of that in donations in  <2 years. 😃

Features like this, while nice, simply never make it to the top of the list of things that *need* to get done. Bugs and big features like interacting with contracts, multisig support, the ENS and getting people to understand the technology are higher priorities at the moment.

Ti

[2017-05-23 19:09] tayvano commented on #488
Pushing live shortly.

[2017-05-23 19:09] #488 closed, assigned to nobody

[2017-05-23 19:13] tayvano commented on #481
Here is the entirety of startMEW.js:

[code]

Not sure what it's detecting in there....

[2017-05-23 19:17] tayvano commented on #473
I've had this happen on reveal as well once or twice....was moving very fast though. Reveal is because we clear the notif for gas or something

[2017-05-23 19:17] beh4R commented on #490
OK so MyEtherWallet doesn't show the price if value of Etherum changes?

[2017-05-23 19:18] tayvano commented on #424
👍

[2017-05-23 19:18] #424 closed, assigned to nobody

[2017-05-23 19:21] tayvano commented on #238
@flyswatter HIIIIIIIIIIIIIII!

(not urgent at all)

So we're making lists and stuff and I was wondering if you envisioned the broadcast via Metamask or via MEW? *(remember the token sales. remember the blame game. 😂)*

We currently broadcast Ledger & Trezors via MEW so it would basically be the same flow, accept that instead of confirming on your HW wallet, you would confirm in Metamask.

[2017-05-23 19:28] danfinlay commented on #238
We don't really have a way right now for passing the `rawTx` back to the web UI (although I proposed a way to a new EIP over [here](https://github.com/ethereum/EIPs/issues/636)).

So the way I had imagined it was definitely that MetaMask would be responsible for broadcasting these txs.  This also aligns with how MetaMask allows users to select their own providers, and uses it, so if MetaMask + MEW

[2017-05-23 19:30] danfinlay commented on #238
Btw always fun to think about!  I know no rush, we both have plenty of more important things as well, I'm sure, but it's cool how interoperable this ecosystem lends itself to being.

[2017-05-23 19:44] crptm commented on #490
I can make manual update button if thats okay.

[2017-05-23 19:49] beh4R commented on #490
@crptm So MyEtherWallet doesn't have an update for balance when price of etherum changes right?

[2017-05-23 19:50] tayvano commented on #490
It will pull the values when you load the page. It does not update said balances while you are on the page.

[2017-05-23 19:51] beh4R opened #491 "Ripple Investment"
Hello I invested $200 on Ripple currency and the price now is $0.36 so if the prices of Ripple double, from $0.36 goes to $0.72 I would have my investment from $200 to $400 right?

[2017-05-23 19:52] beh4R commented on #490
@tayvano The price from 4 hours is 0.301 I have refresh and re-opened many times, but the balance is still same, meanwhile Etherum price moves every second on other charts.

[2017-05-23 19:54] tayvano commented on #490
What balance are you looking at? the Equiv balance?

[2017-05-23 19:55] tayvano commented on #491
We are not a Ripple wallet & this is a github for issues related to MyEtherWallet.com. I would try https://www.reddit.com/r/Ripple/

[2017-05-23 19:55] #491 closed, assigned to nobody

[2017-05-23 19:56] beh4R commented on #490
@tayvano  See image link below, I look at that balance
http://prntscr.com/fbai1d

[2017-05-23 19:58] crptm commented on #490
@beh4R you can see usd prices in sidebar below. This is amount of ETH you have, not its price. Easier for you would be to use etherscan, just search for your address there it would show your USD balance w/o need to unlock.

[2017-05-23 20:00] beh4R commented on #490
@crptm OK Thanks, but I need to know for example if Etherum price from $160 would have gone let's say $250, how can I see my balance raised as Etherum price went more higher?

[2017-05-23 20:03] crptm commented on #490
@beh4R your ETH balance would not change, what is changing is the amount of money you can sell it for. Etherscan would give you that info, or you could do the math yourself: amountOfEth*currentPrice

[2017-05-23 22:12] tayvano opened #492 "`str.match is not a function` when trying to send from Ledger"
"I’m trying to make a transaction on MEW and I’m getting this JS error in console:

```8/#send-transaction:1 Error in event handler for (unknown): TypeError: str.match is not a function```

I’m trying to make the transaction from my ledger nano s if that helps at all"

I've seen this elsewhere, too. There is something not being checked or validated or something correctly in the parity error messag

[2017-05-23 22:30] SiCkL3r commented on #395
It fixed my problem, but what exactly did it do? What does that setting change?

[2017-05-23 22:41] Engelberg opened #493 "Feature Request: Show mnemonic (with optional passphrase) among wallet info"
It's nice to be able to print out a paper wallet comprised of the mnemonic words, where the optional passphrase is a piece of info that you don't print out, but is only in your head, making the paper wallet less useful to those who get a view of it.

Since etherwallet can import such things, it would be great if it could generate it as well.

[2017-05-23 23:37] tayvano opened #494 "Gas Estimate Issues Master Thread"
Poloniex
https://etherscan.io/tx/0x053551b272251ff7c167dde42887e9c0891e21755976486cc59bfb40766e96f5
https://etherscan.io/tx/0x461c7bb64eba6ff910a6639c01f0610f48ed7d6bc9e81123a6fe5d66fbce504a
https://etherscan.io/tx/0x542b23110bb90c14f152d9c5f723502cb1d1ebb0331b7a4efdd6e5023f0608c7

???
https://etherscan.io/tx/0xb4485b51e7d66c02a5fdc58f31e46dc9178370ea793ca90208f9f54b08e462f6

STORJ?
https://ethers

[2017-05-24 00:56] tayvano commented on #493
Generating wallets is no joke and requires extensive testing. We are no longer touching derivation on MEW v3.

We have discussed generating mnemonics in a future version of MEW but it will not be a feature on this version. We prioritize certainty that there are no derivation errors over usability in this particular case.

[2017-05-24 00:56] #493 closed, assigned to nobody

[2017-05-24 09:49] chris-hanson commented on #368
Thought I'd give this a go.

![address](https://cloud.githubusercontent.com/assets/1754091/26397501/b4a2cd56-40b5-11e7-921b-7731e653d964.JPG)
![copied](https://cloud.githubusercontent.com/assets/1754091/26397494/b03515bc-40b5-11e7-86ad-d690239c83a3.JPG)

[2017-05-25 02:31] bt commented on #492
Hey @tayvano, I've used MEW with my Ledger Nano S and it's working perfectly so I just want to understand how you're getting this error message?

From reading the code, I'm assuming that this is happening at https://github.com/bt/etherwallet/blob/31de5d867e4a1c740dc6af0947e445beaf5c128b/app/scripts/globalFuncs.js#L76 which I have fixed by checking that the passed in variable is a `string`: https:/

[2017-05-25 03:57] nrhirsch commented on #474
If you have a JSON file from Chome/Metamask for a given bid and you want to try to reveal the bid on MyEtherWallet, what do you put in the long string and which field in the JSON file is the one to put in the "secret phrase", or alternatively do you recommend going to: https://www.myetherwallet.com/#ens and use one of the fields there or if the one you need is in both places?  This is assuming one

[2017-05-25 05:13] bt opened #495 "Not possible to use custom Kovan/Rinkeby nodes"
Whilst working on #487 I noticed that you can't add a custom node for Kovan/Rinkeby.

If you forcefully add a node (for example, chainId 42 for Kovan) then, not only will ETH be shown as `CUSTOM ETH`, it will also error sending the transaction with an error message, even though there is balance in the wallet:

`You need to have 0.01 ETH in your account to cover the cost of gas. Please add some ETH

[2017-05-25 05:30] bt commented on #487
Having some issues trying to reproduce this.

Did you tick the `Support EIP-155` checkbox? If so, what did you put in there?

Also, what node are you connecting to? Geth / Parity?

[2017-05-25 06:30] sheab commented on #487
Sorry @bt! I only saw your comment just as I was submitting my PR :P

I wasn't able to reproduce that exact error message ( since it likely was outputted by geth / parity and I used https://api.myetherapi.com ), but I did reproduce & fix the error sending the transaction. See my PR :)

[2017-05-25 06:39] bt commented on #487
Oh I see the issue! Good job 👍

[2017-05-25 09:41] prusnak commented on #487
I set EIP-155 value 31

[2017-05-25 13:55] leongaban commented on #478
Hey guys I have .01 ETH in my account, and trying to make a bid of .01 for my .eth domain name, but I keep getting the message requesting a valid amount.

What is the valid amount??

[2017-05-25 13:59] leongaban commented on #478
I don't get this.

Ok I have 0.01 in my account, I made the Bid Mask 0.05 and it turned green, however no number I enter in the actual Bid amount works, if I go above .05 both turn red?

What are the rules for this?

[2017-05-25 14:02] leongaban commented on #478
Ok I added another .005 and now it works, BUT it's now asking for another 0.01 to cover the cost off the Gas. Wish it had mentioned that before hand :(

This is one expensive domain name

[2017-05-25 16:03] wladim31 opened #500 "As the balance of ETH in the watch list. From watch list to bring?"
I can't use my Eth in Appendix MyEtherWallet CX, as it is in the tracking list. How to get him back from the watch list?

[2017-05-25 17:02] jefflau commented on #492
To elaborate i was making a transaction using my ledger. I added the amount, address and data for the transaction and then i manually set the gas limit to 250000. I'm not sure if any of this contributed to the error. I did try a normal transaction afterwards and was repeatedly getting the same error

[2017-05-25 18:03] paxpelus opened #501 "Strange transactions when using offline transaction feature"
I tried to test the offline transaction feature and after I submitted my transaction I got 2 strange transactions + 1 transaction which was my intended one. I had some Aragon tokens in the sender ether wallet which seem to be the problem.

I am not sure if this is a problem in myetherwallet or not. You can have a look in the url below.

https://etherscan.io/address/0x8B6D5e86386Db4D4E2198344c17422

[2017-05-26 19:22] NetOpWibby commented on #478
Ah, so this "Gas" thing is the issue, gotcha. I have 0.002 ETH in my account and this wasn't making any sense. The website should be updated to reflect this.

[2017-05-27 20:45] tayvano commented on #501
I think you need to take another look at the links you sent.

This transaction https://etherscan.io/tx/0x0352fee1803dc534946b08e2f146941bb3924a9dac5d73bd4941eccbb69b0225 is TO your account, not FROM it.

The two transaction you listed are FROM your account.

The two transaction you have listed are for 3.9 ETH, when before you made that deposit, you only had 3.1 ETH.

So it looks as though you had

[2017-05-27 20:45] tayvano commented on #500
You need to use your private key in order to use any account to send ETH or Tokens.

[2017-05-27 20:45] #500 closed, assigned to nobody

[2017-05-27 23:30] tayvano opened #505 "Make offline / contracts / all other fields use the new ENS directive"
@kvhnuke i need this done with safari shit today or tomorrow.

[2017-05-27 23:30] tayvano commented on #505
+ "add the new public resolver (resolver.eth points to it) to your list of predefined contracts" -nj

[2017-05-28 01:42] tayvano commented on #505
Oh and a default contract ABI should be able to be an address or an ENS name. This allows contracts to be upgraded in the future where the name remains the same but resolver changes

[2017-05-28 01:44] jorghem opened #506 "Token Unverified"
16,000 chips were sent to Myetherwallet. Perform the smart contract with RiptoBux. My files are displayed in my wallet but after a few days they are gone. I check the transaction and there it is but next it says: ERC20-TOKEN Ripto Bux (* Unverified). What does it mean?

[2017-05-28 01:47] tayvano commented on #506
1. That seems like a UI message from etherscan.io, not MyEtherWallet. It just means that Etherscan things it's "Ripto Bux" but hasn't verified this fact.

2. Any questions regarding any tokens or chips or whatever need to be directed to the creators of that token. We are not experts in any tokens and cannot keep up with the 100+ active tokens currently available via our interface. Sorry!

[2017-05-28 01:47] #506 closed, assigned to nobody

[2017-05-28 01:53] jorghem commented on #506
The chips came to my Myetherwallet wallet. I saw the chips. I even created a smart contract with RiptoBux. But then they disappeared from my wallet.

[2017-05-28 01:53] jorghem commented on #506
The chips came to my Myetherwallet wallet. I saw the chips. I even created a smart contract with RiptoBux. But then they disappeared from my wallet.

[2017-05-28 01:57] jorghem commented on #506
Here I show a screenshot of the transactions made.
http://prntscr.com/fcw9g8

[2017-05-28 06:42] keynan opened #507 "Bookmarkable / refreshable page"
If I select 'View with Address Only' the page transition should add the address to the url's query string such that I can bookmark the page & refresh the page without having to re-enter the address string.

[2017-05-28 10:31] tayvano commented on #507
This wouldn't be too hard, but in the meantime I would strongly recommend using the amazing sites that are etherscan.io or ethplorer.io. Those guys are all dedicated to being exactly that, where our site is mostly focused on being a wallet rather than a blockchain explorer.

[2017-05-29 02:52] tayvano opened #508 "Travis Zips aren't working correctly / doing gulp prep first so anyone on any slightly older browser can't load it."

[2017-05-29 05:37] Deozaan opened #509 "Wrong ENS contract address for testnets"
Consider this low-priority since it has to do with testnet.

I wanted to test ENS on a testnet (Rinkeby) so I used MEW to check if a domain was available. It told me it was available and allowed me to place a bid. After confirmation I realized my ETH got sent to the ENS address for mainnet, which is not associated with the ENS contract on the testnet. I was careless and sent a large amount of ETH

[2017-05-29 05:39] tayvano commented on #509
FML, thank you for catching this. Will updated ASAP and get live in the AM.

[2017-05-29 05:41] tayvano commented on #509
@kvhnuke

1. I'm 99.999999999999% I wrote some ghetto code to prevent ENS from showing on any pages except for Ropsten and ETH. When did this get changed?

2. Does this mean that ETC people can be accidentally bidding on names via bad addresses as well?!

3. Your list is growing. 300 open tickets or fixing this stuff: the choice is yours and yours alone. Muahahhhahahahhaha 🙉 🙈 🙊

[2017-05-29 05:51] #487 closed, assigned to nobody

[2017-05-29 14:28] jeffanthony commented on #506
None of this is myetherwallet issue and in analyzing there is also no problem? You have your tokens as expected and you even mentioned finding the 'ERC20-TOKEN Ripto Bux (* Unverified)' page where you can see said tokens.

[2017-05-29 14:35] crptm commented on #506
@jorghem you probably need to add it as a custom token https://myetherwallet.groovehq.com/knowledge_base/topics/how-to-see-a-new-token-in-myetherwallet

[2017-05-29 16:21] trustfarm-dev opened #512 "How to create multisig wallet in myetherwallet?"
Hi All,

I think myetherwallet chrome extension will be possible to make multisig wallet.
But, I didn't found the way to create multisig wallet.

My simple idea is using Mist way to create multisig.
and in Myetherwallet already binding the Mist's multisig contract ABI.

So, Is there instruction to create MultiSig Wallet in MyEtherwallet?

I don't have Mist and I'm very customed to use MyEtherwalle

[2017-05-29 21:30] tayvano commented on #494
@kvhnuke ^^^^^^^^^^^^^^^^

[2017-05-29 23:00] SCBuergel opened #513 "allow contract deployment via offline tx"
The current [Generate & Send Offline Transaction](https://www.myetherwallet.com/#offline-transaction) requires a `To Address` and leaving it blank results in an error `Invalid address.` (btw: you could make this quite a bit clearer by saying `Invalid to-address`). A contract deployment does not have a `to` field and therefore does not work here. For the paranoid among us that are happy about your

[2017-05-29 23:21] SCBuergel opened #514 "support constructor arguments for contract deployment"
[Deploy Contract](https://www.myetherwallet.com/#contracts) currently does not allow me to specify constructor arguments. Next to `Byte Code` and `Gas Limit` I suggest to add another optional text box for comma separated values that are passed as constructor arguments to the contract deploy transaction.

I like MEW as a backup feature [because my VM died because the chain grew over 50GB and my pre

[2017-05-29 23:22] tayvano commented on #514
#397 - related?

[2017-05-29 23:31] crptm commented on #494
@kvhnuke pretty sure initial implementation with recursive search for max gas spent in vm trace was correct one. Why we moved away from it?

[2017-05-30 00:25] SCBuergel commented on #514
Yes related but I dont even want to provide the ABI. The idea is to keep things parallel to what Remix provides in their parameter list to web3 which is `parameter1`, `parameter2`, ..., `contractByteCode`. At that stage I dont need to bother about the ABI. Yes, you could add it for making some syntax checks (e.g. display error if `parameter1` which the ABI defines to be an address is actually give

[2017-05-30 03:04] tayvano commented on #485
Will be removing Parity phrases for v4.

[2017-05-30 03:04] #485 closed, assigned to nobody

[2017-05-30 03:06] tayvano commented on #474
@typoinadvance https://myetherwallet.groovehq.com/knowledge_base/topics/how-do-i-change-the-ens-owner-address

@nrhirsch We currently recommend manually copying and pasting the bid amount / secret.

[2017-05-30 03:06] #474 closed, assigned to nobody

[2017-05-30 07:35] #495 closed, assigned to nobody

[2017-05-30 07:43] kvhnuke commented on #509
@Deozaan I believe the problem is you selected the changed the node while on the ENS tab, for example you had the mainnet node and went to ENS tab then changed to Rinkeyby.
let me see what I can do about this.
FYI
auctions are only available on mainnet and ropsten. Rinkeby only has FIFS registrar.

[2017-05-30 07:52] #509 closed, assigned to kvhnuke

[2017-05-30 07:52] kvhnuke commented on #509
it show an error message now when you change the node

[2017-05-30 07:53] kvhnuke commented on #494
hi @crptm it didnt work for certain cases which i dont recall now :(

[2017-05-30 08:53] kvhnuke commented on #481
it might be due the "open" library since it checks for the default browser, im wondering why virustotal not showing it

[2017-05-30 10:20] tayvano commented on #494
v3.8.4, hopefully

[2017-05-30 10:20] #494 closed, assigned to kvhnuke

[2017-05-30 13:22] FrankHold opened #516 "Gas Limit"
Hi, was there a change in the calculation of the "Gas Limit" for https://www.myetherwallet.com/#contracts?
I get much higher values (4 387 669) which might be above the the Avg GasLimit. This morning it worked just fine. Or I made a mistake.
Thanks your franky

[2017-05-30 15:25] onedrop opened #517 "Verify Message fails"
Verify message fails when attempting to verify a message signed by geth. I believe this has something to do with the 'Ethereum Signed Message' prefix that geth adds.

[2017-05-30 18:44] tayvano commented on #517
Can you please send example of what geth outputs / you are trying to verify. Thank you!

[2017-05-30 19:09] onedrop commented on #517
in geth console do this...

- `web3.eth.sign(web3.eth.accounts[0], web3.sha3('fubar'))`
- take the output of that command and build a json like so...
- `{"address":"<my_address>", "msg":"fubar", "sig":"<result_of_above_command>"}`
- paste that into the form here https://www.myetherwallet.com/signmsg.html...

The result is a red "Invalid signed transaction" message.

Verification works properly on

[2017-05-30 20:26] tayvano commented on #516
Yes, we pushed an update to estimate gas this morning...maybe an hour before you commented? This has resulted in much more accurate gas estimations for sending tokens so far.

You can download v3.7.3 to use old estimate, but I'm curious if it is estimating incorrectly now, or was estimating incorrectly before?

Can you provide further details on the contract and what you are trying to do and let m

[2017-05-30 20:54] farawayfarm opened #518 "trying to create offline paper wallet"
I downloaded the latest release (zip file), went offline and ran the index.html file in Firefox. All I got was source code, not anything that looked like the MyEtherWallet website. Any ideas on what I'm doing wrong? I've tried several times - same result.

[2017-05-30 20:54] tayvano commented on #518
Did you move the index.html file, or the entire zip folder?

[2017-05-30 20:55] farawayfarm commented on #518
I saved it in my downloads and opened the folder. There were several files in the folder

[2017-05-30 20:57] farawayfarm commented on #518
11 files, including the index.html file

[2017-05-30 21:02] farawayfarm commented on #518
I also tried running it while connected to the internet, with the same result. Just source code...

[2017-05-30 21:10] crptm commented on #518
@farawayfarm can you do a screenshot or something?

[2017-05-30 21:11] crptm commented on #518
@farawayfarm you downloaded dist-x.x.x.zip ?

[2017-05-30 21:12] farawayfarm commented on #518
MyEtherWallet
Open-Source & Client-Side Ether Wallet · v3.8.4    {{curLang}}

    Deutsch
    Ελληνικά
    English
    Español
    Suomi
    Français
    Magyar
    Bahasa Indonesia
    Italiano
    日本語
    한국어
    Nederlands
    Norsk Bokmål
    Polski
    Português
    Русский
    Türkçe
    Tiếng Việt
    简体中文
    繁體中文
    Disclaimer

   {{curNode.name}} ({{curNode.service}})

    {{value.name}

[2017-05-30 21:13] crptm commented on #518
@farawayfarm is there any chance you have javascript disabled in firefox? what is your firefox version?

[2017-05-30 21:16] crptm commented on #517
@onedrop can you generate one for me? :)

[2017-05-30 21:17] farawayfarm commented on #518
Firefox 53.0.3 (32 bit)

[2017-05-30 21:18] crptm commented on #518
works for me, it has to be js thing.

[2017-05-30 21:20] farawayfarm commented on #518
Maybe it was because I had pop-up windows blocked?

[2017-05-30 21:20] crptm commented on #518
Unlikely, but you might have some other extension, try in private browsing window?

[2017-05-30 21:25] farawayfarm commented on #518
I tried that, and it opens in the current firefox window. I'm talking to you via Firefox, so I can't shut this window down. Still trying to figure out the Javascript on this version

[2017-05-30 21:27] crptm commented on #518
@farawayfarm drag'n'drop file to private window

[2017-05-30 21:31] tayvano commented on #518
FYI I have another report of this in the inbox. Can't for the life of me figure out what changed though. The guy in the inbox has tried a few different zips of different versions. :(

He has said he has tried Chrome and Safari.

?? 😑 ??

[2017-05-30 21:32] farawayfarm commented on #518
Well, it's comforting to know that it's not just me!

[2017-05-30 21:39] farawayfarm commented on #518
I tried the drag and drop in a private window, but can't seem to get that to work either.
I was so stoked... I felt like I finally had a pretty good handle on what I was doing... been reading everything I can find about making an offline wallet.  Darn, go figure the first step would be a game-stopper.
Thanks for trying to help, and so quickly.

[2017-05-30 21:39] crptm commented on #518
@farawayfarm can you open console https://developer.mozilla.org/en/docs/Tools/Web_Console/Opening_the_Web_Console refresh page and paste what you've got there?

[2017-05-30 21:41] farawayfarm commented on #518
To open the Web Console:

    either select "Web Console" from the Web Developer submenu in the Firefox Menu (or Tools menu if you display the menu bar or are on Mac OS X)
    or press the CtrlShiftK (CommandOptionK on OS X) keyboard shortcut.

The Toolbox will appear at the bottom of the browser window, with the Web Console activated (it's just called "Console" in the DevTools toolbar):

The Web

[2017-05-30 22:28] crptm commented on #518
@farawayfarm yes, follow that instruction :) hit ctrl+shift+k in the tab you have wallet opened, then refresh page, then say or screenshot what you see :)

[2017-05-30 22:31] Deozaan commented on #509
@kvhnuke

Yes, that does sound like what I did. I guess I was expecting a more AJAX-y interface where changing things in the middle of the process would update everything appropriately behind the scenes.

And yes, I realize that now. :)

Thank you very much. I appreciate the time and effort you and @tayvano put into this.

[2017-05-30 22:47] farawayfarm commented on #518
Sorry, I've been trying to figure out how to paste the screen shot.

I get a divided screen, The top half is the wallet in code as usual, the bottom half is this:

Inspector  Console  Debugger  Style Editor   Performance   Memory   Network
Net  CSS   JS  Security  Logging  Server

[2017-05-30 22:49] Deozaan opened #519 "myetherwallet.com/* redirects to www.myetherwallet.com (without wildcard)"
This is a minor, low-priority quibble, but it can be annoying to experience nonetheless. And I think it should be a quick and easy fix.

Recently you announced the [MEW Helpers](https://www.myetherwallet.com/helpers.html) page. I was trying to access it but couldn't find a link to it on the site, so I opened a new tab and took a guess, typing in [myetherwallet.com/helpers.html](https://myetherwall

[2017-05-30 22:59] crptm commented on #518
yep, when you refresh the tab (ctrl+R) with devided screen, do you get any messages in the bottom half?

[2017-05-30 23:02] farawayfarm commented on #518
Nope, nothing

[2017-05-30 23:03] crptm commented on #518
@farawayfarm open in any tab about:config, search for javascript.enabled, make sure that it is set to true

[2017-05-30 23:06] farawayfarm commented on #518
javascript.enabled;true

[2017-05-30 23:07] farawayfarm commented on #518
there are a few javascript options that are set to false. Do you want to know which ones?

[2017-05-30 23:08] crptm commented on #518
@farawayfarm when you open the file what is the url?

[2017-05-30 23:09] farawayfarm commented on #518
file:///C:/Users/LT/AppData/Local/Temp/Temp1_dist-v3.8.4(2).zip/index.html

[2017-05-30 23:10] crptm commented on #518
ok, can you extract zip first and then try to run it?

[2017-05-31 00:10] crptm commented on #516
I guess 3.7.3 should be 3.8.3 :)

[2017-05-31 00:57] tayvano commented on #516
Yes - thank you. And thank goodness someone around here has some brain left. 😜

[2017-05-31 02:44] tayvano commented on #519
You are absolutely correct. I'm 99% certain this was an oversight as I can't imagine anyone would do this on purpose. I know we are making some other URL changes now and I'm sure @kvhnuke can squeeze this fix in as well.

Thank you for bringing it to our attention

[2017-05-31 02:48] trustfarm-dev opened #520 "Add nodes for Musicoin."
Hi Kvhnuke,

How about adds musicoin wallet?
It has based on geth , and wallet json is compatible with geth and musicoin.
I'm also using myetherwallet wallet with musicoin.

https://musicoin.org/wallet.html

thanks,

[2017-05-31 03:40] knocte opened #521 "Shouldn't require SSL if running locally"
I've tried to run MEW locally (with a file:/// URL) with my Ledger Nano today, and I can't, because it tells me this message in red:

[code]

This check should only be there when running on-line, not locally from an index.html saved on the computer.

[2017-05-31 03:52] tayvano commented on #521
This is a limitation of the U2F protocol and not something we nor Ledger control. In order to use U2F the browser requires it to be over a secure connection.

You can read more about how to connect locally here: https://github.com/benjaminion/eth-parity-qnap/wiki/Connecting-to-MyEtherWallet

[2017-05-31 03:52] #521 closed, assigned to nobody

[2017-05-31 07:07] FrankHold commented on #516
Good Morning!
Thank you for the reply! Here is what I did. https://drive.google.com/file/d/0Bzjj9RC5wV6Kb2dmZTZyOFpKNEE/view?usp=sharing
In the end there is nothing on the block chain
https://etherscan.io/tx/0x95ea035f58d979e6d655970ff3158aaab50cc0ca443dbe65101161700c11b511
In the next step I will try it with the version 3.8.3
Have a nice day!

[2017-05-31 09:03] tayvano commented on #516
Hey - I just got a similar thing when I was sending to a contract that fails due to bad instruction or something else. We are going to update so that if it's that high, it throws an error to let you know. I'm still curious if yours doesn't fail and is showing that large though, if you are down. Please note your gas price before hand and perhaps lower it. Txs like these are getting bloody expensive

[2017-05-31 09:23] FrankHold commented on #516
Cool! Yes the gas is expensive - I reduce it normally to 9 GWei. Just tried it again with the same result. (Is it not in the middle of the night for you?)
* The transaction only costs 0.00146048 ETH (It shows 0.038848041 ETH as maximum)

[2017-05-31 12:01] kamuflage opened #522 "My Minereum is gone"
I do not find my minereum in myetherwallet. When I go to etherscan I see I have 0 in my balance. I'm 100% sure I had 49 MNE a couple of days ago

[2017-05-31 12:07] tayvano commented on #522
Please check on ethplorer.io and check all your addresses.

[2017-05-31 12:08] tayvano commented on #516
@FrankHold just pushed 3.8.5. Let's see if that works?

And yes, its now 5am. However working a real job with 4 ICOs in one week doesn't leave much time for sleep. I'm never going to catch up.

[2017-05-31 12:09] kamuflage commented on #522
Checked it, nothing's there

[2017-05-31 12:13] FrankHold commented on #516
"Gas limit" is now -1   (sorryy)

[2017-05-31 12:14] kamuflage commented on #522
Nevermind, I found it, I apologize for any inconvenience!

[2017-05-31 12:14] tayvano commented on #516
Yeah, thats to prevent people from sending failing TXs with 4M gas (during BAT ICO in 3 hours)

What contract are you interacting with?

[2017-05-31 12:15] FrankHold commented on #516
Get some rest!
https://etherscan.io/address/0xFAcf5dd6Cb88F5409e1B85c140084DEA8cf6DcA3
I did the exactly the same 2 days ago
https://etherscan.io/tx/0x99610ec0963102fa2fce07b35dd596bbabcda43f2f56b7ab5146e9091c75c89a
Gas Used By Txn: 162276
BUT - It is not so important right now.

[2017-05-31 13:29] onedrop commented on #517
ok here...

`{"address":"0xaaff40fa1bb528905d626b78a67b7a019f63f5bf", "msg":"fubar", "sig":"0x36b7a6de3a0ff8ba7520c31ee022dbdfd369bd7887d610b70353a5e9e9e56d9016b9c3512f443f0d683eca4bc9a173c86d0851cd9ce8aff5543591dc1859bdfa1c"}`

If it helps, it appears that geth prepends the string `\x19Ethereum Signed Message:\n<length of message>` to the data before signing it.

[2017-05-31 14:51] mrbrdo opened #523 "Generate transaction blocked until block 3798640 for BAT ICO?"
It seemed to me it didn't want to generate the transaction until that block, was that implemented or just some kind of a glitch on my side?

Since I see you did some specific commits regarding the BAT ICO.

[2017-05-31 16:47] sir-laurens opened #524 "Gas Price slider overwrites Send Offline Gas Price?"
I have reasons to suspect that the gas price set using the slider in the footer is always used, even if you set a different gas price in the Send Offline screen.

I participated the BAT ICO and my transaction never showed.  The transaction kept showing"Unable to locate Transaction entry" on Etherscan. I am 100% certain I set the gas price very high (I even took a screenshot before generating the t

[2017-05-31 16:52] sir-laurens commented on #524
I still have the original transaction (signed). So if it's possible to get the gas price out of a signed transaction hex, please let me know. Then we can confirm what gas price was in the output.

[2017-05-31 21:38] fortran77 opened #525 "ENS error Owner & Highest Bidder missing as of 3.8.5"
Up to MEW 3.8.4, going to the ENS tab and entering the name of an already-registered domain would print the Owner and Highest Bidder (Deed Owner), along with other information. As of 3.8.5, these two fields are empty. As a result, attempting to finalize a domain after a winning bid results in an error message: `This account is not the owner of xxx.eth. Please unlock the Owner Account in order to r

[2017-05-31 22:13] mypukru opened #526 "problem to send eth"
all ok

[2017-05-31 22:13] #526 closed, assigned to nobody

[2017-05-31 23:29] crptm commented on #525
@fortran77 i believe the issue is with MEW node, try using etherscan

[2017-05-31 23:51] fortran77 commented on #525
You're right, using Etherscan.io as the node makes it work correctly, thanks.

It's odd, though, that using a local copy of MEW 3.8.4 and letting it point to the default MyEtherWallet node also makes it work correctly.

[2017-05-31 23:52] tayvano commented on #525
@kvhnuke

[2017-05-31 23:52] tayvano commented on #525
We had changed the calls to reduce to amount of requests to the server and unintentionally broke this. It's fixed now.

[2017-05-31 23:56] tayvano commented on #524
I agree that this is an issue, however it is not the reason you didn't get in. Unless you set your gas price to 2000 GWEI manually AND sent it at the exact right time, you would still be with the 99% who didn't make it

https://docs.google.com/spreadsheets/d/1JyPMEcXJpeXCSEhI9rp0QxKZHc64P98dKH8_xwT8RVA/edit#gid=1492751600

[2017-05-31 23:57] tayvano commented on #523
What do you mean by "not generated"

Did you send a TX or were oyu not able to sign a tx?

[2017-05-31 23:57] #522 closed, assigned to nobody

[2017-05-31 23:59] tayvano commented on #516
So it seems the problem lies somewhere in the multisigs.

@kvhnuke my multisig confirms for ENS are estimating 4M as well, but went through successfully.

here's my tx hash that was estimating 4m but worked when i manually set it
https://etherscan.io/tx/0xacb2070d19d9972f40181553b90fe850d707c264a55c093de8f27294fb769afa

[2017-06-01 00:02] #445 closed, assigned to nobody

[2017-06-01 03:04] DutchBoyd opened #527 "Gas Price Slider Doesn't Work When Finalizing ENS Auctions"
Title pretty much sums it up. I love MEW and the slider has been a huge benefit and has saved me tons of gas. But the gas price slider doesn't seem to work when making a finalize name transaction. I just slid it down to 10 before sending a finalize and the txn went through at 22 gwei.

[2017-06-01 05:06] FrankHold commented on #516
Thank you for the tip - if I just set it manually it works!
First the calculated value is -1
then I change it to 1000000
I activate my trezor and the value springs back to -1
then I change it to 1000000 again
AND it worked! https://etherscan.io/tx/0xe434c49b1ac30559d15bc161b9b708983920fe9653dd195e12635d8dac8a3787
Gas Used By Txn: 172287
Thank you! https://etherscan.io/tx/0xdb88672388f71053802203e9

[2017-06-01 07:48] sir-laurens commented on #524
Thank you for your answer and the very interesting spreadsheet!
I did multiple ICOs before and always ended up in 1st or 2nd block. My gas price was 240 gwei, and I see it would have been high enough only if I made the first block. Pretty sure this time it would have been the second, so you are right. Anyway, I love MEW and am happy to be able to support it this way.

[2017-06-01 09:46] tayvano commented on #524
My apologies for underestimating you. You are correct, and on point.

I believe you can use the hex -> decimal converter here near the bottom to confirm if you really want to know gas price (or ever check in future). https://www.myetherwallet.com/helpers.html

I believe @kvhnuke fixed a couple hours ago.

[2017-06-01 10:28] sir-laurens commented on #524
I saw the commit, top! Thanks a lot!

[2017-06-01 10:32] vvvmfu opened #528 "Swap order of Ether to Bitcoin got cancelled but my ether were not returned to my wallet"
Help me to understand the proces and what happened with my transaction!!! How much i need to wait and where my ether?
My ether gone
![image](https://cloud.githubusercontent.com/assets/29120050/26675985/a3a59b7c-46ce-11e7-9425-09cced6c4775.png)
![image](https://cloud.githubusercontent.com/assets/29120050/26676001/b4fbb032-46ce-11e7-9116-360e1b080950.png)

[2017-06-01 12:26] vvvmfu commented on #461
what is the finish of that history? I have the same problem

[2017-06-01 22:17] Ramzramzik opened #529 "Swap order of Ether to Bitcoin got cancelled but my ether were not returned to my wallet"
What happened with my transaction!!! How much i need to wait and where my ether?
My ether gone
REF ID#: BITYTQMXAV

Amount to send: 8.97323732 ETH

Amount to receive: 0.80000000 BTC

Payment Address: 0x76b7b147427bf0b83f35b9347e3c392045c4dda7

Rate: 0.08982 ETH/BTC

![img_1859](https://cloud.githubusercontent.com/assets/29078393/26703177/0bd89e9e-4731-11e7-908d-77df0a7928a4.PNG)
![img_1862](https:

[2017-06-02 06:21] tayvano commented on #529
Please **EMAIL** support@bity.com and support@myetherwallet.com so that we may determine what happened and resolve this in a timely manner for you. Thank you.

[2017-06-02 06:21] #529 closed, assigned to nobody

[2017-06-02 06:22] tayvano commented on #528
Please EMAIL support@bity.com and support@myetherwallet.com so that we may determine what happened and resolve this in a timely manner for you. Thank you.

[2017-06-02 06:22] #528 closed, assigned to nobody

[2017-06-02 06:33] tayvano commented on #527
fixed last night.

[2017-06-02 06:33] #527 closed, assigned to kvhnuke

[2017-06-02 06:34] #525 closed, assigned to nobody

[2017-06-02 06:34] #524 closed, assigned to kvhnuke

[2017-06-02 20:35] Tycer opened #531 "MEW private key changes when pressing return."
I have a myetherwallet paper wallet whose private key changes when I hit the return button. Last weekend I was out of town without my computer and wanted to access the wallet. I went to MEW and entered my private key and it opened someone else's wallet. A series of characters in the center of the string morphed from what I entered to something else. I lost my mask on an ENS sale which kind of suck

[2017-06-02 20:41] tayvano commented on #531
Very intriguing. Can you email me at taylor@myetherwallet.com so we don't accidentally blast private keys out in public. I'm online now.

[2017-06-03 05:57] tayvano opened #532 "[ux] Warning for safe splits / all contracts?"
0x1e143b2588705dfea63a17f2032ca123df995ce0.

https://www.reddit.com/r/ethereum/comments/6er78h/warning_do_not_use_safeconditionalhftransfer_or/

[2017-06-03 07:47] tayvano commented on #516
Other one that's estimating incorrectly:

[2017-06-03 15:21] Bipsqua opened #533 "unable to send tokens using Ledger Nano S from an address having >0.01 ETH on it but getting the insufficient ETH error"
Please excuse my newbness to Github, I am having the same issue as closed issue #356, unable to send tokens using Ledger Nano S from an address having >0.01 ETH on it but getting the insufficient ETH error.

I have tried from two different Nanos (same seeds) and have deleted and reinstalled the Nano ETH wallet app on one of them.  Trying to send REP tokens and have done so before without issues.

[2017-06-03 15:44] yudilevi opened #534 "Wrong addresses are generated when importing through mnemonic phrase with password"
When importing a wallet through a mnemonic phrase that uses a password, initial addresses are generated correctly.
However, after selecting a different derivation path, MEW ignores the password and generates addresses as if the password wasn't there.

[2017-06-03 23:56] stefek99 opened #536 "Is it possible to obtain mnemonic phrase for existing wallet?"
You allow loggingin with mnemonic...

How do I do in reverse?

Have an existing wallet but want to save 12 words for security...

Related: https://www.reddit.com/r/ethereum/comments/61t7gy/mnemonic_seed_for_myetherwallet/

**THANKS**

[2017-06-04 01:40] stefek99 opened #537 "Do you support testnet? (Kovan, Ropsten)"
I'm experimenting with stuff.

Initially I couldn't find a way to swtich to testnet.

So I've experimented on the mainnet.

Don't want to spam the thing.

So on second thoughts - is there a way to switch to one of the testnets?

[2017-06-04 04:46] tayvano commented on #516
Another incorrectly estimate - but not a -1 - just wrong.

https://etherscan.io/tx/0xb5352cada151debac6914346dd5c322d8778e57b7e04e84af6203d14a1c35b53

[2017-06-04 04:47] tayvano commented on #537
Etherscan.io has been kind enough to provide nodes for all the testnets. You can switch between them via the Node Switcher in the upper right corner. :)

[2017-06-04 04:50] tayvano commented on #536
All mnemonics can go to keys but you can't go from key -> mnemonic.

We will eventually allow derivation of mnemonic phrases via MEW but it requires extensive testing to ensure there are no errors that would prevent a certain address from being unspendable. It's a really really really big deal and something that we don't take lightly.

If you want words, you can create words elsewhere (MetaMask, J

[2017-06-04 11:50] #536 closed, assigned to nobody

[2017-06-04 11:50] #537 closed, assigned to nobody

[2017-06-04 12:03] stefek99 opened #538 "8 decimals and 21,000,000 supply - is 0.21 expected?"
Sorry for large screenshots, too lazy to do: https://apple.stackexchange.com/questions/105185/how-can-i-stop-my-retina-display-from-taking-2x-sized-screenshots

# So I've created my custom token: https://www.ethereum.org/token

![image](https://cloud.githubusercontent.com/assets/249703/26761309/82b69e40-4924-11e7-9394-49135fad6e6d.png)

# There were 21m, sent 2m, now there is 19m:
![image](https:/

[2017-06-04 13:22] stefek99 commented on #538
When I see transaction history in Ethereum Wallet:
![image](https://cloud.githubusercontent.com/assets/249703/26761952/cd9b2d8e-4930-11e7-9098-5b9eca5612a4.png)

It seems like 21,000,000 and 8 decimal places creates `0.21`

And transferring 2,000,000 moves `0.02`

[2017-06-04 15:12] yudilevi opened #539 "Provide an easy way to generate encoded transaction data for offline signing"
Currently, offline signing expects the user to provide the transaction data by himself/herself.
Would be useful to generate the data automatically by allowing the user to provide the contract abi + arg values - similar to the input when interacting with contracts.

[2017-06-04 16:20] gotcha opened #540 "Documentation of cold storage"
The page at https://myetherwallet.groovehq.com/knowledge_base/topics/how-do-i-safely-slash-offline-slash-cold-storage-with-myetherwallet
states (as a red warning) that I should

However, I have been able to send ETH back from a wallet recovered from a private key only.
Is the recommendation above just to ensure that people keep enough copies  of their keys on various media?

In other words, am I m

[2017-06-04 16:41] dsingh21 opened #541 "ETC - Not showing up on Trezor wallet"
Hi - I sent an email to support@... but wasn't sure if it was received.

I transferred some ETC to my Trezor wallet. It's confirmed on the blockchain that is in the address shown in my ETC wallet. However, the ETC doesn't show up in MEW when I login using my Trezor (address shows zero balance) and I am unable to transfer any ETC out of the address (saying there is insufficient funds). Any thoughts

[2017-06-04 16:42] crptm commented on #540
Private key is enough. Keystore files are preferable because they can be password protected.

[2017-06-04 16:43] crptm commented on #541
Select ETC (Epool.io) node. Node selector is in header.

[2017-06-04 16:49] dsingh21 commented on #541
Thanks!

On Sun, Jun 4, 2017 at 11:43 AM, crptm <notifications@github.com> wrote:

[2017-06-04 16:49] dsingh21 commented on #541
Thanks. I must have missed that step in previous guides. Thanks for educating me and responding so quickly. I appreciate it!

[2017-06-04 17:53] sullof commented on #523
I have a similar issue. I sent some BATs from Liqui to my account in MyEtherWallet but the wallet doesn't show the BATs.

[2017-06-04 21:37] #541 closed, assigned to nobody

[2017-06-04 21:40] tayvano commented on #540
@gotcha It's far better for people like you to ask that question than for people to not save **anything**. You are the first person to ask this question, but over 20 people have not saved anything **today alone** and lost access to their account. The warning and color will stay.

[2017-06-04 21:41] tayvano commented on #539
This will be possible in version 4. We aren't adding new features like this to v3 anymore. Sit tight, it'll be here soon enough.

[2017-06-04 21:41] #539 closed, assigned to nobody

[2017-06-04 21:43] tayvano commented on #538
The decimals decide where to be the decimal place. If you look up the account on ethplorer, there should be a decimal field. I would guess that if you didn't explicitily set the decimals, it is either `0` or `18`

[2017-06-04 21:43] #508 closed, assigned to nobody

[2017-06-05 00:52] kvhnuke commented on #531
can you paste 5610253bcb7acf7f80e6f9bfb87b1fcfa1963516320255071abe4ccc6cda70af private key and check which address you get?

It should be 0x9e50E3065e9e499B2B5C06b1F84e93223Dfa1073

[2017-06-05 00:58] tayvano commented on #531
@kvhnuke look in groove under the Taylor email

[2017-06-05 01:02] #534 closed, assigned to kvhnuke

[2017-06-05 01:04] kvhnuke commented on #533
@tayvano can you replicate this?

[2017-06-05 01:08] #519 closed, assigned to kvhnuke

[2017-06-05 07:22] Tycer commented on #531
Works as it should.

Kind regards,

Tycer Lewis

Dictated to and sent from my Phone

[2017-06-05 08:17] gotcha commented on #540
I understand the absolute need to protect users from losing access to their account.

However, the current wording might make some people believe that their ETH cannot be accessed with their paper wallet only. In other words, it might give the feeling that protecting those paper wallets is not that critical as an attacker would also need the password protected wallet file.

Reason why I suggest ad

[2017-06-05 09:55] GriffGreen commented on #516
https://github.com/ConsenSys/MultiSigWallet/issues/68

Made an issue...

[2017-06-05 09:56] GriffGreen commented on #516
oh! Look at how smart github is :-D I didnt even have to report here manually... man, who ever is making this github magic should do a fucking ICO and buy an island. This website is incredible.

[2017-06-05 10:25] stefek99 commented on #538
I understand decimals as "resolution".

Say there is 21m supply

## My understanding

0 decimals make it `21,000,000`
1 decimal make it `21,000,000.0`
2 decimals make it `21,000,000.00`
3 decimals make it `21,000,000.000`
4 decimals make it `21,000,000.0000`
5 decimals make it `21,000,000.00000`
6 decimals make it `21,000,000.000000`
7 decimals make it `21,000,000.0000000`
8 decimals make it `21,0

[2017-06-05 10:35] tayvano commented on #516
😂😂😂😂

[2017-06-05 10:36] tayvano commented on #516
It's a problem with geths estimate function actually. There's gunna need to be some teamwork here

[2017-06-05 10:46] tayvano commented on #540
When you have to answer 500 people a day and 5% have lost their private key and or password, you can write the error message.

We used to do it like this. We used to try to give more information and teach people and warn them about everything.

The single biggest cause of loss is *people not saving anything* by miles. No one has ever said 'oh I thought my paper wallet wouldn't access my account' e

[2017-06-05 10:48] tayvano commented on #533
@kvhnuke it's happened to me and Kevin before. It's when you do something and then do something else. If you just do it once it doesn't appear.  Can't consistently replicate.

[2017-06-05 11:11] gotcha commented on #540
Thanks for a long and thoughtful answer.

[2017-06-05 12:53] lamtruong1609 opened #544 "Swap : Order Cancelled"
Amount to send:
0.9999 eth
Amount to receive:
0.085533  BTC
Payment Address:
17igyGiqNgY7HUk8CYhb75HmLZ89ee8mJb
txHash: https://etherscan.io/tx/0x00a5b6a59276f3756094e202e407d99c9a6207c0d665f5ae6f3151d9861f9d6f
REF ID#: Sorry , i forgot to screenshot :(

Why did my order cancel ?
And i did not receive any BTC , then i contacted support by mail.
And now , my problem's not solved. :-1:
May I receive

[2017-06-05 12:55] tayvano commented on #540
@gotcha

Alright write me a message for the new helpbar I just made and tell me where to put it.

https://www.myetherwallet.com

Or if you want to rewrite / update

https://myetherwallet.groovehq.com/knowledge_base/topics/what-are-the-different-formats-of-a-private-key

or

https://myetherwallet.groovehq.com/knowledge_base/topics/how-do-i-safely-slash-offline-slash-cold-storage-with-myetherwallet

[2017-06-05 15:14] Bipsqua commented on #533
Thank you for replies - so what is the recommended workaround at the moment?

[2017-06-05 15:26] gotcha commented on #540
@tayvano Is there a github repo that I can fork to come up with a pull request ?

[2017-06-05 15:42] tayvano commented on #540
Not for the knowledgbase :(

It's thru our support platform as it's the only way it stays up to date. That would be sweet though.

[2017-06-05 15:46] tayvano commented on #533
Hard refresh, try unplugging and replugging.

If you can get it to do this each time tell us exactly what steps your taking so we can try to reproduce and fix.

[2017-06-05 16:09] Bencheese opened #545 "Myetherwallet dist-v3.8.8 error."
Hello,

Unsure if I doing something wrong here, downloaded dist-v3.8.8.zip to access the offline version of myetherwallet - saved to external hard drive and opened the index.html file. The website opens but does not seem operational, the language dropdown menu and add custom node menu are expanded but I cannot select either of them. I am currently using a mac running the latest OS 10.12.5 (not sur

[2017-06-05 16:44] gotcha commented on #540
Ok, I'll try to come up with a proposal.

[2017-06-05 16:52] tayvano commented on #540
@gotcha Have you ever used an open source version of that knowledge base? You've got me thinking now......

[2017-06-05 17:36] Bipsqua commented on #533
OK this is with OSX, Chrome, and my Nano S just now - sorry I'm pretty new so not really sure how much info I can share in the screenshot with no risk (I blanked out addresses and raw and signed transaction fields in the screenshot before uploading) but the first bunch of times I sent tokens in and out the very same way it worked.  The computer and Chrome have actually been restarted since I repor

[2017-06-05 17:58] tayvano commented on #545
@Bencheese Can you please re-download and let me know if it works now. Trying to debug currenetly.

[2017-06-05 21:52] gotcha commented on #540
What is the name of the knowledge base you use ?

[2017-06-05 22:04] tayvano commented on #540
Just the knowledge base that's built into Groove (what we use for emails)

https://www.groovehq.com/apps/knowledge-base

[2017-06-05 23:04] lamtruong1609 commented on #544
@tayvano Would you help me ? please :(

[2017-06-05 23:33] tayvano commented on #544
Each and every time I will say the exact same thing:

Please go back to https://www.myetherwallet.com/#swap and click the "Issue with your Swap? Contact support." link at the bottom of the page.

This will send an email to both us and support@bity.com with the information we need from you in order to look into the issue. Namely:
REF ID#:
Amount to send:
Amount to receive:
Payment Address:

Thanks.

[2017-06-05 23:33] #544 closed, assigned to nobody

[2017-06-05 23:34] lamtruong1609 commented on #544
I had sent what you say for more 2 days ?

[2017-06-05 23:40] tayvano commented on #544
If you sent then it will be resolved as soon as we can. We are doing the best we can. In the future I advise that you (1) make sure you send the exact amount and (2) make sure you send with high enough fees so that it gets on the blockchain quickly enough. Those are the top two reasons your order wasn't automatically processed.

![screen shot 2017-06-05 at 4 38 59 pm](https://cloud.githubuserconte

[2017-06-05 23:45] lamtruong1609 commented on #544
Maybe i did not send enough fees , sorry :( it was my first time .
I hope my problem will be solved soon. I really need that ETH now. :(
Thank you , sorry for my impatience.

[2017-06-06 09:05] johnmed26 opened #546 "Transferring to a different wallet"
Hi! I need help i have created a wallet in my ether wallet i tried to transfer etherium to a different wallet in etherwallet but when click on generate it doesnt generate i tried sending 0.01 i didnt change the gas limit. because i dont know what to put. please help me

[2017-06-06 10:37] wladim31 commented on #500
# How can I recover the Private Key if it is lost?

[2017-06-06 11:03] Bencheese commented on #545
@tayvano Just re-downloaded the zip file with the same result. No matter if I'm online or not the index html is unusable.

Also note the page still appears like the above screenshot.

[2017-06-06 11:33] tayvano commented on #500
Please read [I no longer have my private key. What can I do](https://myetherwallet.groovehq.com/knowledge_base/topics/i-only-have-my-address-and-password-can-i-access-my-account)

[2017-06-06 11:34] tayvano commented on #546
The gas limit should estimate automatically.  If it shows -1 it is showing that because the TX would fail, or could not be completed.

https://myetherwallet.groovehq.com/knowledge_base/topics/how-do-i-send-ether-from-one-wallet-to-another

https://myetherwallet.groovehq.com/knowledge_base/topics/what-is-gas

[2017-06-06 11:37] tayvano commented on #531
@Tycer FYI, you should generate a new wallet and not use this one.

https://myetherwallet.groovehq.com/knowledge_base/categories/getting-started-443

[2017-06-06 11:37] #531 closed, assigned to nobody

[2017-06-06 12:32] infokiller commented on #36
@tayvano why was this issue closed, can you please clarify?

Thanks!

[2017-06-06 13:26] wladim31 commented on #500
# I found a copy of the key, but what to do with it I don't know? Tell me what do I do with it?
# A copy of the key on a sheet of paper photocopies.
![i3](https://cloud.githubusercontent.com/assets/28957434/26832259/8ff0cd24-4ad7-11e7-94c0-6d42c227f3cb.jpg)

[2017-06-06 15:06] rambochoi opened #548 "Lost all ETH by a weird transaction to a strange wallet"
Anyone was encountering this case? Please support! Much appreciated!

My wallet: https://etherscan.io/address/0x1472fe9e401520efcf0767065bf75ec1672e971a
to strange wallet: https://etherscan.io/address/0xbcd206ffea46894fa3f912cb34e5ee57f67a91c2

![image](https://user-images.githubusercontent.com/29133126/26836174-58a6523a-4b04-11e7-8d33-b8424e992fb6.png)

[2017-06-06 16:32] tayvano commented on #500
[How to access your wallet](https://myetherwallet.groovehq.com/knowledge_base/topics/how-do-i-verify-i-have-access-to-my-new-wallet?from_search=true)

[2017-06-06 16:42] tayvano commented on #36
@infokiller We are working with Nick Johnson and a few others to come up with a standard encrypted key standard for Ethereum that will be used for paper wallets, optionally, in the future.

Right now people losing their passwords is a greater cause of loss than hacks of paper wallets. So, while we will have them at some point, there isn't a ton of urgency.

[2017-06-06 16:54] tayvano commented on #548
I'm really sorry but it appears your funds have been robbed.

Did you use Ethereum Chamber dot net?

[2017-06-06 19:30] sonic1111 commented on #546
Hi, i wish to send VSL for my etherwallet to my account to Liqui exchange but sistem write me that "-1Gas" but i have 0.444eth what can i do? how can i send VSL?  "Could not estimate gas. There are not enough funds in the account, or the receiving contract address would throw an error. Feel free to manually set the gas and proceed. The error message upon sending may be more informative."

[2017-06-06 19:37] sonic1111 commented on #546
How much ETH do i need to have in my ballance to sent 50000VSL????

[2017-06-06 20:11] infokiller commented on #36
Gotcha, thanks!
Any issue I can subscribe to for this feature?

[2017-06-06 20:23] sonic1111 commented on #546
Is it problem with the myetherwallet or with the metwork?

[2017-06-06 20:38] fguchelaar commented on #545
Running on macOS Version 10.12.5, using Safari Version 10.1.1 (12603.2.4) gives me the same issue with dist-v3.8.8.

Using Chrome however, does seem to work.

Not sure if it is related, but the Console in Safari logs this message (where in Chrome it remains silent):

[code]

[2017-06-06 20:52] gotcha commented on #540
I have started to think a bit about
https://myetherwallet.groovehq.com/knowledge_base/topics/how-do-i-safely-slash-offline-slash-cold-storage-with-myetherwallet

You mention above that those answers need to be understandable by people like my grandmother.

However, I doubt she would understand "air-gapped' without more explanation.

Is it fine if I think how to expand a bit the explanation of thos

[2017-06-06 21:40] tayvano commented on #540
So for the knowledgbase pages, be as in depth as you want! I'm trying to restructure them with formatting to be like:

Explanation

Numbered list of steps to take

Reminders and further explanation.

But I simply don't have enough time.

As long as there are bulleted / numbered steps and heading, I wouldn't mind an essay in any of these.

[2017-06-06 21:41] tayvano commented on #540
The error messages and stuff that displays on the site is what people simply refuse to read.

[2017-06-06 21:50] ttt777 opened #549 "Contract ethers stuck?"
Hey I created a contract while back. I didn't know what i was doing and now I have 2ETH stuck there. The address is 0xA5c120e6e87dE04dfFdbfbeF85B3f0798a7865fF I tried to kill it and change the owner using MEW. I have the JSON and password of the contract creating address.

[2017-06-06 23:08] rambochoi commented on #548
I read an article introduced that ethereumchamber.net and I thought it was your site with new RED look. I did not log in. How can they can do that? Has your site been changed the address column from left to right?

This news from bitcoin.com and now they removed it.

https://webcache.googleusercontent.com/search?q=cache:HmnP7ZIcfN8J:https://news.bitcoin.com/ethereumchamber-a-new-ethereum-wallet/+&

[2017-06-07 00:15] kvhnuke commented on #549
let us know the source code of your contract, let me take a look

[2017-06-07 00:22] kvhnuke commented on #546
try adjusting the gaslimit manually, if I have to take a guess I would set the gas limit to 200000 and try again

[2017-06-07 04:30] kaprikor commented on #548
I sent the ETH to the address. But nothing happened. The transfer was lost, the ETH did not come http://prntscr.com/fgszlf  http://prntscr.com/fgtphj

[2017-06-07 04:55] kaprikor opened #550 "problem"
I sent the ETH to the address. But nothing happened. The transfer was lost, the ETH did not come http://prntscr.com/fgszlf http://prntscr.com/fgtphj

[2017-06-07 05:01] Bipsqua commented on #533
Today I was able to send REP tokens again - no idea why, same actions and same hardware as before.

[2017-06-07 06:45] tayvano commented on #516
moving back to #494 so we can just resolve all the issues

[2017-06-07 06:45] #516 closed, assigned to kvhnuke

[2017-06-07 07:12] tayvano commented on #550
Do you have the private key for the 0x6988 address?

[2017-06-07 07:22] 5chdn opened #551 "Enable Parity Recovery"
I see you disabled the parity recovery options. I welcome this step and agree this caused a lot of issues. The parity recovery option is not really to be considered a brain wallet but a _recovery option_ for the initial displayed seedphrase. To circumvent all the recent issues with empty recovery strings and too short brain wallets, you could check if the recovery phrase contains at least 12 words

[2017-06-07 08:29] ttt777 commented on #549
[ { "constant": false, "inputs": [ { "name": "_owner", "type": "address" } ], "name": "removeOwner", "outputs": [], "type": "function" }, { "constant": false, "inputs": [ { "name": "_addr", "type": "address" } ], "name": "isOwner", "outputs": [ { "name": "", "type": "bool" } ], "type": "function" }, { "constant": true, "inputs": [], "name": "m_numOwners", "outputs": [ { "name": "", "type": "uint25

[2017-06-07 08:45] ttt777 commented on #549
MEW gives me an error when trying to kill the contract: "Account you are sending from does not have enough funds. If sending tokens, you must have 0.01 ETH in your account to cover the cost of gas." Contract creating address has over 0.01 ETH.

[2017-06-07 10:46] tayvano commented on #551
I'm not opposed to this. We will see. The main priority was getting it offline ASAP as we had 3 confirmed reports of stolen funds in 12 hours with hundreds of unread emails -- I had no idea how widespread this was.

What I failed to realized is that new users, instead of generating a wallet on the homepage like I stupidly assumed they would do, were simply typing in whatever words they felt like i

[2017-06-07 11:17] karalabe opened #552 "Contract deploy address displayed in the notification is wrong"
I've just deployed a contract via MEW on Ropsten and saw that the contract address MEW gave me didn't match the one actually deployed:

This is the transaction: https://ropsten.etherscan.io/tx/0xdba1f65a880a424351618b91d1d1e72a7ffa79b24ead6e2188ee380e6eb0b44d

MEW displayed this address for the new contract: https://ropsten.etherscan.io/address/0x0bc3764efe148a9f2855304cc81d0e6d555581ee

The real

[2017-06-07 11:41] pila656345 commented on #550
Hello I made myetherwallet 2 months ago and 2 times used!!! I am not sure maybe I created 2 wallets because I have saved all informations on my mac(I see now and there are 2 addresses and 1 privatekey.
before when I have putted my privat key I saw one wallet adress but now I see diferrent wallet adress
I have sent etheriums on my old wallet address and what I have to do?thanks

[2017-06-07 11:42] pila656345 commented on #550
how is it possible use one private key wich could open 2 addresses?

[2017-06-07 11:42] pila656345 commented on #550
I have sent 17 etheriums

[2017-06-07 11:46] pila656345 commented on #550
help me with this problem

[2017-06-07 11:48] prusnak opened #553 "Make "Send Ether & Tokens" default page"
I suggest moving "Generate Wallet" to second position and moving "Send Ether & Tokens" to first.

Most of the users want to see this page, not the generate one first.

[2017-06-07 12:43] kvhnuke commented on #552
This might have to do with nonce not getting updated, let me check

[2017-06-07 13:48] 5chdn commented on #551
Yeah, we are already preparing the 2nd hotfix in a row for this issue.

Just let me know how we can be of any help. Basically only allowing only 12 word phrases from dictionary should be sufficient. Everything else is only used on testnet or development chains and can be ignored for services like MEW.

Thanks.

[2017-06-07 18:48] tayvano commented on #553
I had the same thought a few months back!

I asked a few different people though and they all seemed really, really hesitant about it. I'm going to wait until the dust settles a bit and then do it. I really think its for the best as well.

[2017-06-07 18:53] tayvano commented on #550
@pila656345

1. You mistyped your private key

2. You are using a different private key today than you were 2 months ago

3. You are entering the private key information in a different location

In order to regain access to your account, you need to do exactly what you did the time you opened your account. Were you using the keystore file? Handtyping? Scanning a QR code? Do that again.

I also str

[2017-06-07 18:57] tayvano commented on #551
We will discuss internally and see thoughts. Is there a word that you are using to describe these besides "Parity Phrases"

One thing I've noticed is that new users don't know what Parity is and therefore that label is meaningless to them. I'd like to match your UI in terms of validation & semantics so we can be consistent, but am struggling (really struggling) to see the world in the eyes of a ne

[2017-06-07 19:50] pila656345 commented on #550
please listen me. I always use one private key(I know this exactly) and this key have opened wallet adress where I sent etheriums few days ago.i found on my post letters when I bought etheriums and with wallet address(old). I am sure it is mystake. how could I bought and sent etheriums with old wallet address and use same private key?

[2017-06-07 19:52] pila656345 commented on #550
in my word document I have 2 wallets address and one key but this key now open another addres

[2017-06-07 19:52] pila656345 commented on #550
all this information I have saved when created wallet

[2017-06-07 20:52] prusnak commented on #553
I doubt they gave some good reasoning for being hesitant, while the reason for the change is obvious. I will leave the decision how long to wait to you of course, but this was really puzzling me all the time, why the things are the way they are.

[2017-06-07 22:25] tayvano commented on #553
I mean the *reason* is because we started as *only* doing wallet generation. There was one page (well - generate wallet and bulk generate)

The reason it hasn't been *updated* is because it never made it to the top of the list and its a rather large change from a UX perspective that will throw people off. I should have changed it when we changed to v2 but didn't think about it. When we updated the

[2017-06-07 23:07] Dingy123 commented on #545
Having the same problem. Could this be a hacking issue? I use the latest safari and chrome and no repsonse pages like the ones above.

-Please help

[2017-06-07 23:09] tayvano commented on #545
OHHHHHHHHHH. It's the stupid RPC updates. FFS.

Its preventing safari people from connecting to the node which is throwing an error and preventing the page from loading. Gosh dang it, that took way too long to figure out.

@crptm FYI regarding the "zips not working" issue

[2017-06-07 23:09] Dingy123 commented on #551
Will the dist-v3.8.8.zip issue be corrected soon? The page is still unresponsive when trying to recover via parity phrase.

[2017-06-07 23:31] Dingy123 commented on #545
So I shouldnt be worried, as this is just a simple issue of an update needing to complete?

[2017-06-08 11:11] Engelberg commented on #545
I'm having the same problem.

[2017-06-08 13:07] Dingy123 commented on #545
Not to be a pain but when can we expect these updates to finish so that the zip file will open correctly?

[2017-06-08 18:12] tayvano commented on #545
I'm not having issues on my machine, nor my husbands linux machine. I have recompiled each version and updated with new zips on the releases pages. Attached is also manually zipped version of 3.8.9 (3.8.9b) with parity phrase enabled. This will help me debug whether something I've just updated is causing the issue.

[dist-3.8.9b-parity-phrase-enabled.zip](https://github.com/kvhnuke/etherwallet/fil

[2017-06-08 18:12] Lolzzs opened #555 "Lost Keystore File (UTC / JSON)"
I am writing to you because of my problem with Keystore File (UTC / JSON). Unfortunately I managed to lost this file and google did not help me find proper solution to generate this file again. I have my password and private key, so i can still get to my wallet. Could you provide me please with information how to get this file again?
Thank you for your response
by the way I have already contacted

[2017-06-08 18:14] tayvano commented on #555
@Lolzzs We currently are getting about 15 emails per hour and have 560 unreads. Soooooooooooooooooooooooooooooooo fuck.

I think this is what you are looking for:

https://myetherwallet.groovehq.com/knowledge_base/topics/i-only-saved-my-unencrypted-private-key-can-i-get-the-encrypted-keystore-version-now

[2017-06-08 19:02] fguchelaar commented on #545
**OS**: macOS 10.12.5

| Browser | Version | dist-3.8.8 | dist-3.8.9 | dist-3.8.9b | ~~clone~~ repo-download (zip) | clone |
| --- | --- | --- | --- | --- | --- | --- |
| Safari | 10.1.1 (12603.2.4) | ❌  | ❌  | ❌  | ❌ | ✅ |
| Chrome |  58.0.3029.110 | ✅ | ✅ | ✅ | ✅ |  ✅ |

I forked the repo yesterday from commit 4565698 and that one *does* run in Safari.

[2017-06-08 19:18] tayvano commented on #545
@fguchelaar for yesterday's, were you running straight from the folder though, not unzipping it?

[2017-06-08 19:20] tayvano commented on #545
Oh wait..the clone does work from 456 but doesn't work today?

[2017-06-08 19:22] fguchelaar commented on #545
I forked it yesterday, ran `npm install; gulp` and it was running smoothly. ~~Cloning the 'master' repo of today won't run.~~ I'm debugging the Javascript now, but not sure if I'll be successful :)

**edit: I didn't clone it, but downloaded the repo as a zip**

[2017-06-08 19:37] Lolzzs commented on #555
Thank you very much!. I post this link into github issue.

--
Přeje pěkný zbytek dne
Stanislav Ryšánek

---------- Původní e-mail ----------
Od: Taylor Monahan <notifications@github.com>
Komu: kvhnuke/etherwallet <etherwallet@noreply.github.com>
Datum: 8. 6. 2017 20:14:40
Předmět: Re: [kvhnuke/etherwallet] Lost Keystore File (UTC / JSON) (#555)
"
@Lolzzs(https://github.com/lolzzs) We currently are

[2017-06-08 19:47] tayvano commented on #545
What the heck...

What node are you connected to locally? Can you try switching to the other ETH one and refreshing  and seeing if that makes a difference?

[2017-06-08 19:49] fortran77 opened #557 "Address derivation differs between 3.8.5 and 3.8.9"
Going from 3.8.5 to 3.8.9, I'm observing that the same seed words and password yield different addresses. This could be a serious problem, as users who derived addresses with older versions of MyEtherWallet might be unable to access them with the latest version.

Here is a test case.

Seed words =
long robust trouble help poet staff bunker floor paddle elegant rich home

Password =
ether

With MyE

[2017-06-08 19:53] fortran77 commented on #557
I had barely finished submitting this and 55 seconds later I see "kvhnuke was assigned by tayvano a minute ago," Near-real-time, impressive.

[2017-06-08 19:57] tayvano commented on #557
@fortran77 Are you running locally?   I'm getting

[code]
on MyEtherWallet.com

[2017-06-08 20:02] fguchelaar commented on #545
I've tracked it down to line# 2534:

`var localNodes = localStorage.getItem('localNodes');`

The `localStorage` throws an exception.

I don't exactly know what I'm supposed to do :) Do you mean switching branches?

[2017-06-08 20:02] tayvano commented on #545
Ignore me. That was a true mastery of stupid questions. I'm going to get coffee. BRB in 15

[2017-06-08 20:09] fortran77 commented on #557
For these tests I accessed 3.8.9 both https-locally and by accessing https://www.myetherwallet.com/ .

The older versions I accessed https-locally.

In both cases above "https-locally" means via a tiny https server written in python.

Note that I've been accessing MyEtherWallet only over the Internet as https://www.myetherwallet.com/ for a few weeks, and today for the first time I began getting th

[2017-06-08 20:11] fguchelaar commented on #545
hmmm... it seems I made a mistake earlier. I didn't actually clone the repo, but download it.

After an actual clone, it **does work**! Apparently macOS/Safari doesn't trust the zipfile.

[2017-06-08 20:14] tayvano commented on #545
This is not any more clear to me 😂
Lemme download the zip and see if i can reproduce

On another track can you tell me what is in your localstorage for `file://` (when you are running MEW locally)

![screen shot 2017-06-08 at 1 11 53 pm](https://user-images.githubusercontent.com/7924827/26948732-4c7d873c-4c4c-11e7-8cf7-21cbeb22e23a.jpg)

[2017-06-08 20:16] tayvano commented on #545
Yay I did it!!!!!!!

This is just going to be another fucking Safari bullshit. It's the new IE. Just kill it with fire before we all lose even more valuable hours.

![screen shot 2017-06-08 at 1 15 36 pm](https://user-images.githubusercontent.com/7924827/26948818-942b7ec2-4c4c-11e7-8c81-5f1b430c804e.jpg)

[2017-06-08 20:23] fguchelaar commented on #545
**Bingo**

The downloaded zipfile gets extended attributes.

[code]

By removing them, the site loads perfectly fine!

`$ xattr -rc dist/`

[2017-06-08 20:36] tayvano commented on #545
Nice detective work!!

Now.....

How does one tell every average Safari user how to do this?

Also...this may be problematic (from Safari 11 docs)

[code]

[2017-06-08 20:39] Engelberg commented on #545
I'm having the problem, and I am on Firefox on both Windows and Linux.

[2017-06-08 20:40] tayvano commented on #545
@Engelberg please send error messages from console

[2017-06-08 21:15] fguchelaar commented on #545
Not pretty, but you could perhaps include a shell-script to remove the attributes?

In my [fork](https://github.com/fguchelaar/etherwallet) I've created a file `macOS_removeExtendedAttributes.command` and made it executable (`chmod +x`). After downloading the repo as a zip file you need to control-right-clicking it followed by open (since simply double-clicking will result in a security alert) and

[2017-06-08 21:28] tecpointgrip opened #558 "Can't connect to TREZOR (etherwallet offline)"
Hi,

I'm using latest dist-v3.8.9 and running it locally like this:

After selecting "View Wallet Info" and then "TREZOR", popup window will show, with the address

    https://connect.trezor.io/1/popup/popup.html

TREZOR's logo in the left upper corner and the 'Loading...' text field in the middle. It stays like that, no matter if I connect TREZOR or not. Output from developer console from chromi

[2017-06-08 21:41] crptm commented on #545
we should ship server, if python is preinstalled on osx we can use it.

[2017-06-08 22:05] tayvano commented on #558
You have to be connected via SSL in order to use hardware wallets. This is a requirement of the U2F protocol that the browser uses. If you want to do it local, you have to use USB (e.g. a chrome *app* or regular application) or set up a local sign-signed certificate

[2017-06-08 22:06] tayvano commented on #558
Oh and Firefox doesn't support U2F so I don't think that Firefox works online either?

[2017-06-08 22:15] Dingy123 commented on #545
Does that work on safari @fguchelaar ??

[2017-06-08 22:19] tecpointgrip commented on #558
On Firefox with online version of MEW, I'm getting:

    To use your TREZOR device, proceed with instructions at TREZOR Wallet and try again afterwards.

    What is TREZOR?

So looks like you are correct.
Is there any tutorial how to setup self-signed certificate for MEW purposes? Or ideally, some ready to use Docker container? Don't get me wrong, but I think that while MEW is one of the most pop

[2017-06-08 22:50] tayvano commented on #558
@tecpointgrip I understand your frustration but I'm going to reiterate one more time:

This is something at the browser level and not a decision we made:

- The browser doesn't have access to USB devices

- A chrome extension doesn't have access to USB devices

- A chrome app does

- In the browser you can communicate via a thing called u2f

- Only some browsers support u2f

- The browsers that su

[2017-06-08 22:51] tayvano commented on #374
see #558

[2017-06-08 22:51] #374 closed, assigned to nobody

[2017-06-08 22:52] tayvano commented on #557
@fortran77 I just went through all the releases and could not recreate. Will you please double-check that this is happening for the keys above?  I'm quite confused.

[2017-06-08 23:01] tecpointgrip commented on #558
Thanks for detailed explanations.

I understand your point. However, myethwallet is one and only tool which is officially recommend by TREZOR team - in online version, as far as I can see. But, how can I be sure that MEW online will be available in 3 years from now? That's why I'd like to have some offline way to get to my keys. If there would be some other application just to see my keys and allo

[2017-06-08 23:25] Abudinho opened #559 "Ethereum Chambers took EVERYTHING - Help ME!"
I was hacked by ethereum chambers

All my ETH, ICOs, ERC Tokens - ALL GONE!

Is everything gone for good or there is any slim chance of getting anything back?

I have sent series of emails - no response.

Also sent DMs on twitter, got replies for a few, but no replies anymore!

Please help me! please!

[2017-06-08 23:47] fortran77 commented on #557
Here is one more data point.

Using 3.8.5 via my tiny https server, after I enter the same seed words and password as in my original report, I see that the default path m/44'/60'/0'/0 is already selected, and the 1st address is:

0xb31d472C81a12a25DaC3cd5293628ad3234B287C

Now I click on m/44'/60'/0' and then click again on m/44'/60'/0'/0. So now m/44'/60'/0'/0 shows as selected, as it was above b

[2017-06-08 23:53] fortran77 commented on #557
And furthermore, if I use the same seed but leave out the password, then for path m/44'/60'/0' the 1st address is:

0x9B04Ee4bBDe5C45A23aF2D21Db7D23c76c2D661D

So clicking on m/44'/60'/0' then on m/44'/60'/0'/0 seems to erase the password when I use 3.8.5, but not when I use 3.8.9.

[2017-06-09 00:01] fortran77 commented on #557
OK, so it appears that in MEW up to 3.8.5, selecting the second path (hence not the default path) causes the password to clear. And the addresses are derived as if no password had been typed. In MEW 3.8.9 the password remains intact. That would explain everything I saw. If you can reproduce this, then maybe we have isolated the problem.

[2017-06-09 00:07] Engelberg commented on #545
This is version 3.8.9, downloaded as zip, then extracted, running on Tor Browser in Windows.  Looks the same as the other screenshots posted here.  Error in console is:

[code]

It works in Tor Browser if I navigate to myetherwallet.com, rather than running from the file.

[2017-06-09 00:13] Dingy123 commented on #545
By using the parity phrase?

[2017-06-09 00:18] Engelberg commented on #545
Just ran again with your parity phrase build, and got an error that looks approx. the same:

[code]

[2017-06-09 00:21] Engelberg commented on #545
P.S. I was mistaken when I said it didn't work on Firefox.  I was thinking of the Tor browser I was using, which is supposedly derived from Firefox.

[2017-06-09 00:37] Dingy123 commented on #545
Is this something thats goong to be fixed or am I just out of all my coins? I had a situation where I had to make a new wallet and had to leave before I had a chance to save anything but a parity phrase. Help! Sorry Im such an amateur @tayvano

[2017-06-09 01:25] Longnguyeneth commented on #559
I had the same Abudinho! All my ETH had gone and no way to take it back! We have to start over, those ETH are my family's saving for the future.

[2017-06-09 01:46] tayvano commented on #545
@Dingy123 What are you talking about? This is literally just an issue with the zip files. You can solve it at any time by:

- Using Google Chrome

- Cloning the Repo and running the /dist/index.html instead of from a zip

- Removing the attributes that are preventing it from loading

Furthermore, you can access your funds at any time by *using Parity*.

[2017-06-09 01:51] tayvano commented on #545
@Engelberg This makes more sense as Tor is very privacy focused. Have you ever run the offline version before?

@kvhnuke Is there a way we can just um....I don't know...fall back if a local install doesn't want to read from localstorage?

I don't know if this is a new "feature" browsers are implementing or if something on our side changed or a combination of both or that the escalating # of report

[2017-06-09 02:19] Engelberg commented on #545
@tayvano I am new to MyEtherWallet.  This was my first try at running it, so I can't speak to whether it worked with prior versions.

[2017-06-09 04:14] Abudinho commented on #559
Life !

3-4 years of patience - ALL Gone!
Even the future gone too with the ICOs
Must be something to become a millionaire in secs/hours just by hacking/scam!

I thank GOD for everything (good or bad)

[2017-06-09 06:29] fortran77 commented on #558
In Issue #557 I mention a tiny https server written in Python. It's very convenient for executing MyEtherWallet locally when you want to use a hardware wallet. You can find this tiny https server at:

     https://www.piware.de/2011/01/creating-an-https-server-in-python/

For your convenience I'm pasting the code below.

You can generate a self-signed SSL certificate with this command line and hit

[2017-06-09 08:27] tayvano commented on #557
@kvhnuke do you know anything about this? 😒

[2017-06-09 08:46] Engelberg commented on #545
@tayvano BTW, I also tried cloning the git repository and opening dist/index.html in the Tor browser.  Same problem.  So I don't think this is a cloning vs. zip file issue.

[2017-06-09 09:25] kvhnuke commented on #557
Yes this is me fixing issue #534

[2017-06-09 09:26] Longnguyeneth commented on #559
Best way is now to buy a Ledger Nano S to store crypto coins and still put ICOs on MEW but authenticate by the Ledger Nano S. This should be fine for future!

Don't trust any press release any more or you can use another PC to read those news. The PC for coins MUST BE clean.

[2017-06-09 09:51] tayvano commented on #546
Gas Estimation has been fixed in 3.8.9

[2017-06-09 09:51] #546 closed, assigned to nobody

[2017-06-09 09:53] tayvano commented on #523
@mrbrdo We don't ever block any transactions ever. We only manually set the gas limit for that address in order to prevent OUT OF GAS errors.

Check your balance on ethplorer.io. Check what node you are on on MyEtherWallet. BAT is a default token and shows in the sidebar without issue for us. Let me know if you are still having issues.

[2017-06-09 09:53] #523 closed, assigned to nobody

[2017-06-09 09:54] fortran77 commented on #557
I missed that one -- so my issue report is largely a duplicate, now that I know what caused it.

[2017-06-09 09:57] tayvano commented on #545
*sigh* Thanks for this undocumented shitshow Apple. 👍

https://twinery.org/forum/discussion/8789/sugarcube-2-18-0-safari-10-1-1-macos-10-12-x-fatal-error-on-opening-html-file-in-browser

[2017-06-09 10:10] tayvano commented on #545
@Engelberg So I think you need to go into your privacy / security flags and see. I haven't been in Tor Browser in a while. Specifically you're going to need to enable Javascript and LocalStorage.

https://www.reddit.com/r/TOR/ may be able to help.

Obviously these settings are turned off by default for a reason. So...either you do it when you want to run MEW or other sites that you trust or you de

[2017-06-09 10:47] Engelberg commented on #545
@tayvano According to the browser's about:config, dom.storage.enabled is set to true.  And I currently have JS enabled as well.  The site works fine in the Tor browser when I go to myetherwallet.com.  So I'm not sure what more I can do, but I can try to follow up on reddit.  In the short-term, I'm mainly interested in being able to access the offline signing capability from Tor.  I like your idea

[2017-06-09 10:52] Engelberg commented on #545
@tayvano Aha!  I had success by allowing the browser to "accept 3rd party cookies".  Turns out localstorage  is tied to whether cookies are being accepted.  My guess is that if the local storage is coded to the myetherwallet.com website and you're running the local file, that counts as "3rd party".

[2017-06-09 10:57] Engelberg commented on #545
Eh, now I'm not sure that's what did it.  I just realized that my browser updated itself in the past hour.  But, it's working now for me.

[2017-06-09 11:29] tayvano commented on #557
Okay but do people HAVE addresses in the unfixed versions? How long was this live for? There are people that email me every day that they have "mismatched" addresses. Now, admittedly, most have an 0x00 (parity) address or suddenly realize that they were using the wrong file, but these are the things I need to be aware of in order to save people's freaking ETH.

People do absurd things all day to l

[2017-06-09 11:44] Engelberg commented on #545
OK, I rolled back my browser and confirmed that setting the browser to "accept 3rd party cookies" does indeed solve the problem.

[2017-06-09 17:19] mikeyb opened #562 "Add MGO erc20 token support"
https://etherscan.io/token/0x40395044Ac3c0C57051906dA938B54BD6557F212

cheers!

[2017-06-09 22:44] tayvano commented on #545
More regarding webkit / Safari and their desire to just be different. At this rate were more likely to have full support for IE11 🤦

https://bugs.webkit.org/show_bug.cgi?id=171934

[2017-06-09 23:51] leafcutterant opened #564 "MyEtherWallet extension for Firefox"
First of all—I will dash out a few issues today, but please know that it's not insatiability from my end. I thank you very much for the amazing product you brought about!

I'm wondering if you're planning porting MyEtherWallet CX to Firefox. Google's browser is avoided by many for suspicion of its security and this is amplified when it comes to cryptocurrency. The dist release runs well in Firefox

[2017-06-09 23:56] leafcutterant opened #565 "Add Ability to encrypt private key with password of choice on MyEtherWallet.com"
The above is possible in CX, but not in dist. Could you add this to the dist release?

[2017-06-10 00:06] leafcutterant opened #566 "Mnemonic-based wallet generation is strange in dist"
In the dist release, when trying to add a wallet based on the mnemonic (ran in Firefox), the textbox becomes green and a button appears only when 3- or 6-word phrases are entered which have BIP39 words.

Why is this? Could you change it to accepting any kind of mnemonics?

[2017-06-10 01:01] fortran77 opened #567 "MyEtherWallet CX Chrome extension 3.8.9 ignores selected path"
This might be related to issue #557 (or maybe not).

Using the MyEtherWallet CX Chrome extension (installed from the Chrome Web Store, version 3.8.91), which identifies itself as 3.8.9, I added a wallet using this mnemonic phrase:

     long robust trouble help poet staff bunker floor paddle elegant rich home

The next screen asks me to select the path. But I notice that the generated addresses do

[2017-06-10 05:09] Abudinho opened #568 "Ethereum Chamber scammers - trying to move ERC20 Tokens but cant"
I am unable to send ERC20/ICO tokens that's on my "hacked" MEW account to a new MEW account.
I have put enough gas to make the transaction go through and it still errors out everything, and i don't get the gas i spent back.

Why is that?

I need to get everything that is left off the hacked MEW account ASAP

Please !

[2017-06-10 09:15] Engelberg commented on #565
Just tonight, I imported a wallet by means of a mnemonic seed, and then went to wallet info.  I expected to find a way to type in a password and save the wallet as an encrypted UTC/JSON wallet file, and was surprised there was no way to do this.

I am not familiar with the CX version, but this just seemed like a natural thing to want to do, because I don't want to have to keep enter the mnemonic p

[2017-06-10 09:49] tayvano commented on #568
Are you getting an out of gas error or a bad instruction error? Please #end tx hashes

[2017-06-10 10:57] leafcutterant commented on #565
@Engelberg, yes, that's exactly what I talked about.

[2017-06-10 17:40] Abudinho commented on #568
Thanks for the response.
There were a combination of different errors.

Please find the txHashes below:

0x335db6e2f57b1505147379e22edfb1b3fb6a5bd97594a81b64f2a65c5c01419f (out of gas)
0x11f96ca625b555809ad13bcd95dae018accfc4dd3590dd1c9890a98034febff7 (out of gas)
0x9cbf3458b74a1e58ba48a45fccc69ba9e5b64fe3edf45a526fd151e30bd22bd1 (bad jump destination)
0xe89be1a99071221790595c89314b4c969664822c542

[2017-06-10 18:08] crptm commented on #568
@Abudinho you need to manually set gaslimit to higher value,  250000 should be enough for everything

[2017-06-10 18:11] crptm commented on #568
@Abudinho you should also use lower gas price, otherwise you wouldnt have enough eth to transfer everything. Price slider is in footer

[2017-06-10 18:21] Abudinho commented on #568
@crptm Thanks for communicating back to me!
So I need to use 250000 for all transactions?
What about the slider below, what should I set that to? - It is currently 42 Gwei (Fast AF)

[2017-06-10 18:22] crptm commented on #568
@Abudinho 20 Gwei should confirm in a minute or two. Yes, please use 250000 for all transactions.

[2017-06-10 20:24] Abudinho commented on #568
@crptm I did exactly what you told me and I still got same issues! see txhash below:

0x1857d5c14ebf8e733915a8f19c852e0f2f0a442c68a5c32472f39ae361438955 (bad jump destination)
https://etherscan.io/tx/0x1857d5c14ebf8e733915a8f19c852e0f2f0a442c68a5c32472f39ae361438955

Also, the to address wasn't the address I sent to, why is that address showing in the transaction details?

Thanks

[2017-06-10 20:36] crptm commented on #568
@Abudinho monaco & patientory sale is not over yet thats probably why you cant move funds. Ethbits should be transferable with more gas. You see different address because you sending transaction to contract, see first argument in input data field for destination.

[2017-06-10 20:44] Abudinho commented on #568
@crptm
MCO - until June 18th
PTOY is over since June 3rd.
Ethbits - more gas? how much more?

Sorry, I am asking too many questions. I just need to get everything left of what ethererum chambers took from me ASAP

[2017-06-10 21:37] crptm commented on #568
@Abudinho patientory is locked up until audit is over https://patientory.com/2017/06/07/2115/

250k should be enough

[2017-06-10 22:43] leafcutterant opened #569 "Making mnemonic-based wallet adding in CX more usable"
MyEtherWallet CX 3.8.9
Chromium portable 60.0.3112.10

When I try to add a wallet via a mnemonic phrase, no button ever appears, but if I press enter while within the textbox, it displays the derived addresses. Most importantly, it's ambiguous because it's visible that a line-break is added before showing the addresses, and it's not clear whether the line-break is part of the seed or not. Also, it

[2017-06-10 22:57] leafcutterant opened #570 "Infinite hangs in Tor Browser when trying to decrypt a UTC/JSON wallet file in the dist release"
MyEtherWallet CX 3.8.9
Tor Browser 7.0 (based on Mozilla Firefox 52.1.2) (32-bit)

When using the dist release in the Tor Browser and trying to unlock an encrypted UTC/JSON wallet file, after entering the password and pressing the Unlock button, the tab hangs up and stays unresponsive for an indefinite time. It does this both when I enter a correct and an incorrect password.

This might be a brows

[2017-06-10 22:57] Abudinho commented on #568
@crptm seems like I would have to wait until I can send MCO and PTOY

What about MYST? I'm having issues sending that as well.

By the way, ETB has successfully gone through! - Thanks

[2017-06-10 23:06] crptm commented on #568
Estimated time when MYST Token becomes transferable is two weeks after the Token Creation event ends.

https://mysterium.network/faq/

@Abudinho

[2017-06-11 01:41] mike1968mi opened #571 "Bity Transaction"
I sent .510 ETH from Myetherwallet to 0x1e4ace701f5900c3d57dd50525aabc462137f4ba at Bity,
reference number BITYL7UNRR ,
I should have received 0.05517497 BTC to 1LtDXqv1JxFM3dVNTidhaoNcWDJQWNo8uc.

https://etherscan.io/block/3853208

https://etherscan.io/address/0x1e4ace701f5900c3d57dd50525aabc462137f4ba

[2017-06-11 12:38] 30amak opened #572 "How can i use API etherwallet with C#?"
Hi to all.
I'm C# programmer.
How can use API etherwallet with c#?For example (Send ETH)
Thank you.

[2017-06-11 18:31] tayvano commented on #571
Please go back to https://www.myetherwallet.com/#swap and click the "Issue with your Swap? Contact support." link at the bottom of the page.

This will send an email to both us and support@bity.com with the information we need from you in order to look into the issue. Namely:

REF ID#:

Amount to send:

Amount to receive:

Payment Address:

Thanks.

[2017-06-11 18:31] #571 closed, assigned to nobody

[2017-06-11 18:36] tayvano commented on #570
Thank you for letting us know.

Decrypting these keystore files is quite intensive and we try to make improvements. I do know that on Firefox previously it would time out; pressing "continue..." after the first timeout would usually result in it unlocking.

Do you have the ability to see a console in Tor with any errors that may  be occurring?

We can address errors but the decrypt times are part

[2017-06-11 19:15] tayvano commented on #572
These are the JSON-RPC methods available for Ethereum and are how you make calls to a node: https://github.com/ethereum/wiki/wiki/JSON-RPC#json-rpc-methods

Your question is far outside the scope of this MyEtherWallet.com repo though so I suggest you join a community on gitter where a lot of Ethereum developers hang out as they will likely provide you with more guidance than we can here.

[2017-06-11 19:15] #572 closed, assigned to nobody

[2017-06-11 19:16] tayvano commented on #569
The codebase for v3 is locked for features like these but I'll make a note of it for v4 👍

[2017-06-11 19:16] tayvano commented on #568
Thank you for all your help yesterday @crptm 💖

[2017-06-11 19:18] tayvano commented on #567
Its actually related to #569

The CX is not set up in the most ideal way for mnemonics but we're focusing on v4. Gotta sit tight until the transition occurs.

[2017-06-11 19:19] tayvano commented on #566
@kvhnuke  Can you comment on why this is this way and what we should keep in mind while building the module for v4 so that this isn't an issue, but also doesn't create further issues?

[2017-06-11 19:21] leafcutterant commented on #570
Of course, you have to include an appropriate number of rounds to ensure security. I just thought that there is something in Tor Browser that is different and could be addressed. The FF version in plain Firefox and Tor Browser is pretty close (53 and 52), do you think it could be a bug in 52?

By the way, I'm not sure of my memory, but I *think* I did successful UTC/JSON decryptions in Tor Browser

[2017-06-11 19:22] tayvano commented on #565
Guys I know you want the world and we have a list a mile long. We had to draw a line in the sand and focus all energy on version 4 and get it out the door before circling back around and adding features like this and cleaning up inconsistencies between the CX and .com versions. Otherwise we would never get v4 done and therefore never be able to get to things like mobile either. 👍

We are a very, v

[2017-06-11 19:24] leafcutterant commented on #569
Thank you very much!

[2017-06-11 19:25] tayvano commented on #562
done

[2017-06-11 19:25] #562 closed, assigned to nobody

[2017-06-11 19:25] tayvano commented on #557
@kvhnuke I need a response on this.

[2017-06-11 19:25] #555 closed, assigned to nobody

[2017-06-11 19:26] tayvano commented on #552
@kvhnuke I need an update on this.

[2017-06-11 19:28] karalabe commented on #552
Btw, the second deploy displayed the correct address, so you might want to
look into if nonce 0 is acting up.

On Jun 11, 2017 22:26, "Taylor Monahan" <notifications@github.com> wrote:

[2017-06-11 19:32] leafcutterant commented on #565
No pressure, @tayvano, take your time to write solid code :) This Github issue and we will be waiting patiently. Thank you for your unending effort.

[2017-06-11 19:38] kvhnuke commented on #557
I think it is safe to close this

[2017-06-11 19:39] #557 closed, assigned to kvhnuke

[2017-06-11 21:14] Abudinho commented on #568
Yes Yes @crptm was awesome!

Thank you again!

[2017-06-11 21:16] 3esmit commented on #551
Please, don't disable insecure from being created/used, it might be useful sometimes.
For example I used MEW to faucet from empty parity recovery phrase to a new user in kovan.
Also, I am one of the people that use crafted brainwallets and is not happy with "computer generated".

What I do, is an computer assisted phrase generation, I manually try random phrases at live.ether.camp generator until

[2017-06-11 21:29] tayvano commented on #551
@3esmit This is how we used to approached it.

Then ~100 ETH were stolen from low entropy accounts and I had to break the new to all those users.

If you want to generate low entropy wallets while understanding the risks, you are free to. You are also free to fork it.

I am depressed and tired with telling people that they lost ETH and simply do not have the time nor energy nor optimism to deal wi

[2017-06-11 21:48] 3esmit commented on #551
@tayvano Thanks, I actually know how to do it in node console. I'm sorry all this happen, but the issue was the miss of warnings. New users actually have no idea what are this options, and will try just the first that works. They assume wrong because there was no warning.
You did right removing the option as fast as possible, blocking further errors. Your work is always been amazing and you really

[2017-06-11 22:03] tayvano commented on #551
Yeah there is another one who had PK 00000...

What was interesting about that one is it isn't actually a valid key on the curve so the ETH are inaccessible / burned :(

Users will be users. I really really am trying to figure out how to make this foolproof and secure. It seems that anything that requires a user to save or remember anything isn't going to work out though. >.<

[2017-06-11 22:41] mikeyb commented on #562
tyvm

[2017-06-11 22:45] mikeyb commented on #566
@leafcutterant what generated the mnemonic you are attempting to use and why doesn't it use bip39? Wondering what is doing this and their reason for not using bip39 words?

I don't see issues with using non bip39 words per se, but you will run into portability issues with wallets adhering strictly to bip39 (which seems like a reasonable proposal to stick to)

[2017-06-11 23:47] leafcutterant commented on #566
@mikeyb what generated a mnemonic is the user's own business and it should remain that way, for reasons of privacy, respect and security. It can be diceware (e.g. for reasons of true physical randomness); a non-BIP39-compliant software; the old version of a BIP39-compliant software from times before BIP39 was even created; someone's own phrases; a seed in a language which is not yet supported by B

[2017-06-12 05:47] mikeyb commented on #566
I only asked so I could go look at specific cases and understand their reasoning, assuming you had one.

Fair enough.  I am mostly trying to understand why or why not I would implement bip39 specifically in a wallet.  I have plans to build and open source my own wallet management tools specific to my needs and trying to come up with some best practices.

Thanks for the info.  I will look into the

[2017-06-12 07:17] 5chdn commented on #551
For example I used MEW to faucet from empty parity recovery phrase to a new user in kovan.

Parity wallet still allows you to generate insecure brain wallets for all testnets and development chains. But since MEW mainly operates on main network, it should not!

[2017-06-12 07:20] tayvano commented on #551
We can revisit in a bit and figure out a way to make this work for everyone. The barrier to entry for generating low entropy wallets needs to be higher than it was before, but lower than it is now. I'm already frustrated because we use weak parity phrases all the time for testing stuff. 😬

[2017-06-12 10:13] 5chdn commented on #551
I disagree, warnings get largly ignored. I'm still not understanding why you insist to keep this feature in MEW. You could also use parity or any other lib to use your low-entropy accounts for testing.

But why do you need MEW to assist you with this? Also, you still got use older versions of MEW to maintain this feature for your private needs.

[2017-06-12 13:16] ttt777 commented on #549
Anything I can do? @kvhnuke

[2017-06-12 13:25] kvhnuke commented on #549
When you say over does it has enough to cover the gas cost? I would atleast have 0.1 eth and try again, let me know how it goes

[2017-06-12 14:22] ttt777 commented on #549
@kvhnuke
Still no luck. Contract creating address has over 0.1ETH now but still MEW gives me error that I must have over 0.01.
That contract created some kind of ERC20 Token when I did it. I don't really know what I was doing and still I'm a total noob when it comes to this. Willing to donate part of the 2ETH if I somehow get it back.

[2017-06-12 21:42] stuartbennett opened #573 "Incorrect public address shown after generating wallet offline"
I cloned this repository and used it on an airgapped machine to generate a new wallet. After generation, the PDF was downloaded (which showed the private key and public address) but the public address that was shown in the web interface did NOT match. As I trusted the public address that was shown in the web interface, I copied and pasted that for use in a transaction, resulting in a loss of Ether

[2017-06-12 21:43] stuartbennett commented on #573
I also found https://github.com/kvhnuke/etherwallet/issues/360 which appears to be due to the same bug.

[2017-06-12 22:59] tayvano commented on #573
Please email me (taylor @ myetherwallet dot com) the key and addresses and photo of your paper wallet. We have a backlog in the support inbox due to Bancor this morning.

99% of the time people say this they are noticing the difference in checksum vs non-checksum

Or you mis-typed the private key when you enter it back on web.

2 people in issue 360 found their correct address, 1 was on a fake MEW

[2017-06-13 00:52] pctripsesp opened #574 "how is double account avoided?"
sorry if it is an stupid question, but i am trying to understand how it checks if there already exists a private key in use before giving it to the user when creates a new wallet, if there are no servers checking.
in case is not checked, it is posible to give the same key to different users?

[2017-06-13 01:49] tayvano commented on #574
This thread covers it:
https ://www.reddit.com/r/ethereum/comments/6fr2lx/updated_its_time_to_get_real_stop_relying_on/diki8iz/

[2017-06-13 13:08] ccampbell opened #576 "Last 3 releases missing from releases page (and gas issue)"
According to https://github.com/kvhnuke/etherwallet/releases, the last version is 3.8.9, but on myetherwallet.com it is running 3.8.95.

I just finalized an ENS bid (running 3.8.9 locally) with the gas meter set at 1 Gwei, but the transaction was processed at 21 Gwei.

According to #527, this was fixed 11 days ago. Since 3.8.9 was released 6 days ago, I assumed the fix would be included. Is it pos

[2017-06-13 15:00] jackcasey commented on #545
FYI I just got this error on dist-v3.8.9 on Edge on Windows 10. Seems to be the same thing.
[code]
(I'm manually typing that from the air gapped computer so didn't put the full backtrace 😄)

[2017-06-13 15:15] tayvano commented on #545
@kvhnuke I need this solved today. If they are offline, don't pull shit from localstorage. Easy. Done.

[2017-06-13 15:30] tayvano commented on #576
Apparently I need to update Travis. Sorry about that! Just manually added releases.

I'm almost positive gas price fix was in 3.8.9 and all these little shits are tokens and stuff but maybe I'm wrong.

https://github.com/kvhnuke/etherwallet/releases/tag/v3.8.95

Regardless, here is the latest and greatest.

[2017-06-13 15:32] tayvano commented on #573
@stuartbennett Did you email me?

[2017-06-13 15:34] tayvano commented on #545
@jackcasey Can you do me a favor and type `window.localStorage` into the console on edge and tell me if it returns `undefined` or `unspecified error`?

[2017-06-13 15:41] stuartbennett commented on #573
Thanks @tayvano but I managed to resolve this myself. After your response I started to question whether I may have incorrectly typed the private key the second time round. I knew the public wallet address which contained the ether, but didn't know what the private key would be. In the hope that I had only made a single mistake while typing the private key, I wrote a node script that tried all poss

[2017-06-14 00:22] ccampbell commented on #576
Thanks so much for the quick turnaround! I have another auction ending soon so I will try out the gas thing again using 3.8.95

[2017-06-14 01:14] tayvano commented on #576
Please let me know. We keep going in circles with the gas thing. The all-star team is focused on V4 so I'm trying to keep things like this off their plate as much as possible.

[2017-06-14 01:15] tayvano commented on #573
Thank you for this. Glad you got it sorted, and I have no doubt that this will prove useful for someone in the future. Counting down to the day where we have QR codes on all the inputs :)

[2017-06-14 01:29] jackcasey commented on #545
@tayvano it returns (raises actually) `Unspecified error`. How lame...

Seems like maybe a known thing when accessing locale files via `file:///` apparently also in IE9. https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8816771/ also: https://stackoverflow.com/questions/32374875/localstorage-not-working-in-edge

[2017-06-14 01:50] tayvano commented on #545
Yup. I'm going to push an update tonight that'll check for `unspecified error` before attempting to load from local as well. OS's should really just stop making browsers. 🤦

[2017-06-14 05:30] ccampbell commented on #576
It worked in 3.8.95! Took 30 mins for the first confirmation, but much much cheaper. Thanks again!

[2017-06-14 05:30] #576 closed, assigned to nobody

[2017-06-14 06:15] johnelgithub commented on #551
Hi Tayvano,

I just checked my wallet today and I was surprised that the Parity Phrase was no longer supported since I cannot access the account. I tried to follow the knowledge base but when successfully downloaded the file at https://github.com/kvhnuke/etherwallet/releases/tag/v3.8.7 and clicked the index.html icon, the window that comes up does not have an option to enter my Parity Phrase to pr

[2017-06-14 07:47] 5chdn commented on #551
@johnelgithub works for me, did you download `dist-v3.8.7.zip` ?

You could also use Parity 0;-)

[2017-06-14 07:53] johnelgithub commented on #551
Hi,

Yes, I downloaded it but the page appears to be unresponsive with the unclickable buttons and no option to input my Parity Phrase.

How to do it with Parity 0?

Thank you for responding.

[2017-06-14 08:03] johnelgithub commented on #551
@5chdn

![3 8 7](https://user-images.githubusercontent.com/29422391/27121712-ff1b89b6-511a-11e7-98a2-59884f02c724.jpg)

[2017-06-14 08:05] 5chdn commented on #551
@johnelgithub did you extract all files from the zip? seems the javascript is not loading. Does it work with any other browser?

Parity for all platforms is available here: https://github.com/paritytech/parity/releases
- After installation, open a browser at localhost:8180 and go to accounts > restore and enter your phrase.

[2017-06-14 08:13] tayvano commented on #551
@5chdn Its something @kvhnuke is fixing right now with local storage. No idea why its now just a problem but we should have a fix in a big.

[2017-06-14 08:28] johnelgithub commented on #551
@5chdn

Thanks for the recommendations, I will check on it later. Tried IE and no option to input my Parity Phrase but to generate a new wallet address instead. I hope I can do the workaround here with your assistance. Thanks bigtime.

@kvhnuke and @tayvano  thanks for looking into this.

[2017-06-14 09:46] #573 closed, assigned to nobody

[2017-06-14 09:47] tayvano commented on #551
@johnelgithub Let me know if this works. *crosses fingers*

https://github.com/kvhnuke/etherwallet/releases/download/v3.9.0/dist-v3.9.0-parityenabled.zip

[2017-06-14 09:48] tayvano commented on #558
Let me know if anyone needs further help regarding this.

[2017-06-14 09:48] #558 closed

[2017-06-14 09:51] tayvano commented on #545
I've already confirmed that this isn't working on Safari yet. Let me know if it works for anyone. :( : (

https://github.com/kvhnuke/etherwallet/releases/download/v3.9.0/dist-v3.9.0-parityenabled.zip

[2017-06-14 10:31] 5chdn commented on #551
Interesting, but this is not yet checking the dictionary, does it?

[2017-06-14 13:31] wladim31 commented on #500
**Tell me how to scan a Private Key what program?**

[2017-06-14 14:52] johnelgithub commented on #551
@tayvano

Tried to download v3.9.0 from the link you provided but the same window will appear. Chrome has the latest version Version 59.0.3071.86 in a Window 32bit PC still got the same page with unresponsive buttons.

On the other hand, the Parity Phrase I chose before came with a Private Key that I kept in my files and when I used it to access my wallet, it worked.

I think I can take it from he

[2017-06-14 23:17] Abudinho commented on #568
@crptm @tayvano

Ethereum chambers still have my private keys?
They just came back and took my PTOY - 4hours ago?

What can I do to stop them?

[2017-06-14 23:20] tayvano commented on #568
Move all your coins to a new address. I thought that's what you did?!

[2017-06-14 23:23] Abudinho commented on #568
I was trying to, but some was still locked - PTOY was supposed to be locked for 2 weeks (from June 3rd)

This is just absolutely crazy! I still have some ICOs that hasn't arrive yet.
@tayvano

[2017-06-14 23:23] Abudinho commented on #568
I am unable to move my MCO and MYST currently!

[2017-06-14 23:34] Abudinho commented on #568
They sent it to this account - 0xc097FD2d787a677970bF65075dbcdF918dCF2b6c

Can anything be done to get it back?

This is my 'hacked' ETH address they sent it from - 0x47629714bf27937c654a6891ecc2a766b96e5698

@tayvano @crptm

Please help! These guys have killed me!

[2017-06-15 04:58] rstormsf opened #580 "Enable HSTS headers on your SSL domain"
I don't see any reason why you don't have it enabled
[code]
I would expect something like:
[code]
and I'd also want to have it at
chrome://net-internals#hsts

We have to protect the people against MiTM attacks with SSLstrip

[2017-06-16 10:43] helpppelepelpel commented on #360
Hey,
There are multiple ways to enter your account.
When I use the UTC file + password I seem to go to a different adress then when I use the ciphertext (which is in the UTC file).
So try opening the UTC file with notepad, and copy the part after "Crypto":{"ciphertext":" and paste it into the ''Paste/Type Your Private Key'' section on myetherwallet site.
That might bring you to the right adress.

[2017-06-16 12:36] VadimIsk commented on #360
it all have been tried.
On different computers I created wallets, there were no problems. I have a Sony Vaio laptop and he gave me the wrong address. I made a wallet on myetherwallet.com.
I have two "UTC file" .  "ciphertext" сompletely different. I insert in the field "Insert / enter your secret key" all that is, very different addresses are opened
I need the account, it does not open

[2017-06-16 13:33] aresabi opened #584 "5 ETH lost during wallet-creation on iOS"
Hello guys,

i've purchased 5 ETH on btcdirect.eu. I've created a wallet on myetherwallet.com with my iPhone and safed the private key. Immediately after creating a wallet, i've copied the adress and pasted it on btcdirect.eu.
The ETHs were successfully sent https://etherscan.io/address/0xf17c2bf4dc47a0d7fe8ced6e6b344eb4fd4908a4

After typing the Private Key on myetherwallet.com, i get logged in t

[2017-06-16 14:18] tayvano commented on #584
Please EMAIL US so that we can talk without comprising your security.

support at myetherwallet.com. Put URGENT in the subject line, but I'll be on the lookout.

[2017-06-16 14:18] #584 closed, assigned to nobody

[2017-06-17 06:38] k-a-s-o-u opened #585 "Withdraw Ethereum to different wallet address was generated by wrong private key"
Hello,
I used MyEthereumWallet and login by secret key but I mistyped it ( I noticed it after) and took it as true and sent my Ethereum from Bittrex.
After withdraw I re-login to MyEthereumWallet to type secret key but no deposit despite having waited for a long time.
I know here is the forum for Ethereum.js but I asked Bittrex but no help, also sent message to MyEtherWallet customer support last

[2017-06-17 11:56] veox opened #589 "Tx nonce overlap when starting a new auction while the previous one's transactions are not yet mined"
I've went through the ENS page and started two auctions, about 5 minutes apart.

The transactions for the first one have not yet been mined when the second one's have been submitted to the network.

This resulted in nonce overlap, as below:

txhash                                                             | nonce | call     | namehash
:---

[2017-06-17 12:09] vangugus commented on #461
I have the same problem :/