[2018-05-11 16:58] #1841 closed, assigned to nobody

[2018-05-11 17:57] gamalielhere commented on #1842
Removed the token from the darklist in #1843. Should reflect it once we make a release. Thanks for catching this.

[2018-05-11 17:57] #1842 closed, assigned to nobody

[2018-05-11 19:21] gamalielhere commented on #1826
The API used to access the Nano S only works when started from an HTTPS connection as a policy - you can choose to run it on a local server though. Also: [Reddit comment about the same issue](https://www.reddit.com/r/ledgerwallet/comments/7glnzy/ledger_nano_s_on_mew_offline/dqjxyps)

[2018-05-11 19:21] #1826 closed, assigned to nobody

[2018-05-13 17:32] StirlinCastle opened #1847 "Transfered Tomo from Idex.market but in myetherwallet balance is 0"
Hi there,

When I Checked the transaction history, I can see my 45 Tomo however in myetherwallet the balance is 0.

Could anyone help me with this?

[2018-05-17 23:51] nok141829 opened #1854 "etherwallet/json_relay_node/response.js"
https://github.com/kvhnuke/etherwallet/blob/285839a554dfb2c6c706df7beff7804a35130e41/json_relay_node/response.js#L15

[2018-05-18 18:13] gamalielhere commented on #1854
@nok141829 What is this PR for?

[2018-05-18 19:29] gamalielhere commented on #1847
@StirlinCastle can you give me your public address?

[2018-05-18 19:37] gamalielhere commented on #1821
@jeee We are in the process of creating a phone app that is similar to what you are recommending. You can find out about it more [here](https://mewconnect.myetherwallet.com/#/)

[2018-05-18 19:37] #1821 closed, assigned to nobody

[2018-05-19 21:59] ghost opened #1860 "Add a guide of how to add altcoin nodes"
- [ ] Remove deprecated json node file (And it is broken)
- [ ] Add example parity/geth config for the public rpc node
- [ ] Add example nginx proxy config
- [ ] Add example cloudfront config guide
- [ ] Show example PR for adding node to MEW repository

[2018-05-20 16:19] InterestedInterloper opened #1861 "3.21.11 not working offline with ledger nano s"
Hi,

I downloaded this most recent version and using both Chrome and Firefox tried to access my Ledger nano s but the "Connect to Ledger Wallet" button doesn't do anything.  Using the online version the wallet popup displays and everything works fine.  Any ideas on why this might be?

Thanks.

[2018-05-21 16:40] #1854 closed

[2018-05-23 11:55] dec1 commented on #1584
This is not fixed. The popup disappears on its own (in a second or two) - at least if you paste a signed (offline) transaction and send it

[2018-05-23 12:09] andrewheadricke opened #1864 "ENS lookup says "Requires --pruning=archive" even though it's not needed"
I run a private Parity node, and point MEW to use it.  When trying to lookup an ENS name it throws an error about needing to run with `--pruning=archive`.  But I am able to resolve ENS domains without that doing it manually.

[2018-05-24 20:21] rickie45 opened #1867 "myetherwallet shows 0, mycrypto doesn't?"
I can see my tokens but I can't see my balance, it shows 0
I think it's this issue [#1847](https://www-github.com/kvhnuke/etherwallet/issues/1847)??

[2018-05-25 00:29] kvhnuke commented on #1810
https://github.com/kvhnuke/etherwallet/blob/mercury/MEW-PUP-KEY-GPG

[2018-05-29 23:43] #1801 closed, assigned to nobody

[2018-05-29 23:43] #1810 closed, assigned to kvhnuke

[2018-05-30 02:04] anna-mo commented on #921
@tayvano i have the same question, but i always in a custom node which select ELP-155 to make sure the chainId will not be 1, but once send transaction the raw transaction will occurs, always show that chainid=1 ,and comes an invalid sender error, i don't know what's wrong

[2018-05-30 15:15] tayvano commented on #921
Can you please try on https://mycrypto.com and let me know if you have the same issue.

[2018-06-03 08:07] CrytoLIFE commented on #1001
Your network selected on MyEtherWallet must be the same as your network where you token: JV, located

[2018-06-03 08:23] kitcoun opened #1887 "Tokens send"
After each broadcast, the option will select ETH again. How can I solve this problem

[2018-06-03 19:57] filips123 commented on #564
Is there any update?

[2018-06-07 05:49] josoahgithinji opened #1893 "i suspect my Account is hacked.What to do?"
Hi,
I suspect from yesterday my Account has been having strange activities !
What can I do to Stop it.
It contains all my Tokens
Josiah Githinji

[2018-06-07 16:25] gamalielhere commented on #1893
You should migrate your tokens to a new wallet or get a hardware wallet since it's safer.
For reference: https://kb.myetherwallet.com/migration/

[2018-06-07 16:58] #1893 closed, assigned to nobody

[2018-06-08 13:51] QuangThong81 commented on #1744
Mau xanh luc

[2018-06-09 07:29] joe1234555 opened #1896 "Cannot send funds"
No matter what I set the fee to the transaction doesn't send (between accounts) and eventually I get a message 'transaction couldn't be successfully executed' from account A to account B. etherscan never finds the tx hash either. I am connected to peers and blocks are syncing, using latest versions of etherwallet (and I try with mist too). Please help?

[2018-06-09 07:44] joe1234555 commented on #1896
Ok so the only way I managed to get it to work after a day of trying was by opening both Ethereum wallet AND Mist and sending from Mist. I did so after finding this thread (because my Mist wasn't finding any peers at all): https://github.com/ethereum/mist/issues/3492

I have to say this is very very bad!

[2018-06-10 15:44] ghost opened #1898 "(error_21) Not a valid ERC-20 token AIT"
I deployed contract by myetherwallet and
see it(and find by search) in Ethplorer and Etherscan
https://ethplorer.io/address/0x73ce0199ad8df2eb387a5240429380454ecd2548
https://etherscan.io/token/0x73ce0199ad8df2eb387a5240429380454ecd2548

can add custom token but when click "Click to load" get error
(error_21) Not a valid ERC-20 token

[2018-06-11 13:50] ghost commented on #1898
?Anybody answer here

[2018-06-14 11:58] b10c77 commented on #1861
You need to run MEW though SSL for the Ledger Nano S to work.

[2018-06-14 12:07] InterestedInterloper commented on #1861
How the hell do you do that when offline?

On Thu, Jun 14, 2018, at 7:58 AM, Steven Martins wrote:

Links:

  1. https://github.com/kvhnuke/etherwallet/issues/1861#issuecomment-397268837
  2. https://github.com/notifications/unsubscribe-auth/AloqoiNPnOb9M-_vxlPr5IyW6JQRPgHoks5t8k_YgaJpZM4UGIRI

[2018-06-14 12:16] b10c77 commented on #1861
nginx or caddy allow you to run a reverse proxy and attach an ssl certificate effectively providing a local server with ssl capabilities.

Please see: https://github.com/kvhnuke/etherwallet/issues/1429

https://github.com/benjaminion/eth-parity-qnap/wiki/Connecting-to-MyEtherWallet

[2018-06-14 12:33] InterestedInterloper commented on #1861
Thanks!

On Thu, Jun 14, 2018, at 8:16 AM, Steven Martins wrote:

Links:

  1. https://github.com/kvhnuke/etherwallet/issues/1429
  2. https://github.com/kvhnuke/etherwallet/issues/1861#issuecomment-397273149
  3. https://github.com/notifications/unsubscribe-auth/Aloqogwj1iOOOHgRJ533JSDdunDC32bMks5t8lQQgaJpZM4UGIRI

[2018-06-16 05:52] geahaad commented on #1804
Same here. Build on OSX w/ Node v10.1.0 fails.
[code]
Rolling back to v9.4.0 helped.

[2018-06-17 12:40] kostepanych opened #1913 "How to generate offline transaction for new token?"
Is there possibility to generate offline transaction on offline PC for new token that is not present in the select list yet?
Maybe I should add something to sources?

[2018-06-18 22:55] ak3435 opened #1915 "transaction nonce too low . try incrementing the nonce"
im trying to move icx from trezor and it gives me this error
can someone help ?

[2018-06-19 12:39] Sowmayjain commented on #298
Give a try to https://conteract.io for that purpose. Pre-initialization of functions with pre-filled values. It's really makes it easy to share functions with noobs with pre-determined arguments.

For example, this link - [https://conteract.io/c/86198dcd06?function=getAddr&AddrName=owner](https://conteract.io/c/86198dcd06?function=getAddr&AddrName=owner) - will automatically init the `getAddr` fun

[2018-06-21 17:40] ghost opened #1919 "Can't transfer musicoin from trezor"
Hi guys, i have error "insufficient funds for gas * price + value" when trying send musicoins. I have more than i want to send but i have that error. When im using wallet from JSON File everything working fine . Error is only on trezor.

[2018-06-22 18:14] kostepanych commented on #1913
I found this in the etherwallet-master.js file:

`module.exports={
  "tokens": {
    "OMG": {
      "name": "OmiseGO",
      "decimals": 18,
      "address": "0xd26114cd6EE289AccF82350c8d8487fedB8A0C07"
    },`
And this:
`121:[function(require,module,exports){
module.exports=[
	{
		"address": "0xa024e8057eec474a9b2356833707dd0579e26ef3",
		"symbol": "$FYX",
		"decimal": 18,
		"type": "default"
	},

[2018-06-25 19:16] l8nite opened #1924 "Uppercase hex letters in ETH address fail on Offline Send Step 1"
Trying to use this: https://www.myetherwallet.com/#offline-transaction

Input "From Address" for Step 1: Generate Information (Online Computer):

The address I used is: 0xAA7f9d16df7eb2ec96ca6318b0129423730a87ac

Expected: It generates the gas price and nonce.
Actual: It fails to recognize the address and doesn't do anything.

If I change the address to use lower-case "aa" at the beginning, it wor

[2018-06-25 19:24] wbobeirne commented on #1924
@l8nite capitalization in addresses is what's known as "checksumming". This makes it really difficult to trick someone with a fake address that's one character different, since the capitalization would be entirely different, even though there's only 1 character changed.

However, not all apps show checksummed addresses, so addresses only work in one of three cases:

* The address is ALL lowercase

[2018-06-25 20:02] l8nite commented on #1924
Thank you!

[2018-06-25 20:02] #1924 closed, assigned to nobody

[2018-06-25 21:14] rstormsf opened #1925 "Change RPC Endpoint for POA.network"
Infura has provided their support for https://poa.network
Old: https://core.poa.network
New: https://poa.infura.io

Creating this issue in order to provide following PR

[2018-06-26 15:45] #1925 closed, assigned to nobody

[2018-06-27 00:33] nolash opened #1929 "Can't access Ledger Nano S from MEW offline"
Have latest firmware and ethereum app in Ledger. I click the "connect to ledger wallet" button, nothing happens.

 I tried to follow this recipe:

https://ethereum.stackexchange.com/questions/26193/cant-open-ledger-nano-s-at-myetherwallet

Thus; Browser support is on. Contract data is on. Freshly restarted. Nothing else accessing it.

I've tried both myetherwallet.com online and local offline vers

[2018-06-27 00:43] nolash commented on #1929
Hmm, trying again it actually worked if I use the online version. But offline it doesn't. So let this ticket then be about offline access to Ledger %)

[2018-06-27 00:47] gamalielhere commented on #1929
@nolash  Please refer to #1861

[2018-06-28 10:57] subramanianv opened #1933 "Ability to access the account generated using mnemonic and derivation path"
Right now, if you put in a derivation path under mnemonic , it generates a list of addresses. Instead, it should generate the exact address, not show a list.

Eg: m/44'/60'/1'/0 should show the address derived for the path m/44'/60'/1'/0 and not a list m/44'/60'/1'/0/1... m/44'/60'/1'/0/10...

[2018-06-29 03:28] #1929 closed, assigned to nobody

[2018-06-29 12:00] repsorp opened #1936 "unsafe:chrome-extension ? (v3.21.24)"
chromium Version 68.0.3440.75 (Build officiel) Built on Ubuntu , running on Ubuntu 16.04 (64 bits)

Clicking on "My Wallet" or "Add Wallet" in chrome-extension-v3.21.19
![capture du 2018-06-29 13-37-05](https://user-images.githubusercontent.com/6297032/42090971-cd60a53c-7ba3-11e8-8f52-098a1df31e90.png)
get me to a blank page (new tab) with the following message:
![capture du 2018-06-29 13-38-57](h

[2018-07-02 06:06] mrenoon opened #1938 ""DGX" in the token list should point to DGX2.0 token instead of DGX1.0 token"
In the "Token Balances" part, the symbol "DGX" is currently pointing to the old DGX1.0 token. Digix has already launched DGX2.0 and the symbol "DGX" should point to it instead.
### Details of DGX 2.0 token, as taken from [etherscan](https://etherscan.io/token/0x4f3afec4e5a3f2a6a1a411def7d7dfe50ee057bf):
* Address: 0x4f3afec4e5a3f2a6a1a411def7d7dfe50ee057bf
* Symbol: DGX
* Decimals: 9

[2018-07-02 16:01] #1938 closed, assigned to nobody

[2018-07-05 08:53] jeee opened #1943 "chrome-extension: custom tokens not showing on homepage"
When I add a custom token it does not show up in the list with tokens you can add on the mainpage

[2018-07-05 08:54] jeee opened #1944 "chrome-extension: not able to add custom tokens with watch only account"
To be able to add custom tokens I need to first have a real account. This could be accessible to view accounts as well.

[2018-07-06 22:59] PaulLaux commented on #317
Hi **MyEtherWallet** team,

Tnx for your work on the wallet.

Please add contract to "Existing Contract" interface on https://www.myetherwallet.com/#contracts

Details:

1. Name: MonetaryCoinEro Token

2. Address: **0x227412a7d92bca453b5e2f790fc8282ca2e1a686**

3. ABI: https://gist.github.com/PaulLaux/48cf9165edb4ca6f7379b9328ce02d41

4. Verified code: https://etherscan.io/address/0x227412a7d92bca

[2018-07-07 13:31] reiven commented on #1504
Any update on this feature? Now that we have a highly congestionated networks it will be great to send several txs with 'manually incremented' nonce

[2018-07-10 00:05] greekmafia opened #1949 "ETC block stuck"
Hello, I sent 27.0141 ETC to myetherwallet earlier. After a few minutes it showed as unconfirmed then was shown as IN and also was added to my balance.  Now 4 hours later I checked gastracker only to find that the 27.0141 ETC was removed from balance but still shows as IN with 898 confirmations back to 897 every so often.  When I click on my hash it shows not found.  and when you click on the bloc

[2018-07-11 01:17] polynamaude commented on #756
@ncyber527 You don't seem to understand much about how the system works. The basis is a irreversible ledger so how could magic give you back your ether. Also you're so ignorant that you're getting mad at a pure stranger who only did the mistake of wanting to give you information about what just happened to you.

[2018-07-15 14:58] etheroid commented on #756
if you need your stolen or lost bitcoins , ethereum and other cryptocurrency recovered, contact recovercoins(@)consultant.com, their team of hackers can trace lost or stolen crypto and get it back fast.

[2018-07-15 15:18] MrLuit commented on #756
Don't contact anyone claiming they can recover your coins, there's a very high chance they are only out to get your private key and take your remaining coins.

@kvhnuke (likely) a scam ^

[2018-07-15 15:23] hackmod commented on #756
![image](https://user-images.githubusercontent.com/32324335/42735415-660e6dd6-888e-11e8-8469-ffea0f9fa624.png)

[2018-07-16 16:44] TheCookieLab opened #1959 "Offline Transactions and Ultra-High Gas Price"
When generating offline transactions, the Gas Price in step 1 looks like it's denominated in wei. However in step 2, the Gas Price is denominated explicitly in gwei and thus you get a ridiculous Gas Price auto-filled. This easily leads to huge, disproportionate transaction fees.

For example, my transaction from this morning estimated a gas price of 41000000000 wei in the first step. A problem her

[2018-07-21 10:17] ghost opened #1968 "Abandon "Internet Explorer""
IE does not support MetaMask extension or hardware wallet.
Therefore, IE can not be said to be good security.

You should urge the transition from IE to Chrome, Firefox, Edge etc ..

[2018-07-23 08:46] jmacwhyte commented on #1847
@kvhnuke This issue should be closed.

[2018-07-23 08:47] jmacwhyte commented on #1919
@bartgb This has nothing to do with MEW. Please contact trezor support.

@kvhnuke This issue should be closed.

[2018-07-23 08:48] jmacwhyte commented on #1915
@ak3435 You probably tried to send a second transaction too soon. Please wait and try again.

@kvhnuke This issue should be closed ;)

[2018-07-23 08:51] jmacwhyte commented on #1796
@kvhnuke Let's close this issue as it is resolved.

Is it helpful for me to flag issues that need to be closed? I hate seeing so many open tickets. If you can give me permissions to close issues I will help prune them for you. You can @jmacwhyte me on twitter if you want to discuss more.

[2018-07-23 13:46] #1919 closed, assigned to nobody

[2018-07-23 13:58] hackmod commented on #1919
@bartgb problem resolved by https://github.com/trezor/trezor-mcu/pull/381

[2018-07-23 20:32] #1915 closed, assigned to nobody

[2018-07-23 20:33] #1861 closed, assigned to nobody

[2018-07-23 20:35] #1796 closed, assigned to nobody

[2018-07-23 20:39] gamalielhere commented on #1913
@kostepanych adding your to there would add the token. You can also try using the add custom token feature on the lower right when you unlock your wallet. I'm closing this issue. Don't hesitate to reopen it.

[2018-07-23 20:39] #1913 closed, assigned to nobody

[2018-07-23 20:40] #1847 closed, assigned to nobody

[2018-07-23 20:41] gamalielhere commented on #1603
This has been fixed recently. I'll close this issue. Don't hesitate to open it if you believe it's still not fixed.

[2018-07-23 20:41] #1603 closed, assigned to nobody

[2018-07-23 20:42] gamalielhere commented on #1592
Closing this issue. Don't hesitate to reopen if you need to.

[2018-07-23 20:42] #1592 closed, assigned to nobody

[2018-07-23 20:43] gamalielhere commented on #1590
Working as intended like @CryptoSmileee said. Closing issue. Don't hesitate to reopen.

[2018-07-23 20:43] #1590 closed, assigned to nobody

[2018-07-23 20:44] gamalielhere commented on #1551
I'm gonna close this. Don't hesitate to reopen if needed.

[2018-07-23 20:44] #1551 closed, assigned to nobody

[2018-07-23 20:45] gamalielhere commented on #1581
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 20:45] #1581 closed, assigned to nobody

[2018-07-23 20:46] gamalielhere commented on #1520
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 20:46] #1520 closed, assigned to nobody

[2018-07-23 20:49] gamalielhere commented on #1749
@Varunram go ahead and make a PR for it. I'll close this issue now. Don't hesitate to open it.

[2018-07-23 20:49] #1749 closed, assigned to nobody

[2018-07-23 20:53] gamalielhere commented on #1556
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 20:53] #1556 closed, assigned to nobody

[2018-07-23 20:55] #1509 closed, assigned to nobody

[2018-07-23 20:56] gamalielhere commented on #1477
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 20:56] #1477 closed, assigned to nobody

[2018-07-23 20:57] gamalielhere commented on #1456
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 20:57] #1456 closed, assigned to nobody

[2018-07-23 20:58] #1371 closed, assigned to nobody

[2018-07-23 20:58] gamalielhere commented on #1336
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 20:58] #1336 closed, assigned to nobody

[2018-07-23 20:59] gamalielhere commented on #1324
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 20:59] #1324 closed, assigned to nobody

[2018-07-23 20:59] gamalielhere commented on #1300
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 20:59] #1300 closed, assigned to nobody

[2018-07-23 21:03] gamalielhere commented on #481
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 21:03] #481 closed, assigned to nobody

[2018-07-23 21:04] jmacwhyte commented on #616
@gamalielhere Do you think this year-old issue can be closed? :D

[2018-07-23 21:04] gamalielhere commented on #381
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 21:04] #381 closed, assigned to nobody

[2018-07-23 21:05] gamalielhere commented on #616
Yeah. I'm closing it now.

[2018-07-23 21:05] #616 closed, assigned to tayvano

[2018-07-23 21:06] gamalielhere commented on #593
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 21:06] #593 closed, assigned to nobody

[2018-07-23 21:08] jmacwhyte commented on #1366
Looks like this feature request didn't get any traction. Close this issue? @gamalielhere

[2018-07-23 21:09] gamalielhere commented on #912
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 21:09] #912 closed, assigned to nobody

[2018-07-23 21:09] gamalielhere commented on #866
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 21:09] #866 closed, assigned to nobody

[2018-07-23 21:11] gamalielhere commented on #804
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 21:11] #804 closed, assigned to nobody

[2018-07-23 21:11] gamalielhere commented on #793
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 21:11] #793 closed, assigned to nobody

[2018-07-23 21:11] gamalielhere commented on #787
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 21:11] #787 closed, assigned to nobody

[2018-07-23 21:12] gamalielhere commented on #764
Closing this issue. Don't hesitate to reopen if needed.

[2018-07-23 21:12] #764 closed, assigned to nobody

[2018-07-23 21:14] #651 closed, assigned to nobody

[2018-07-23 21:31] #1366 closed, assigned to nobody

[2018-07-23 22:17] jmacwhyte commented on #1528
@gamalielhere Here's another one that appears resolved.

[2018-07-24 10:24] Darayavaush commented on #1590
I honestly don't see how this is working is intended. It's trivial to silently overwrite a tx, potentially losing Ethereum if that tx was creating a contract (as I did, yay). Even a simple confirmation dialog "This will overwrite a tx. Are you sure you want to continue?" would be better than nothing.

[2018-07-24 11:41] Simon0x commented on #1590
Why is it a problem to wait until the transactions are confirmed?
Since this is a very special behavior where you first send two transactions via MetaMask and then via MEW. Here you may have to wait. Otherwise send the transactions directly with MEW, then it's no problem?

[2018-07-24 11:46] Simon0x commented on #1898
Maybe it's a problem with your contract code.
But you have not verified your code on Etherscan, so we are not able to view the code.

[2018-07-24 13:45] ghost commented on #1898
THe issue can be closed, for full ERC-20 support it was neccessary also to write all variables, not only methods

[2018-07-24 14:15] Darayavaush commented on #1590
But I just answered that. It is a problem because it's trivial to silently overwrite a tx, potentially losing Ethereum if that tx was creating a contract. How can you not see how this behavior is very much undesirable, to say the least?
Also, one pending transaction is enough, and it doesn't necessarily have to come from Metamask, just from any other source outside MEW.

[2018-07-24 16:23] #1898 closed, assigned to nobody

[2018-07-26 08:56] tayvano commented on #1528
@jmacwhyte I doubt it. This guy has a spreadsheet going of similar issues and people. Its complicated by the fact that there might actually be some derivation problem with mnemonics / NEO.

13 days ago: https://www.reddit.com/r/CryptoCurrency/comments/8yi9w2/warning_to_ledger_users_this_issue_is_still_not/

Another troubleshooting tip that we just discovered:

**Make sure you _aren't_ entering pas

[2018-07-26 09:00] tayvano commented on #1528
Also, Ledger Live now uses a different derivation method (not simply a different path)

The details are documented here: https://github.com/MyCryptoHQ/MyCrypto/issues/2070

While this has no relation to OP's issue as Ledger Live was only released a few weeks ago, it can/has/will create similar problems for people who use their Ledger with the Ledger Live app and MEW as its unlikely they will be ab

[2018-07-26 09:05] numero41 commented on #1528
@tayvano
@jmacwhyte

I confirm, this guy (me) has a list of 20 people at least that have similar problems, about 10 with neo, and
 5 with mew (with or without Ledger).

My various threads on Reddit has over 20k views.

I have more people and more informations, but since no one seems to care about it (it's been more than 6 months now), I just took some time away from the issue before getting mental

[2018-07-27 11:18] avirdoz opened #1975 "Add custom token offline"
Looking for opportunity to add a custom token for offline mode. It's hard to edit etherwallet-master.js file for new tokens, maybe there is some constructor?
P.S. I'm trying to add AURORA DAO token - 0xCdCFc0f66c522Fd086A1b725ea3c0Eeb9F9e8814 contract address.

[2018-07-27 19:29] gamalielhere commented on #1975
@avirdoz have you tried adding a custom token on the lower right of the screen after unlocking your wallet?

[2018-07-28 11:00] ghost opened #1978 "Migrate to Trezor Connect v5"
TREZOR remade the whole library from scratch

https://github.com/trezor/connect/tree/v5

@kvhnuke @gamalielhere @karel-3d @prusnak @szymonlesisz

[2018-07-28 12:20] prusnak commented on #1978
v5 API is much easier to use. Let's use this issue to ask for any questions you might have.

[2018-07-28 12:52] ghost commented on #1978
@prusnak  If v5 is much easier to use, why not we've implemented them on MyEtherWallet, the 2nd large platform for Trezor wallet users yet??

![default](https://user-images.githubusercontent.com/35648187/43356694-6a3b36e2-92b0-11e8-9af0-31d6b3da7be3.PNG)

I hope the next version of MyEtherWallet comes with new v5 API!! Let's go! 🚀

[2018-07-28 13:21] prusnak commented on #1978
Because it was released yesterday

[2018-07-28 14:07] ghost commented on #1978
@prusnak So you are going to work for myetherwallet integration right?? 😄

[2018-07-28 18:25] avirdoz commented on #1975
I don't have such option on "Send-Offline" page. It's like a template for all tokens in file which i specified on 1st message.

[2018-07-29 02:54] jmacwhyte commented on #1528
@tayvano This was just a thought from a project management perspective. The title "Can't access to my wallet anymore" is ambiguous, the thread is very long, and there hasn't been any activity for 6 months. If the issue is still not resolved, it would be better to start a new issue with a descriptive title and TL;DR: of the situation to make it more helpful for people who have a similar issue or wh

[2018-07-29 17:13] 7-- opened #1980 "Add Augur HD derivation path"
Edit:  just noticed m/44'/60'/0'/0  is the first path.

[2018-07-30 23:13] tayvano commented on #1528
@jmacwhyte  I'm no longer working with MyEtherWallet but hopefully they consider your feedback. I am personally opposed to closing issues that don't have any sort of resolution as I find it disheartening and insulting to the original poster(s) and I prefer to encourage contributors. Contributors are both developers AND reporters of issues / people giving feedback. That said, there is certainly val

[2018-08-01 16:51] #1628 closed, assigned to nobody

[2018-08-01 16:51] gamalielhere commented on #1628
Closing for inactivity.

[2018-08-02 12:03] numero41 opened #1989 "Public address has changed using Ledger Nano + Mew **($20k funds LOST)**"
Hello,

****Here is an issue that has not been fixed for 7 months now, and that many users encountered while using Ledger Nano + Mew (or Mew alone, or Ledger + other wallets).**
I've made many threads on Reddit, the main one being this one :

https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/

I have been very active for many months, spent hundreds of ho

[2018-08-02 12:06] numero41 commented on #1528
@jmacwhyte
Thanks for the comment, I followed your advice and made a new thread here :

https://github.com/kvhnuke/etherwallet/issues/1989

If you have some time to help me that would be very cool, I had some very tough times since 7 months and feel desperate, like many other users

[2018-08-05 23:48] #1980 closed, assigned to nobody

[2018-08-06 20:51] repsorp commented on #1936
Not working here since v3.21.15
My last try...

[2018-08-06 21:18] gamalielhere commented on #1936
@repsorp can you try hard refreshing your browser?

[2018-08-06 21:37] repsorp commented on #1936
Don't know how to do this with Chromium...

Tried this:
Chrome: Quick hard refresh can be done by using the following short cut keys
Linux: Hold down Ctrl and click the Reload button. Or, Hold down Ctrl and press F5.

Didn't help, same issues

[2018-08-06 21:42] gamalielhere commented on #1936
@repsorp can you try updating your version to Version 68.0.3440.84 (Official Build) (64-bit)? I just tested there and it seems to work fine.

[2018-08-06 21:49] repsorp commented on #1936
This version is not available yet in my repo...

[2018-08-06 21:51] repsorp commented on #1936
I'll wait for this version to be available and I'll tell you then
Thanks for your help

[2018-08-06 21:53] gamalielhere commented on #1936
@repsorp If you can though, try using google chrome. Let me know how it goes!

[2018-08-06 23:50] repsorp commented on #1936
Didn't find 68.0.3440.84 (Official Build) (64-bit)
https://chromereleases.googleblog.com/2018/07/stable-channel-update-for-desktop.html
From a beta or dev channel ?

[2018-08-07 16:07] gamalielhere commented on #1936
@repsorp we actually just downloaded it from one of the app stores. But it looks like its from the stable channel. https://chromereleases.googleblog.com/2018/07/stable-channel-update-for-desktop_31.html

[2018-08-10 22:37] repsorp commented on #1936
chromium Version 68.0.3440.75
Everything running smoothly with v3.21.20
No more issues !
Big thanks
(didn't try with Chrome 68.0.3440.84, sorry)

[2018-08-13 11:17] alonbg commented on #1936
MacOS v10.13.4
Chrome version 70.0.3521.0 (Official Build) canary (64-bit)
Extension v3.21.20

When installing extension getting similar error (now  _domains_ , previously _url_)

fails on line
`const allDomains = ealBlacklisted.domains.concat(iosiroBlacklisted.domains);`

[code]

[2018-08-13 14:07] alonbg opened #2005 "CORS error is misinterpreted and not handled correctly"
Browser <-> nginx proxy <-> Private blockchain Parity 1.11.8

Parity is set with `--jsonrpc-cors all`

Chrome asks for `Access-Control-Request-Headers: authorization,content-type`
but `Authorization` was not included in the `Access-Control-Allow-Headers` response header

Chrome's console:
[code]

[2018-08-13 16:41] gamalielhere commented on #1936
@alonbg the url error occurs when the chrome tab doesn't have a url. It's usually when you're inspecting the background page for an extension. The other error seems to be inconsistent. I can't seem to replicate it. Let me know if this helps.

[2018-08-15 19:18] nmurthy opened #2012 "[Feature Request] - Join keybase and sign signatures with your verified key"
[Hi!
Thanks so much for working on this project. I use it all the time, and it's awesome! With all of the recent DNS hacks and other concerns though, I really like to run a locally hosted version with the latest verified releases.

I really appreciate that you already put your signatures up with the release, so I'm able to easily verify that they've not been tampered with.

Have you heard of [keyb

[2018-08-18 21:31] vahidwafapoor opened #2019 "Cannot Generate Transaction - Trezor - ETC"
solved.

[2018-08-20 16:17] #2019 closed, assigned to nobody

[2018-08-21 07:50] yzs981130 commented on #878
same question
changes about ENS in globalService.js doesn't work, changes of any other tabs work.

eg.
[code]
can't remove ENS tab in index.html

Thanks a lot.

[2018-08-27 02:02] dylanpoe opened #2031 "notes for when deploy etherwallet to new VM"
* for mac,you should be a root user or user who has the root autourity to ```npm i```
* you gulp should not 4.0 version ,fro gulp 4.0 doesn't support some features in 3.9
* hope you enjoy your journey when making incredible changes~

[2018-08-29 09:44] kvhnuke commented on #1978
@SteveMieskoski we should use v5 for mew v5 https://github.com/MyEtherWallet/MyEtherWallet

[2018-08-29 18:06] gamalielhere commented on #21
Closing this for inactivity

[2018-08-29 18:06] #21 closed, assigned to nobody

[2018-08-29 18:21] gamalielhere commented on #409
Closing this for inactivity.

[2018-08-29 18:21] #409 closed, assigned to kvhnuke

[2018-08-29 18:25] gamalielhere commented on #886
Closing this for inactivity.

[2018-08-29 18:25] #886 closed, assigned to nobody

[2018-08-29 18:26] gamalielhere commented on #781
Closing this for inactivity.

[2018-08-29 18:26] #781 closed, assigned to nobody

[2018-08-29 18:27] dternyak commented on #886
😁 Fair enough.

We ended up building https://github.com/MyCryptoHQ/shepherd to satisfy this FWIW.

[2018-08-29 18:27] gamalielhere commented on #729
Closing this for inactivity.

[2018-08-29 18:27] #729 closed, assigned to nobody

[2018-08-29 18:27] gamalielhere commented on #633
Closing this for inactivity.

[2018-08-29 18:27] #633 closed, assigned to kvhnuke

[2018-08-29 18:28] gamalielhere commented on #1390
Closing this for inactivity.

[2018-08-29 18:28] #1390 closed, assigned to nobody

[2018-08-29 18:28] gamalielhere commented on #1314
Closing this for inactivity.

[2018-08-29 18:28] #1314 closed, assigned to nobody

[2018-08-29 18:31] gamalielhere commented on #971
Closing this for inactivity.

[2018-08-29 18:31] #971 closed, assigned to nobody

[2018-08-29 18:32] gamalielhere commented on #993
Closing this for inactivity.

[2018-08-29 18:32] #993 closed, assigned to nobody

[2018-08-29 18:32] gamalielhere commented on #1050
Closing this for inactivity.

[2018-08-29 18:32] #1050 closed, assigned to nobody

[2018-08-29 18:33] gamalielhere commented on #1635
Closing this for inactivity.

[2018-08-29 18:33] #1635 closed, assigned to nobody

[2018-08-29 20:01] gamalielhere commented on #357
@avatar-lavventura is this still an issue?

[2018-08-29 20:01] gamalielhere commented on #368
Closing for inactivity.

[2018-08-29 20:01] #368 closed, assigned to nobody

[2018-08-29 20:02] gamalielhere commented on #369
Closing for inactivity.

[2018-08-29 20:02] #369 closed, assigned to nobody

[2018-08-29 20:14] avatar-lavventura commented on #357
Yeah, I think so.

[2018-08-30 10:18] msuess opened #2038 "crash on load in Firefox when U2F is enabled"
* **I'm submitting a ...**
    - [ ] Feature request
    - [x] Bug report

* **Bug Report**
    - What is the current behavior?
Blank page on load
    - If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem
      1. open firefox
      1. go to `about:config`
      1. set `security.webauth.u2f` to `true`
      1. open MEW
    - What is

[2018-08-30 10:19] msuess commented on #2038
Moved from MyEtherWallet/MyEtherWallet#59

[2018-08-31 18:47] corthreat opened #2044 "Invalid status 6a80. - Ledger Interaction with Enable Display Data"
Steps to reproduce:

Start Ethereum App on Ledger and connect with MEW
Enable Smart Contracts Data (yes)
Enable Display Data (yes)
Send Ethereum with Data to your own address
Try to confirm it with Ledger.

MEW will display the smart contract data on the display and asks to confirm the "selector". Upon confirming, MEW responds with "Invalid status 6a80. Check to make sure contract data is on ?"

T

[2018-09-05 07:41] Massat168 commented on #1121
I have same problem.

When I created MEW account, I copied, screen shotted the private key, and downloaded the keystore file, but both private key and keystore file gives me different account.

I have already put my coins in my account, so I cant take my coin out....

Does anyone know how to fix it?

[2018-09-05 10:10] btchip commented on #2044
Can you post the data you were trying to sign and the destination address ?

[2018-09-07 11:45] tonymorella commented on #2044
Can confirm this same issue "Invalid status 6a80. Check to make sure contract data is on ?" with some like the following data:
0x3663323265663161643339343439393361623532313633666335316532363934

[2018-09-09 14:52] tamaile commented on #517
im also here  icant verify my contrract address

[2018-09-11 11:03] gkucmierz opened #2058 "Ability to change nonce"
Sometimes when I want to send transaction to network. I have unconfirmed last transaction and I don`t want to overwite it by next transaction, but I want to increase nonce and push it to the network than.
I think It can be added in advanced section.

[2018-09-12 21:50] #1646 closed, assigned to nobody

[2018-09-14 04:28] ghost commented on #2058
+1 for this issue we need this feature asap @kvhnuke @gamalielhere

[2018-09-14 04:29] eosclassicteam commented on #1978
May I ask for process on this issue?? @kvhnuke @gamalielhere

[2018-09-14 05:57] mr2money opened #2066 "Cannot send from MM"
I have a number of pending transactions that are not showing up when I check the status on the blockchain.  I am not able to send ether any where at this point. They all hang and nothing happens and I just accrue more NONCE at this point. I have tried to clear the pending with out any success. What can I do to reset my meta mask so it works

[2018-09-14 13:39] repsorp commented on #1936
"unsafe:chrome-extension://cahmballlldlagcgabgajchbpgroepfd/cx-wallet.html#my-wallet" error message is back

chromium Version 69.0.3497.81
MEW 3.21.24

![capture du 2018-09-14 15-33-43](https://user-images.githubusercontent.com/6297032/45553450-36ae4180-b834-11e8-812f-3510bd3cfec2.png)

[2018-09-14 15:57] gamalielhere commented on #2066
You might want to open an issue here instead: https://github.com/MetaMask/metamask-extension/issues

[2018-09-14 16:17] gamalielhere commented on #1936
@repsorp refreshing it should fix it. ~I'm also making a fix now.~ #2067 should fix this issue.

[2018-09-17 20:39] #1936 closed, assigned to nobody

[2018-09-17 21:01] repsorp commented on #1936
@gamalielhere
Refreshing didn't make it...
Still doesn't work here

[2018-09-17 21:22] gamalielhere commented on #1936
@repsorp can you redownload the extension folder?

[2018-09-17 21:42] repsorp commented on #1936
@gamalielhere
MEW 3.22 works flawless
Thanks

[2018-09-18 02:28] #2066 closed, assigned to nobody

[2018-09-18 02:31] gamalielhere commented on #1975
@avirdoz My apologies for misunderstanding. Adding custom token offline isn't a feature at the moment. Although, you can make a PR here: https://github.com/MyEtherWallet/ethereum-lists and we can add that to the defaults

[2018-09-18 04:24] rupanand opened #2070 "Verify Error Need Help"
I need Help since im new ..

Sorry! The Compiled Contract ByteCode for 'BKKCoin' does NOT match the Contract Creation Code for [0x7b09#######################].

Contract name(s) found: 'BKKCoin' , 'StandardToken' , 'Token'
Unable to Verify Contract source code.

What  does it mean?

[2018-09-19 17:56] MikeJacob opened #2072 "Ledger Nano S "Error: Code 5""
I am trying to connect my Ledger Nano S to MEW but I keep getting "Error:Code 5" message after a brief pause.
I have enabled Contract Data and the new update should automatically enable Browser Support as it is no longer in the Settings.
I tried different ports and different cables but nothing. I also tried to reinstall the Ethereum App and even restarted my computer.
Note that it also does not wo

[2018-09-20 23:44] ghost opened #2075 "path"

[2018-09-20 23:44] ghost commented on #2075
the path to my network is wrong I can't connect

[2018-09-25 04:24] ShizzleNizzle commented on #1504
*Bump* any update?

[2018-10-04 21:03] DreamXofficial opened #2085 "(error_21) Not a valid ERC-20 token"
(error_21) Not a valid ERC-20 token
created an ERC20 contract, verified by EtherScan, and I can't add it to MEW.

Address: 0x92151A093B6984e93150dd43aff9d8d251f00845
Symbol: DRX
Decimals: 18

[2018-10-04 21:29] gamalielhere commented on #2085
@DreamXofficial It doesn't seem to be confirmed by etherscan:
https://etherscan.io/address/0x92151A093B6984e93150dd43aff9d8d251f00845
https://ropsten.etherscan.io/address/0x92151A093B6984e93150dd43aff9d8d251f00845
https://kovan.etherscan.io/address/0x92151A093B6984e93150dd43aff9d8d251f00845
https://rinkeby.etherscan.io/address/0x92151A093B6984e93150dd43aff9d8d251f00845 .

[2018-10-05 02:08] gamalielhere commented on #2085
Closing this issue.

[2018-10-05 02:08] #2085 closed, assigned to nobody

[2018-10-05 13:10] DreamXofficial commented on #2085
Thanks my problem is solved

[2018-10-16 17:42] #1978 closed, assigned to nobody

[2018-10-17 06:28] ghost opened #2104 "Trezor error : TypeError: The first argument must be one of type string, Buffer, ArrayBuffer, Array, or Array-like Object. Received type undefined"
cc @gamalielhere @kvhnuke @SteveMieskoski

![default](https://user-images.githubusercontent.com/39383087/47066451-20bfe200-d221-11e8-9344-91c5ff39583e.PNG)

Can't unlock trezor due to the bug

[2018-10-17 09:45] prusnak commented on #2104
reports here:

https://www.reddit.com/r/TREZOR/comments/9ow9t3/suddenly_mew_redirects_to/
https://www.reddit.com/r/TREZOR/comments/9ovd8w/typeerror_with_myetherwallet/
https://www.reddit.com/r/TREZOR/comments/9ox4os/no_addresses_to_choose_while_trying_to_connect_to/
https://www.reddit.com/r/TREZOR/comments/9owcul/help_cant_access_my_trezor_using_mew/
https://www.reddit.com/r/TREZOR/comments/9owcdm

[2018-10-17 13:25] prusnak commented on #2104
This is caused by deploying CSP Content Security Policy to MEW website without noticing this will block inclusion of third-party scripts such as connect. You need to add connect.trezor.io to CSP trusted domains.

[2018-10-17 16:55] gamalielhere commented on #2104
@eosclassicteam @prusnak thanks for submitting. We're currently working on a fix.

[2018-10-17 17:20] gamalielhere commented on #2104
Should be fixed now. Please hard refresh your browsers if it still isn't fixed. Don't hesitate to reopen issue if it persists after a hard refresh.

[2018-10-17 17:40] JoeMcCreary commented on #2104
still having issue....

[2018-10-17 17:40] gamalielhere commented on #2104
@JoeMcCreary Have you tried hard refreshing your browser?

[2018-10-17 17:45] JoeMcCreary commented on #2104
yeah several times

[2018-10-17 17:45] gamalielhere commented on #2104
@JoeMcCreary What browser are you using?

[2018-10-17 17:46] JoeMcCreary commented on #2104
Chrome:  And by Hard Refresh do you mean clearing cache and completely closing out then reopening?

[2018-10-17 17:51] JoeMcCreary commented on #2104
inpage.js:1 ATTENTION: In an effort to improve user privacy, MetaMask will stop exposing user accounts to dapps by default beginning November 2nd, 2018. Dapps should call provider.enable() in order to view and use accounts. Please see https://bit.ly/2QQHXvF for complete information and up-to-date example code.
(anonymous) @ inpage.js:1
etherwallet-master.js:5235 SCANTR m/44'/60'/0'/0 Object
$scope

[2018-10-17 17:52] gamalielhere commented on #2104
@JoeMcCreary  Depends on your OS:
Mac - Command + Shift + R
Ubuntu & Windows - Control + F5

[2018-10-17 17:57] JoeMcCreary commented on #2104
I'm using windows 7 on this laptop. I've cleared Chrome cache and closed it out, Several times.

[2018-10-17 17:57] lisyk commented on #2104
it still doesn't work even after hard refresh. I am on Mac

[2018-10-17 17:59] JoeMcCreary commented on #2104
Anyway... good luck! I've got to head out. Thanks for responding... I'm sure you'll get it figured out. I'll try again later. Thanks

[2018-10-17 18:07] sraufcvinga commented on #2104
Hello, the same here for me. I tryed everything you suggest but still doesnt work. I think I should wait for a final fix from you guys. But its a very bad moment just right now for me. Hope you'll fix it soon.

[2018-10-17 18:28] gamalielhere commented on #2104
@sraufcvinga @lisyk @JoeMcCreary It should be fixed now once you do a hard refresh. Closing this issue once again.

[2018-10-17 18:35] lisyk commented on #2104
it works now on Firefox but still having the same issue on Chrome

[2018-10-17 18:42] gamalielhere commented on #2104
@lisyk can you refresh normally?

[2018-10-17 18:48] JoeMcCreary commented on #2104
Refreshed Chrome cache and even rebooted my laptop just grins.... Still getting the same two errors as earlier posted.
-- Refused to frame 'https://connect.trezor.io/' because it violates the following Content Security Policy directive: "default-src 'self'". Note that 'frame-src' was not explicitly set, so 'default-src' is used as a fallback.
-- etherwallet-master.js:144454 Failed to execute 'post

[2018-10-17 18:49] lisyk commented on #2104
nope still doesn't work

[2018-10-17 18:50] lisyk commented on #2104
@JoeMcCreary  did you try Firefox? it works now for me

[2018-10-17 18:53] gamalielhere commented on #2104
I can't seem to replicate it anymore on chrome. I'll keep looking into it

[2018-10-17 18:54] gamalielhere commented on #2104
@lisyk @JoeMcCreary if you guys can, try hard refreshing and then normal refresh.

[2018-10-17 19:17] JoeMcCreary commented on #2104
@gamalielhere  Okay I opened the Developer Tools then right clicked on the Refresh button (up top of Chrome by URL box) and chose "Empty Cache and Hard Reload". Then closed the browser. Still didn't work. Then just decided to do that same thing several times in a row and if finally fixed the problem... man! it was really hanging on to that old data! lol So it's working now in Chrome. Thanks!

[2018-10-17 19:18] gamalielhere commented on #2104
Weird. But thanks for letting me know. I'll go ahead and close this again.

[2018-10-17 19:18] #2104 closed, assigned to nobody

[2018-10-17 19:26] lisyk commented on #2104
@JoeMcCreary @gamalielhere  that's weird but it helped me too. also only after about 10 hard reloads in a row  it works now

[2018-10-17 19:29] JoeMcCreary commented on #2104
@lisyk  Yeah, great! Interesting how it takes so many tries to stick.

[2018-10-17 19:30] gamalielhere commented on #2104
I wonder how that is since we did purge our cache. Anyways, thanks again for helping debug @JoeMcCreary @lisyk

[2018-10-23 13:01] vbaranov opened #2110 "Replace POA community block explorer links with BlockScout block explorer"
- [X] Feature request

POA Network has been developing an open source EVM block explorer called BlockScout. BlockScout provides a better user experience for individuals who are searching for transactions, blocks, and many other aspects of POA.

It would be a great feature to have BlockScout included in MyEtherWallet to replace the community explorer poaexplorer.com

Here is the homepage of BlockSc

[2018-10-23 22:52] #2110 closed, assigned to nobody

[2018-10-25 16:11] kitblake opened #2125 "Address not checksummed link is 404"
When inputting a non-checksummed address in MEW, a js error message appears at the bottom of the page:
```(error_36) Input address is not checksummed. What does that mean?```
"What does that mean?" is a link which 404s:
https://myetherwallet.github.io/knowledge-base/addresses/not-check
The correct URL is:
https://kb.myetherwallet.com/addresses/what-does-checksummed-mean.html

[2018-10-25 22:50] gamalielhere commented on #2125
Closing since it will be included in #2126. Changes should show up when a release is made.

[2018-10-25 22:50] #2125 closed, assigned to nobody

[2018-10-26 20:34] GYMRewards opened #2127 "Adding Support to upcoming Hardware Wallet."
We will be launching our Hardware Wallet in December, How do we go about getting you guys to support the hardware wallet? Htttps://gymledger.com

![ad](https://user-images.githubusercontent.com/35646159/47591253-f535a980-d93c-11e8-9a8a-72e7b7893800.jpg)

[2018-10-30 13:39] batousik opened #2132 "Cannot send transaction"
etherwallet-master.js:57263 Uncaught (in promise) DOMException: Failed to execute 'send' on 'RTCDataChannel': RTCDataChannel.readyState is not 'open'
    at Peer.send (https://www.myetherwallet.com/js/etherwallet-master.js:57263:17)
    at MewConnectInitiator._callee8$ (https://www.myetherwallet.com/js/etherwallet-master.js:33656:24)
    at tryCatch (https://www.myetherwallet.com/js/etherwallet-ma

[2018-10-31 04:31] un1t opened #2133 "Error in gas price value, could lead to funds loss because of extremely high gas price"
How to reproduce:

Go to "Send Offline" page
Switch gas price unit to "gwei".
Enter from address and push "Generate Information" button
Check gas price value. I my case it should be 4 gwei, but instead it is 4000000000 gwei.
After gas price unit is switched to gwei you can refresh page, enter address and push "Generate Information" button, price again will be 4000000000 gwei.

Expected behaviour -

[2018-10-31 05:18] kvhnuke commented on #2133
@gamalielhere please reset the drop-down back to Wei when generate information button pressed, or detect which unit it is in and calculate the correct value

@un1t thank you for bringing this to our attention

[2018-10-31 05:54] un1t commented on #2133
I don't like price in wei, there are too many zeros. Very easy to make mistakes.

I think, this is right behaviour

[2018-10-31 22:06] gamalielhere commented on #2133
@un1t @kvhnuke  I sent up a fix on #2134 . Let me know what you guys think

[2018-11-01 16:17] uchiha345 opened #2137 "Ether gone missing"
Hello there I sent 2 Eth yesterday and the recipient has said it didn't arrive i checked the block explorer and it said transaction complete the recipient said that sometimes it gets stuck if it has been caught up in the blockchain could you please send it back to the origin wallet. transaction ID details below.

0x9abeb6a5884eaea1e9c6a60e5a5bdbe5084cfa28c28b0f52fc0a40ce5fd87328

Thank you.

[2018-11-03 20:13] CryptoDreamToken opened #2139 "request for add in mew"

[2018-11-03 20:33] CryptoDreamToken opened #2140 "This token is already added as a default token. Try clicking the "Load Tokens" button to see it. :)"
This token is already added as a default token. Try clicking the "Load Tokens" button to see it. :)
I created a ERC20 contract, verified by EtherScan, and i can't add it to MEW
This is our contract  : 0xe831B0597f7817dF6B72cE634F46D8B9A604e42A
Symbol : CDT
Decimals : 18

[2018-11-05 22:10] #2139 closed, assigned to nobody

[2018-11-11 12:31] suryanshkumr opened #2145 "WebChain is using a non-unique Chain ID"
Webchain is using ChainID 101 which is not unique because EtherInc is using ChainID 101.

EtherInc first block was created on 2018-02-13 21:59:01 +0530 (https://explorer.einc.io/block/1)

WebChain first block was created on 2018-05-08 14:12:10 +0530 (https://explorer.webchain.network/block/1)

so as you can see EtherInc was running chainID 101 from Feb and WebChain using same chainid from May.

[2018-11-11 23:58] hackmod commented on #2145
webchain chainId `101`: from https://github.com/webchain-network/webchaind/blob/master/core/config/mainnet.json#L33

Etherinc chainId `101`: from
https://github.com/etherinc/go-etherinc/blob/master/params/config.go#L34

[2018-11-12 00:04] hackmod commented on #2145
why don't you open an issue at webchain? https://github.com/webchain-network/webchaind/issues
it seems very problematic

[2018-11-12 09:03] suryanshkumr commented on #2145
https://github.com/webchain-network/webchaind/issues/1

[2018-11-12 20:03] suryanshkumr commented on #2145
https://github.com/webchain-network/webchaind/issues/1#issuecomment-437853320

[2018-11-13 16:50] jonathancross opened #2147 "Sign release tags / commits"
I see that `.sig` files are included in each release -- which is great!

However the key [0x7F059C0F7B9A12F0](https://sks-keyservers.net/pks/lookup?op=vindex&search=0x7F059C0F7B9A12F0) is not signed by anyone in the [PGP WOT Strong Set](https://pgp.cs.uu.nl/mk_path.cgi?FROM=c0c076132ffa7695&TO=0x7F059C0F7B9A12F0&PATHS=trust+paths), so there is no possible way to verify it is real.  Also, this key

[2018-11-13 23:55] kvhnuke commented on #2147
Hi @jonathancross
Thanks for inquiring about this, please refer to this issue https://github.com/kvhnuke/etherwallet/issues/1651

also, the main purpose of signing the releases are to verify the release is signed by MEW. We publicly accepted the ownership of 0x7F059C0F7B9A12F0. Which I believe is enough to sign the releases on behalf of MEW

@gamalielhere can you please add verification instructio

[2018-11-13 23:55] #2147 closed, assigned to nobody

[2018-11-14 00:06] kvhnuke commented on #2140
it is because CDT symbol is already in use, when you add it to MEW name is CDT2 or something unique. It will let you add it! cheers!

closing but feel free to reopen if necessary

[2018-11-14 00:06] #2140 closed, assigned to nobody

[2018-11-14 00:06] kvhnuke commented on #2127
please refer to our v5 repo for all future development
https://github.com/myetherwallet/MyEtherWallet

[2018-11-14 00:06] #2127 closed, assigned to nobody

[2018-11-14 00:07] kvhnuke commented on #2072
can  you follow the instructions here and see whether it helps
https://support.ledgerwallet.com/hc/en-us/articles/115005165269-Fix-connection-issues

[2018-11-14 00:10] kvhnuke commented on #2038
this should be fixed

[2018-11-14 00:10] #2038 closed, assigned to nobody

[2018-11-14 00:10] kvhnuke commented on #2070
I believe this is related to etherscan

[2018-11-14 00:10] #2070 closed, assigned to nobody

[2018-11-14 00:13] kvhnuke commented on #1989
please refer to the answers on reddit

[2018-11-14 00:13] #1989 closed, assigned to nobody

[2018-11-14 00:14] kvhnuke commented on #1867
can you send us your public address and the token which displays the incorrect balnce

[2018-11-14 00:17] kvhnuke commented on #1864
this is due to the fact that we used to have 'pending' as the last parameter of eth_call now we switched to 'latest' you no longer need --pruning=archive

[2018-11-14 00:17] #1864 closed, assigned to nobody

[2018-11-14 00:17] #1949 closed, assigned to nobody

[2018-11-14 00:22] hackmod commented on #2072
you'd better check your app version. the latest version of the Ethereum App is `1.1.7`

[2018-11-14 00:31] gamalielhere commented on #2133
Closing this. Please feel free to open if it's still an issue.

[2018-11-14 00:31] #2133 closed, assigned to nobody

[2018-11-14 00:32] gamalielhere commented on #2137
@uchiha345 unfortunately, there's no way to retract transactions. Closing this issue.

[2018-11-14 00:32] #2137 closed, assigned to nobody

[2018-11-14 00:32] gamalielhere commented on #2132
@batousik is this still an issue?

[2018-11-14 00:34] gamalielhere commented on #2058
@gkucmierz thanks for the request! Please direct new features here: https://github.com/MyEtherWallet/MyEtherWallet

Closing this issue.

[2018-11-14 00:34] #2058 closed, assigned to nobody

[2018-11-14 00:35] gamalielhere commented on #2012
@nmurthy Thanks for the feature request! Please direct new feature requests to: https://github.com/MyEtherWallet/MyEtherWallet

[2018-11-14 00:35] #2012 closed, assigned to nobody

[2018-11-14 00:35] #1975 closed, assigned to nobody

[2018-11-14 00:36] #1968 closed, assigned to nobody

[2018-11-14 00:36] gamalielhere commented on #1959
This should be fixed now with https://github.com/kvhnuke/etherwallet/issues/2133

[2018-11-14 00:36] #1959 closed, assigned to nobody

[2018-11-14 00:38] #1860 closed, assigned to nobody

[2018-11-14 13:24] msuess commented on #2038
Confirmed, the issue is gone for me. Thank you for all the hard work <3

[2018-11-14 14:20] jonathancross commented on #2147
It is unfortunate that anyone trying to verify the authenticity of the key must completely trust GitHub.
This is why I was requesting these other measures:

At the very least, it would help to have `0x7F059C0F7B9A12F0` on [your Twitter profile](https://twitter.com/myetherwallet).

[2018-11-26 19:59] gamalielhere commented on #2132
Closing for inactivity.

[2018-11-26 19:59] #2132 closed, assigned to nobody

[2018-11-26 19:59] #2075 closed, assigned to nobody

[2018-11-29 03:43] aekasitt opened #2164 "AssertionError thrown from mew-custom@1.1.0"
Environment Review
---

I just cloned the project to my MacBook Pro running macOS High Sierra 10.13.6
I reset HEAD back to the latest Release at Commit `c4dc1d7e Release: v3.26.0`
My node version is as seen below.

Issue Faced
---
Cannot start running dev server on my local machine. I see some warnings thrown when installing modules as seen below:

[code]

-----
And when I try to start running on

[2018-11-29 18:14] gamalielhere commented on #2164
@aekazitt what node version are you using?

[2018-12-01 19:50] nolash opened #2171 "Custom node with http and localhost"
I'm trying to add a custom node. The interface for adding nodes says:

As I understand what is written, that means that if you run MEW locally, specifically a webserver serving it on localhost, it should be possible to use _http only_.

I've tried with geth nodes on a LAN host and on localhost (host http://127.0.0.1 post 8545) However, in both cases it fails with a red box saying it can't connect.

[2018-12-04 03:27] aekasitt commented on #2164
Node:

-----
Npm:

[2018-12-04 06:25] aekasitt opened #2174 "Cannot Add Wallet using UTC/Json file"
I successfully installed MyEtherWallet using both downloaded Zip-file, and again using "Add to Chrome" button on Chrome Extension Webstore.

After following the steps to Unlock my Keystore file however, I cannot successfully add my unlocked Keystore to the list of My Wallets. There is no Submit/Add button that responds to Wallet Nickname field below "Create a Nickname" prompt.

Please advise.

---

[2018-12-04 06:33] aekasitt commented on #2174
The picture may not be clear; But this happens even after I add text into nickname field.
This on-change event, newWalletChange('','showBtnAddWallet'), is never called

[2018-12-04 23:38] JW8888 opened #2176 "Verification instructions"
How can the releases be verified exactly....? Have tried to import the public key provided with the releases, but get the response: "gpg: no valid OpenPGP data found" from the MEW-PUP-KEY-GPG file.....?

thnx

[2018-12-08 12:26] REOSC opened #2181 "Stuck TX in REOSC network (2894)"
When using REOSC custom node some wallets can not send or receive coins by MEW.
Wallet made by MEW. Coins from STEX accepted by wallet.

MEW show TX is pending.
TX Hash | 0xcac35f55436413a80edf4bd2c61f383d2c4ae75042f4b733005781baab5358c5
from | 0x6B898B7433C789C2f78638FC6C6631902cBbb1D5
to | 0x6B898B7433C789C2f78638FC6C6631902cBbb1D5

Explorer shows TX not found
https://explorer.reosc.io/err404/tx

[2018-12-09 07:05] REOSC commented on #2181
Additional info:
same TX by geth 0x0ce0e5182b1ccd69c6f52bf5fe10493e08300a3a30bdefe8cc215691e01881f2
was successfully mined and is on the blockchain

we use MEW more than month with REOSC network. And only 2 addresses were stuck.

[2018-12-10 06:50] ghost commented on #2181
@REOSC That is a problem with your node, not with MEW

[2018-12-10 12:13] REOSC opened #2182 "Error in RPC"
MEW get correct value for balance by RPC request
But show wrong value in window
![screenshot_2018-12-10_22-09-28](https://user-images.githubusercontent.com/44662558/49731974-c430ee80-fcc8-11e8-8430-0b5b8d9c714b.png)

[2018-12-11 00:19] #2182 closed, assigned to nobody

[2018-12-11 00:19] #2181 closed, assigned to nobody

[2018-12-16 13:38] tverrbjelke commented on #2176
I am also lost with this.
Downloading etherwallet-v3.28.0.zip and etherwallet-v3.28.0.zip.sig.
Now what? I would like to check if the file was tempered with, but I don't see *any* documentation / instructions to verify the signature.

Having gpg at hands,  I don't find anyones gpg keys to even start with... and this also dows not work:

[code]

[2018-12-19 08:36] songiso137 opened #2190 "Regaining my private key which is only 32 bits letters and figures and figures"
When I was creating my Etherwallet and copied my private key I did not click on the private key to give me more other bits, I only copied 32 bits which were displayed there. How do I complete to regain the whole private key? Which link can I use to insert my etherwallet to give me the entire private key? I have my etherwallet with it is intact.

[2018-12-21 00:52] kvhnuke opened #2194 "Change Trezor Affiliate link"
currently we are using `https://trezor.io/?a=myetherwallet.com`
we have to change it to `https://shop.trezor.io/?a=myetherwallet.com`

Please change all occurrences

[2018-12-21 20:43] gamalielhere commented on #2194
#2197 should fix this

[2018-12-21 20:43] #2194 closed, assigned to gamalielhere

[2019-01-08 09:42] kvhnuke commented on #2164
Try node 8

[2019-01-08 09:45] kvhnuke commented on #2171
Did you run geth with rpc flag, I believe it is `geth --rpc --rpccorsdomain "*"`

[2019-01-08 16:56] zach-is-my-name opened #2204 "Desktop Download Links on Homepage?"
Earlier I downloaded MyEtherWallet to the Linux desktop.  I cannot find a reference to the desktop client on the site.  Is that deliberate?

[2019-01-08 17:16] gamalielhere commented on #2204
@zach-is-my-name we actually don't have a desktop client. You can download MEW through here: https://github.com/kvhnuke/etherwallet/releases/tag/v3.29.0.

When the download is done, you can extract the files, double click on `index.html` and that should open MEW on your browser. Let me know if that helps!

[2019-01-08 18:19] zach-is-my-name commented on #2204
Thanks.  I got crossed up.

[2019-01-08 18:19] #2204 closed, assigned to nobody

[2019-01-14 08:32] bitcoinbrisbane opened #2209 "Offline signing transaction hash link always goes to main net Ether Scan"
In Step 3 of the Offline page the link always goes to https://etherscan.io not https://<network>.etherscan.io

https://github.com/kvhnuke/etherwallet/blob/a123c0b4dd971fb94266199f9e52a8f0e99d3694/app/scripts/controllers/offlineTxCtrl.js#L188

[2019-01-14 08:45] firestarter31497 opened #2210 "Hi!"
Anybody??

[2019-01-14 08:48] firestarter31497 opened #2211 "Hello!"

[2019-01-14 08:55] #2211 closed

[2019-01-14 08:56] #2210 closed

[2019-01-21 19:24] rumatoest opened #2219 "Does not work with Ledger Nano S ETC application"
I think that this bug related to https://github.com/LedgerHQ/ledger-live-desktop/issues/1753

When I'm trying to connect using ETC application I receive error `Invalid status 6804. Check to make sure the right application is selected ?`

I can not see any errors in JS console.

I'm using Ledger Nano S with Secure element 1.5.5 MCU 1.7

[2019-01-24 22:33] SteveMieskoski opened #2222 "ETC Transcation won't go through, Trezor model T 2.0.10: "user cancelled tx""
## Bug Report

### Projects
-Trezor T - 2.0.10
-MyEtherWallet through Trezor Interface
-ETC

### Expected Behavior

The ETC transaction should go through.

### Actual Behavior

After clicking on a generate transaction in MyEtherWallet for ETC.

1. pop-up shows up (if passphrase is enabled): https://connect.trezor.io/5/popup.html#
2. Proceeding with "allow once for this session"
3. "User cancelled

[2019-01-24 22:36] SteveMieskoski commented on #2222
Moved from MyEtherWallet version 5 (MyEtherWallet/MyEtherWallet)  issue [384](https://github.com/MyEtherWallet/MyEtherWallet/issues/384) to here as it relates to MyEtherWallet version 3.

[2019-02-05 15:07] #1536 closed, assigned to nobody

[2019-02-14 12:52] mkrufky opened #2232 "Mix-Blockchain is missing in NETWORK selection in new redesigned release"
...and it's scaring some users :-/  Please fix.

[2019-02-14 12:52] mkrufky opened #2233 "REOSC ecosystem is missing in NETWORK selection in new redesigned release"
relates to #2232

[2019-02-14 13:39] kvhnuke commented on #2233
Hi can you please make an issue in the new repo, https://www.github.com/myetherwallet/myetherwallet

[2019-02-22 19:58] #2232 closed, assigned to nobody

[2019-02-22 19:58] #2233 closed, assigned to nobody

[2019-02-22 19:58] gamalielhere opened #2239 "Vintage repo links to the new version"

[2019-03-05 01:38] #2239 closed, assigned to kvhnuke

[2019-03-09 19:43] roryjob opened #2246 "Storj Transaction not found in MyEtherWallet"
I transferred STORJ to my ether wallet linked to my Trezor.  The wallet has been updated and I can't see the transaction even though I have the details and it was completed in January of 2018.

Transaction ID:  0xa34270eaea615c244ca71901dbf435526d7f9df0700aad6e2f9c63737d544c82

Receiving address:  0xA35A5dfFC2c4cE37366a2c3893250D068cA40c0D

I thought I had three unique addresses in the wallet but

[2019-03-13 17:09] fty48jj19 commented on #292
e   sem uma chave fica dificio tem que ter porque se nao fica mas façio para o rakes veja  as pessoa tem q se conecneta porque falo isso aconpanha  minha visao de segurança  vc tem seu celular vc vai ter seja uma chave no seu celular mas nao e no aplicativo nao e  no aplicativo mas nao conecta nada de aplicativo nao  eziste uma configuraçao acredito que muito sabe fazer essa configuraçoes  se nao

[2019-03-13 17:12] fty48jj19 commented on #292
e  gente eu hoje que trazer fazer uma colocaçao para todos o aponzetado aqui no brasil esta sendo roubado porque a uma faceta facio no celular aplicativos com virus quando vc meciona a ja alguem para colher seus dados  e  poque isso o facebook ja tida o quer seu numero tel ,

[2019-03-13 23:30] fty48jj19 commented on #292
vcs querem saber da verdade  celular a muitas coisa que pode ser descoberto vc adciona um aplicativo ali vc tem sabe o que vai fazer documentos nao se pode guarda nem senha nada que seja enportante porque o golpista o alvo dele e celular  tem um codigo para quem nao sabe ele pesca seu numero da receita federal  tenha muito cuidados com documents enportantes  orgao pesoas..

[2019-03-13 23:36] fty48jj19 commented on #292
ou pessoas q trabalha para o governo tem sempre alguem la que sabe seu numero de cpf  e nisso nos araquivos a o codigo os golpista usa muito isso e com enprantaçao da chave em verificaçao de 2 etapa e fica difiçio alguem clona que e seu primeira coisa que vai procura e no celular algumas pessoa nao sabe usar um celular ai guarda tudo em aplicativo olha o perigo   na enternet vc tem que costrui ...

[2019-03-13 23:40] fty48jj19 commented on #292
contrui uma senha bem forte pela entenet no banco aciona 24 horas  senha de segurança porque 2 senha poque na dgital se o golpista descubri ele nao vai ter asseso ala banco n 24 horas  digo isso porque ja aconteceu isso comigo ele descubrirao senha minha mas banco broquiou  ele tentou entra na conta seja tentou adivinha a aoutra senha fui no banco eu sendo o dono da conta desbroquiei,

[2019-03-13 23:45] fty48jj19 commented on #292
i  que estou falando serve para todos que tem conta  ta  no banco muito usa chip caixa para crona sua senha mas no 24 e dificio eles achar  muito sabe disso mas tem pessoas que nao sabe disso que estou falando ter cuidado com parentes e amigos  as ves aconteçe coisas vc fica em duvida procure olhar bem que esta fazendo nas aplicaçoes bom gente e isso ,

[2019-03-13 23:53] fty48jj19 commented on #292
e  eu esquiçi  de explica como fuciona muito simples  vc adiciona google  com seu mail  e  altomaticamente o google vai pdir seu numero para endentifica vc  que o celular e rastreado seu nome numero atraves deses esquema  vc sera dona da sua conta se tiver tudo certinho agora se vc tiver com celular de alguem seu mail nao vai fuciona nao de jeito neum,

[2019-03-14 00:06] fty48jj19 commented on #292
e    mas isso vc adiciona no seu smt fone  pedino configuraçoes de 2 etapa
muito facio   vc escreve seu mail quando vc abre o google  ele pde o a
senha  mas nessa etapa e diferente  vc vai coloca seu mail  e o google vai
pedir senha do seu smat fone se for vc o dono  esta tudo certo agora se vc
tiver usando um celular mesmo que sja  empretado conta sua nao vai responde
nao ,

<https://www.avast.co

[2019-03-14 00:23] fty48jj19 commented on #292
yes also have in the avast  key also l forgot  to even explain it to you,

[2019-03-14 00:29] fty48jj19 commented on #292
vc tera varia opeçao  uma enpotese q vc perde seu celular   vc teno uma senha banco diferente se aguem rouba seu celular  ele vai pensar  que vai pode chega no caixa para fazer retirada nao porque o banco reconheçe vc  quando ele acionar o banco vai logo pedir outra asenha ele nao vai saber  nao ai pode fazer nada o magnetico do banco sabe que e vc  vc pode emitir 24 hora outra senha diferente

[2019-03-14 00:32] fty48jj19 commented on #292
maoria dos bancos tem o 24 horas  e igual carro quandom ladrao rouba o magnetico so reconheçe o dono se outra pessoa tenta roubar  o alarme despara e a sentral aciona logo policia mesma coisa celular vc tem sua senha no banco vc faze outra diferente eu nao sei se seu pais fuciona asim aqui no brasil fuciona asim ,

[2019-03-14 00:36] fty48jj19 commented on #292
cateira  nao deixar senha  chave tira da entenet gurda num papel  se vc joga senha nao faz privado  os golpista acha e rouba  tudo que vc tem quando vc fizer um carteira copia pega uma caneta escrve sua senha  e guarda fora do celular  ou entenet ou vc zip com senha bem forte uma senha so vc saiba ,

[2019-03-14 00:40] fty48jj19 commented on #292
esa sua senha e pubrica  pode usar  so nao a chave da sua conta  que vc tem
fazer  pedir o banco 24 horas  permisao para vc usar outra senha diferente
iso nao e comigo nao so estou explicando que tem ser feito   so isso,

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-email?utm_m

[2019-03-14 01:09] fty48jj19 commented on #292
mas isso ja falei isso nao e feito asim nao e no banco  e nao senha de
moedas nao estou falando de  fudos money  banco que vc tem dpositado algo

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Livre
de vírus. www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>.
<#D

[2019-03-14 01:21] fty48jj19 commented on #292
e  como ja falei  carteira tem saber usar  tem uma carteira ela e muito visada pelo golpista [   https:www.myethewallet.com   essa carteira  se vc vacilar nela  os golpista decobre sua senha  como quando vc  adiciona a carteira seja qualquer uma  veha se o seu saite e verdadeiro  mas como  vc olha uma estrelas q tem no canto da sua enternet  veja se estrela  e azul  os golpita lança saite igual ta

[2019-03-19 14:40] ghost commented on #2222
Should be fixed on https://github.com/kvhnuke/etherwallet/pull/2247

[2019-03-19 18:38] roryjob commented on #2246
I was able to transfer to another wallet

[2019-03-19 18:38] #2246 closed, assigned to nobody

[2019-03-25 17:22] mehranhydary commented on #1013
Does that mean that there is no way to get the addresses from the MEW with password to the MEW without password?

[2019-03-25 18:41] tayvano commented on #1013
The mnemonic phrase + password is different than mnemonic phrase alone (no password). Each of these will give you different addresses.

The MetaMask password is not actual a password for your phrase, it's a screen lock of sorts for MetaMask.

[2019-04-05 19:58] Kiranvarkey opened #2255 "myetherwallet JESON file issue"

[2019-04-05 19:59] Kiranvarkey commented on #2255
hi
my ether wallet not recognising JESON file password please help

[2019-04-10 21:14] #2145 closed, assigned to nobody

[2019-04-12 11:31] prodnet opened #2260 "MyEtherWallet new template ?"
Hello,
Where can I find the new version with the new template, so is it in the official site?

![image](https://user-images.githubusercontent.com/43401428/56034308-4a1c7f00-5d27-11e9-903a-67f81e38706d.png)

[2019-04-12 19:38] gamalielhere commented on #2260
@prodnet you can visit `https://www.myetherwallet.com/` for the the most recent version

[2019-04-12 19:38] #2260 closed, assigned to nobody

[2019-04-14 19:38] prodnet commented on #2260
I would like to run the new template directly on my PC, without using your online version, how can I do it?

[2019-04-23 04:55] rogergangawork opened #2261 "New MEW does not handle array of address properly"
I am trying to create an ETH contract where I input array of addresses and number of ETH as parameter. I successfully tested using truffle and it worked. I can successfully deploy in local testnet but while executing via myether wallet. It throws an error. Seems that MEW is automatically enclosing the array of addresses with a **\\"** characters.

## INPUTS
**Array of address:**
0xdc89172db4c8a8b5

[2019-04-24 08:46] northeusunshine opened #2262 "Etherwallet connecting to private eth chain"
Hi,

**I have already set up a private eth node using Geth client and a etherwallet http server built from etherwallet source code.**

**I want etherwallet to connect my private node in local network, and make it create account, transfer ether, and review account status etc.**

**After etherwallet web is connected to the local eth network(only one node), I make some test.**

### Test one: Create a

[2019-04-30 05:36] #2262 closed, assigned to nobody

[2019-05-13 11:38] elenadimitrova commented on #1047
The suggestion above doesn't seem to be working atm. Neither are any other options like wrapping each address in " or []

![Screen Shot 2019-05-13 at 14 37 34](https://user-images.githubusercontent.com/703848/57618671-bd1a4f00-758c-11e9-80b5-1174144cf8f3.png)

[2019-05-27 08:37] topacs1985 commented on #756
Please this address 0xac98BbbcD883f46B97F94746B24F6d757f6263c9 has been used in a phishing scam he's made away with my tokens and he's stealing many more token, please kindly assist in stopping it before he harm many more individuals.. Below are the coins he's stolen from me..
![Scam](https://user-images.githubusercontent.com/39902590/58407136-04abdb00-8063-11e9-8b99-5d51073c1583.jpg)

[2019-05-27 08:40] topacs1985 opened #2264 "Hacked Account"
Please this address  0xac98BbbcD883f46B97F94746B24F6d757f6263c9 has been used in a phishing scam he's made away with my tokens and he's stealing many more token, please kindly assist in stopping it before he harm many more individuals.. Below are the coins he's stolen from me..
![Scam](https://user-images.githubusercontent.com/39902590/58407273-56546580-8063-11e9-81e5-c162ccee78a2.jpg)

[2019-06-02 23:55] PierreBrunetot opened #2266 "Can not find the address of my MEW wallet"
Hello,

2 months ago i created a wallet with by Mnemonic Phrase on myetherwallet.com
I saved the 24 words on a paper as well as the password. I could access my wallet without any problem by Mnemonic Phrase, since I saw my address genere.
Now I can not find the address generated on MyEtherWallet yet before it worked without any problem.
What should I do to find the address of my wallet? What is the

[2019-06-03 08:13] morpheus7CS opened #2267 "Hiveterminal Token (HVN) name changed"
Hi,

my name is Gal Jakic & I'm the Platform Delivery Lead at Hiveterminal, formerly known as Hive Project.

The change to the token name has been reflected on Etherscan a while back as can be seen here: https://etherscan.io/token/0xC0Eb85285d83217CD7c891702bcbC0FC401E2D9D

If any changes need to be pull requested from our end, please let us know.

Kind regards,
g

[2019-06-03 13:04] phillux commented on #1528
I think I finally figured this out @numero41 @tayvano.

Straight to the solution. Use this derivation path!
`m/44'/60'/0'`
or
`m/44'/60'/0' `

..with a space after that last one, not 100% sure.

My story: I set up my Ledger Nano S in January 2018. I did the recommended seed phrase backup and went the extra mile and did test transfers of 0.1 ETH into the Ledger's address, and 0.1 ETH back out of th

[2019-06-03 14:31] PierreBrunetot commented on #2266
help me please,,,

[2019-06-03 15:37] numero41 commented on #1528
@phillux thank you for the feedback, but I am not sure I follow what you said.

It seems like your issue is related to the fact that since then Ledger changed the derivation path, and that you didn't try to use the device in between.
But I made all my tests from January to June 2018, and was using the right derivation path...

Why do you say you have a space at the end of your derivation path??

[2019-06-03 15:41] numero41 commented on #1528
@jmacwhyte
I saw the new thread, which has been closed right away by @kvhnuke saying "see answers on reddit"
WTF lol I spent 6 months trying to solve that, there is no answer on Reddit.

Let me repeat I'm a software engineer, I had some help from crypto coders, hackers, etc, I am sure that I did nothing wrong with the Ledger or MEW, so don't close the thread it's not over.
Thank you.

[2019-06-03 16:01] tayvano commented on #1528
@numero41 I don't think this will help you as you've tried so many things already, but I wanted to share a side-project one of our team members has been working on: https://findeth.io/

Basically it automatically scans all the derivation paths trying to find your ETH or tokens. Give it a go, it's super simple and maybe, just maybe, the stars will align and you'll find it. 🙏

[2019-06-03 16:11] numero41 commented on #1528
I think that's what Ledger tried to do already, but yes, I will definitely have a look.
Anyway my $20k are worth $1.5k now ha ha ha (well.... maybe it's better this way than being a millionaire... I guess.......)

Thank you, will update when it's done

[2019-06-03 16:19] phillux commented on #1528
Look carefully at the derivation paths I listed, they are missing the last parts!

1. Download MyCrypto / MEW desktop app
2. For extra security, I would recommend you enter your 24-word Ledger seed phrase while your device is OFFLINE
3. Use *this* derivation path: `m/44'/60'/0'` ... Notice there's only **one** `/0'` at the end, compared to the others that have been listed and suggested. @tayvano i

[2019-06-03 16:23] numero41 commented on #1528
I never used MyCrypto or MEW apps, they didn't exist at that time

[2019-06-04 17:21] dwd1 opened #2268 "Configuration"
Hi,
I have myetherwallet on my own server.
How can i set the default gas price and the default network?
Thank you,
D

[2019-06-05 17:48] gamalielhere commented on #2268
@dwd1 which version of mew are you running on your server?

[2019-06-05 17:49] gamalielhere commented on #2266
@pierre145 which MEW version are you using?

[2019-06-05 20:31] dwd1 commented on #2268
@gamalielhere i host the site for myself in my server. 3.37.0

[2019-06-05 20:58] PierreBrunetot commented on #2266
Hi, I do not use MEW only the Mnemonic Phrase in the website MEW.

[2019-06-05 21:54] gamalielhere commented on #2266
yeah. Which MEW website are you using?

[2019-06-05 22:45] PierreBrunetot commented on #2266
I use the latest version of the site and I also tried the vintage version.

[2019-06-05 23:13] gamalielhere commented on #2266
@pierre145 are you choosing the correct HD Path?

[2019-06-14 10:44] Scollop355 opened #2271 "Public key for the .sig file"
Please.  I need the public by (kvhnuke key) key for the .sig file to confirm the download has not been tampered with.  I can then run this through pgp Kleopatra software to confirm genuine and not tampered with.  Why give the .sig file with no public key to check as this puts my cripto's at risk?

[2019-06-14 16:10] Scollop355 opened #2272 "Mew v5.0.13"
Mew V5.0.1.3 extremly terrible to use for creating offline transaction for paper wallets..

I have tried to make offline transactions to send tokens off my paper wallets without success.

The list of tokens take ages before they show up in the drop down menu on my offline computer.  Minutes!

There are two instances of TUSD and no indication which is the new or old token.

The text is barely reada

[2019-07-04 03:39] #761 closed, assigned to nobody

[2019-08-10 08:47] richmanrich commented on #2239
Hi can you help

[2019-08-10 08:51] richmanrich commented on #1754
You need to re-add new tokens everytime you long in and make sure to save to local storage wprk standard

[2019-08-15 23:37] 138WR opened #2294 "MEW Adderss is not the same, help?"
I know this is on me, 100%. When I created my MEW account on the web (new version), I selected an address to interact with thinking it was just going to be my default. Jokes on me but is there a way to search for that address once I login to get back to it other than going threw all of the listed ones? I must have spent 10 min clicking as a last resort and still the address I sent to never showed.

[2019-08-17 20:48] 138WR commented on #2294
Somehow I found it scrolling through for about 15 min.

[2019-08-17 20:48] #2294 closed, assigned to nobody

[2019-08-18 00:22] danimoh commented on #283
Is this still supported?

[2019-09-05 14:05] laviole commented on #2272
Bay

[2019-09-05 14:08] laviole commented on #2271
Надеюсь помогут

[2019-09-14 13:28] lnacosta91 commented on #1047
the problem is that the function that validates is case sensitive, and just allows lowercase letters.
try changing everything to lowercase.. best!

[2019-09-14 19:22] BazzarBit opened #2299 "hello I want to make DAO / ETH change"
My problem is that in old myetherwallet I have no connection.
the wallet can't find my DAO tokens amount

[2019-09-26 03:39] 3esmit opened #2311 "Please don't remove this repository"
If ever, use archive option. It contains a lot of valuable stuff on issues, prs, and code.

Thanks.

[2019-11-08 11:02] Dr34D91 commented on #2176
Same problem here, tried with gpg verification, but "the data could not be verified" error