[2017-12-19 13:21] tayvano commented on #1122
update npm package for reference so i can stop clicking in circles: https://www.npmjs.com/package/u2f-api

[2017-12-19 15:30] Diti commented on #1122
Hey! This issue’s been open for 2 months and nobody from MEW has been assigned to it yet. Does anyone know if they’re aware of the issue or not?

[2017-12-19 16:05] NessDan commented on #1429
Ah that makes sense. I don't know how often this question comes up, but if it's often enough, maybe updating the `You must access via a secure SSL connection` message with the link you provided?

[2017-12-19 17:47] bismark commented on #1122
I think they are aware of it: https://www.reddit.com/r/MyEtherWallet/comments/7cuz45/issue_with_firefox_57_with_u2f_enabled/

[2017-12-19 20:17] dreadkrusher commented on #1428
I think I might be having the same problem. When I extract and open "index.html" under my tor folder all that opens is the HTML.

[2017-12-19 20:22] bikra commented on #1428
Yes $,97665433344667

[2017-12-19 20:25] bikra opened #1434 "ETH...33766688644577"
Yes

[2017-12-21 11:38] vare commented on #360
The exact same thing happened to me today too.
I used the address that was presented to me after initially logged in to send ETH from an exchange to that address.
After I send and logged in again my public address changed!

How can I access my ETH??

[2017-12-21 11:43] brandhaug commented on #360
The problem happened for my friend aswell, but he managed to get it back. The problem was that he had written down the wrong private key, so he switched an 'a' with a '9'. To the people experiencing these problems; try to brute-force hack different variations of your private key.

[2017-12-21 11:54] vare commented on #360
I never manually wrote down/edited the key. I just copied it as presented and saved it on disk.
So it cant be a typo in this case. Given that so many people experience this it is a fatal design error.

[2017-12-21 12:16] aresabi commented on #360
Same here. Already posted here a few months ago. I‘ce lost 5 ETH and the support wouldn‘t help me. The exact same problem a mentioned above. Still have the private key in case there will be a solution for this

[2017-12-23 09:13] Naerial opened #1438 "Out of Gas"
Anyone heard of SingularityNet? Yesterday when the individual sale started, I had the opportunity to buy 36.750 AGI Tokens with an investment of 5 Ethers total. After 24 hours, the public sale starts where you can buy as much as you can afford until the hard cap is reached. So I waited literally 24 hours thinking to be one of the first buyers when the public sale starts, but I had no luck because

[2017-12-23 22:12] descrip opened #1439 "Latest release (v3.11.1.2) doesn't work offline"
Downloading the v3.11.1.2 zip and opening `index.html` in Firefox or Chromium gives a blank screen. Both consoles report some Javascript errors:

![screenshot from 2017-12-23 17 09 46](https://user-images.githubusercontent.com/6173806/34322982-23419b8e-e804-11e7-8d51-f3a7158e4f27.png)

Reverting to v3.10.10.3 works fine.
EDIT: Reverting to v3.11.1.1 also works fine.

On Firefox 57.0.1, Ubuntu 14.0

[2017-12-23 22:42] rumkin opened #1440 "v3.11.1.2 Safari Failure"
When loading MEW v3.11.1.2 in Safari Version 11.0 (13604.1.38.1.6) there is few errors:

[code]

and then

[code]

[2017-12-24 02:10] eyemaginative opened #1442 "Address Identicon and Tokens Don't Load / Can't Select to Send"
Since the latest update, in (Chrome, Opera, and Firefox), the Address Identicon and Tokens for the drop down to select / send don't load on the page.

Unable to select / send tokens.

[2017-12-24 02:14] eyemaginative commented on #1442
Ok, I figured out how to get the tokens to show up in the drop down selector to be able to select and send them.  For some reason they are all showing up as 'Click to Load' on the right side.  So in order to send a token or get it to show up in the drop down selector, you have to actually click to load them first, then they show up in the drop down and can be selected to send.

[2017-12-24 13:56] trustfarm-dev commented on #1400
ETC Node:: Public.
https://etcnode.trustfarm.io/api
I've just setup for custom wallet .
Epool ETC nodes ristrcted.
Access it . No X-Origin barrier.

[2017-12-24 15:43] rasputnik commented on #1439
index_com.html usually works offline.

[2017-12-24 19:55] Fretlon commented on #1439
Confirmed broken in Firefox 57 on Linux Mint 18.2 as well.

[2017-12-25 06:39] mechamecho opened #1444 "Want to get started, but don't know how to."
How do I get the app running from the source? I have read the instructions in the README, but they don't work for me.
I am sorry if this is not the place to ask a question like this, but I didn't know where else to ask.

[2017-12-25 08:34] melwong opened #1445 "v3.11.1.2 - Offline mode of index.html is showing blank on Chrome 63.0.3239.84 (64-bit) and Firefox 57"
![screenshot--2017-12-25-16-32-08-434](https://user-images.githubusercontent.com/15141389/34336342-40ebceaa-e991-11e7-905b-d87b405e4d09.png)

[2017-12-25 11:53] StevenJohnston commented on #1439
Also good to note that the 3.11.1.2 dist is working too [located here](https://github.com/kvhnuke/etherwallet/tree/mercury/dist) Seems to only be a problem with the zip uploaded.

[2017-12-25 15:32] smiba opened #1446 "Not increasing nonce if the transaction is not yet executed on the chain"
I feel like this hasn't been an issue in the past (more of the last 1 - 2 weeks), but maybe I just never noticed it.

But it would be useful to queue tx's with a very low gas price, just to have them processed whenever it comfortable for the miners.

Lets say we're sending a TX with 0.1Gwei per gas, which will take about 10 minutes. If you generate a new transaction while the other transaction is

[2017-12-25 18:41] marcio1973 commented on #1445
Same with me

[2017-12-26 07:41] krissebesta commented on #1445
I had the same problem but found a way around it.  The zip file you download is not complete.  Go up a level in project (you should see the "dist" folder and other folders and files).  Then click the green Clone or Download button on the right. Click on Download Zip and save the file.  Unzip that file and inside the "dist" folder you can double-click the index.html file.  Good luck!

[2017-12-26 07:43] krissebesta commented on #1428
I had the same problem but found a way around it. The zip file you download is not complete. Go up a level in project (you should see the "dist" folder and other folders and files). Then click the green Clone or Download button on the right. Click on Download Zip and save the file. Unzip that file and inside the "dist" folder you can double-click the index.html file. Good luck!

[2017-12-26 07:44] krissebesta commented on #1439
I had the same problem but found a way around it. The zip file you download is not complete. Go up a level in project (you should see the "dist" folder and other folders and files). Then click the green Clone or Download button on the right. Click on Download Zip and save the file. Unzip that file and inside the "dist" folder you can double-click the index.html file. Good luck!

[2017-12-26 09:28] melwong commented on #1445
It worked krissebesta. THanks so much!

[2017-12-26 14:35] bokkypoobah commented on #1122
Tried using MEW with my Nano S yesterday, and came up with this exact problem. Merry Christmas & Happy New Year MEW.

[2017-12-26 20:51] repsorp opened #1447 "v3.11.1.4 not working here with Chromium"
- chrome-extension and etherwallet not showing any of my watch-only account:

![a](https://user-images.githubusercontent.com/6297032/34364365-92414182-ea85-11e7-94a2-fc1f8babfa1c.png)

- Clicking on "My Wallets" or "Add Wallet" takes me to a blank page:

![b](https://user-images.githubusercontent.com/6297032/34364368-98828ee8-ea85-11e7-9f98-5dcfe9867e4d.png)

Same with v3.11.1.3, v3.11.1.2
Have to

[2017-12-27 08:30] mazzma12 commented on #1445
Same problem, with same browsers version.  @krissebesta going to the `dist/` folder worked for me, but it is weird because it is unadvised in the README to touch it, and that is not the `index.html` you are suppose to call in the tutos. If a dev have some explanations, I am not very familiar with node

[2017-12-27 10:19] 7flash commented on #1447
![screenshot_2017-12-27_13-19-01](https://user-images.githubusercontent.com/4569866/34378748-9042fef6-eb08-11e7-917d-d746b9891152.png)

Uncaught ReferenceError: baseUrls is not defined

[2017-12-27 11:47] IKOBH commented on #1447
Same issue on firefox

[2017-12-27 12:22] repsorp commented on #1447
- Chromium 63.0.3239.84 (Build officiel) Built on Ubuntu , running on Ubuntu 16.04 (64 bits)
- chrome-extension	Release: v3.11.1.4:

Uncaught Error: [$injector:modulerr] Failed to instantiate module mewApp due to: Error: [$injector:nomod] Module 'mewApp' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as

[2017-12-27 15:49] Zloy opened #1449 "Versions 3.11.1.2,3,4 are broken while 3.11.1.1 is OK"
See here https://pasteboard.co/H0aq8eP.png

---
Windows 8.1 64 bit, Chrome 62.0.3202.94

[2017-12-27 15:52] cidlc commented on #1449
Well, not really. Download the zip from here instead: https://github.com/kvhnuke/etherwallet

[2017-12-27 16:57] tayvano commented on #1449
What good is Travis if it can't even zip a file?

Ill manually do them I guess.

[2017-12-27 17:19] Zloy commented on #1449
Really, I've just double checked it from here https://github.com/kvhnuke/etherwallet/releases/download/v3.11.1.4/etherwallet-v3.11.1.4.zip
Still fails. What *exact* URL shall I try next?

[2017-12-27 17:49] cidlc commented on #1449
https://github.com/kvhnuke/etherwallet/archive/mercury.zip This is what you have to download. Once you do it, extract, go to the dist folder and open index.html.

[2017-12-27 17:50] cidlc commented on #1449
@kvhnuke has to fix the link he provided in the guide.

[2017-12-27 18:23] Lendoit commented on #1449
Same problem. Version etherwallet-v3.11.1.4 is not running locally.

Log:

etherwallet-master.js:97820 Uncaught ReferenceError: baseUrls is not defined
    at etherwallet-master.js:97820
    at Object.<anonymous> (etherwallet-master.js:97981)
    at Object.272 (etherwallet-master.js:97985)
    at s (etherwallet-master.js:1)
    at etherwallet-master.js:1
    at Object.86.marked (etherwallet-master

[2017-12-27 18:24] Lendoit commented on #1449
![image](https://user-images.githubusercontent.com/32183210/34389696-e1a868f4-eb43-11e7-85fa-1eb6e20eec0d.png)

[2017-12-27 18:26] cidlc commented on #1449
You opened it through the broken zipfile @Lendoit

[2017-12-27 19:03] tayvano commented on #1449
Just manually updated all of these. The originals are now labeled -broken.zip but remain in case we ever need to reference them. I will also be pushing a new version in a couple hours.

Please let me know if you are still having issues.

A note for PC users: I have no idea what I'm talking about but you are going to want to **extract** the zip file to a separate location and then open index.html.

[2017-12-27 19:03] tayvano commented on #1449
e.g https://github.com/kvhnuke/etherwallet/releases/tag/v3.11.1.4

[2017-12-27 19:04] tayvano commented on #1447
Please try again using new zip file: https://github.com/kvhnuke/etherwallet/releases/tag/v3.11.1.4

[2017-12-27 19:21] tayvano commented on #1446
The code you will need is actually within Parity itself, not our codebase. We used to use geth for getTransactionCount as geth typically handles in better. Unfortunately, we can't seem to keep our geth nodes synced anymore and are temporarily 100% on Parity. This is also the reason why some of the error messages you are seeing are now different, even for the same issue.

We have also increased our

[2017-12-27 19:22] tayvano commented on #1445
Fixed this and re-up'd all the only zip files. Looking into why Travis is building terrible zips. Sorry abotu that

[2017-12-27 19:23] tayvano commented on #1444
How familiar are you with gulp / npm? Do you have node and npm installed? Trying to figure out where to start here.

[2017-12-27 19:24] tayvano commented on #1442
Yup. Unfortunately, having hundreds of thousands of people making 200+ requests for token balances was too much for the infrastructure to handle. It will remember the token balances you load and automatically load them the next time though, so you should only have to do this once.

[2017-12-27 19:25] tayvano commented on #1440
I believe I have resolved this. Please try again from any of the zips on the recent releases (that aren't labeled "broken")

[2017-12-27 19:26] tayvano commented on #1439
I believe I have resolved this. Please try again from any of the zips on the recent releases (that aren't labeled "broken")

Also, there is an unrelated issue due to inconsistencies in the Firefox and Chrome U2F spec that may be causing issues. The console errors are similar across both, but seems to only occur when attempting to connect to your Ledger hardware device in Firefox.

[2017-12-27 19:27] #1438 closed, assigned to nobody

[2017-12-27 19:27] tayvano commented on #1434
You need 0.000033766688644577 ETH in order to send the transaction. https://myetherwallet.github.io/knowledge-base/gas/what-is-gas-ethereum.html

[2017-12-27 19:27] #1434 closed, assigned to nobody

[2017-12-27 19:29] tayvano commented on #1447
lets continue any ongoing issues in #1449 so I can try to keep all this straight. I get an ungodly amount of notifications these days.

[2017-12-27 19:29] #1447 closed, assigned to nobody

[2017-12-27 19:29] tayvano commented on #1445
lets continue any ongoing issues in #1449 so I can try to keep all this straight. I get an ungodly amount of notifications these days.

[2017-12-27 19:29] #1445 closed, assigned to nobody

[2017-12-27 19:29] tayvano commented on #1440
lets continue any ongoing issues in #1449 so I can try to keep all this straight. I get an ungodly amount of notifications these days.

[2017-12-27 19:29] #1440 closed, assigned to nobody

[2017-12-27 19:29] tayvano commented on #1439
lets continue any ongoing issues in #1449 so I can try to keep all this straight. I get an ungodly amount of notifications these days.

[2017-12-27 19:29] #1439 closed, assigned to nobody

[2017-12-27 19:32] tayvano commented on #1422
There have been 2 changes to how tokens load since this issue that should (hopefully) resolve this. However, in order to send offline, you are going to need to send via the offline tab, not the send tab. The dropdown for the offline tab for tokens does work, its just quite long as we are unable to filter which tokens have a balance or not without the internet.

[2017-12-27 19:33] mechamecho commented on #1444
I am very grateful for your response. I have node and npm installed.
I have a basic understanding of npm as the package manager for node, I have never worked with gulp before though.

[2017-12-27 19:57] repsorp commented on #1449
v3.11.1.4 working fine for me now
thanks

[2017-12-27 20:55] Lendoit commented on #1449
Yes, the new v3.11.1.4 is working Ok.
But the latest v3.11.1.5 is broken now.

[2017-12-27 22:16] repsorp commented on #1449
Confirmation v3.11.1.5 is broken

[2017-12-27 22:48] tayvano commented on #1449
So the automated builds are still broken. ☹.

Just updated v...5 to be the manual zip from my computer. Looking into why this could be

[2017-12-28 03:56] duggieblue commented on #1330
Nano Ledger. (Hard wallet).  Error code 5. Problem Solved.(edited)
I had problems getting Ledger to connect in Mew (myetherwallet), when i clicked, "connect to ledger wallet, it would after a few seconds return with "Error code 5" and ....nothing.
I then went to Nano, went to "No"  in Browser support FROM Yes. ...,,,,then back to Yes and it loaded addresses, all good.

[2017-12-28 07:51] Zloy commented on #1449
Versions 3.11.1.5, 6 work now.

[2017-12-28 13:40] neuhaus opened #1452 "Gas price wording"
The wording on the live version at the website implies that it shows up-to-date information regarding gas prices.

Right now according to ethgasstation, a std gas price of 3 gwei is fine and 1gwei will also work within 1 minute.

According to myetherwallet.com, when i move the slider to 4 gwei, the transaction will be "really, really slow".
Also there is a static(?) notice saying: " The network is

[2017-12-29 16:12] bikra commented on #1434
Yes mau uang

[2017-12-29 18:14] bikra commented on #1254
Yes aku mau uang

[2017-12-30 09:30] alessandro-c commented on #1047
Same here by using uint256[]

[2017-12-30 13:03] jfloodnet commented on #1428
I get the same issue running tails 3.3. No javascript errors in the console. Styles tab says "could not load stylesheet".  No other errors I can find.

I've downloaded the latest Tor Browser and run on windows and it seems to work fine.

[2017-12-30 13:34] jfloodnet commented on #1428
Looks t be a tails 3.3 issue https://www.reddit.com/r/tails/comments/7g7lxh/mew_31076_doesnt_work_in_tails_33/

[2017-12-31 10:31] veox commented on #1422
Thank you!

I'll close the issue after testing the changes (next year).

[2017-12-31 13:56] Techwolf12 commented on #1122
The entire site doesn't work, nano s or none if visited on firefox with u2f enabled. I have to use chrome to visit MEW for this reason. Basically Firefox is now incompatible with MEW.

[2017-12-31 22:19] ianabray commented on #580
@tayvano Digging this issue back up. I take it you're using Github pages for hosting right? (@rstormsf that's why it shows as Cloudflare btw). Really should move away from GH pages- it's designed for blogs and wikis, not production sites for crypto because the headers are impossible to change.

To give you an idea of how exposed myetherwallet.com is, here is a report from a really cool little site

[2018-01-01 01:44] rstormsf commented on #580
@theoriginaltrubador I'm big fan of netlify

[2018-01-01 05:06] mike24camposano opened #1456 "How Do I Generate Keystore File - Etherium Wallet"
Hi

I would like to seek assistance on 'how to retrieve a keystore file'.
I created my wallet account through myetheriumwallet.com and I have my private key on hand.

I have read a previous post (Apr 2017) with same issue "How Do I Generate Keystore File (UTC / JSON) #449" and followed it but somehow I think the UI changes and I cant seem to find a feature where I could download my keystore file.

[2018-01-01 09:09] Varunram commented on #1456
@mike24camposano Did you try downloading the Chrome extension and importing your private key?

[2018-01-01 09:25] mike24camposano commented on #1456
Hi Varunram - yes I did and followed the instructions.  Clicking "My Wallets" menu from Chrome Extension only leads me to the attached screenshot. I already added that concerned ETH account and I cant see it there

![no-download-keystore-file-feature-02](https://user-images.githubusercontent.com/34994410/34466698-36e930d2-ef18-11e7-99f6-e4b7d9a288df.jpg)

But if I go to PAGE's "send ether & tokens

[2018-01-01 19:41] kurzj commented on #360
Hi guys,

I had exactly the same problem. Made a new MEW account couple of weeks ago. Generated the adress with the private key and wrote everything down. Transferred tokens to the adress, to find out later the private key opens another ethereum adress!?

I just found out that the adress I wrote down belongs to the Metamask account. Turns out my funds were there. I don't understand how this happen

[2018-01-01 20:15] LunarExplorer opened #1462 "Unable to send transactions with any gas limit money just get consumed and transaction fail"
I tried running a slower transaction so that was able to get closer to 0.10 eth to bittrex as they have imposed 0.1 limit

Expected transaction either go through or get caught by validator to prevent loosing money. The error messages do not say what's wrong and hence get less and less balance on the account. See the later image. This is very poor experience if ETH was to be used by wider than few

[2018-01-01 21:18] ghost commented on #512
@trustfarm-dev did you figure out how to create a mutlisig with myetherwallet? I am trying to do the same thing as you at the moment. If you figured it out instructions would be great. Thanks!

[2018-01-02 00:39] Simon0x opened #1464 "BNTY now shown on the Website"
According to this Issue: https://github.com/MyEtherWallet/MyEtherWallet/issues/678 I should ask If you could update: https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/tokens/ethTokens.json

Because I'm able to find BNTY in this file: https://github.com/MyEtherWallet/ethereum-lists/blob/master/tokens/tokens-eth.json

[2018-01-02 01:53] repsorp commented on #1449
v3.11.1.7 is broken

[2018-01-02 02:25] tayvano commented on #1449
fixed.

fucking travis. anyone have any ideas?

[2018-01-02 15:33] repsorp commented on #1449
sorry no idea...
may be something here:
https://docs.travis-ci.com/user/common-build-problems/

[2018-01-03 05:48] trustfarm-dev commented on #512
I'm doing it another way of doing things. not using smartcontract.

[2018-01-04 17:31] hernansaa opened #1477 "Not receiving my ETH to myetherwallet from Bitstamp."
Hi! I have sent 1.6 ETH the 23rd of December 2017 from Bitstamp to myetherwallet. Today I have sent 0.46 and 0.24 ETH as well and NONE of these got to mytherwallet.

I am trying to contact bitstamp but they are not replying. Perhaps you could tell me what is happening or tell me what to do because i am desperate and i don`t know what to do. Perhaps is your problem and i am blaming bitstamp.

I am

[2018-01-04 20:22] sber00 commented on #360
hey guys
had a similar problem. new MEW account, sent coins from exchange, after entering wallet I saw a different address. tried json, but didn't accept the password. after panicking, what I did is, instead of copying private key from usb/computer, I typed it and it worked. it's the exact same string of letters/numbers on usb and paper, weirdly, the problem was copying/usb/who knows.

[2018-01-05 07:22] imrockin commented on #360
After all this time my Time tokens are still in this other wallet I have no idea how the heck they got in there.
The day I created a myetherwallet is when all this happened in Feb 25th 2017.
For some reason my Time tokens are in a different Myetherwallet address. 
The JSON file I have is to a different Myetherwallet address, the one I created.

0xe6D0c27C52B578D44D7744BA78ab2d4a7A64AD05

Still som

[2018-01-05 14:20] spinnak3r commented on #1477
As you can see from [https://etherscan.io/address/0x8cd144FBB602a61E729bFAF3ABcE4912A5f1d0E3](https://etherscan.io/address/0x8cd144FBB602a61E729bFAF3ABcE4912A5f1d0E3) Bitstamp hasn't sent your ETH yet.
  Try contacting them with your ticket number on their twitter account [https://twitter.com/bitstamp](https://twitter.com/bitstamp)

[2018-01-05 17:55] tinamc8 commented on #360
@imrockin I had this issue and have fixed it.

Have u tried the mew helpers that is linked above? Enter ur private key in top box the public address the tokens have ended up in the second box click the wee button and if luck is on ur side the correct private key to unlock your tokens will be revealed underneath. Will be a very similar version of ur true private key probably with a typo. Let me kno

[2018-01-05 18:41] imrockin commented on #360
I tried the mew helpers.  The private key is exactly the same.  This is still unsolved for me, not sure what else to do.
All I know is from the very beginning when I first got the wallet my Time tokens never showed up and somehow found them in some other wallet I never created.
To this day the same exact number of Tokens are still sitting there...
Thanks again
    On Friday, January 5, 2018, 9:55:

[2018-01-06 05:33] NiklasKunkel opened #1482 "'DAI' and 'OLD_MKR' won't show up in default tokens list in UI. 'MKR' is referencing the wrong token contract."
This in reference to the following issue:
https://github.com/MyEtherWallet/ethereum-lists/issues/318

[2018-01-06 08:01] repsorp opened #1483 "[v3.11.1.8] Full token list display in Watch-only account ?"
Is is working properly ?
Tried with other ETH networks, full token list keeps displaying in Watch-only account

![capture du 2018-01-06 08-59-46](https://user-images.githubusercontent.com/6297032/34637887-15f1b524-f2c0-11e7-8d2a-594f4b22a5a5.png)

config:
Chromium 63.0.3239.84, Ubuntu 16.04
chrome-extension Release: v3.11.1.8
etherwallet v3.11.1.8

[2018-01-06 14:34] paulpotter commented on #20
body { -ms-text-size-adjust: none !important; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;}

My balance: $1,000

Home

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;

p

small-text

Hello,

Starting in 2016, you were an early (alpha) member of our project called empowr. Well, that project evolved and became the new www.empowr.com. Along the way, we invented virtual currency

[2018-01-06 14:34] paulpotter commented on #20
body { -ms-text-size-adjust: none !important; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;}

My balance: $1,000

Home

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;

&nbsp;

p

small-text

Hello,

Starting in 2016, you were an early (alpha) member of our project called empowr. Well, that project evolved and became the new www.empowr.com. Along the way, we invented virtual currency

[2018-01-07 02:43] techieanant commented on #492
Was this issue fixed @tayvano ? I'm getting the same error and since MEW is the only application that works with ERC20 tokens on Ledger, my tokens are essentially stuck due to this bug.

Edit: This seems to be the problem.
![image](https://user-images.githubusercontent.com/7658579/34646186-891d8270-f32f-11e7-8cff-0f5d26753ec6.png)

Update: Seems like it only happens on Windows 10, I tried on a Win

[2018-01-07 05:27] tayvano commented on #492
Still haven't been able to recreate with any consistency. It was likely "solved" back when we switched from Parity to Geth and un-solved recently when we switched back to 100% parity due to geth flailing.

I will look into it again. Can you do the full console error for me @techieanant  and which token you were attempting to send? I really do appreciate the screenshot.

[2018-01-07 05:30] tayvano commented on #1483
Obviously not working correctly. The Chrome Extension pages that aren't part of MEW have been sadly neglected these past few months. I sincerely apologize and will try to get it onto short-term fix list.

[2018-01-07 06:54] rkagerer commented on #43
I had the same problem, using a more recent offline MEW (etherwallet-3.11.1.7) under Firefox.  I followed [these instructions](https://support.mozilla.org/en-US/kb/warning-unresponsive-script#w_letting-the-script-run-longer) to increase the script timeout to 100 (lower than that didn't finish - it's pretty old hardware).

[2018-01-07 08:44] #1482 closed, assigned to nobody

[2018-01-07 10:50] repsorp commented on #1483
[v3.11.2]
Watch-Only Accounts list is OK with Giveth.io ETH network (correct display, no full token list)
Other networks still stuck with full token list

(Please don't apologize, you're doing such an amazing work)

[2018-01-07 10:54] tayvano commented on #1483
Ohhhh. I bet you hit the limits 😬

email me your IP address and Ill whitelist you for the time being. taylor at myetherwallet

[2018-01-07 13:12] repsorp commented on #1483
Perfect !
Thanks

[2018-01-07 13:12] #1483 closed, assigned to nobody

[2018-01-07 16:47] hmchmc commented on #360
The same thing happened to me today.
I was sending EOS from Binance to my newly created MEW and then when I went back to MEW there was a different adress showing.
My tokens are at this address: 0xE6261435cF81EE96830a704d70F1FC885C855FB4
And my JSON file and private key takes me to this address: 0x9C67Ce166c5aF4aF8DCd76f837F3556D81d89204
If there is a solution for this I'd be very thankful.

[2018-01-07 17:20] wparad commented on #360
@hmchmc, have you tried three suggested solutions in this thread?
* searching history and computer for the string **E6261435cF81EE96830a704d70F1FC885C855FB4**
* Using the [MEW Helpers Mistyped Private Key](https://www.myetherwallet.com/helpers.html)
* Trying the code solution in https://github.com/kvhnuke/etherwallet/issues/573

Can you also list the full process you used to attain the address you

[2018-01-07 17:26] veox commented on #589
AFAIU this issue has been solved long ago, so closing.

[2018-01-07 17:26] #589 closed, assigned to kvhnuke

[2018-01-07 17:40] unknown1235 opened #1489 "Offline Transaction files"
I am trying out the offline transaction method of MEW.
Is there a way you can publish the MD5 or SHA256 of the offline myetherwallet files found here:
https://github.com/kvhnuke/etherwallet/releases/tag/v3.11.2

Would like to double check for security just to make sure.

[2018-01-07 18:23] wparad commented on #1489
Could make sense to publish that if it is a recommended way of interacting with the downloads, although I think the release data can change, so might not be the most secure.  A safer method is to clone the repo and checkout the tag or sha for the version you want to use:
[code]
and then open the file `./dist/index.html`

[2018-01-07 18:24] unknown1235 commented on #1489
I am kind of new to github.  Could you show me how that could be done?

[2018-01-07 18:25] unknown1235 commented on #1489
I am not doing this on linux.  This is on windows.  Anyway I can download the file and check it some how?

[2018-01-07 18:28] veox commented on #1422
Finally got to testing this: all good with MEW v3.11.2. Closing.

[2018-01-07 18:28] #1422 closed, assigned to nobody

[2018-01-07 18:38] wparad commented on #1489
Sorry that isn't linux specific:
* [Git for Windows](https://git-scm.com/download/win)
* Click the Green Clone button on the right hand side:
![image](https://user-images.githubusercontent.com/5056218/34652698-173111b4-f3e2-11e7-85fd-906c17a409e2.png)
* Copy the repository url there.
* you can open the resultant `dist` > `index.html` file via windows explorer.

Although, I'm worried suggesting add

[2018-01-07 18:46] unknown1235 commented on #1489
Thank you
I will try that shortly.
So once I install that and get the dist/index.html?
Will that have the  tag or sha for the version you want to use?

I was using Ethereum wallet with geth.  But syncing that wallet is nearly impossible these days.  I had an old laptop that I been trying to syncing and its been over an week now.  Still stuck.
So now I am trying this offline method.

I heard about

[2018-01-07 19:01] wparad commented on #1489
Those are all really good questions, but require a variety of answers, we probably should avoid using this ticket to dive into them though.  For help on anyone of those questions, I suggest seeking out both the [MEW Knowledgebase](https://myetherwallet.github.io/knowledge-base) as well as [ethereum communities](https://myetherwallet.github.io/knowledge-base/diving-deeper/ethereum-list-of-support-a

[2018-01-07 19:04] unknown1235 commented on #1489
Appreciate all your help.
I will try that github app and go from there.
Thanks again for all the advice.

[2018-01-07 21:24] ali-raheem opened #1490 "Website does not load if U2F is enabled in Firefox"
Tested with Quantum and Nightly.

To replicate:

Go to about:config

Search for U2F set security.webauth.u2f to true.

Attempt to load MyEtherWallet.com

Hard to know if this is a MEW issue or Firefox.

[2018-01-07 23:30] hmchmc commented on #360
@wparad yes, I don't find the string on my computer and there are no matches on the "helpers" page. I tried the code solution, it ends by saying missing chars: 0
and asks for a new command. I don't know if I'm doing something wrong.
When I got the address I logged into MEW with the Private key-option and copied the address from the Your address-field and then pasted it on Binance.

[2018-01-08 01:55] TheAIExpert opened #1491 "V4 tracker Issue"
Sent a transaction. It said failed, bad instruction and now I don't know how to get my tokens back. Is there anyway to get them back.

[2018-01-08 02:51] tayvano commented on #1491
Please email support@myetherwallet.com. You can check your balance here https://myetherwallet.github.io/knowledge-base/getting-started/checking-balance-of-my-account.html. If you TX failed, your ETH nor tokens never left your account

[2018-01-08 02:51] #1491 closed, assigned to nobody

[2018-01-08 02:55] tayvano commented on #1490
https://github.com/kvhnuke/etherwallet/issues/1122

[2018-01-08 02:55] #1490 closed, assigned to nobody

[2018-01-08 17:01] jefflau commented on #492
Have not seen it in a while. Still using a Macbook Pro with touch bar.

[2018-01-08 20:01] tinybike opened #1492 "Missing values in send confirmation modal window"
I'm using MEW with MetaMask 3.13.2 (Chrome 63.0.3239.132 64-bit on Xubuntu 16.04) to send tokens.  MEW's confirmation modal is missing several values:

![screenshot-mew-blt](https://user-images.githubusercontent.com/2637020/34689536-af1dcc32-f46a-11e7-9f40-18cf8907f6b0.png)

(This example is for BLT, but the confirmation modal is missing these values with other tokens, or when just trying to send

[2018-01-08 21:53] Uelese commented on #1121
I've had the same problem. I generated a new MEW for the purpose of connecting into EtherDelta. MEW generates a private key which is automatically saved to my computer using a surface 3. Once i unlocked my new wallet, I scrolled down and copied the address from that wallet and sent coins from my MEW which is connected to my trezor. I checked the transaction and it had been successful, so I went ba

[2018-01-08 22:45] wparad commented on #1121
@Uelese, could you expand with more details, i.e. the address you copied, tx adress, and the actions you performed others than those listed.  It also sounds like you are saying that the file you opened show two different addresses on each subsequent opening, how is that possible?

[2018-01-08 22:49] wparad commented on #360
@hmchmc, are you saying that you used this option:
![untitled](https://user-images.githubusercontent.com/5056218/34696262-5f9fe42e-f4ce-11e7-8017-d67dc2e9d5da.jpg)

How did you populate the private key field, I would normally expect withe MEW to use the JSON keystore, it is possible that something other than the private key was used.  (If that is the case, you may still be able to recover you coin

[2018-01-09 00:03] Uelese commented on #1121
@wparad this is the address that the wallet generated "0x04eb66d8cbdc5f822aba31c6bd4790519c098228" TX is "0xf28c171b9abb54a77e4c6de5b55bc4ccaa10f252e402c5fa44b268c4bc8170b5" I opened my wallet using the private key option. I then opened the file which saves automatically when creating the wallet. In order to read the file i converted it into notepad so i could get the numbers, and cut out the numb

[2018-01-09 03:08] techieanant commented on #492
I found another error today in addition to the original one while trying to get more information. Here are the steps I followed to reproduce this error:
- Connect ledger and open Ethereum app
- Open MEW website and access wallet
- Click to load KIN token on the sidebar
- Paste an address to send and set amount to send as 1000000
- Click generate transaction to see this on the console
![image](http

[2018-01-09 14:07] elboletaire commented on #1122
Same here, I thought it was due to the firefox version... but obviously it's not. Disabling u2f allows me to access MEW without issues.

[2018-01-09 18:10] wparad commented on #1121
@Uelese, I'm confused, two things of note:
* there are many more than 3 values in the JSON keystore.  As a matter of fact the public address is none of three you listed but actually the ones saved in the `address` field.
* looking at address [0x04eb66d8cbdc5f822aba31c6bd4790519c098228](https://etherscan.io/address/0x04eb66d8cbdc5f822aba31c6bd4790519c098228#tokentxns), seems you managed to successf

[2018-01-09 23:26] Uelese commented on #1121
HI Warren,

Yes, I had a friend come over last night and work on it with me.
Thank you for looking into this, I have no idea what had happened but I'm
just glad I got my coins out.

I also asked my mate what the process was but he didn't know what he did to
get me to that address as we had been playing with MEW for hours to get in.
Thank you again, Warren.

Cheers
Uelese

On Wed, Jan 10, 2018 at 5

[2018-01-10 14:09] hmchmc commented on #360
@wparad I think that is what I did, and I wrote the key from a paper where I had previously written it down. I'm gonna try and see if something from the JSON file will work, just in case.

[2018-01-10 20:48] JamesDonnelly commented on #1001
I was experiencing this in Chrome, and I resolved it by clearing my browser's localStorage. I think this issue happens when switching between an ETH wallet and an ETC wallet (I'm using TREZOR, if that matters).

[2018-01-10 23:07] leougurm opened #1504 "Transaction nonce is too low. Try incrementing the nonce."
Hello I m having this problem when I want to send Tron from etherwallet to somewhere else. As ı see ı dont have a way to increment the nonce. How can ı solve this problem?

[2018-01-11 02:54] jidanni opened #1506 "Last slide missing "Finish" button at bottom"
Last slide missing "Finish" button at bottom:
![df](https://user-images.githubusercontent.com/1230959/34806424-c805aa1c-f6bd-11e7-85d4-f955abef5100.jpg)

[2018-01-11 02:57] jidanni opened #1507 "Send Message button doesn't work"
I see I should have reported https://github.com/MyEtherWallet/meta/issues/2 here.
Chromium
Version 63.0.3239.84 (Developer Build) built on Debian buster/sid, running on Debian buster/sid (64-bit)

[2018-01-11 07:14] anudeep26 opened #1508 "OMG transaction doesn't complete"
Hello Team,

Trying to transfer OMG tokens from mew to my exodus wallet. Getting the following error

Transaction gas price is too low. There is another transaction with same nonce in the queue. Try increasing the gas price or incrementing the nonce

To 0x350392a6c291459EAd3D9Feb848105dd2E8eFFd0

[2018-01-11 16:52] unknown1235 opened #1509 "Will myetherwallet offline mode works on ubuntu and in firefox?"
It works fine in chrome and window but would this work in firefox and ubuntu?

Anyone ever tried it?

[2018-01-11 17:14] wparad commented on #1507
@jidanni, almost.  It actually belongs here: https://github.com/MyEtherWallet/knowledge-base/issues

[2018-01-11 20:07] freekvh opened #1510 "Private Key Unencrypted?"
Hi,

I generated a paper wallet, off line as suggested.
At the start of the procedure I get this message:

So I assumed the private key on the printed wallet to be encrypted, however, when entering it I can regenerate the entire paper wallet without decrypting the private key. So I now think that the private key on the paper wallet is not encrypted at all. This is a bit confusing to me, I haven't

[2018-01-11 20:32] #1510 closed, assigned to nobody

[2018-01-11 20:38] Le-JV opened #1511 "Error opening Digital Bitbox wallet using local MyEtherWallet"
I'm trying to open an ethereum wallet (stored on a digital bitbox) on a local version of MyEtherWallet (latest version 3.11.2.2).

When inputting a password the following error is returned: **"Error in event handler for (unknown): TypeError: str.match is not a function"** though unfortunately no stack or any other useful information. It makes no difference whether the password is correct or not. T

[2018-01-11 20:43] wparad commented on #1511
@OmniscientJV can you post that exact toolchain you are using along with the versions.  I.e. digital bitbox, browser and version, operating system, etc...

Also related to #492

[2018-01-11 20:49] Le-JV commented on #1511
Yes, sorry, I should have mentioned this. I'm using the latest version of the digital bitbox firmware. Using Chrome 63.0.3239.132 on Windows 10.

[2018-01-11 22:25] GENERALGUBERNATOR1 opened #1512 "GENERALGUBERNATOR1"
Лицензия Apache
                         , январь 2018 г.

   УСЛОВИЯ ИСПОЛЬЗОВАНИЯ, ВОСПРОИЗВОДСТВА И РАСПРОСТРАНЕНИЯ

   1. Определения.

      «Лицензия» означает условия использования, воспроизведения,
      и распределения, как определено в разделах 1-9 настоящего документа.

      «ЕВГЕНИЙ ГУЗУН» означает правообладателя или юридическое лицо,
      владелец авторских прав, предоставляющий Ли

[2018-01-12 00:28] realcodywburns commented on #1504
Your nonce should populate automatically. If you are sure that it is correct and still having trouble you should try 1) changing node to another 'eth' in top right corner or 2) verify your nonce on etherscan.io and then use the 'offline transaction' tab and enter the correct nonce

[2018-01-12 04:48] hendynicholas commented on #449
i don't considerate my utc file.. i only can save my keystore in excel file.. how to get back utc file from excel file?

[2018-01-12 09:34] awfm9 opened #1515 "Ledger chrome extension support"
Are there any plans to add hardware wallet support to the chrome extension?

Arguably, this makes most sense for offline transactions, as you might want to store your Ledger Nano S, for example, in a bank vault or somewhere air-gaped without Internet access. This would allow you to generate the transaction, then take the raw transaction outside for broadcasting.

Another good option would be to al

[2018-01-12 22:22] dv603 commented on #360
I am having the same issue - when I set up my wallet in MEW it gave me one address. I printed this in paper (along with the private key) and kept it safe.
Then, when i was exploring the site and looked at 'my wallet info' in MEW it gives me a different address!

[2018-01-13 17:58] spartanec777 opened #1520 "Myetherwallet hacked and all funds are stolen!"
Despite the fact that I followed all safety rules all mine ethereum are stolen out from my wallet
My ex- wallet address:0xf58c52c9a13A19938119629d496A27Cb300790A3
The final thief’s address: 0x05EE546c1a62f90D7aCBfFd6d846c9C54C7cF94c

[2018-01-13 21:52] ang3lcop commented on #360
I am disappointed, always thought very high of open source softwares... I think this is not a trustworthy software.

[2018-01-13 22:00] nicar commented on #545
@tayvano Did any further issues in relation to this occur? Or any reasons to keep this one open? :)

[2018-01-13 22:05] wparad commented on #360
@dv603, would you be able share a screen capture of MEW address being shown after unlocking your key as well as the one from paper key, so that we can help identify what the issue is?
(Please do not include your private key.)

[2018-01-14 00:39] ATouhou opened #1521 "Error when sending using private key"
(error_07) Please enter a valid password. TypeError: Cannot read property 'length' of undefined

[2018-01-14 02:27] peterhaddad98 opened #1522 "Add Custom Token: "Not a valid ERC-20 token""
Address: 0x45245bc59219eeaaf6cd3f382e078a461ff9de7b

I added "BKX" as a token and it is saying "Not a valid ERC-20 token".

What am I doing wrong?

Thanks, Peter

Edit:
It worked fine in Firefox! I guess it's a bug.

![capture](https://user-images.githubusercontent.com/26935752/34912195-866e6106-f8a8-11e7-9e94-cb59cf263b2e.PNG)

![capture](https://user-images.githubusercontent.com/26935752/3491221

[2018-01-14 07:16] GENERALGUBERNATOR1 commented on #545
закройте  ошибку,

2018-01-14 1:00 GMT+03:00 nico <notifications@github.com>:

[2018-01-14 15:44] isnead9 commented on #360
Hi, I am having the exact same problem. Made a wallet, and a day or two later logged into the wallet in order to make sure i had the credentials for it before sending my DRGN tokens, and now when I log in using the ONLY private key or anything I have it brings me to a different wallet address. I would like to try the code solution, but don't know how.

[2018-01-14 15:56] wparad commented on #360
@isnead9, what do you mean by:

[2018-01-14 16:30] andrewathalye commented on #1520
I'm not seeing your point-the most recent TX from your wallet was over a month ago, and not to the address you listed.

[2018-01-14 16:33] andrewathalye commented on #1508
Do what it says. Go to adv settings and change the nonce and gas limit/gas to a higher value. That should help.

[2018-01-14 16:36] andrewathalye commented on #1462
Try sending slightly more than 0.1 eth, and then you should hopefully get the excess refunded as well as meet the limit.

[2018-01-14 16:53] andrewathalye commented on #1399
Coinomi seems to only support bitcoin wallet sweeps?

[2018-01-14 17:01] andrewathalye commented on #1304
Can't you use IIS(Windows) or nginx with a self-signed certificate?

[2018-01-14 17:35] nicmanism commented on #1399
Thanks for getting back to me.

I've found that I can sweep the wallet using Jaxx.

Regards

Mark

On Sun, Jan 14, 2018 at 4:53 PM, Andrew Athalye <notifications@github.com>
wrote:

[2018-01-14 17:36] spartanec777 commented on #1520
Yes, it's happens month ago. But still I cannot refund my ether. The point is to warn everybody that myetherwallet is not safe place to keep crypto, and better to use other option. This adress what I listed its a final, here it is full history (everybody can check it, if just to trace thiefs adress):
0xC096f5D2548006F8e75dd0479E3ee2C7984aE656
0x511121AC9C5022c1f72225adD11D1E18B6970652
0x05EE546c1a

[2018-01-14 18:28] prestonvanloon opened #1525 "Couldn't find preset "env" relative to directory"
Unable to build gulp dev.

Error: Couldn't find preset "env" relative to directory "/home/travis/build/kvhnuke/etherwallet/node_modules/ethereumjs-util" while parsing file: /home/travis/build/kvhnuke/etherwallet/node_modules/ethereumjs-util/index.js

https://travis-ci.org/kvhnuke/etherwallet/builds/327877319

[2018-01-14 18:31] isnead9 commented on #573
hi, I have this same issue. But I do not know how to input the code or to run the code so that it will try each version of the key. Thanks!

[2018-01-14 18:54] isnead9 commented on #360
There's a solution in #573 that can help if theres one mistyped symbol, but I don't know how to run the code on mew.

[2018-01-14 20:57] syndrael opened #1527 "No "Refund" menu"
Hello,
i don't know if it's the right site to describe the issue.
On https://www.myetherwallet.com/#contracts, after typing Contract Address & ABI / JSON Interface and pressing Access, there is nothing in the "Choose function" menu.
On Gnome/Debian Firefox and Chromium, nothing.
May you help me ?
Regards.

[2018-01-14 22:08] stuartbennett commented on #573
This can be closed now as @isnead9 has recovered what he lost (he emailed me).

For anyone else, MyEtherWallet is now using my script (https://myetherwallet.github.io/knowledge-base/private-keys-passwords/accessing-different-address-same-private-key-ether.html) and you can quickly use it from your browser at https://www.myetherwallet.com/helpers.html.

@tayvano does that mean I qualify for MEW sti

[2018-01-15 09:10] cozza28kipa commented on #449
This is very confusing and im in the same boat with this problem!

[2018-01-15 09:39] #1525 closed, assigned to nobody

[2018-01-15 11:33] NghiaSE commented on #1520
I cry for you, it's best to create a wallet and sign transaction offline

I TRUST MEW but if you can't trust MEW for whatever reasons, then you can generate your account offline using geth (geth account new) then import it to MEW

Test send / receive a small amount of ETH before receiving a massive amount of it.

[2018-01-15 13:20] aresabi commented on #360
we are still sitting in the same boat. i've created a MEW adress on my iOS and made a screenshot of the private key, the public adress and the unencrypted private key as a QR code. I also wrote down the private key on a piece of paper (triple checked).
I've sent 5 ETH to adress which was displayed immediately after my wallet was created:
https://etherscan.io/address/0xf17c2bF4dC47a0D7fe8CED6e6B344

[2018-01-15 13:27] numero41 opened #1528 "Can't access to my wallet anymore"
Hello,

I transferred all my tokens yesterday on mew.
I have a Ledger Nano S and I am quite 100% sure that I was using it while opening the wallet, but I can't see my public address anymore in the list when I reconnect the device.

I had several tabs opened in my browser, and on one of them I have created a new wallet (for test) directly from MEW CX extension. I did not store the private key and I

[2018-01-15 16:26] wparad commented on #1528
If you did any testing with this other address we would be able to tell.  What we are going to do is inspect the ethereum addresses and see if we can understand what happened.  Can I ask, what addresses do you have knowledge of?  We need some reference points to start with.

[2018-01-15 16:29] numero41 commented on #1528
Here is the public adress where are my funds :
https://etherscan.io/address/0xbBeC195bA2AD7197e280A682c185af1a3e9c9D29
You can see my Nas/Ven/Qash tokens there

Here is the first adress in the list when I connect my Ledger since then on mew :
0xB5AbE315621adF14A4450D5160f1d969d53900AD
This is the same address that is returned when using the Ledger eth chrome app.

[2018-01-15 16:36] numero41 commented on #1528
I can prove that it comes from me as I have sent them from Binance/Huobi using my accounts

[2018-01-15 16:45] numero41 commented on #1528
![huobiwithdraw](https://user-images.githubusercontent.com/26090120/34952983-d2043702-fa1b-11e7-8d43-2be46ab059fb.PNG)
![binancewithdraw](https://user-images.githubusercontent.com/26090120/34952984-d22f41c2-fa1b-11e7-99b0-c5cd017a7876.PNG)

[2018-01-15 17:06] wparad commented on #1528
And what is the address on your ledger? [see here](https://ledger.zendesk.com/hc/en-us/articles/115005197245-How-to-transfer-Ethereum-to-my-Ledger-where-can-I-find-my-Ethereum-address-)

As far as searching the dump, look for the address string without the starting `0x`

[2018-01-15 17:10] numero41 commented on #1528
Here is the first adress in the list when I connect my Ledger on Mew (since it has changed)  :
0xB5AbE315621adF14A4450D5160f1d969d53900AD

[2018-01-15 20:43] numero41 commented on #1528
Did you manage to understand what happened?

[2018-01-16 04:43] abrennan707 commented on #360
Hey There,

The same thing has happened to me. I remember double checking everything the night that I transferred my SUB from Binance to MEW.

I don't know where the address came from that appears in my binance withdrawal history. When I paste that address in ethplorer.io, I can see my exact amount SUB sitting there.. But when I get in to the MEW that I have all the credentials for, SUB shows as 0

[2018-01-16 05:54] abrennan707 commented on #360
OMG... When I typed out the private address instead of copying it, I was able to get in. My coins are there!

[2018-01-16 10:41] bazuka86 commented on #360
I had same problem. Who didn't solve it yet try enter your backup key instead of your privet key. It helped me !

[2018-01-16 11:44] sber00 commented on #360
I realised the copy/paste issue, when I went to check 4 different MEW of mine.
2 of them was ok, the other 2 showed a different wallet address/missing coins after entering. as I mentioned before, I tried json + password, but I couldn't even enter, which was weird. I mean 2 MEW are okay, why the others are not..?
so, I typed MANUALLY (private key) I entered and was all good :)

[2018-01-16 13:43] numero41 commented on #1528
Hello,
I managed to find my wallet operations using Mew in my backuped cache files.
I can see there all the wallets I created, and some of them have the key file string (the dictionnary) that should have been stored in the json file.
But for the adress where are my funds (0xbBeC195bA2AD7197e280A682c185af1a3e9c9D29), all the manipulations I did are mentionned as "watch only".
The string stored in t

[2018-01-16 21:49] numero41 commented on #1528
Please help...

[2018-01-16 22:13] tayvano commented on #1528
Are you still.on the eth network?

Have you tried switching the paths at the top on the ledger pop up?

[2018-01-16 22:21] numero41 commented on #1528
Yes I am on Ethereum network, and I tried switching the paths, I can see a change in the address list below, but I never see mine.

[2018-01-16 22:23] numero41 commented on #1528
When you say ethereum network, you mean the option on the top right corner of mew page?
I bookmarked the website, and never clicked there 🙁

[2018-01-16 22:26] numero41 commented on #1528
I tried to switch to other networks, but it seems to me that it doesn't change the address list, am I correct?

[2018-01-17 01:59] numero41 commented on #1520
I have also a mismatch address issue, I made a post about it, you can check it out

[2018-01-17 02:01] numero41 commented on #1528
Hello,

I have some new informations, I don't know if it's useful but here they are :

I reconnected the Ledger tonight, I wanted to make a test to send a very little amount of tokens to my current public address (which is not he one I sent my funds on - just to remind you).
So I open the wallet, using the Ledger, select, the first address in the list, and check the "Ledger eth derived path".
Then

[2018-01-17 02:52] andrewathalye commented on #1528
Go to the top-right corner and select the currency you want. It looks like you have it on epool.io for etc right now. If your ledger got corrupted, I can only wish you the best :(. My advice would have been to print out as many copies of the wallet file as possible - if you can't recover the private key, you may very well be stuck. However, try digging deeper into your browser cache and see if you

[2018-01-17 09:09] numero41 commented on #1528
I don't understand your answer...
The wallet was created through the Ledger. That's exactly the purpose of it not to need to use a private key, right?
Anyway, the initial problem is with the wrong public address, and so far no one gave me any information about this public key...

[2018-01-17 12:03] andrewathalye commented on #1528
If the ledger or derivation path were corrupted or not recognised by MEW, you likely won't be able to get a private key for that address. As for why it is in ETC, just change the node in the top-right to an ETH node.

[2018-01-17 13:02] numero41 commented on #1528
Ok... But I am sure to have done all my transactions in a correct way, via
the ledger, with the correct derivation path, etc etc

In your first answer you told me : "What we are going to do is inspect the
ethereum addresses and see if we can understand what happened."
Did you manage to get any information ? Do you know when the address was
created for instance?

Are you telling me that I just lost

[2018-01-17 15:19] keitheisenberger opened #1534 "Myetherwallet/Metamask"
When i set up myetherwallet, it prompted me to create a metamask account. After doing so, i needed to create i sent my TRX to the account. It shows that the Tokens are in there, but there is no balance. When i click on the token, it takes me to etherscan. But i can not figure out how to sell, transfer, withdraw my Tokens. Am i doing something wrong. Are my Tokens on the line?

[2018-01-17 15:21] keitheisenberger commented on #1534
![picture1](https://user-images.githubusercontent.com/35533666/35050127-86a52d6a-fbbb-11e7-8ab6-573d50842321.jpg)
This is all i see.

[2018-01-17 16:20] wparad commented on #1534
If you want to transfer your tokens elsewhere you'll need to:
* 1) Add ether to this address for part 2.
* 2) Sign a transaction on MEW using metamask and the contract for TRX specifying the target address.

[2018-01-17 16:24] wparad commented on #1528
To put it simply, the Ledger stores the private keys inside the device.  If it no longer has the private key for an address, you can't get the tokens out.  This is why you back up the Ledger.  Rather than trying to figure out why connecting the Ledger is giving you issues (which is a separate problem), let's start with getting you access to your coins.  As part of the setup for the Ledger you wrot

[2018-01-17 16:50] keitheisenberger commented on #1534
Thanks. So how do The transaction. I apologize, New to this so need it
broken down.

--
Keith Eisenberger, Jr

On January 17, 2018 at 8:20:17 PM, Warren Parad (notifications@github.com)
wrote:

[2018-01-17 16:52] numero41 commented on #1528
Ok, I listen to you!

And yes, I understand how works the Ledger (I am not an expert, but I am a software programmer for 20 years, so not to noob I hope...).
And I used the ledger with stellar wallet several times and never had any issue.

So yes I wrote down the passphrase, and what I did at some point is reset the Ledger, reinit it with my passphrase, and reinstall the ETH app.
The public addres

[2018-01-17 16:53] numero41 commented on #1528
For the address of the coins, I already provided it to you 2 days ago:

Here is the public adress where are my funds :
https://etherscan.io/address/0xbBeC195bA2AD7197e280A682c185af1a3e9c9D29
You can see my Nas/Ven/Qash tokens there

Here is the first adress in the list when I connect my Ledger on mew :
0xB5AbE315621adF14A4450D5160f1d969d53900AD

[2018-01-17 17:04] numero41 commented on #1528
Sorry if I seem upset, but it's a lot of money for me, I am really panicking for 4 days.
I spent all my nights trying to figure out a solution in addition to my job with no success 😓😓

[2018-01-17 17:09] numero41 commented on #1528
With my analysis of the image of the hard-drive + ram dump (3 hours after the transfert), I managed to see the 3 test wallets I created with MyEtherWallet cx, and to rebuild the private key Jason files. But these were just tests with different addresses, and I didn't use them to store/send anything.
I also made this day a test with metamask, and was also able to rebuild the Jason file too with the

[2018-01-17 17:14] numero41 commented on #1528
... in the files are access to view the transactions on etherscan.io.

I also made a test with metamask, and was able to rebuild the Jason file too with the passphrase, but it's not this address either.
For all these reasons I have no doubt anymore about the fact I uses the Ledger properly to get the address which I used to send the funds to.

That's all the informations I can give you for now, bu

[2018-01-17 17:53] keitheisenberger commented on #1534
So I have Ether in my Metamask account now. How do I go about sending the Tokens from Metamask to MEW. I do not see them anywhere in MEW.

[2018-01-17 18:06] wparad commented on #1534
MEW doesn't support TRX out of the box yet, so we'll need to create a contract transaction manually.
* Validate this is the [TRX contact](https://etherscan.io/address/0xf230b790e05390fc8295f4d3f60332c93bed42e2#code)
* Copy the contract address and the contract ABI to [MyEtherWallet Contract](https://www.myetherwallet.com/#contracts)
* Specify the `transfer` method and then enter the new address an

[2018-01-17 18:26] keitheisenberger commented on #1534
So before I do this, a few questions:

1.  what is the best wallet to use for this. I ordered a Nano that is not
here yet, hopefully it will be here in a few weeks

2. My tokens are all in Metamask, that is linked to MEW, yet their are no
tokens on MEW (has a 0 when I created a custom for Tron).

3. Will I always have to jump through hoops to pull out if I keep it in
Metamask

4. Is there a way to

[2018-01-17 22:19] numero41 commented on #1254
@InfiniteLoop16
I have a similar issue, you can see it on the ticket I sent here 3 days ago...
Did you manage to find a solution?

[2018-01-18 04:52] isnead9 commented on #360
It shows your token already because you’ve already loaded that one, so it stays open.

I discovered that I accidentally copied the seed of another wallet into the private key field on MEW. Try every key you have as you may have copied the wrong one. Aside from that, not really sure what else can be done. Did you ever manually type the key that you copied?

Best,
Isaac

[2018-01-18 14:12] OrEagle97327 commented on #1528
This is a new development, that is welcome.

My contact with Ledger is disappointing.

This connection may help get to a solution.

How do we consolidate notes?

[2018-01-18 14:33] numero41 commented on #1528
I'm new to github, I don't know how to do this...

[2018-01-18 15:12] OrEagle97327 commented on #1528
With this new development maybe Ledger will be more active.
I have an open email with Alexandre (Ledger); ...expecting response soon
will flag my last email with your thread, and the one I received regarding Ripple

This helps the community(s) find a common solution.
Your post scares me - I have a substantial holding using MEW and Ledger Nano S

I am new to gethub as well
Everything we post is pub

[2018-01-18 15:26] numero41 commented on #1528
Ok great.... I hope I'll lead to a solution, as you can see for me it's a lot of money involved :(

But I also guess that it must be a problem related to various API synchronisations between all the wallets teams and Ledger, so it's good to have advices here on Github also (but as you can see, unfortunately not so many answers too... Each time I get a message, I answer in a few minutes, and I get

[2018-01-18 15:38] OrEagle97327 commented on #1528
This 24 hour response is what we get from when dealing around the world.
I am 50k to Oregon, US Pacific coast talking to you

I just received this to my email from ledger - standard immediate reply
___

Thank you for contacting Ledger.

** Important ** Due do recent high volume of orders, current 1st reply time is between 1 to 10 business days. We will do our best to reply as fast and as efficient

[2018-01-18 15:47] numero41 commented on #1528
ok, well I'll try to offer them to bring my device directly to the office then, maybe it would be easier...
8 people in the support team for millions of users is almost a joke, they are not a young startup anymore...

[2018-01-18 15:48] numero41 commented on #1528
Since we are on the etherwallet github support, I don't want them to think it's a 100% Ledger issue, nobody knows for now...
**So guys here, feel free to try to help us also, we don't know where the issue comes from, so any advices/help would be much appreciated!**
Thanks a lot again.

[2018-01-18 17:52] msx752 opened #1536 "MetaMask: web3 will be deprecated in the near future in favor of the ethereumProvider"
i want to access to wallet with **MetaMask / Mist**
i am using chrome browser and i got this error in the console tab what should i do,
[code]

[2018-01-18 19:58] keitheisenberger commented on #1534
I attempted to do this numerous times, and if either says I do not have
enough funds. There is one area that asks for the unit 256 (I put in
1000000 as a test of 1 torn. Then I go to the next screen and it asks
me "Amount
to Send In most cases you should leave this as 0.*"* and “gas".    Once I
go through this it gives me a red error stating insufficient funds. All
want to do is move it from Metam

[2018-01-18 20:29] wparad commented on #1534
What's your address?

[2018-01-18 20:30] numero41 commented on #1528
Another thread :
https://www.reddit.com/r/ledgerwallet/comments/7r0qxf/xrp_zero_balance_and_wrong_receive_address_on/

[2018-01-18 21:44] numero41 commented on #1528
I made a united post on Reddit to raise attention :
https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/

[2018-01-19 13:04] numero41 commented on #1528
Hello,
I don't have any news here, nor from the Ledger support...
Could my issue be related to this issue from last year??
https://github.com/bitpay/bitcore-lib/pull/97
https://github.com/iancoleman/bip39/issues/58

[2018-01-19 17:19] wparad commented on #1528
@numero41, I like that reddit post you made.  I'm sorry I'm really sure what else to do to help, I'm also not a Ledger expert.  Perhaps the question should be, is there something that MEW could do better to help avoid this problem in the future for other users, or is this something that needs to be handled outside of our help?

[2018-01-19 17:47] numero41 commented on #1528
@wparad
I don't know either! I'm not a Ledger expert NOR a mew expert.
From my point of view, mew interface is a disaster lol.
And with cx extention, there is not a big prompt to save your json file after created the wallet like via the standard mew.
But for my personnal issue, I don't have any clue about what you could do! Can't you get in touch with Ledger team??
In your first reply you told me

[2018-01-19 18:16] numero41 commented on #1528
@wparad

These two scenarios might have happen when I used Mew :
- potentially forgot to enable "contract data" on the Ledger
- potentially had left the Ledger chrome app runnig background.

As I was able to withdraw my tokens, I didn't think this could be relevant, but if one or both options above, could that explain anything?

Thanks a lot, I'm waiting for your answer, didn't sleep for 5 days no

[2018-01-19 18:26] pyskell commented on #941
@tayvano @kvhnuke

To add to this it seems the problem is that in order to *verify* a message I first need to unlock a wallet on the sign message tab. Then I can verify.

Steps to reproduce:
1. Sign a message:
[code]
1. Close myetherwallet.com's window
1. Visit https://www.myetherwallet.com/signmsg.html in a new window
1. Click "Verify Message"
1. Enter signed message from the first step
1. Nothin

[2018-01-19 19:58] numero41 commented on #1528
@OrEagle97327
Ledger CTO just answered in my thread on reddit that they are **not aware of our issues**.
I mentionned our both tickets Ids, but if you are aware of others, feel free to answer here :
https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/dsxls5e/

[2018-01-19 20:35] numero41 commented on #1528
I think the opened app in the background could be the best lead :

I saw on several forums and Ledger public forum that when their app didn't show any balance, they were asked to clear their app cache, or even uninstall/reinstall it.

Alexandre's only answer from the support to my ticket was to do so -because they had errors in their API-, and I just answered him that my issue was not related to t

[2018-01-19 20:44] numero41 commented on #1528
I posted the idea here on reddit :
https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/dsxragt/

[2018-01-19 22:55] hcarkeet commented on #360
I am in the same boat! Exactly the same issue, Now I have coins stuck in an account un-accessible!

[2018-01-20 01:28] abrennan707 commented on #360
Type you private address instead of copy/paste it. It worked for me!

On Fri, Jan 19, 2018 at 2:55 PM, hcarkeet <notifications@github.com> wrote:

[2018-01-20 04:50] hcarkeet commented on #360
@abrennan707 When typing it, are you referencing it from the printed wallet page or have you just saved your key to a notepad and then tried to type it from there?

[2018-01-20 05:10] hcarkeet commented on #360
Tried typing it manually, takes me to the same address.

I actually had the exact same problem as @imrockin where the address actually changed.

No trace of any other UTC file or even in my chrome history of me refreshing the page etc. No other private keys. I have only the one key.

When I created the account, I was transferring certain coins and gave the company my address to transfer. Then I re

[2018-01-20 10:56] keitheisenberger commented on #1534
Keith.eisenberger@gmail.com

--
Keith Eisenberger, Jr

On January 19, 2018 at 12:29:24 AM, Warren Parad (notifications@github.com)
wrote:

What's your address?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/kvhnuke/etherwallet/issues/1534#issuecomment-358772012>,
or mute the thread
<https://github.com/notifications/uns

[2018-01-20 10:59] wparad commented on #1534
:), your ETH address

[2018-01-20 11:00] keitheisenberger commented on #1534
Can you hit me on email so that I am not publishing it to the world.   :)

--
Keith Eisenberger, Jr

On January 20, 2018 at 2:59:32 PM, Warren Parad (notifications@github.com)
wrote:

:), your ETH address

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/kvhnuke/etherwallet/issues/1534#issuecomment-359163151>,
or mute the

[2018-01-20 11:18] keitheisenberger commented on #1534
Ether Address:
0xEB8835E3f3FcaFE1C6E46C8BfCEF52636aD27161

Wallet Address on MEW where I would like to move it: 0x97EfD92D4D95CDb9230b188fd757afa73D5dF64b

[2018-01-20 11:37] wparad commented on #1534
Looking at the first address, it seems you definitely have enough ETH for a transaction, I suggest trying it again.  When you got to the MetaMask prompt what values for **gas price** and **gas limit** did you use?

[2018-01-20 11:40] keitheisenberger commented on #1534
Changed it to the minimum for each… never go the chance to actually send
it, as i could not figure out the values with decimals and what not. I
would like to do a test of 100 tokens… what would that look like as the
value for TRX

--
Keith Eisenberger, Jr

On January 20, 2018 at 3:37:08 PM, Warren Parad (notifications@github.com)
wrote:

Looking at the first address, it seems you definitely have e

[2018-01-20 11:48] keitheisenberger commented on #1534
When it says “how would you like to access your wallet (and gives you a
bunch of selections) which one is it talking about

--
Keith Eisenberger, Jr

On January 20, 2018 at 3:40:36 PM, Keith Eisenberger, Jr (
keith.eisenberger@gmail.com) wrote:

Changed it to the minimum for each… never go the chance to actually send
it, as i could not figure out the values with decimals and what not. I
would like

[2018-01-20 12:04] keitheisenberger commented on #1534
When I try, it keeps coming up with this error at the bottom. (I entered
unit256 as 1000000) and on the following screen where it asks value and
gas, I entered 0 "Amount to Send In most cases you should leave this as 0". ,
and 30000 for gas. And this screen shot pops up

--
Keith Eisenberger, Jr

On January 20, 2018 at 3:48:32 PM, Keith Eisenberger, Jr (
keith.eisenberger@gmail.com) wrote:

When i

[2018-01-20 12:23] wparad commented on #1534
[Don't see a screen shot]
* For a test of 100 TRX use a value of 100 * 10^6 or `100000000`

is really asking: "How would you like to sign your transaction".  I.e. you need to sign the actual transaction with your private key, there are a bunch of ways to do this.  Since you are using MetaMask:
* Make sure that your are logged into the extension.
* choose `MetaMask / Mist`
* click `Access`, the men

[2018-01-20 12:50] keitheisenberger commented on #1534
<img width="1440" alt="screen shot 2018-01-20 at 3 59 08 pm" src="https://user-images.githubusercontent.com/35533666/35183580-03bb1a92-fe02-11e7-881f-fef5b2edc0fb.png">

[2018-01-20 13:01] keitheisenberger commented on #1534
when I do it with Metamash and click write, I now get an error that says it is an invalid wallet file. tried changing the destination wallet, and still the same thing.

[2018-01-20 13:09] keitheisenberger commented on #1534
ok, just had success. I believe it is because I was trying to do it from Safari instead of chrome. So I assume, when I want to send it out, it is the same process?

[2018-01-20 13:24] wparad commented on #1534
Congrats.  Yes, every time you want to transfer the tokens elsewhere you will need to complete the same process.  Hopefully, in the future TRX's contract will be listed on MEW so you can skip the first couple of steps.

Unless there is something else, I suggest closing this issue by clicking the button below.

[2018-01-20 13:25] keitheisenberger commented on #1534
Would you happen to have the contract link for DENT

--
Keith Eisenberger, Jr

On January 20, 2018 at 5:24:56 PM, Warren Parad (notifications@github.com)
wrote:

Congrats. Yes, every time you want to transfer the tokens elsewhere you
will need to complete the same process. Hopefully, in the future TRX's
contract will be listed on MEW so you can skip the first couple of steps.

Unless there is some

[2018-01-20 13:30] wparad commented on #1534
The process I use to find contracts is (if they aren't in the MEW list) is usually google (or [EtherScan search](https://etherscan.io/tokens?q=DENT):
* Here's the first link: https://coinmarketcap.com/currencies/dent/ (not sure if it is the right coin)
* Since its coinmarketcap:
![image](https://user-images.githubusercontent.com/5056218/35183926-2775ffec-fdee-11e7-8c6b-d89454d7ac32.png)
* Which br

[2018-01-20 13:32] keitheisenberger commented on #1534
awesome, thanks for your help.. by closing this, are all records deleted, wondering if I should screen shot everything

[2018-01-20 13:33] wparad commented on #1534
Never gets deleted (not sure if you can even delete issues in github).  For instance the permalink is in the url: https://github.com/kvhnuke/etherwallet/issues/1534

And you can find all issues in etherwallet here: [etherwallet issues](https://github.com/kvhnuke/etherwallet/issues?utf8=%E2%9C%93&q=is%3Aissue)

[2018-01-20 13:34] keitheisenberger commented on #1534
thanks for the help!

[2018-01-20 13:34] #1534 closed, assigned to nobody

[2018-01-20 14:43] ajonl opened #1539 "Missing Ether Transfer"
Please help. I have MEW and Trezor.
I set up a new My Ether wallet secured by a new passphrase on Trezor today.

I then transferred 2 ether from my previous My Ether Wallet with an old tresor passphrase to my new My ether wallet with the new passphrase.

I copied the address for the new My Ether wallet and put it in my clipboard.

Then I had to log out of that new My Ether Wallet and log into the

[2018-01-20 14:51] leochan007 opened #1540 "how to change the chainid for local rpc ?"
when using myetherwallet connected to local geth rpc service, then deploy a new contract, the chainid is always set to 1 by default. how to changeit？

[2018-01-20 16:57] jdanielsno7 opened #1541 "Keystore file - JSON on MEW"
Hi

I am seeking some help, Basically when i downloaded my key-store on my iMac from MyEtherwallet it saved as a text file, unfortunately due to my lack of knowledge I did not realize this would be a problem. Now when I open it,  it opens a tab on my Safari browser. If i try to open it from MEW it does not recognize it at all and comes up with an error. Wouldn't be such an issue but I miss placed

[2018-01-20 17:18] wparad commented on #1541
When you say `this would be a problem`, what is `this` referring to?

Try:
* Chrome with MEW
OR
* MetaMask => Import Account From JSON => Export Private Key

[2018-01-20 17:33] abrennan707 commented on #360
I saved my paper wallet to my computer and then transferred it to an
external hard drive. When I tried to access MEW for the first time since
the initial deposit of coin, I plugged my external hard drive back in to my
computer and copy/pasted my private address from the paper wallet PDF in to
MEW. That is when i freaked out because it took me to a completely
different address where my Substrate co

[2018-01-21 01:19] hcarkeet commented on #573
@tayvano Hi Tayvano

I have had the same issue as https://github.com/kvhnuke/etherwallet/issues/360

I followed the steps 100% to get my account. I copied and pasted the private key into a notepad. My account number originally was different to what is in my UTC file. I only have one UTC file. I never downloaded any second one for any different account.

Checked all of my PC including temp files an

[2018-01-21 04:27] gitschwifty opened #1543 "Decimal Places on Tokens"
I've noticed that on several tokens in my etherwallet, it will show as having one power of ten more than actually there (e.g. have 10,000, shows 1,000,000 tokens). This got me super excited for a couple of minutes, then checked etherscan, etc. and was disappointed despite never having bought such a large amount. Not sure what could cause this, tried to check javascript but couldn't figure it out.

[2018-01-21 09:05] wparad commented on #1543
@gitschwifty, do you have an example?

[2018-01-21 09:07] stormsson opened #1544 "Can't sign transaction on local env"
Disclaimer:
i am not sure this is a MEW issue, but i have no idea how to confirm this.

Using MEW v3.11.2.4 , and Ganache , i can't sign a transaction to interact with the contract.
First 2 errors appears after compiling the ABI for the contract,
last error appears when trying to write the transaction.

The interface will not show the raw transaction and the signed transaction

<img width="1243" a

[2018-01-21 09:15] gitschwifty commented on #1543
My friend had some tau where it showed one power of ten more, but when checked when etherscan and when he tried to transfer it all after I told him the wallet was probably messed up, it was the actual amount that he had. Figured there was a missing decimal before the last zero, or something similar. Uses a trezor if that might be part of the issue. Could get screengrabs if he's okay with it, but u

[2018-01-21 20:52] numero41 commented on #1539
#1528

[2018-01-21 20:53] numero41 commented on #1539
Could it be a similar issue as this one :
Can't access to my wallet anymore #1528

[2018-01-21 21:02] numero41 commented on #1528
@wparad

Let me re-explain the steps in a more clear way :

1/ I opened the ledger's eth / bitcoin apps on chrome, and had a look at the uis.
Saw on Ledger website that for custom erc20 tokens I had to go thru mew.
I opened a new tab in chrome.
(I am not sure I closed the eth app in the background.)

2/ I created / deleted a wallet with mew cx extension (to avoid confusion, I was able to recover i

[2018-01-22 06:09] hcarkeet commented on #360
@abrennan707  Thanks for your reply.

I tried typing it manually also.

No luck! There has to be some way.

[2018-01-22 07:22] bazuka86 commented on #360
SOLUTION !!!!!!!!!!
Ladys and gentlemens in myetherwallet are two different addresses. One for Ethereum and the second one for tokens (any other cryptocurrency). When you registered the website have given you two keys one for each address. Maybe you thought that one of them is a beckup key but thing is that you had to right down and save both of them. Try second one to access to your tokens (Crypt

[2018-01-22 08:27] gouegd commented on #1528
Hi mate. I have a ledger and use MEW with it sometimes. No issues so far, but this thread made me curious.

As for:

I don't think that's a valid scenario. No app can modify the state of the ledger as far as I understand. OK, there's the exception of adding/removing apps and updating the firmware... But I really don't think using the Ethereum ledger app could reinitialize the ledger anyhow.

Other

[2018-01-22 09:09] numero41 commented on #1528
I was more thinking of a bug regarding the derivation path, which would lead to a different address list.
I try to sleep. 20k, I could accept, if I had a valid explanation. And I won't give up until I have a valid one from mew and/or Ledger.

[2018-01-22 09:31] gouegd commented on #1528
I think I'd try to get the source code for the ledger app you used where the address seems to have changed... and see whatever changes may have happened recently in those files.
I don't know if the sources are open though.

[2018-01-22 14:42] christmasjumper opened #1549 "Offline transaction generation not working"
Hi,

Using either chrome, or firefox (latest versions) on my offline machine, I'm seeing the following error in the console:

"TypeError: Cannot read property 'result' of undefined" Etherwallet-master.js:41964

The "Generate Transaction" button is not enabled and will not generate a transaction, despite filling in all fields. I've tried using both my wallet file and the private key directly.

[2018-01-22 21:28] ajonl commented on #1539
Please Kvhnuke if you could help. I'd appreciate it.

[2018-01-22 21:30] ajonl commented on #1539
@kvhnuke hemachandra, Please help me!

[2018-01-22 21:31] numero41 commented on #1539
hello, do you have the same issue as here?

https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/

I did the post...

[2018-01-22 21:32] numero41 commented on #1539
I don't know if it's related to Ledger and/or mew :(

[2018-01-22 21:46] ajonl commented on #1539
Yes its very similar except for me I used the TREZOR. They address was generated from My ether wallet and hooked up with my Trezor. When I went back to that trezor, the address it generated previously wasn't there any more.

[2018-01-22 21:48] numero41 commented on #1539
did you select the same derivation path?

[2018-01-22 21:52] ajonl commented on #1539
I selected the new wallet address from MEW and send ether there. When I went back to MEW it the ether wasn't there and the wallet address that was there previously wasn't there either.

[2018-01-22 21:57] numero41 commented on #1539
but when you connected to mew, do you select hardware wallet on the right, then check Trezor derivation path, then the first address in the list under it?

[2018-01-22 22:01] ajonl commented on #1539
Yes exactly that way. Connect to Trezor 1st, then select Ether which send my browser to Myetherwallet, I put in my code to unlock the myetherwallet from my trezor and that's where I saw that 1st address.

[2018-01-22 22:02] numero41 commented on #1539
So we have the same issue....
I don't know what to say, I don't have any answer from anywhere, I am just freaking out...

[2018-01-22 22:12] numero41 commented on #1539
please leave also a comment here : #1528
so the support can gather informations from all sides

[2018-01-23 10:34] wizzsleeve opened #1551 "Funds stuck in my ethereum wallet"
Hi guys, somehow I managed to cut and paste in a UTC file(to do what , i dont know, i think it was just to get the public address). Anyway I have eth stuck in the account and when I try and withdraw it to put in my current account the send shows a completely different address in my etherwallet or ethereum wallet. I have the password to my original account so if there is anything you can do with th

[2018-01-23 10:44] GriffGreen commented on #1551
Bob, let me just warn you... you are probably fucked.

But join the Giveth riot at https://giveth.io/join/ and send me your keystore file... I will see if it is recoverable... please do not include your password along with the file, please keep that password to yourself.

And send any tips to the MyEtherWallet Donation address: 0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8

[2018-01-23 14:58] numero41 commented on #1528
@wparad @tayvano:

Can all this be related to THIS???

https://www.reddit.com/r/ethereum/comments/47nkoi/psa_check_your_ethaddressorg_wallets_and_any/
https://github.com/ethereumjs/ethereumjs-util/commit/8aafe005ea86c2e5bcba94813ea98d8e3ec0522f

Please help me, give me at least some feedback, I am not alone.

[2018-01-23 15:32] tayvano commented on #1528
There is a lot of info here so I'm going to keep this conversation here over Reddit or email as perhaps it'll help someone in the future.

It is highly unlikely your Ledger went poof and generated weird keys. It's not impossible, but it's unlikely. We've never encountered it before and it would surprise me.

It's far more likely that you are unable to reproduce the path and are therefore getting d

[2018-01-23 15:36] numero41 commented on #1528
1/  never clicked on the more addresses link > yes
2/  using MyEtherWallet > yes
3/ haven't re-initialized my Ledger > yes
4/ tried all the derivation paths already, even used the bip39 tool offline and searched over the 20 000 first addresses.
5/ I copied/pasted the address 6 times (I did 3 small transactions, then withdrew all my funds as I was able to see them coming), so I'm 100% sure it didn'

[2018-01-23 15:45] tayvano commented on #1528
The way the paths work is its basically the derivation path. The path is part of the math that does the conversation from seed to address. How it gets derived depends on the path, with the final number representing the index on that path. For this reason, trying the first address for all derivation paths is likely going to yield more fruitful results than trying 20k addresses on a single path (as

[2018-01-23 16:05] numero41 commented on #1528
First, I'd like to thank you for answering me, this has been a tough time for me lately..

I understand the derivation path concept, I'm software/mechanical engineer, and already spent 60 hours on this issue.
I am also quite convinced it's way more likely a derivation path issue and that my address will pop at the top with a correct derivation path than an order issue. I understand that a math for

[2018-01-23 16:09] numero41 commented on #1528
I came to a Ledger-related issue because many people have the same issue with the ripple wallet and the neo wallet. But then I found out about the mew issues from last year, and now I don't know what to do anymore from my side...

[2018-01-23 16:10] numero41 commented on #1528
here is the neon post on github :
https://github.com/CityOfZion/neon-wallet/issues/524

[2018-01-23 16:18] hundredfold commented on #1330
I solved this by using a different USB cable. It seems the error code 5 means it can't retrieve the private key from your ledger.

[2018-01-23 16:23] numero41 commented on #1528
When you say " trying the first address for all derivation paths", do you mean "check if this first address is the same as the one where I can see my funds", or that I should open the wallet and do some further checks in mew after having opened it?

[2018-01-23 18:03] numero41 commented on #1528
Missing Ether Transfer #1539

[2018-01-23 18:04] numero41 commented on #1539
https://github.com/kvhnuke/etherwallet/issues/1528

[2018-01-23 18:05] numero41 commented on #1539
https://github.com/kvhnuke/etherwallet/issues/1528

[2018-01-23 18:06] numero41 commented on #1539
#1528

[2018-01-23 19:15] numero41 commented on #1528
What about this?
https://github.com/iancoleman/bip39/issues/155

[2018-01-23 19:56] tayvano commented on #1551
Thanks Griff. @wizzsleeve I would take Griff up on the offer as if there is a chance of recovery, the Giveth team can do it.

[2018-01-23 19:56] tayvano commented on #1549
- Which network are you connected to?

- Which type of wallet have you unlocked? PK? Ledger?

- What are you attempting to send?

- From what address?

[2018-01-23 19:59] tayvano commented on #1540
You can set the chainid under "EIP-155" checkbox when you add a custom node. The chainid is hardcoded into the chain itself, so it's not an arbitrary number.

[2018-01-23 20:00] tayvano commented on #1536
What exactly were you trying to do? Do you have a wallet in MetaMask? Was your MetaMask unlocked?

[2018-01-23 20:47] Asone commented on #1536
This is not an issue. The message you see is a warning for developpers that intends to develop applications compatible with metamask.

The message that is displayed is thrown by metamask and not by Etherwallet.

As there is a v4 of MeW on the rails in development, pretty sure the evolutions of metamask will be supported.

For more information about this deprecation [you can check here](https://git

[2018-01-23 21:42] gouegd commented on #1528
Pretty sure she means to check the first address only as MEW will display the balance in ETH (you do have some ether in it, or is it only other ERC20 tokens ?)

One possibility is that somehow a custom derivation path was selected, and you entered something there unknowingly (while thinking the keyboard focus was elsewhere). Not very likely, but possible IMO.
You said you copy/pasted the address a

[2018-01-23 21:50] numero41 commented on #1528
Yes, it's the first address of course.

I have only other ERC20 tokens, no eth (you can even check the address yourself I mentionned it somewhere above).

For a random input in the custom path I'm sure it did not happen, but I already did a few tests to check this.
If you try to input some text in there, it will lead to the default custom path addresses list.
So I eliminated that option.

I copied

[2018-01-23 21:55] OrEagle97327 commented on #1528
@numero41 your Reddit post was mentioned on a public video
https://www.youtube.com/watch?v=xH5oTJz4SLE&t=12s

[2018-01-23 21:55] numero41 commented on #1528
Hey, @OrEagle97327 , did you see this MASSIVE post on /r/cryptocurrencies today?
That for sure raised attention lol... don't know the guy, but it gave me the opportunity to answer Ledger's CEO (not CTO), just before they locked the post...
What a mess, with all their servers down today...
That made me kind of feeling bad tonight, all this attention... Maybe it'll help us, maybe the opposite, can't

[2018-01-23 21:57] OrEagle97327 commented on #1528
Hope for the best.

We are all the support we are wishing for.

Just need them to work with us.

[2018-01-23 21:59] numero41 commented on #1528
This post isn't mine, but yes mine is mentioned and heavily discussed...
This makes me almost feel uncomfortable lol...
Did you see that Ledger's CEO claimed that I was the only one? that's why I answered him...

[2018-01-23 22:15] numero41 commented on #1528
@tayvano

would it help for me to use the tool at the very bottom of this page :
https://www.myetherwallet.com/helpers.html

I didn't try it for now as I don't want to expose my private key which would require reset the Ledger after that.
Oh no sorry, just read the description, it won't be useful, sorry.

[2018-01-23 22:46] gouegd commented on #1528
That's true if you type something incorrect, but if you happen to type something correct (like adding '2' at the end), then you get new addresses.

[2018-01-24 03:05] tymat opened #1556 "Please add DGX 1.0 Token Contract"
From https://github.com/MyEtherWallet/MyEtherWallet/issues/866

Our DGX 1.0 ERC-20 token contract has some additional functions and we would like the ABI to be available on the Interact With Contract page

The ABI can be found here.

The contract address for DGX 1.0 is 0x55b9a11c2e8351b4ffc7b11561148bfac9977855

This functionality would be useful for our users as we are looking to launch DGX 2.0 i

[2018-01-24 05:01] leochan007 commented on #1540
@tayvano thx a lot .i find it now. in the past ,i always use eth by default. the chainid is always "1" no matter which network i connect to (main or test or local rpc).

[2018-01-24 05:20] leochan007 opened #1557 "how to deal with multisig wallet which have serveral trezor accounts?"
if i create a multisig wallet(contract) with EthereumWallet(Mist),  and i use accounts which r created via Mist for every single address of the multisig wallet, and when reaching the transfer limit of day, the other account will get the notify to "approve" the transfer action on mist.   i'm not sure if i use trezor account for every single address, when i reach the transfer limit, is there notific

[2018-01-24 05:21] leochan007 commented on #1557
@tayvano can u give some advices ? thx.

[2018-01-24 11:08] thrust15 opened #1558 "Gas price decimal places"
Hi,

The decimal places for gas price were removed in the following PR: https://github.com/kvhnuke/etherwallet/pull/1375

However the network is clearing and 0.1 GWEI transactions are getting accepted by the miners, Maybe it's a good time the revert the PR above?

[2018-01-24 11:36] wizzsleeve commented on #1551
Found this also but pretty sure its just going to be ths same info. My address in the wrong Json file. Still cant remember how I did it, I have some more sitting in dwarfpool with this address to so would be good to get a solution.

bob

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Griff Green<mailto:notifications@github.com>
Sent: Tuesday, 23 January 2018 8

[2018-01-24 21:07] numero41 commented on #1121
@Uelese

Please can you ask your friend to give us an update about what he did, because there are other people that try to figure out the same issues.
Thank you!

@bluecollarcrypto

[2018-01-24 21:17] numero41 commented on #1551
@wizzsleeve
@tayvano

I have another issue, but found your post trying to find out mine.

You can try a deep search on your computer with thekeyword "cipherparams".

if you find it next to your correct public address, you can see there is a dictionnary with all the data that needs to be in the json file. You just need to remove the escape characters (\").

If you find it and remember the password

[2018-01-24 21:19] numero41 commented on #1121
@bluecollarcrypto

Is your issue similar to this one?
https://github.com/kvhnuke/etherwallet/issues/1528

[2018-01-25 09:21] wizzsleeve commented on #1551
Sorry, still don’t know what you mean. Sent u the file with all the parameters. Do I take the “ off “cipherparams” or the number following in the {} brackets. Have u had any luck at ur end4?

Bob

On Thu, 25 Jan 2018 at 7:17 am, DL <notifications@github.com<mailto:notifications@github.com>> wrote:

@wizzsleeve<https://github.com/wizzsleeve>
@tayvano<https://github.com/tayvano>

I have another issu

[2018-01-25 09:31] numero41 commented on #1551
you must get a string like this :

{"version":3,"id":"3b579021-5cef-4967-b039-aa72238e6598","address":"df38dade9dsfdfh454653fc1d00ab296d412ba11a2","Crypto":{"ciphertext":"2b1f0a9452a907d3268fb588601e9bbf980c4e8b29ed9f64a48ad78873204882","cipherparams":{"iv":"63a2302f2010b2f8b50bb9ce7cba8e9e"},"cipher":"aes-128-ctr","kdf":"scrypt","kdfparams":{"dklen":32,"salt":"37c147ec165bae02d1e8b6830sdffds796b3

[2018-01-25 12:26] numero41 commented on #1528
Hello @tayvano @wparad  ,

I found a file in my recovery data named "ledger-ethereum-chrome-logs-1515971263779.logs".

In this file I can see transactions listed at the same time I did my withdrawals, on the 14th of january.
Except that the txids and the from addresses have nothing to do with my transactions!

I also have after each transaction the error "org.json.JSONException: No value for to"

[2018-01-25 12:43] numero41 commented on #1551
Did you have any success?

[2018-01-25 14:07] ajonl commented on #1539
I was able to find my ether. Please close this thread. It had to do with passphrase and using lowercase instead of uppercase. Trezor is very specific with passphrases

[2018-01-25 14:07] #1539 closed, assigned to nobody

[2018-01-25 16:12] christmasjumper commented on #1549
Hi,

It turns out this is something I would have never considered. I am using MEW on a Windows tablet (offline, wifi drivers removed) - it turns out that if the tablet is in portrait mode (i.e the screen is turned so that the tablet changes the screen to be longer rather than wider) offline generation does not work.

If you turn the tablet back to landscape mode, the transaction generation button

[2018-01-25 18:42] Alonski opened #1565 "Add Checksum Instructions for Windows in Releases"
Being a windows user and wanting to verify my security downloading MyEtherWallet I noticed that the releases page had information on checking checksum of the zip files.

I recommend adding instructions for Powershell as well.
It is simply:
Get-FileHash chrome-extension-v3.11.3.1.zip -Algorithm sha256

Awesome work everyone!

[2018-01-25 22:50] dgobaud opened #1570 "click transaction hash link in success message doesn't work"
after submitting a transaction clicking the hash in the green success message at the bottom doesn't work in Chrome 63.0.3239.132 (Official Build) (64-bit)

[2018-01-26 05:23] all-encrypted opened #1571 "Cert.pem and Key.pem Files Purpose"
Hi, what are the additional files in the zip packages for?
They are called Cert.pem and Key.pem.

Thank you for the support.

[2018-01-26 14:39] numero41 commented on #1528
Why nobody gets any answer or advice anywhere from the various supports?
I don't understand...

[2018-01-26 17:03] montehansen opened #1574 "Display Address on Ledger Crops Address"
Not sure if this is a Ledger bug or a MEW. When I click on Display Address on Ledger the address that is displayed on the  Ledger is minus the last (right-most) character of the wallet address.

[2018-01-27 15:49] MysticRyuujin commented on #1558
I think we just need an alternate "manual" entry option or some way to override the slider?

[2018-01-27 22:31] numero41 commented on #1528
@tayvano @wparad

Hello,

I found this post from 4 month ago, about people using Mew with Trezor.
https://www.reddit.com/r/TREZOR/comments/6z4jur/cant_access_original_eth_addresses_on_trezor_via/

They all say here that their address was never at the same place in the list :
https://www.reddit.com/r/TREZOR/comments/6z4jur/cant_access_original_eth_addresses_on_trezor_via/dmtc8ez/

It seems that thi

[2018-01-28 01:31] wizzsleeve commented on #1551
still no good, what text am i copying?

[2018-01-28 12:20] numero41 commented on #1551
Where you able to find a text beginning with   {"version":3    and ending with    "}}    ?
(like the example I gave you)
If so, copy this text in notepad, save the file on your desktop, go back to mew and select "open from json file".
Then you'll have to type your password and access to your wallet.

[2018-01-28 14:15] lukasparov commented on #1528
Did you try to click "more addresses" in the corner right bottom in your MEW address list?

Maybe your lost address is in "more addresses" like the Trezor guy case, he found the right address on pages 3.

[2018-01-28 14:18] numero41 commented on #1528
Yes, I tried hundreds of clicks on "more addresses".
Also used the bip39 tool offline, and generated the 10000 first addresses.... :(

[2018-01-28 14:30] lukasparov commented on #1528
In your case, you said that the Ledger is error/bugging,

Im searching internet and find information that your Private key (24 phrase) is not belong to Ledger alone. And it can be access by other cold wallet like Trezor.

Have you tried to buy Trezor (or a brand new Nano Ledger thats not buggy) and Restore using your private key?

Im asumming your Ledger is broken. Because logically, your address

[2018-01-28 14:34] numero41 commented on #1528
The private key can be used with the bip39 tool offline, and it must generate the same data.
I can see that the list using the Ledger and the one using the bip39 tool are identical.
But the address that showed in Mew at the time I made my withdraw isn't there anymore.

[2018-01-28 14:41] leafcutterant opened #1576 ""Send Entire Balance" left the equivalent of the transaction fee on the sender address"
MEW 3.11.2.4

When I tried to send the full ETH balance of an address (with the dedicated option "Send Entire Balance"), MEW put my entire balance in the Amount field. This felt wrong because, then, how could the transaction fee be paid? Out of curiosity, I went ahead anyway and pressed send. Nothing happened. Pressed send again. Still no green bar at the bottom. Now I checked Etherscan and the tx

[2018-01-28 14:53] lukasparov commented on #1528
Well.. Logically, your address never changed if the Private key (phrase) is correct, am i right?

Maybe you got hacked by copy paste malware?
https://securityintelligence.com/news/new-bitcoin-malware-attacks-copy-and-paste-their-way-to-co-opted-currency/

[2018-01-28 14:55] numero41 commented on #1528
I thought about it, but I copied/pasted the address 6 times, and I always check 2 or 3 times when I paste that the pasted content is the same as the copied content, so it couldn't happen to me.

[2018-01-28 17:19] OrEagle97327 commented on #1528
@numero41 Have you received any response from Ledger, recently?

[2018-01-28 17:26] numero41 commented on #1528
They told me today they need ALL the related bug tickets, for now they have only 3, mine, yours, and the one from the Ripple guy. We need to gather them all to improve their answers

[2018-01-28 17:31] OrEagle97327 commented on #1528
I have a response from Eric at Ledger requesting more info.
Wondering if I should copy to my post here, or maintain direct contact, for now??

[2018-01-28 17:41] numero41 commented on #1528
I think they need you and the others to make a detailed summary of the process, and your researches afterwards, and why you are so sure about not having made a mistake.
Our tickets here and on Ledger support are too much mixed with informations from everywhere.

[2018-01-28 17:43] numero41 commented on #1528
I made a detailed mail to him today, I guess they need to cross as many informations as they can.
And we need it too, because 2 people claiming they didn't do anything wrong is too few.

[2018-01-28 17:46] OrEagle97327 commented on #1528
Did you see carona's recent response on my thread? He has 12, including us.
I am contacting two others on discord as we connect here.

[2018-01-28 17:48] numero41 commented on #1528
Yes, well, we need them to participate more lol

[2018-01-28 17:51] numero41 commented on #1528
I don't know how to make them take contact again, as they didn't share anything for days

[2018-01-28 18:16] OrEagle97327 commented on #1528
The other two have extreme disadvantage with language barrier. Between the two over 2,000 Neo

[2018-01-28 18:31] Ligrogen commented on #180
I had the problem like this. The "Generate Transaction" button was not enabled. I wasted lot of time solving this issue. Finally I had found a very simple solution - I had changed the screen resolution at my offline laptop from 800*600 to 1024*768 and the "Generate Transaction" button became enabled :)

[2018-01-28 18:47] wparad commented on #1576
Can you post the transaction?

[2018-01-28 19:51] numero41 commented on #1528
2000 Neo??
Wow... We absolutely need them to find a way to answer in proper English.
They could write their issue in their native language, and find someone to
translate, it's important that we reach them quickly!

[2018-01-28 19:52] numero41 commented on #1528
@OrEagle97327  (I sent you a private message on Reddit)
Are they Chinese?
You should give all these informations to Ledger in the meantime if you didn't already

[2018-01-28 20:21] OrEagle97327 commented on #1528
One of them is how I found my way here.

See post https://github.com/CityOfZion/neon-wallet/issues/416

We are in contact on Discord ...aRe yoU on there?

[2018-01-28 20:24] vladb opened #1579 "CRITICAL: Multiple transactions made from the same "Send" page all use the first "to" address used"
How to replicate:

- "Send Ether and Tokens"
- Use Ledger

I made 3 transactions:
1. ETH to *Address1*
2. OMG to *Address2*
3. RDN to *Address2*

Looking through etherscan, transactions 2 and 3 both went to Address1, even though I am 100% certain I pasted the correct address (in fact I still have that window open, and can verify the "To Address" field contains Address2)

MEW 3.11.3.1 used with a g

[2018-01-28 20:36] numero41 commented on #1528
Yes I know this thread, I also mentioned it on my reddit post.
I don't have a discord account

[2018-01-28 20:38] numero41 commented on #1528
If they have trouble to speak proper English, we should ask them to describe the issue in their native language, and translate it.
We need to address their issues to Ledger as soon as possible since they seem to take care now. We don't want to miss that opening.

[2018-01-28 20:43] OrEagle97327 commented on #1528
He is going to go get his Ledger support ticket number for us. (date line)
Both have input on his thread, and my thread.

[2018-01-29 07:20] wizzsleeve commented on #1551
Hi again bud,
Yes mate, I can read everything in notepad just need to be specific on what to remove and exactly where from.
Im just a dumb aussie but Ill ask the question again. Do you want me to remove every “ and every }}? Or just the ones around cypher params etc? I cant screw it up anymore but don’t want to be seen by MEW to be doing anything dodgy(in Australia that means, not quite right), I’

[2018-01-29 11:56] davewilliamson opened #1581 "Crypterium"
How can I get to my Crypterium balance on a Trezor wallet?

[2018-01-29 12:31] wizzsleeve commented on #1551
still no good, what text am i copying?

[2018-01-29 12:34] wizzsleeve commented on #1551
[test UTC--2017-07-05T06-29-14.987641300Z--0095DdBF6B001065cA6C84D9b57DE1C51d5523A6.txt](https://github.com/kvhnuke/etherwallet/files/1673521/test.UTC--2017-07-05T06-29-14.987641300Z--0095DdBF6B001065cA6C84D9b57DE1C51d5523A6.txt)

This is the contents of the file. version 3 comes at the very end with a } to finish it.There is no where else the words version 3 appear.Is this where you mean?

[2018-01-29 12:51] numero41 commented on #1551
You don't have to put in the same order.
The file seems good, but did you try to load it?
You should never send such a file in a public forum, the only thing missing for a hacker is your password now.
If you manage to open your wallet, I strongly advise you to create a new one and move your coins.

[2018-01-29 16:52] GriffGreen commented on #1551
Yeah Bob, come back to our chat in riot and we can do some video chat to just try an make this work

[2018-01-29 17:25] numero41 commented on #1579
I strongly advise you to make snapshots man... Even a video would be better, as snapshots can be easily faked.
I also have issues with Ledger/Mew, but no help from anywhere so far...

[2018-01-29 20:56] numero41 commented on #360
Hello, I also have the same issue, but with Ledger, I don't have the same public address when I connect to Mew. Did you all find out a solution??

[2018-01-29 21:04] imrockin commented on #360
Still no solution for me. I just want my tokens.
Been sitting in there for a year... I can still see them..
It's crazy how it seems to be random..

Get Yahoo Mail for Mobile

  On Mon, Jan 29, 2018 at 12:57 PM, DL<notifications@github.com> wrote:
Hello, I also have the same issue, but with Ledger, I don't have the same public address when I connect to Mew. Did you all find out a solution??

—
You

[2018-01-29 21:09] numero41 commented on #360
Yes, supports/devs always assume that user made mistakes (which is often the case but not always), and then they just stop answering.
I am a dev for 20y, so I know how it is every single day of my life, but I take car of my users, I never let them down until I find the solution.

Here is my ticket (it's long thread, because at the beginning everyone told me I made a mistake, so I conviced myself I

[2018-01-29 21:20] numero41 commented on #360
But I can see that since last month a lot of people had the same issue, so it can't be a user error for everybody here.
We need some more answers from the dev team....

[2018-01-29 21:23] numero41 commented on #573
Hello @hcarkeet , I also have the same issue, but with Ledger, I don't have the same public address when I connect to Mew. Did you all find out a solution?

Here is my ticket (it's long thread, because at the beginning everyone told me I made a mistake, so I conviced myself I did, but I'm 100% sure I did NOT) :
#1528

And a post on Reddit :
https://www.reddit.com/r/ledgerwallet/comments/7rd798/sho

[2018-01-29 21:24] numero41 commented on #1528
https://github.com/kvhnuke/etherwallet/issues/573

[2018-01-29 21:24] numero41 commented on #1528
https://github.com/kvhnuke/etherwallet/issues/360

[2018-01-29 21:27] imrockin commented on #360
but mine happened over a year ago and still not resolved.  I feel like its hopeless..
I dont know what else to do...

    On Monday, January 29, 2018, 1:20:45 PM PST, DL <notifications@github.com> wrote:

But I can see that since last month a lot of people had the same issue, so it can't be a user error for everybody here.
We need some answers.

—
You are receiving this because you were mentioned.

[2018-01-29 21:29] numero41 commented on #573
https://ethereum.stackexchange.com/questions/35062/myetherwallet-is-giving-me-another-address

[2018-01-29 21:30] numero41 commented on #360
https://ethereum.stackexchange.com/questions/35062/myetherwallet-is-giving-me-another-address

[2018-01-29 21:30] numero41 commented on #1528
https://ethereum.stackexchange.com/questions/35062/myetherwallet-is-giving-me-another-address

[2018-01-29 21:41] numero41 commented on #360
https://www.reddit.com/r/Wavesplatform/comments/7qpjkv/same_seed_different_wallet_address/

[2018-01-29 21:42] numero41 commented on #1528
https://www.reddit.com/r/Wavesplatform/comments/7qpjkv/same_seed_different_wallet_address/

[2018-01-29 21:42] numero41 commented on #573
https://www.reddit.com/r/Wavesplatform/comments/7qpjkv/same_seed_different_wallet_address/

[2018-01-29 22:53] danfinlay opened #1582 "Move contract metadata to external module"
Wouldn't it be cool if we could share a metadata module, so you didn't have to merge [individual token details as pull requests](https://github.com/kvhnuke/etherwallet/pull/1417/files)?

Oh hey, I made a module just like that!
https://github.com/MetaMask/eth-contract-metadata

I'd add your team as maintainers if you wanted to share it, then we can share that burden instead of duplicating it.

[2018-01-30 04:25] VadimIsk commented on #360
This problem is not in the wallets that you use. Errors are produced by the system Blockchain. Wallets provide information from the Blockchain.
Aafter creating a purse, wait a day to check the correctness of your accounts and only after that try to transfer the trial transfer to a penny if all is well, use boldly
Such a problem was and is. A new computer is connected to the Blockchain be confirmed

[2018-01-30 07:26] wizzsleeve commented on #1551
Hey bud, I don’t have a webcam but I can try with my phone. Problem is my screen is always artifacting cos I’m pushing 5 X GTX1070’s. They don’t like it too much but that’s gigabytes issue not mine. What time would suit and how do I get hold of you? Can u send me the link to riot again please.

Bob

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Griff Green<ma

[2018-01-30 08:22] GriffGreen commented on #1551
#Griff-takes-a-Wizz:matrix.org is what i named the room.
Join at https://giveth.io/join/... and make it easy on me?  :-D

[2018-01-30 09:49] numero41 commented on #360
Well, so it's the wallet dev's responsibility to advise users that this can happen.
If such an issue that can make you lose your money is known, but not mentioned anywhere, it's their responsibility.

There are ways to check the integrity of the public/private key match, such as trying to send a small amount back after receiving.

If it fails, that means that there is a mismatch between public and

[2018-01-30 10:11] dec1 opened #1584 "Save (list of) Transaction Hashes longer"
Hello,

Thanks for making such a great tool.

After sending a transaction a pop up appears briefly with a message with a transaction hash at the bottom of the browser window.
It would be nice if this information didn't disappear so fast. You have to be very quick to copy and paste it somewhere else if you want to keep it. It can easily happen that the transaction doesn't happen to show up any time

[2018-01-30 11:28] dec1 opened #1585 "Choice of "Network ETH""
Is there any explanation anywhere of what effect the choice of "Network ETH" in the drop down box on the top left of the screen (ie myetherapi.com,  myetherapi.com etc) has? Is there any reason for choosing anything other than the default? Is there any way of knowing which is better (more available or faster) at any given time?

I made a transaction using several times more gas than even "fastest"

[2018-01-30 22:40] wizzsleeve commented on #1551
Ill give you a poke when I get home from work today. U didn’t say where you are based so I know what time it is where u r.

Bob

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Griff Green<mailto:notifications@github.com>
Sent: Tuesday, 30 January 2018 6:22 PM
To: kvhnuke/etherwallet<mailto:etherwallet@noreply.github.com>
Cc: Bob<mailto:wizzsleeve@hotmail.com>;

[2018-01-31 07:50] #1464 closed, assigned to nobody

[2018-01-31 20:06] spundot commented on #229
@tayvano wrote:

Current Chrome extension (v3.10.4.4) in Chrome Web Store requests clipboard access, which looks scary. Can this be removed?
<img width="261" alt="2018-02-01 05_02_29-" src="https://user-images.githubusercontent.com/3210002/35644882-8f3c1256-070d-11e8-979b-3d4dddb47353.png">

[2018-01-31 20:15] hmchmc commented on #360
@tayvano "Did any of you guys OPEN your keystore file and COPY a string of text out of your keystore file and use that string instead of the text as the private key? Bc I just found 2 people's eth today by doing that.

The file does NOT have an extension for a reason. It should not be opened. You only access it on MyEtherWallet or geth or Mist."

I think this is what I've managed to do -_-
I at le

[2018-01-31 20:28] numero41 commented on #360
@hmchmc
The private key isn't in the json file.
The json file contains a dictionnary with data which are used to decrypt your private key according to your password.

[2018-01-31 20:31] hmchmc commented on #360
@numero41  I know. But I only have the UTC-file & the private key for the first wallet I created, the second one was a mistake done by copy-pasting the UTC-string. Tayvano wrote that she had found 2ppl's eth that had done the same mistake as I obviously have which is why I wanted to know if there is a solution for me too.

[2018-01-31 20:33] imrockin commented on #360
Tried that already.
I tried everything suggested.  I think I'm just screwed.  I don't know what else to do.
My tokens are still stuck a year later...What other solution is there??
Thanks again for trying,

Get Yahoo Mail for Mobile

  On Wed, Jan 31, 2018 at 12:28 PM, DL<notifications@github.com> wrote:
@hmchmc
The private key isn't in the json file.
The json file contains a dictionnary with data

[2018-01-31 20:39] numero41 commented on #360
@hmchmc
Are you sure that the string you copied/pasted is the same as the one you are using today?
I think you are getting this error because you don't have exactly 64 characters

[2018-01-31 20:44] hmchmc commented on #360
@numero41 No, I'm not sure. But then again I didn't notice I was all of a sudden in a different wallet than the one I was supposed to be in. Just wish I would've noticed that before I sent my tokens there. I'm not even sure that the copy/paste is what created the second wallet but the green private key-field and an opening of the password-field are the only clues I've gotten after trying everythin

[2018-01-31 20:51] numero41 commented on #360
@hmchmc
Maybe you can try a deep scan of your hdd.
During my tests I was able to recover wallets even without downloading the keystore file.
But you need to remember your password.

You can search on your hard drive (most likely in the userData folder) for the keyword cipherparam.
This tool is cool :
http://www.clubic.com/telecharger-fiche10751-agent-ransack.html

Even if the keystore file is dele

[2018-01-31 20:54] numero41 commented on #360
Btw, @tayvano, I spend a lot of time helping people in various forums, here on Github or elsewhere, but I still don't have any news from you. That's not fair...

[2018-01-31 21:01] wparad commented on #360
@hmchmc, skip the password part.  The whole point of the password is to decrypt the UTC wallet file to get the private.  But our assumption is that you used a part of the wallet file as your private key.  So rather than trying the password field copy the part of the string as you did before but enter it in field where it says `Private Key` after choosing the `Private Key` radio button.  Then click

[2018-01-31 21:04] hmchmc commented on #360
@wparad I can't skip the password, when I enter the string as a private key I get this message: "Your wallet is encrypted. Good! Please enter the password." and a password-field, there is no unlock button until I've entered something there.

[2018-01-31 21:30] hmchmc commented on #360
@numero41 Thanks, I'll try those searches! Though I'm pretty sure I only saved the UTC-file and paper version of the first wallet.

[2018-01-31 21:31] dec1 opened #1589 "please allow specifying gas price in GWEI"
Hello.
Currently one must enter a gas price in WEI, whihc generally entails ensuring you have about 9 zeros.
It would be much more comfortable and less error prone if one could enter a GWEI price instead Generally one enters a value from 1-100 GWEI.
Its easy to enter a zero too many or too few.

Maybe the choice of WEI or GWEI from a dropdown menu like one can choose ETH or a different token in "V

[2018-01-31 21:36] dec1 commented on #1585
Seems this was something to do with my using a downloaded copy of myetherwallet that was a few weeks old. I tried the current version (and the new default choice of node), and the transaction succeeded. It also seemed to pull the transactions that had "vanished" back from nirvana, as they then suddenly appeared in my account on etherscan.io too.

Its unfortunate if the wallet "suddenly" doesnt wor

[2018-01-31 22:29] numero41 commented on #1528
Same issues here, Ledger/Mew

https://support.ledgerwallet.com/hc/en-us/community/posts/360000395733-Important-Funds-on-Ledger-Nano-is-NOT-Safe-

https://support.ledgerwallet.com/hc/en-us/community/posts/360000389714-Problems-with-Legdger-Wallet-Ethereum-

[2018-01-31 22:30] NghiaSE commented on #1589
I am with you @dec1

https://ethgasstation.info/ uses GWEI

We should use GWEI too

[2018-01-31 22:32] numero41 commented on #1528
@tayvano @wparad

I gave up about having any answers from you, but I keep posting because I'm sure there will be new developments.

One day maybe you'll realise this is a real issue.

[2018-02-01 08:13] wparad commented on #360
Can you screen shot what you are doing without using the real input text?

[2018-02-01 16:17] hmchmc commented on #360
@wparad This is how it looks:
![screen1](https://user-images.githubusercontent.com/35197392/35689387-a88d5c7c-0773-11e8-9a33-a46a53e6f865.jpeg)
<img width="1238" alt="screen2" src="https://user-images.githubusercontent.com/35197392/35689388-a8b00d26-0773-11e8-8429-a9c0210d1091.png">
<img width="1280" alt="screen3" src="https://user-images.githubusercontent.com/35197392/35689389-a8d83030-0773-11e8-

[2018-02-01 16:34] wparad commented on #360
Oh man, I've never seen that before. unless your password worked there, it is unlikely you managed to use that string as your private key on the site.  So that's another dead end, unless someone knows where that prompt is coming from, I.e. bug, etc..

[2018-02-01 16:36] numero41 commented on #360
For me this prompt has always been here since I do tests with private keys...

[2018-02-01 16:37] tayvano commented on #1571
Its to set up a local ssl server for use of Ledger locally. Knowledge base article coming soon. Sorry for the delay

[2018-02-01 16:38] tayvano commented on #1585
They are different end points, maintained by different people on different infrastructure. At any point some may be offline, experiecing high latency, or other issues. if your balances aren't loading, you can try another node to see if it works better. If you are not experiencing issues, there is no reason to switch it though.

Its to help make things more decentralized and avoid the issues we see

[2018-02-01 16:39] tayvano commented on #1581
https://myetherwallet.github.io/knowledge-base/send/adding-new-token-and-sending-custom-tokens.html

[2018-02-01 16:40] tayvano commented on #1579
Please post your sending address or transaction hashes.

[2018-02-01 16:41] tayvano commented on #1574
https://myetherwallet.github.io/knowledge-base/hardware-wallets/ledger-hardware-wallet-missing-characters-from-address.html

[2018-02-01 16:41] #1574 closed, assigned to nobody

[2018-02-01 16:41] tayvano commented on #1570
Which page were you sending from?

[2018-02-01 16:42] dgobaud commented on #1570
send offline

[2018-02-01 16:47] tayvano commented on #1528
First off, you still haven't told me where you got the address. Until we can confirm that, we cannot confirm a previously-unknown bug in Ledger that is not reproducible by you or anyone else even though there have been no code changes since you generated the wallet.

The most likely cause for your issue is that you sent to an address that was not presented to you on your Ledger device, but instead

[2018-02-01 16:56] numero41 commented on #1528
@tayvano
Yes, I did tell you several times.

So once again, here is what I did (basically the exact correct use of the Ledger) :

1/ I opened the ledger's eth / bitcoin apps on chrome, and had a look at the uis.
Saw on Ledger website that for custom erc20 tokens I had to go thru mew.
I opened a new tab in chrome.
(I am not sure I closed the eth app in the background.)

2/ I created / deleted a wal

[2018-02-01 17:07] tayvano commented on #1528
When you connect your Ledger to MEW it should look exactly like this (with diff addresses):

<img width="817" alt="2018-02-01 at 9 03 00 am" src="https://user-images.githubusercontent.com/7924827/35691937-b7ac45aa-072e-11e8-8357-9f0eb4868d46.png">

Not sure if you *actually* selected "Ledger (ETH)" as you should have had to select anything, but regardless, please do the following:

Click `m/44'/60

[2018-02-01 17:12] numero41 commented on #1528
Already tried the checkboxes many times, already tried it with the bip39 tool too.
Already tried to input custom path with provided paths from the checkBoxes, even if I'm 100% sure I DID NOT check custom path.

Will try once again tonight after work to set the custom path inputing the checkboxes paths as you suggest.

[2018-02-01 17:16] numero41 commented on #1528
Sorry, I know I told you already, but I already spent 80 hours on this, and I'm not a basic computer noob.
I'm software engineer for 20 years.
I wouldn't be so insistant if I wasn't sure about myself

[2018-02-01 18:11] hmchmc commented on #360
@wparad @numero41 Thanks for the help anyway!

[2018-02-01 18:12] numero41 commented on #360
You're welcome!

[2018-02-01 19:05] davewilliamson commented on #1581
Thanks for that, but how does that relate to the TREZOR WALLET?

[2018-02-01 20:07] numero41 commented on #1528
@tayvano
So I did once again all the tests you suggested, including entering derivation paths manually in the "Custom Path" field, and as expected nothing new for me.

[2018-02-01 21:14] numero41 commented on #1528
@tayvano

If you want to have an idea of how bad this issue is, you can have a look at these threads :

https://github.com/CityOfZion/neon-wallet/issues/524
https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/

This not FUD, this is not particular wallet related, this is real people losing their money everywhere.

This is only the beginning, because many p

[2018-02-01 23:07] Darayavaush opened #1590 "Nonce is detected incorrectly when account has pending transactions"
I have 10 completed transactions and 2 pending ones (all sent via Metamask). When trying to send a new one (function call) via MEW, it creates a new one with nonce 11 instead of 13 and crashes with Error: replacement transaction underpriced.

[2018-02-02 05:36] all-encrypted commented on #1571
Thank you for the clarification. This will be a great feature.

[2018-02-02 05:36] #1571 closed, assigned to nobody

[2018-02-02 09:13] dec1 commented on #1585
but of the same public ethereum blockchain, right?

which is actually an implementation detail

Yes, and thats why it would be very helpful to be able to see **before** one picks a node (or leaves the default) and sends it a transaction if the node in question is offline, experiencing problems etc.
Is there any way?

which DAO?

MyEterwallet should be usable and clear even for non technical people

[2018-02-02 14:41] OrEagle97327 commented on #1528
"A lot of people don't go on Reddit and even less on Github to find answers." - I am one of those people.

I was paying a consultant to help find my lost Neo.  He found post CityOfZion/neon-wallet#416, and referred me there.

I have learned a lot about Gethub, Reddit, Discord, and more.
(degree in School of Hard Knox without student debt)

Since then, I have posted CityOfZion/neon-wallet#524.

Tha

[2018-02-02 18:55] osnwt opened #1592 "ETZ tx: unable to send entire balance"
I am trying to send entire balance of ETZ fork to another address. ETZ uses zero fees, so entire balance should be sendable.

Not being familiar with MEW, I tried to play with some addresses first. As far as I understand, I can set gas limit to X and gas price to Y. So amount to be sent should be the account balance - limit * price. If limit * price > 0, but fee will be 0, this amount will be retu

[2018-02-04 22:24] tacamaniac commented on #1528
Adding my issue on this thread from CityofZion thread.

I have a very similar issue with my ledger. I have made in/out transactions to my ledger nano s in the past with no issue, until recently. A couple of days ago I wanted to check my coins in my wallet (the last time I interacted with the nano was a couple weeks prior) and the device did not like my pin. And of course I entered the same pin 3 t

[2018-02-04 22:26] numero41 commented on #1528
@tayvano @wparad

[2018-02-05 00:43] gouegd commented on #1528
Maybe related:
https://news.bitcoin.com/ledger-addresses-man-in-the-middle-attack-that-threatens-millions-of-hardware-wallets/

[2018-02-05 06:35] numero41 commented on #1528
I don't think so...

[2018-02-06 15:44] numero41 commented on #1528
I made a google form for all the people with the same issue, you can fill it, Ledger support has the link to check all the data.
https://docs.google.com/forms/d/e/1FAIpQLSfgEim2xICDBcpL6tL5q0_BKYCNevT5Q6-qVyegJhe4tdz6cw/viewform?usp=sf_link

[2018-02-07 10:47] protecj opened #1596 "Offline erc20 tokens wont load"
Hi,

I've a problem and don't know how to fix it.. I've created a offline wallet and that works perfect but when i want to add different tokens and press: "load token" it keeps "loading". Is that normal or does that take ages to load? Or can i download other tokens on a different way? Or can i just send erc20 tokens to my eth address?

Sorry for the noob questions but if someone can help me, that

[2018-02-07 10:56] numero41 commented on #1528
We don't have any answer from Ledger since they have access to the form.
I think now is time to begin research for legal advices / class action advices.

https://www.lexology.com/contributors/k-and-l-gates
http://www.classactionsreporter.com/class-action-settlements
https://bitcoinexchangeguide.com/legal-crypto-law/
http://kellywarnerlaw.com/ten-cryptocurrency-legal-faq/
http://cryptocurrencylegal

[2018-02-07 11:08] numero41 commented on #1528
https://ec.europa.eu/consumers/odr/main/index.cfm?consumer-question1=Y&consumer-question2=Y&consumer-question3=Y&complaintType=3&event=main.complaints.new

[2018-02-07 11:19] suyash644 commented on #449
i need to generate a keystroke file when creating new wallet can anyone help me to code for this??

[2018-02-08 14:18] EricLarch commented on #1528
The issue from @tacamaniac has been solved. The problem came from the fact he restored his Nano S with the wrong backup. Other similar issues were caused by a temporary passphrase, and subsequently solved.

I'm mentionning these information as it may help others in the same case.

Ledger is taking all bug reports seriously and is investigating the issues mentionned here. However analysis can be co

[2018-02-08 14:35] numero41 commented on #1528
@EricLarch
Thank you for mentioning this, I was about to do it also.
You can also mention it (but I think I already did yesterday) on this thread where most of the discussions have been made :
https://github.com/CityOfZion/neon-wallet/issues/524

[2018-02-08 15:35] Simon0x commented on #1590
But this behavior is correct.
The network must first confirm the transactions before nonce is updated for your address.

[2018-02-08 18:23] Darayavaush commented on #1590
But can't it check the pending transactions and at least offer the user a choice?

[2018-02-08 21:33] OrEagle97327 commented on #1528
@EricLarch

Thank you for responding here.

We are glad to see you here.

Notices of this solution are also posted on my Neo Gethub thread #524.

What more can we do, to assist in finding the "intermittent fluke" affecting other users Xrp, Neo, Eth "etc"

p.s. I acquired my Ledger Nano S, last spring - It has not been used, or recommended  since Dec 22

[2018-02-09 13:48] adamdossa commented on #1590
You can use offline sending / signing to explicitly specify a nonce if needed.

[2018-02-09 15:33] Darayavaush commented on #1590
It doesn't solve the problem of users unknowingly replacing a transaction. Also, IMO that's an unnecessary complication for a simple procedure.

[2018-02-09 16:09] sgarciafer opened #1602 "MyEtherWallet.com vs MyCrypto.com"
I though it was just another phishing website, until I arrive at Twitter and noticed the prior account MyEtherWallet changed it's logo and info.

One thing is clear, I won't use MyCrypto.com until this get clarified, all I can say is the situation is confusing and will produce a loss of trust if there is not a clear explanation.

Can someone give some details about it?

[2018-02-09 16:10] numero41 commented on #1602
+1

[2018-02-09 20:31] jderocher commented on #1602
I suggest checking out ethtrader's subreddit for some information - there is clearly a power struggle going on right now: https://www.reddit.com/r/ethtrader/comments/7wcyrm/sothe_mew_drama/?utm_content=title&utm_medium=new&utm_source=reddit&utm_name=ethtrader

[2018-02-09 20:47] jderocher commented on #1602
This is the statement from the "forked" MyCrypto, but I haven't seen anything from the one who is remaining on the side of MEW. https://twitter.com/mycrypto/status/961885331183185924

[2018-02-09 21:51] sandakersmann commented on #1602
Statement from @kvhnuke: https://twitter.com/myetherwallet/status/962071670562279425

[2018-02-10 03:37] crypto-recovery commented on #1541
Not sure if you were able to open your wallet using your JSON Keystore file yet.  I just wanted to add a couple of thoughts:

- JSON is a text format, and the JSON Keystore file that MyEtherWallet generates is a text file. Saving it as a text file on your iMac shouldn't be the cause of the problem that you're encountering.

- What is the file extension of your Keystore file? (.html, .exe, .js, etc

[2018-02-10 04:35] mohamedmansour commented on #1602
Here is the lawsuit https://drive.google.com/file/d/1CHz_Fe5DqM7Aszsr5LwTdol85YsEJaaZ/view

[2018-02-10 07:43] mohamedmansour opened #1603 "Mobile Top Header Buttons Not Friendly"
When you launch the homepage, the current design looks like the following, the buttons on the right are cropped.
![image](https://user-images.githubusercontent.com/68524/36059641-31660b56-0e0a-11e8-9399-03fcfe65588d.png)

We can do better, what I propose is that we make the logo vertical, what do you say?
![image](https://user-images.githubusercontent.com/68524/36059906-1e4efa76-0e0c-11e8-96f9-1de

[2018-02-10 07:51] mohamedmansour commented on #1506
Yea this UX needs improvement. Does this fit right?
![image](https://user-images.githubusercontent.com/68524/36059967-47af091e-0e0d-11e8-877a-890dd6a308a0.png)

[2018-02-10 07:55] mohamedmansour commented on #1603
Even better, I believe we should redesign the buttons to be column based, if you would approve such request, I can help contribute code for it.

[2018-02-10 15:41] OrEagle97327 commented on #1528
Thought I would give you a Video about MEW staff changes.
https://www.youtube.com/watch?v=Whtkoo2-Xl0

[2018-02-11 01:02] jidanni commented on #1506
Good!

[2018-02-11 03:37] ghost opened #1604 "Missing Tokens"

[2018-02-11 07:38] #1604 closed, assigned to nobody

[2018-02-12 03:46] kvhnuke commented on #1602
MEW and MyCrypto are completely different entities. MEW team will continue to develop MEW and continue to be the community oriented client side wallet

[2018-02-12 03:48] kvhnuke commented on #1596
Hi when you say offline, do you mean  your computer is not connected to internet? In order to load token balances you have to be connected. I would use https://www.myetherwallet.com/#view-wallet-info and view with address only option to see the token balance as it is the most secure approach

[2018-02-12 04:15] kvhnuke commented on #1592
@osnwt this is actually due ETZ network currently sending a value for `eth_gasPrice` call. This is the result, I obtained just now `{"jsonrpc":"2.0","id":"d7f43308486dc917cca350937aa020de","result":"0x98bca5a00"}`

[2018-02-12 04:30] kvhnuke commented on #1592
hi @osnwt based on a quick research it seems like `eth_gasPrice` call sends an actual gas price value.
`{"jsonrpc":"2.0","id":"d7f43308486dc917cca350937aa020de","result":"0x98bca5a00"}` I am not familiar with how ETZ gas price work but, seems like the node is rejecting your tx because you dont have the min gasprice*gaslimit

[2018-02-12 06:24] osnwt commented on #1592
Weird since they claim no-fee txes, and they actually are. But this means there is no way to send whole balance from an account...

[2018-02-13 16:33] scientistnik opened #1609 "ajaxReq is empty function"
I want to create some application based on `myetherwallet`. But I don't send some requests because ajaxReq is empty function. Where in code this object init? Or maybe need install some package?

[2018-02-13 18:56] GILLIARDFN commented on #292
TIVE 4 MIL US ROUBADO HOJE ESTA CARTEIRA É UMA PORCARIA

[2018-02-14 17:44] leafcutterant commented on #1576
@wparad, I won't post my transaction here. Maybe if you give me an address and a PGP key.

But there's no need even for that, just try it. It happened to me again in the last few days. I was using the very latest release (3.11.3.3).

It is not consistent though. I made a similar "send entire balance" transaction today and this time it worked properly. But this was the same 3.11.3.3 version.

[2018-02-14 17:47] numero41 commented on #1528
@kvhnuke
Hello,
It seems like you are back on this repo support, may I ask you to have a look at this issue?
Thank you.

[2018-02-15 08:40] syAlbert commented on #1609
Hhh

[2018-02-15 08:44] scientistnik commented on #1609
if I start some local server, MeW work well, and ajaxReq not empty!!

[2018-02-15 10:07] VadimIsk commented on #427
using this site, I tried ways to restore access to the address.
attempts were useless
a freelancer help in this matter?

[2018-02-16 01:14] mswezey23 commented on #280
Thanks! You're awesome - quick google search and I resolved my error.

[2018-02-16 01:17] ghost commented on #761
@tayvano @realcodywburns  @Dexaran @kvhnuke Any updates on here?

[2018-02-19 18:58] davidmoldenchen opened #1622 "Where has my NEO gone?"
I have 189 NEO. I checked my NEON wallet just now and the balance is zero. I updated to the latest Mac version of NEON wallet but still will not show my NEO. Is there a bug or something?

[2018-02-19 22:12] allquantor opened #1624 "Wrong smart contract address for RVL Token"
[code]
The given address seems to be wrong. It was a fund by accident, I assume they could be more. It would be nice to run a script and validate all addresses given the pattern
- Does this address contain a smart contract?
- Does this address contain at least a single ERC20 transaction

To clean it up.

WDYT?

[2018-02-20 01:44] #1602 closed, assigned to nobody

[2018-02-20 01:47] kvhnuke commented on #1622
@SteveMieskoski

[2018-02-20 10:16] dschinnerl commented on #1511
Hi, unfortunately the same issue. But Chrome 64.0.3282.167 (mac OS) but also happens with Firefox (58.0.2). It seems to fail in/during U2F communication I think... but still looking into it. (digital bitbox with latest firmware).

`DigitalBitboxEth.prototype.getAddress`, it seems `localCallback` gets executed and at least in my case digital bitbox returns error code == 2 and then it fails. :( Not

[2018-02-21 23:50] bazredhat opened #1626 "Offline ETH Is not Loading"
I have a offline Wallet that i use for almost a year now. Suddenly My ETH Balance wont load. This is a serious matter. I have 94.924 ETH in the Wallet.
Please Help.

[2018-02-22 01:25] srmojuze commented on #1509
I believe it works fine and IIRC I tried it once in Linux. I am currently downloading Fedora 27 to use it with Firefox there. Unless you hear back, I believe everything should be fine.

[2018-02-22 01:29] srmojuze commented on #1444
Do see https://github.com/kvhnuke/etherwallet/tree/mercury/dist#users-non-developers

Follow those instructions. When using the "dist" folder, by convention in web stuff that means you use a "release" --> essentially you don't need node, npm, gulp, bower, etc.

You load the html and javascript directly in your browser from that "dist"/"release" so you don't need to install anything else. _(In Gith

[2018-02-22 07:18] harryansour opened #1628 "tiker code"
how to create a ticker code to apply to exchange ?

[2018-02-22 09:03] albertni commented on #492
Hi everyone,

I discovered one source for this bug. If Parity is active in your browser (e.g. if you are running "parity ui"), that will cause the str.match error message due to stuff injected by Parity. This happens deterministically for me, at least on Google Chrome on a Mac (though I don't think the operating system will matter).

You can check if Parity is active in a given browser window by o

[2018-02-22 12:30] bazredhat commented on #1626
Anyone?

[2018-02-23 01:11] kvhnuke commented on #1628
what kind of ticker?

[2018-02-23 05:54] dgobaud opened #1630 "ledger custom derivation path bug"
with default path m/44'/60'/0' assume the second address is X.

i then enter custom path m/44'/60'/0'/0/1

the first path displayed is not X - the whole series is different.

first i thought this was a bug but now i think it is a missing feature - let's say I want to skip to address 100 I don't think is possible.

i think it is using m/44'/60'/0'/0/1 as the base then appending /0/0 again hence the

[2018-02-23 08:38] kvhnuke commented on #1630
Hi
Yes you are right if you set custom path, it always assume that's the base path and append to that.

I agree it can be better and there should be a way to skip to a certain address

Let me look into this

[2018-02-23 11:26] bazredhat commented on #1626
WTF is going on. How is it possible that no one answers. I posted 2 days ago. Please Someone Help. Why is this happening. What do you need me to send you so you can investigate the situation?

[2018-02-25 10:09] seigneur opened #1635 "Capitalization of params in keystore files causes issues."
## Issue

When one downloads the keystore file, it has capitalized param *Crypto*. This should be *crypto*?

Not sure if this is only for me or across.

![screen shot 2018-02-25 at 6 08 39 pm](https://user-images.githubusercontent.com/1625844/36640316-fcd9ea16-1a56-11e8-8f43-ae8ed2900747.png)

[2018-02-25 14:24] Swader commented on #1047
Can confirm, just ran into this. @johnerfx's solution worked. UI should be updated to reflect this, but not sure of BC breaks it might cause. Will study and possibly submit PR.

[2018-02-25 17:30] kvhnuke commented on #1047
I will look into this as well

[2018-02-26 08:06] czwei86 opened #1637 "Not a valid ERC-20 token"
(error_21) Not a valid ERC-20 token
 created an ERC20 contract, verified by EtherScan, and I can't add it to MEW.

Address: 0x164E45D38ab8e97B247E1e75d17A2f01EA20b395
Symbol: B2BX
Decimals: 18

[2018-02-26 08:18] kvhnuke commented on #1637
You have to use the address of the contract, which is 0x5d51FCceD3114A8bb5E90cDD0f9d682bCbCC5393

[2018-02-26 09:10] czwei86 commented on #1637
try already but show nothing
amonut 0 please check

[2018-02-28 10:28] aj07 opened #1644 "Why does LALA token not listed"
Hello @kvhnuke I have sent the Patch for LALA Token. I was following https://myetherwallet.github.io/knowledge-base/tokens/token-creators-add-your-token-to-myetherwallet.html

patches has been merged. Still LALA token , isn't visible as default token.

[2018-02-28 17:07] Varunram opened #1646 "Unused node modules"
I ran the repo through `depcheck` and this is what I got:
[code]
I'm not too familiar with the entire codebase, but I guess some of the dependencies are really unused/not needed (along with other false positives). Would need someone experienced to check this out and potentially integrate a plugin like `npm-check` with the CI workflow.

[2018-03-02 07:10] jarig commented on #1425
Also wonder about HD Paths for Ledger, will there be specific one for the POA?

[2018-03-02 13:18] leafcutterant opened #1651 "[Request] Sign releases with your PGP key and include hashes"
In order to increase the reliability of MEW, I suggest you create a PGP key for MEW, publish it, sign releases and include the signature file in the release downloads. As an additional measure and for easier verification, you could also include hashes (e.g. MD5, SHA-256) of the files.

[2018-03-03 05:40] kvhnuke commented on #1644
Hi yea it is merged, this will be included in our next release!

[2018-03-03 22:52] flockonus commented on #1504
We need an advanced mode that allow us to set the nonce manually. Often times i need to send multiple transactions but the only way is to wait around for minutes for the nonce to update.

[2018-03-03 23:58] kvhnuke commented on #1504
I actually agree on this, we are planning to have a toggle switch which will switch from simple to advance and let advance users change all aspects of the tx. This is at least 6-8 weeks down the line though

For now only way for advance users to do this is through the offline tx page

[2018-03-04 17:02] ramimuk opened #1654 "What a joke?"
Why I couldn't see my MIX coin/token anymore? it just shows zero balance.
Very poor & complected your as-hole wallet  service.
Are you guys here to steal from general people like us?

[2018-03-05 18:36] theTrueInvaderZim commented on #360
Hello to all.
Today I faced the same situation with my ETC address, luckily I found a way to solve it in another forum, so I would like to share it with you, just in case. When generating the address, I saved all the data, such as utc and private key, but only today I noticed that the address was different from the one a used for the transfer and I didn't know why. After speaking with all the gods

[2018-03-05 22:23] gamalielhere commented on #1626
Have you tried checking your balance on [MeW](https://www.myetherwallet.com/)?
Also, this might be a similar case #1596

[2018-03-06 00:00] gamalielhere commented on #1622
Hey @davidmoldenchen you might be in the wrong Github repo. This is MyEtherWallet's repo. We don't handle NEON wallets.

[2018-03-06 01:25] kvhnuke commented on #1654
please send us the link to your coin on etherscan

[2018-03-06 01:26] kvhnuke commented on #1651
@gamalielhere @SteveMieskoski this is actually a good feature to have, can you look into travis and check whether we can automate this

[2018-03-06 01:26] #1644 closed, assigned to nobody

[2018-03-06 01:27] kvhnuke commented on #1637
what is your address?
you can also email it to me kvhnuke @ myetherwallet . com

[2018-03-06 02:11] czwei86 commented on #1637
Problem solved

On Tue, Mar 6, 2018, 9:27 AM Kosala Hemachandra <notifications@github.com>
wrote:

[2018-03-06 02:21] #1637 closed, assigned to nobody

[2018-03-06 14:31] PEVCOINS commented on #360
If you have seed words to your main myether wallet account... heres how to recover your hidden addresses in metamask...

Okay, I've been able to resolve this issue - what a whirl-wind! This issue should be addressed immediately though from a UX perspective as it's a disaster.

After uninstalling the plugin and re-installing the plugin, I was able to access the seed phrase recovery (no other way to

[2018-03-06 15:38] numero41 commented on #360
@PEVCOINS
@theTrueInvaderZim

Thanks for your inputs guys!

I personnaly didn't have my loss issue in combination with Metamask (it was MEW+Ledger, and nobody helped me, either here or at Ledger).
But I had to face the exact issue you mention with Metamask, yesterday!

I don't know why, when I clicked on the Metamask icon in chrome, my account was gone, and it asked me to input a "NEW PASSWORD" (w

[2018-03-06 22:33] dsr1001 opened #1659 "problem claiming Callisto"
I tried to add Callisto to www.myetherwallet.com using
contract address:
0xC83872d11C2B9C30E58029B025De5c1294E36541
decimals: 0
symbol: CLO
but I get:
(error_21) Not a valid ERC-20 token     CLO
Can you please tell me what I am doing wrong?
Thanks
Pavel

[2018-03-07 01:03] fortran77 opened #1660 "Phishing site https://xn--myethewallet-kjc.com/"
The phishing site

https://xn--myethewallet-kjc.com/

which will appear in your web browser's address bar as

https://myetheŕwallet.com/

is designed to look like MyEtherWallet, and will presumably steal keys. I saw this in a phishing email that asked users to immediately load their private keys into the above phishing site to save them from some alleged Ethereum flaw.

I entered a web spam (phish

[2018-03-07 01:21] kvhnuke commented on #1660
Thanks for the heads up, I also reported and included it in https://github.com/409H/EtherAddressLookup/blob/master/blacklists/domains.json#L5997

[2018-03-07 01:21] #1660 closed, assigned to nobody

[2018-03-07 01:23] fortran77 commented on #1660
Can you also please post this warning somewhere where more people will see it? E.g., maybe via your Twitter or Reddit account. The phishing email that I saw looked very real and I think people will be taken in and lose their Ether.

[2018-03-08 01:25] kvhnuke commented on #1651
`gpg --keyserver keyserver.ubuntu.com --recv-key 7B9A12F0`

download a file and appropriate signature file [FILE].asc
https://github.com/kvhnuke/etherwallet/releases/tag/v3.20.03-GPG

then
do
`gpg --verify [FILE].asc [FILE].zip`

let me know how it goes

[2018-03-08 01:25] kvhnuke commented on #1651
also thanks @gamalielhere for getting this to work!

[2018-03-08 02:07] xsmile commented on #1651
@kvhnuke Works fine, thank you.
[code]

[2018-03-09 10:43] aquarius777 opened #1662 "BKX decimal value should be 18 instead of 8"
https://github.com/kvhnuke/etherwallet/blob/440e3524e24e51df18451d842bc82152915888d1/app/scripts/tokens/ethTokens.json#L299

Line 299 should look like this:

"decimal": 18,

See:

https://blog.bankex.org/how-to-add-your-bkx-tokens-to-your-wallet-a312866e5ef

[2018-03-09 14:30] voyager commented on #1330
^ I also solved it by using a different USB cable :)

[2018-03-09 18:21] gamalielhere commented on #1662
It's been updated on our master list: https://github.com/MyEtherWallet/ethereum-lists/commit/5499da755d3836f005384badbfbeda63cc0947e5

Live list should reflect this when a new release is made @aquarius777

[2018-03-09 23:11] adewyn commented on #1659
If you're referring to the new CLO fork of the classic ethereum chain, this is actually not an erc-20 token. This is a completely different kind of currency, on a different blockchain.

At the moment, we have not been reached out to support the Callisto fork network. Do not worry though, your CLO is safe! These funds are not stored on any site, but on the blockchain itself.

We are working on gett

[2018-03-10 04:35] qoire opened #1664 "Invalid private key input"
![screen shot 2018-03-09 at 11 35 23 pm](https://user-images.githubusercontent.com/4521292/37238350-985decfe-23f2-11e8-8244-d6bcc8ae5b0b.png)

Private key was invalid (out of bounds) and console rightfully logged an exception, however the popup still indicates the wallet was successfully unlocked

[2018-03-12 16:33] gamalielhere commented on #1651
Closing this.

[2018-03-12 16:33] #1651 closed, assigned to nobody

[2018-03-12 16:34] #1506 closed, assigned to nobody

[2018-03-13 10:03] Annammal commented on #1001
Hi everyone, can I add testnet token into the myetherwallet add custom token

[2018-03-13 16:32] xsmile commented on #1240
Indeed, the issue is still present and it happens when using MEW locally/offline.

Is there any way to interact with custom tokens without using MEW online?

[2018-03-13 21:16] gamalielhere commented on #1240
@xsmile can you send me the token, symbol and decimal? I'll try testing it on my end. It seems to work for the tokens I tried.

[2018-03-13 21:30] xsmile commented on #1240
@gamalielhere This seems to be browser-specific. I tested it again with Firefox 59.0 and adding a custom token worked. It fails with Chromium 65.0.3325.146 however and the aforementioned error message is printed inside a red popup in the footer.

The custom token address doesn't seem to matter, I used [0x123ab195dd38b1b40510d467a6a359b201af056f](https://etherscan.io/token/0x123ab195dd38b1b40510d46

[2018-03-13 21:39] gamalielhere commented on #1240
@xsmile Seems to be working on Chrome Version 65.0.3325.162. I'll try and spin up a Chromium instance and check there too.

[2018-03-13 21:50] xsmile commented on #1240
@gamalielhere ~~Ok, I did a few more tests and found out that Chromium works fine but the patched Chromium version I used earlier that removes some telemetry features does not.~~

Sorry for the trouble.

EDIT:
Blocked third-party cookies in Chromium are the issue, see https://github.com/kvhnuke/etherwallet/pull/739.
You might want to mention it in the wiki.

[2018-03-13 23:18] gamalielhere commented on #1240
@xsmile Unfortunately no. I did find this reddit post: https://www.reddit.com/r/BATProject/comments/75ry44/difficulty_transferring_bat_from_myetherwallet_to/

I'll close this for now and reopen it if the issue does persist.

[2018-03-13 23:24] xsmile commented on #1240
@gamalielhere Please see my updated message above. Disabled third-party cookies in Chromium are causing the issue.

While Firefox allows local cookies to be set, Chrome does not. The solution is to add `file:///*` to the cookie exception list, if third-party cookies are blocked.

[2018-03-13 23:45] gamalielhere commented on #1240
@xsmile Thanks for finding it! I'll update it tomorrow and tag your github user if you don't mind. I'll go ahead and close this issue.

[2018-03-13 23:45] #1240 closed, assigned to nobody

[2018-03-14 02:30] kvhnuke commented on #1664
Fixed

[2018-03-14 02:30] #1664 closed, assigned to nobody

[2018-03-14 03:02] #1662 closed, assigned to nobody

[2018-03-14 04:05] #1508 closed, assigned to nobody

[2018-03-14 18:00] #1540 closed, assigned to nobody

[2018-03-14 18:03] gamalielhere commented on #1527
@syndrael can you provide the token address and abi you used?

[2018-03-14 21:21] gamalielhere commented on #311
@khovratovich Hey, can you check the most recent release if it fixes this?

[2018-03-14 22:07] khovratovich commented on #311
Seems it works! Thanks!!

[2018-03-14 22:08] gamalielhere commented on #311
Cool. Closing this issue now. @khovratovich

[2018-03-14 22:08] #311 closed, assigned to kvhnuke

[2018-03-15 16:02] Kryystian74 opened #1686 "index.html wont load"
Hi The index.html etherwallet-v3.21.02.zip wont load properly on any browser.

[2018-03-15 16:05] gamalielhere commented on #1686
@Kryystian74 can you open the console and see if there's any error? it seems to be working on my end

[2018-03-15 21:55] a13u opened #1689 "Processing of Get-Parameters is ignored"
It seems like the processing of get parameters for e.g. pre-filling fields is limited.
E.g. when calling
https://www.myetherwallet.com/?address=0x95D7321EdCe519419ba1DbC60A89bAfbF55EAC0D#contracts
the contract address field remains emty.

[2018-03-16 20:29] gamalielhere commented on #1522
Closing this as BKX has been added to defaults.

[2018-03-16 20:29] #1522 closed, assigned to nobody

[2018-03-16 20:30] gamalielhere commented on #1507
@jidanni is the issue still happening?

[2018-03-16 20:31] gamalielhere commented on #1521
@ATouhou is the issue still happening?

[2018-03-17 10:36] Kryystian74 commented on #1686
Hi
Sory for the delay .
Yes there are some errors
.please see attachment

2018-03-15 16:06 GMT+00:00 gamalielhere <notifications@github.com>:

--
Regards / Pozdrawiam

*Krystian Zelazny*

[2018-03-18 07:22] kvhnuke commented on #1686
Usually it happens when you don't unzip the file first, did you unzip the downloaded file before opening index.html?

[2018-03-20 22:19] lacabra commented on #517
For the record, different supported wallets by MyEtherWallet sign messages differently, so it matters which wallet you use, and as @onedrop reports above some are not compatible with the standard that Ethereum uses (geth, etherscan, etc). My current observations are that Metamask and Ledger are fully compatible, MEW's keystore/private key is mostly compatible (but it breaks on some types of inputs

[2018-03-22 03:48] jidanni commented on #1507
@gamalielhere I don't know because I don't use that website currently.

[2018-03-22 06:41] fulldecent opened #1706 "Add well-known contract -- Su Squares"
Hello, can you please add a well-known contract to MyEtherWallet.

Su Squares
Mainnet / 0x6731560e455537c9f088EA02A47a0ECFa28a9231
ABI: https://etherscan.io/address/0x6731560e455537c9f088ea02a47a0ecfa28a9231

This is an ERC-721 contract. You can confirm this is the correct address by seeing:

* https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md
* Which points to Su Squares. https://tenth

[2018-03-22 16:13] gamalielhere commented on #1507
I see. I'll close this issue for now and reopen it if the issue still exists.

[2018-03-22 16:13] #1507 closed, assigned to nobody

[2018-03-23 10:06] extrimexxx opened #1712 "RCN (Ripio Credit Network) Token"
Please add RCN (Ripio Credit Network) token

  {
    "address": "0xf970b8e36e23f7fc3fd752eea86f8be8d83375a6",
    "symbol": "RCN",
    "decimal": 18,
    "type": "default"
  },

[2018-03-23 16:34] gamalielhere commented on #1712
Moved [#553](https://github.com/MyEtherWallet/ethereum-lists/pull/553).
Please wait for a release cycle to see your tokens in the defaults.

[2018-03-23 16:53] gamalielhere commented on #1706
Moved to: [#554](https://github.com/MyEtherWallet/ethereum-lists/pull/554)
Please check back when a release is made to see the contract on the website.

[2018-03-24 03:42] fulldecent commented on #1706
Excellent, thank you, much appreciated.

[2018-03-24 07:37] #1712 closed, assigned to nobody

[2018-03-24 07:37] #1706 closed, assigned to nobody

[2018-03-24 22:53] leafcutterant commented on #1651
For easier verification, I further suggest displaying a link to the PGP key somewhere in README.md or even including it in the release packages.

[2018-03-27 01:29] kvhnuke commented on #1686
closing this, reopen if not solved

[2018-03-27 01:29] #1686 closed, assigned to nobody

[2018-03-27 01:32] gamalielhere commented on #1659
Closing this for now. Please reopen if it's still an issue @dsr1001

[2018-03-27 01:32] #1659 closed, assigned to nobody

[2018-03-27 01:32] gamalielhere commented on #1654
@ramimuk Closing this. Let us know if it's still an issue.

[2018-03-27 01:32] #1654 closed, assigned to nobody

[2018-03-27 16:00] gamalielhere commented on #1609
@scientistnik the ajaxRequest function is set in globalService.js with angular services and node functions. It's line 5 to 8 in that file. Let me know if you need anything else. I'll close this for now.

[2018-03-27 16:00] #1609 closed, assigned to nobody

[2018-03-27 16:02] gamalielhere commented on #1622
@davidmoldenchen closing this for now.

[2018-03-27 16:02] #1622 closed, assigned to nobody

[2018-03-27 16:02] #1596 closed, assigned to nobody

[2018-03-27 16:02] #1626 closed, assigned to nobody

[2018-03-27 16:03] gamalielhere commented on #1584
@dec1 Is this still an issue?

[2018-03-28 17:48] gamalielhere commented on #1570
@dgobaud is this still an issue?

[2018-03-28 18:10] dgobaud commented on #1570
not sure havent used this in a while

[2018-03-28 18:12] gamalielhere commented on #1570
I see. I'll close this for now and will reopen when the issue is still persistent.

[2018-03-28 18:12] #1570 closed, assigned to nobody

[2018-03-28 21:12] gamalielhere commented on #1527
I'll close this for now. Feel free to open if the issue is still there.

[2018-03-28 21:12] #1527 closed, assigned to nobody

[2018-03-28 21:12] gamalielhere commented on #1521
I'll close this for now. Feel free to open if the issue is still persists.

[2018-03-28 21:12] #1521 closed, assigned to nobody

[2018-03-28 21:13] gamalielhere commented on #1509
It should work fine @unknown1235 I haven't read or heard any issue about it so far.

[2018-03-28 21:15] #1489 closed, assigned to nobody

[2018-03-28 21:15] gamalielhere commented on #1456
@mike24camposano Are you still having this issue?

[2018-03-28 21:17] gamalielhere commented on #1449
@repsorp can you confirm if the newer zips are working correctly on your end?

[2018-03-28 21:32] repsorp commented on #1449
v3.21.03 is ok for me
zip correctly working

[2018-03-28 21:46] gamalielhere commented on #1449
Sounds good. Closing this for now. Don't hesitate to reopen this if anything.

[2018-03-28 21:46] #1449 closed, assigned to nobody

[2018-03-28 21:51] gamalielhere commented on #1444
@mechamecho are you still having trouble with the local version?

[2018-03-28 21:51] #1442 closed, assigned to nobody

[2018-03-28 21:52] gamalielhere commented on #1428
Closing this for now. Don't hesitate to reopen if the issue persists.

[2018-03-28 21:52] #1428 closed, assigned to nobody

[2018-03-28 21:52] #1399 closed, assigned to nobody

[2018-03-28 21:59] gamalielhere commented on #1323
Looks like its there. I'm closing this now. Please don't hesitate to reach out or reopen the issue if necessary.

[2018-03-28 21:59] #1323 closed, assigned to nobody

[2018-03-28 22:01] #1285 closed, assigned to nobody

[2018-03-28 22:02] #1268 closed, assigned to nobody

[2018-03-28 22:03] #1212 closed, assigned to nobody

[2018-03-28 22:12] #928 closed, assigned to nobody

[2018-03-28 22:12] #820 closed, assigned to nobody

[2018-03-29 19:36] gamalielhere commented on #1624
@allquantor sounds like a good way to validate them. I'm unsure how to achieve the second part at the moment but I've created a nodejs script that checks whether the address is a smart contract or not. [Here's the checker](https://gist.github.com/gamalielhere/c31796aa45d10af33e0de0d8a6664344). Let me know what you think.

[2018-03-30 16:06] gamalielhere commented on #1589
@dec1 @NghiaSE We just added a dropdown on the gas price  where you can pick whether you want to use WEI or GWEI! Thanks for the recommendation and keep em coming. You can take a look at the PR here: #1723

[2018-03-31 15:20] dews998 opened #1731 "Flaky addresses"
I recorded a video here
https://www.dropbox.com/s/j2hl1qvybyouo11/bug.mov?dl=0

About 30% of the time, within a short window, the balance of my ether addresses change back and forth, simply when you click a few times between "More Addresses" and "Previous Addresses". Also when the modal opens for the first time.

You can see the balance of the first address change from 6.57 to 8.96 back to 6.57 an

[2018-04-03 23:53] NovaEuropa opened #1736 "I can not send ether from myetherwallet, using my trezor"
This is the exact error message I continue to receive:
Illegal value for Message.Field .EthereumSignTx.chain_id of type uint32: string (not an integer)

I have never had this problem before, and I'm not doing anything differently, sending ether to the same exchanges as always.

[2018-04-04 00:03] repsorp opened #1737 "Tokens list ends at BCPT (v.3.21.04 )"
Only some of the first 560 Tokens are listed
List stopped at BCPT

MyEtherWallet 3.21.04
Chromium Version 65.0.3325.181
Ubuntu 16.04 (64 bits)

![capture du 2018-04-04 01-51-15](https://user-images.githubusercontent.com/6297032/38281730-6105e860-37ac-11e8-98ea-85b9339df073.png)

[2018-04-04 01:43] siutsin opened #1738 "Chrome extension required to read browsing history"
Hi, any particular reason why the Chrome plugin required to read my browsing history?

![photo_2018-04-04_09-42-28](https://user-images.githubusercontent.com/904442/38284194-96507c02-37ec-11e8-938a-248b9c62d4aa.jpg)

[2018-04-04 02:02] kvhnuke commented on #1738
We added a new feature where Chrome extension will check the page you visit to make sure it is not a known phishing address

Currently the extension will require following permissions

"permissions": ["storage", "tabs"]

[2018-04-04 07:15] mikz0rz commented on #1738
Isn't this a bit too much of a tradeoff, I mean potential value of being protected vs. giving away complete browsing history?
Would be great if that'd be optional.

[2018-04-04 07:50] kvhnuke commented on #1738
Google message is too generic. "tabs" permission is not same as "history"
https://developer.chrome.com/apps/permission_warnings

[2018-04-04 08:30] repsorp commented on #1737
stuck with never ending spinning wheel
"Inspect" command in Chromium gives the full 560 list though
![capture du 2018-04-04 09-37-35](https://user-images.githubusercontent.com/6297032/38296996-63369606-37f3-11e8-9ee5-1d887c347624.png)

[2018-04-04 08:33] kvhnuke commented on #1736
This should be fixed now!

[2018-04-04 08:33] #1736 closed, assigned to nobody

[2018-04-04 16:26] gamalielhere commented on #1737
@repsorp do you get any console errors when stuck on the loading wheel?

[2018-04-04 16:45] repsorp commented on #1737
It's working now...
Full 560 tokens list scrolling fine
Don't know what happened

[2018-04-04 16:47] gamalielhere commented on #1737
Ahh. I see. Thanks for reporting back. I'll close this issue for now.

[2018-04-04 16:47] #1737 closed, assigned to nobody

[2018-04-04 18:36] Pickeringwareltd opened #1741 "'gulp prep' exited with 1 when adding contract"
Hi, I have added the AX1 Mining Crowdsale contract to the list of existing contracts:

I have created a pull request and the Travis CI build has failed with error 'gulp prep exited with code 1'!
The build information can be found here:
https://travis-ci.org/kvhnuke/etherwallet/builds/362271071?utm_source=github_status&utm_medium=notification

The log is here:
[code]

[2018-04-04 18:38] gamalielhere commented on #1741
Do you have the most recent version of the repo @Pickeringwareltd ? Something was breaking this yesterday and have been fixed.

[2018-04-04 18:49] Pickeringwareltd commented on #1741
Ahh okay, I have literally just dont what I said above @gamalielhere , i.e. changed the folder and created a pull request as of about 25 minutes ago, should I try again?

Thanks for the quick response,
Much appreciated

[2018-04-04 18:52] gamalielhere commented on #1741
@Pickeringwareltd Try syncing your fork with the most recent version of mew and try creating the PR again. If it still breaks, I'll my a PR for it.

[2018-04-04 18:53] Pickeringwareltd commented on #1741
@gamalielhere ok, I will do and comment back in here afterwards.

Thanks a lot!

[2018-04-04 19:02] gamalielhere commented on #1741
Sure thing! Let me know then.

[2018-04-04 19:05] Pickeringwareltd commented on #1741
@gamalielhere failed again! See here https://github.com/kvhnuke/etherwallet/pull/1742

[2018-04-04 19:08] gamalielhere commented on #1741
@Pickeringwareltd Yeah, I saw it. Let me try making a PR on my end and see if that works.

[2018-04-04 19:09] Pickeringwareltd commented on #1741
@gamalielhere  Okay, thank you very much!

[2018-04-04 19:19] gamalielhere commented on #1741
@Pickeringwareltd Here's the PR. #1743 I took the source abi from etherscan if you don't mind. https://etherscan.io/address/0x5de9f32b2665bb2cdc23bfb51b03e2a2985ecc87#code

[2018-04-04 19:22] Pickeringwareltd commented on #1741
@gamalielhere Thank you very much, no of course I dont mind!

Much appreciated for the quick help!

[2018-04-04 19:30] gamalielhere commented on #1741
@Pickeringwareltd Sure thing. It looks like it works. I'm assuming it was an issue with the ABI you submitted since my editor was giving me an error. Nonetheless, I'll be merging it later today. It should be in our next release. I'm closing this issue now.

[2018-04-04 19:30] #1741 closed, assigned to nobody

[2018-04-05 02:16] nolannj opened #1744 "MEW CX trying to add tokens"
Tokens list ends at BCPT , and before this issue it did not finish downloading token list was incomplete.
  I removed MEW CX and reinstalled it and added my accounts but same problems

[2018-04-05 05:16] jeffro84 commented on #1744
I found that resizing the window (making it wider) made the token list stop getting stuck at BCPT.  But I agree this is a bug, I wasted a bunch of time waiting for it to load as well.

Also, GTO is not in the new list for some reason

[2018-04-05 06:20] siutsin commented on #1738
Had a quick look at [permission_warnings](https://developer.chrome.com/apps/permission_warnings), the `tabs` permission should indicate `Access your browsing activity` instead of `Read your browsing History`. The closest one is `Read and modify your browsing history` which should be `history` and `topSites`.

Indeed, in https://github.com/kvhnuke/etherwallet/blob/29bd27b268557c9cc394b07cc6b70d42d6

[2018-04-05 16:03] gamalielhere commented on #1744
@nolannj Thanks for submitting the issue. I'll try and fix this today and hopefully get it released soon.

@jeffro84 Thanks for pointing out the screen width thing. There was an issue about this yesterday but the other person mentioned it fixed it self. I did replicate it successfully just now so I'll look into this.

[2018-04-05 16:16] gamalielhere commented on #1737
#1744

[2018-04-05 17:55] alepc253 commented on #1400
Hi @tayvano,
I work in RSK and we have a testnet public node ready and hosted for MyCrypto:
https://mycrypto.testnet.rsk.co/

We are really interested in integrating RSK to MyCrypto and working in a PR about this: https://github.com/herrerameri/mycrypto/tree/RSKNetwork

Could we link that PR to this issue?

[2018-04-05 21:04] tayvano commented on #1400
I'll honor it. Work with dternyak on the mycrypto repo to get it up and merged and ping me with your ETH addy. Thanks for doing this—excited to have RSK up again!

[2018-04-05 21:07] gamalielhere commented on #1744
The fix has been merged. Will be in the live extension after a release.

[2018-04-05 21:07] #1744 closed, assigned to nobody

[2018-04-05 21:08] nolannj commented on #1744
Is there a way to add tokens ? only 560 tokens added BLZ, Ncash not listed.

[2018-04-05 21:43] gamalielhere commented on #1744
@nolannj Unfortunately, we don't have a direct Add custom token.
On the upcoming release, you can add a custom token the same way on the web
[code]
You can then search the token on the myWallets tabs and add it there.
That feature will be added in this PR: #1747

[2018-04-07 10:09] Varunram opened #1749 "Adding Musicoin back to MEW"
Musicoin recently had a hardfork which enables EIP 155 and that should ideally make it work with MEW .(ref. #912) I can PR back with the code if the MEW devs are okay with adding Musicoin back, so do let me know reg this. Thanks!

[2018-04-08 02:39] keithofaptos opened #1750 "Add custom Token -Token Symbol problem"
I wrote a coin on Erc20 blockchain.
token symbol : B!
created : 0x51aFAF65886Dd5B9Dcd9F022AAF69e03Cd187eAa
i see other tokens on your click to download list with symbols
that are not letters or numbers.
Why am i not able to add my custome token with a "!" ,or are
there limitations i'm not aware of with MEW ?

If so could you send me a link to that intel pls ty ?

[2018-04-09 22:50] kvhnuke opened #1754 "Readding custom tokens"
Multiple users messaged saying, they have to re add the custom tokens every time they log in. Lets make sure saving to local storage works as standard.

[2018-04-12 00:17] rstormsf opened #1761 "Allow interaction with smart contract in offline mode by passing nonce"
Right now there is no way to pregenerate a signed tx in offline mode because Contracts tab uses getTransactionCount to get nonce

It would be great if a user can manually insert it

https://github.com/MyCryptoHQ/MyCrypto/issues/1495

[2018-04-12 08:33] nosuchip opened #1762 "ENS resolving doesn't works on Ropsten"
- Open "Send Ether & Tokens".
- Input "mewtopia.eth".
- Wait.
- Address resolved is zero.

[2018-04-12 12:33] mickgearty opened #1763 "poa into erc20 wallet"
can you help with this please
below is a transaction showing my poa tokens

the tokens are showing in my wallet now but do i need to do anything else or just keep them there

Your Address | Balance | Token Balances
-- | -- | --
0xeAF89788D3f67628E2dB37f2C1E82be49DE4A041 | 26536.99 POA |  
0x62a7817EDD68E6DFbe386Be339Ca3b862c44aA38 | 0 POA |  
0xb35E46D1986dF065C3C681cA90c623ACE0a3a5a5 | 0 POA |  

[2018-04-12 16:19] gamalielhere commented on #1763
@mickgearty what do you mean "do anything else"? What are you trying to do exactly?

[2018-04-12 23:12] gamalielhere commented on #1762
@nosuchip mewtopia.eth ens is in the main net and it should resolve to zero since it's not on the test net. The test net is a different entity. It doesn't contain the same data the main net has.

[2018-04-13 03:09] nosuchip commented on #1762
@gamalielhere I found strange thing. I have 2 domains in Ropsten network: `coinbet.eth` (namehash `0x42a5ebe68c0e702c984d8f85c878ae0089752a649fd8c1740ee6cba2b3704607`) and `iddqdidkfa.eth` (namehash `0x3dd04d4e58201bbf0c5698e03e8f28a5f0775a8e1e8dc899ac7ba877f26029de`). Both served by the same Ropsten ENS `0x112234455c3a32fd11230c42e7bccd4a84e02010`. Both are set to be resolvable to address (not re

[2018-04-13 08:19] dec1 commented on #1584
yes.

[2018-04-15 19:16] #1330 closed, assigned to nobody

[2018-04-16 16:23] gamalielhere commented on #1762
@nosuchip I tried it just now. Looks like `coinbet.eth` resolves to `0x4c641fb9bad9b60ef180c31f56051ce826d21a9a`?

and `iddqdidkfa.eth` resolves to `0xF011B485DF2A66A3019dEa82E1EBbf7C716443A1` on the Ropsten network on MEW.
You're certain you set the proper resolver addresses?

<img width="843" alt="screen shot 2018-04-16 at 9 20 44 am" src="https://user-images.githubusercontent.com/16236741/38822

[2018-04-17 16:48] gamalielhere commented on #1584
@dec1 with version 3.21.07, it looks like the pop up doesn't close unless you click on the `x` at the bottom right of the screen. I'm gonna go ahead and close this issue for now. If you have any question or you want to reopen the issue, don't hesitate to reach out.

[2018-04-17 16:48] #1584 closed, assigned to kvhnuke

[2018-04-19 23:15] dgobaud opened #1785 "incorrectly calculating gas limit"
trying to transfer a token gas limit stuck at 21000 won't correctly calculate........

[2018-04-22 04:26] QuangThong81 commented on #1456
I like

[2018-04-23 22:48] Kanaka23 commented on #1528
The Mystery of The Lost Ledger Addresses
Hello,
I am having this same issue.  I did the firmware update (1.4.2) on my NanoS and all my wallet addresses have changed making my crypto inaccessible.  Standard response from Ledger... restore Nano using 24 word phrase, reload wallet apps, etc.  Nothing will return the old addresses to the NanoS.

I know where the coins are... here is one of the old wal

[2018-04-23 22:51] numero41 commented on #1528
Hello,
Please fill the form on the reddit post, here :

https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/?utm_source=reddit-android

And add a comment here :

Hi everyone - thank you for continuing to raise t...

https://www.reddit.com/r/ledgerwallet/comments/8e30jt/warning_to_ledger_users_this_issue_is_still_not/dxsky04?utm_source=reddit-android

Thank

[2018-04-24 00:35] Kanaka23 commented on #1528
Since I posted the old public address to my ether above I will issue a challenge to the hackers who browse these threads:  Go ahead and try to crack into that wallet and take the 4 Ether...  Take as a little tip to tell the others who have lost much more how to get their crypto back.
https://etherscan.io/address/0x692001c14453934bc067b1cDC36891f3965517F9

[2018-04-24 00:37] OrEagle97327 commented on #1528
Ledger denies responsibility because they cannot duplicate the error.
However; the claim is "user error" if they can duplicate it.
Leaves the rest of us waiting.....and wondering.

The general consensus ??? ...it is a Ledger bug.

[2018-04-24 00:47] OrEagle97327 commented on #1528
@Kanaka23
I have the same challenge with 108 Neo

That gives double incentive.

[2018-04-24 03:37] tayvano commented on #1528
# A summary of things to try

### Be 100% sure you are restoring from the same 24-word phrase in the same order.

For example

Restoring `card enrich gesture connect kick topple fan body blind engine lemon swarm venue praise addict agent unaware equal bean sing govern income link leg` is NOT the same as restoring

`card gesture kick topple body engine lemon swarm praise addict agent equal bean sin

[2018-04-24 14:17] Kanaka23 commented on #1528
Thanks,  I tried your suggestions but it's a no-go on this end.  Ledger
made a mistake when they did not provide a secure way to store the
private keys off of the device.  You should have made a separate device
for keystore only... K
 
On Tuesday, April 24, 2018 at 11:37 AM, Taylor Monahan
<notifications@github.com> wrote:
 

[2018-04-24 15:41] Kanaka23 commented on #1528
Agreed,  my problem appeared when I was using the NanoS alone, not in
conjunction with any other wallets...   So what is Ledger trying to
prove in my case by saying "user error"?  I was using their product and
the error appeared, their logic is twisted... perhaps so they can twist
their way out of liabilities for this issue! [shock]
 
On Tuesday, April 24, 2018 at 8:37 AM, OrEagle
<notifications@g

[2018-04-24 23:03] decapod1234204 opened #1791 "Unknown Correct Path Error"
How do I fix this? I'm receiving the following message when trying to access my ledger through myetherwallet:

We do not know the correct path for this network. Please open a github issue so we can discuss / be enlightened.

[2018-04-24 23:26] vfedorovsky opened #1792 "Cannot connect to TREZOR - "We do not know the correct path for this network.""
Hello everyone.  This is my first time posting here.  I have no idea what's going on w/ My Ether Wallet but I cannot access my wallet and I am concerned.

I keep getting this error: "We do not know the correct path for this network."

Please help.  Thank you.

<img width="779" alt="screen shot 2018-04-24 at 7 24 24 pm" src="https://user-images.githubusercontent.com/38707472/39218919-5389939a-47f5-

[2018-04-24 23:26] allycatD opened #1793 "Select HD derivation path We do not know the correct path for this network. Please open a github issue so we can discuss / be enlightened."
Unable to unlock wallet.  Error message "Select HD derivation path -
We do not know the correct path for this network. Please open a github issue so we can discuss / be enlightened."

[2018-04-24 23:26] vfedorovsky commented on #1793
Same here, Allycat.  Not sure what's going on...

[2018-04-24 23:54] decapod1234204 commented on #1793
Same here, but with my ledger.

[2018-04-25 00:00] vfedorovsky commented on #1793
I hope we can get this figured this out!

[2018-04-25 00:08] Kanaka23 commented on #1793
@allycatD  Not sure what wallet you are referring to but there has been a problem of changing public addresses with Ledger Nano users.  There are a couple of threads going on Reddit & Github.
https://github.com/kvhnuke/etherwallet/issues/1528  https://www.reddit.com/r/ledgerwallet/comments/8e30jt/warning_to_ledger_users_this_issue_is_still_not/dxsky04/?st=jgczik5y&sh=523feb35

[2018-04-25 01:09] vfedorovsky commented on #1793
I am using Trezor

[2018-04-25 03:54] vfedorovsky commented on #1792
I am really concerned with what's going on here...

[2018-04-25 04:59] Troppo1971 opened #1795 "Could not connect to this node"
Hi there
I was just looking for a bit of advice ,i have a trezor wallet and have been using it for a few months now and when go to go to myther wallet through the trezor option i am getting error33 COULD NOT CONNECT TO THIS NODE and all the drop menus are all down ,then i click connect to trezor and the HD Path option comes up which i havent changed and it is set on

m/44'/60'/0'/0
Jaxx, Metamask,

[2018-04-25 05:09] allycatD commented on #1793
Thanks @Kanaka23.
I'm using Ledger Nano S.
Since @vfedorovsky is using Trezor, the error is probably not related to the hardware wallet but maybe due to MEW???
Not sure if MEW being hacked has anything to do with it:  https://cointelegraph.com/news/myetherwallet-warns-that-a-couple-of-its-dns-servers-have-been-hacked
I just upgraded to Ledger fimware 1.4.2 and this happened.  I'm going to reset Le

[2018-04-25 06:05] Saab104 opened #1796 "Parameters"
Is there a way I can decode the parameters

params:[{to: "0xEc97f8d63867DD6ced28906bDa709C5ba04F25dF", data: "0xce6d41de"}, "pending"]
1.0:{to: "0xEc97f8d63867DD6ced28906bDa709C5ba04F25dF", data: "0xce6d41de"}
2.1:"pending"

[2018-04-25 06:19] kvhnuke commented on #1796
to is the address field, data will contains the ABI encoded parameters.
https://web3js.readthedocs.io/en/1.0/web3-eth-abi.html

[2018-04-25 16:06] tanthon53 commented on #1793
Happening here too with my Ledger. I'm able to get in to my wallet but balances will not load and unable to send any ETH or tokens. Seems to me like a MEW issue.

[2018-04-25 16:07] gamalielhere commented on #1795
@Troppo1971 Have you tried hard refreshing your browser?

[2018-04-25 16:26] gamalielhere commented on #1793
@allycatD have you tried hard refreshing your browser? I can't seem to replicate it on my end.

[2018-04-25 16:41] gamalielhere commented on #1792
@vfedorovsky can you try hard refreshing your browser and retrying?

[2018-04-25 16:42] gamalielhere commented on #1791
@decapod1234204 can you try hard refreshing your browser and retrying?

[2018-04-25 16:59] vfedorovsky commented on #1792
Will you please tell me how to do a hard refresh?  Thank you.

[2018-04-25 17:01] gamalielhere commented on #1792
@vfedorovsky What OS are you running? And what browser are you using?

[2018-04-25 17:02] vfedorovsky commented on #1792
Mac and Google Chrome

[2018-04-25 17:04] gamalielhere commented on #1792
command + shift + R should hard reset your browser. So go to myetherwallet website and hard refresh it there. And try using the trezor again

[2018-04-25 17:04] tanthon53 commented on #1793
Update - I was receiving this error using a Mac/iOS. I just tried using another computer with Windows and I was able to access MEW using my ledger with no issues.

[2018-04-25 17:05] gamalielhere commented on #1793
@tanthon53 Can you try using your Mac/iOS and hard refresh the browser and see if that works?

[2018-04-25 17:12] vfedorovsky commented on #1793
Yes, that worked!  Thank you 😃

[2018-04-25 17:12] vfedorovsky commented on #1792
Yes, that worked! Thank you 😃

[2018-04-25 17:14] gamalielhere commented on #1792
Sounds good. Let's close this issue. Don't hesitate to reopen if it still persists.

[2018-04-25 17:14] #1792 closed, assigned to nobody

[2018-04-25 17:15] vfedorovsky commented on #1792
@gamalielhere thanks so much for helping me.  I see you are a full stack developer.  I have some very general questions about your work.  Would it be okay to contact you directly about this?  Thanks again 😄

[2018-04-25 17:16] vfedorovsky commented on #1793
@gamalielhere thanks so much for helping me. I see you are a full stack developer. I have some very general questions about your work. Would it be okay to contact you directly about this? Thanks again 😄

[2018-04-25 17:23] tanthon53 commented on #1793
@gamalielhere I tried the browser refresh on my end and was unable to get it to work.. but great news that it's working for others. I'll just continue to use my other computer for now. Thanks for your help.

[2018-04-25 17:25] gamalielhere commented on #1793
@tanthon53 Sure thing. but if you can, try command + shift + R on the Mac and see if that works.

[2018-04-25 17:27] gamalielhere commented on #1750
@keithofaptos this should be working now.
<img width="403" alt="screen shot 2018-04-25 at 10 27 04 am" src="https://user-images.githubusercontent.com/16236741/39262089-41c19ca6-4873-11e8-8670-294f3d5dd43d.png">

[2018-04-25 17:27] #1750 closed, assigned to nobody

[2018-04-25 17:44] #1589 closed, assigned to nobody

[2018-04-25 19:18] tanthon53 commented on #1793
@gamalielhere Tried that and it definitely worked! Everything seems to be back to normal. Thanks so much for your help.

[2018-04-25 19:49] gamalielhere commented on #1793
Sure thing! I'll close this issue for now. Please don't hesitate to reopen it.

[2018-04-25 19:49] #1793 closed, assigned to nobody

[2018-04-25 23:00] allycatD commented on #1793
THANK YOU! @gamalielhere  You're a genius!!!
I tried on my MAC and didn't have the same problem.  So I hard refreshed the browser on my Windows and it worked!

[2018-04-25 23:03] decapod1234204 commented on #1791
@gamalielhere Thanks for the help. I hard refreshed my browser and it worked. I also updated my firmware on the ledger to 1.4.2 from 1.3.1 today.

[2018-04-25 23:03] #1791 closed, assigned to nobody

[2018-04-25 23:08] gamalielhere commented on #1793
I'm glad it worked. As always, don't hesitate to open an issue when you run into troubles.

[2018-04-25 23:09] gamalielhere commented on #1791
I'm glad it worked! As always, if you have any other trouble, don't hesitate to open a new issue.

[2018-04-25 23:19] freemarket opened #1798 "Ledger Path issue"
When I try to connect my Ledger Nano S, which is up to date on firmware, I get the following message:

We do not know the correct path for this network. Please open a github issue so we can discuss / be enlightened.

Would appreciate some help! Thanks!

[2018-04-25 23:29] gamalielhere commented on #1798
@freemarket Have you tried hard refreshing the browser?

[2018-04-25 23:34] freemarket commented on #1798
@gamalielhere No, I hadn't tried that. I just did and the message went away after trying again. Think it's all good. Thank you!!!

[2018-04-25 23:34] #1798 closed, assigned to nobody

[2018-04-26 02:22] steveyang24 opened #1799 ""We do not know the correct path for this network""
Hi,

I use a Trezor to access MEW and it has worked great. However, I tried logging onto my account today after 2-3 weeks of inactivity and "We do not know the correct path for this network" show up in the "Select HD derivation path" option. It led me to this link where it suggested I should report to Github. Can you please help? I have installed the latest Trezor firmware, tried different USB plu

[2018-04-26 03:25] wheeliespeedy commented on #1799
Yeah I'm getting it too tried logging in again but now it shows up all the time blocking access. I think it's a fault in MEW website I guess it's wait n see mate.

Wheeliespeedy

[2018-04-26 03:59] gamalielhere commented on #1799
@steveyang24 @wheeliespeedy Can you guys try to hard refresh your browser windows?

[2018-04-26 07:44] dec1 commented on #1589
Thank you!

[2018-04-26 12:15] dryruner opened #1801 "Sign Message results diff then using private key and connects to metamask"
![image](https://user-images.githubusercontent.com/1220361/39305053-a1b23402-4910-11e8-8a8d-ff7412b0dec3.png)
![image](https://user-images.githubusercontent.com/1220361/39305076-adf6adba-4910-11e8-84f2-632208ba54ed.png)
![image](https://user-images.githubusercontent.com/1220361/39305102-c1f052e4-4910-11e8-9782-7af293c5acf0.png)

It seems using private key directly matches what geth signes.

[2018-04-26 16:13] kvhnuke commented on #1801
This might be related to how we handle "0x" prefix
Similar issue was fixed in https://github.com/kvhnuke/etherwallet/pull/1788/commits/c692b1aeb548247e95f0bf7b6674e450adc91736

[2018-04-26 23:47] sparker90 commented on #1799
same problem with ledger, help please

[2018-04-27 00:04] sparker90 opened #1802 "nano ledger not connecting to MEW"
hi guys, can anyone help, my nano does not connect with MEW anymore, everything is updated  and was workin fine, but now i get this message.:

We do not know the correct path for this network. Please open a github issue so we can discuss / be enlightened

any help will be appreciated

[2018-04-27 00:59] steveyang24 commented on #1799
Update: I still don't know what it is, but when I try to use another device (i.e. if I use my laptop instead of my desktop), I was able to unlock my account successfully.

[2018-04-27 01:05] gamalielhere commented on #1799
@steveyang24 @sparker90  Can you try hard refreshing your browser?

[2018-04-27 01:06] gamalielhere commented on #1802
@sparker90 can you try hard refreshing your browser?

[2018-04-27 02:43] wheeliespeedy commented on #1799
Hey thanks gamaliehere doing the hard reset of browser fixed my MEW problem

[2018-04-27 19:21] BlinkyStitt opened #1804 "Cannot build with Node v10.0.0"
Looks like the sha3 package is broken on node 10:
[code]

What version of node is this site targeting? I rolled back to node 9 with the help of nvm and it installs everything fine.

This should probably also be opened as an issue on the sha3 package.

[2018-04-27 20:32] BlinkyStitt opened #1805 "Deterministic builds"
Deterministic builds would give me some confidence that there is no malicious code added to minified files.

I ran `npm install && npm run dist` and expected to generate the same files that are already checked into the repo and served at www.myetherwallet.com. However, there were some differences

[code]

I looked at the gulpfile and saw that there was a "clean" step. Maybe this should be added to

[2018-04-27 20:35] BlinkyStitt opened #1806 "Update lockfile"
When building with node >6, npm install gives this warning:
[code]

 It looks like everything works fine, but it is probably worth updating.

With tools like https://github.com/creationix/nvm/releases, it's simple enough for people to install multiple versions of node. Or we could do something like https://github.com/kvhnuke/etherwallet/issues/1805 to ensure everyone easily has the same version of

[2018-04-27 22:02] alepc253 commented on #1400
@tayvano we are happy to say that with did a pull request adding RSK Testnet! @dternyak please let us know if something else should be considered or done.

[2018-04-28 16:55] jeanlp76 commented on #1399
Hi ! let me get it right !
did you sweep the wallet to jaxx , and the you sweep to Coinomi ?
mi problem is that i haD all the ETC on myetherwallet at the moment of the snapshoot , but i can´t sweep the wallet to coinomi because it only acept : bip38, WIF or mini private key.

[2018-04-28 17:27] nicmanism commented on #1399
You can sweep your coins/ether into a jaxxx wallet and then send them to
your coinomi wallet.

Let me know if you have further questions.

On Sat, 28 Apr 2018, 17:55 jeanlp76, <notifications@github.com> wrote:

[2018-04-28 18:18] jeanlp76 commented on #1399
Thnx ! Right Now i don’t have any there , my situation is get the Callistos .
When you sweep the wallet to jaxx you lost the previous history of movements of the original wallet ? Basicly i need demostrate to coinomi that my etc was in the wallet at the moment of the snapshoot

[2018-04-30 09:01] gitterjim-I opened #1810 "Can't locate public key block to verify latest wallet download"
The only public key block I can find in the repository is one with which the latest release was not signed.

Where is the key, used to sign the latest release(v3.21.08), located?

[2018-04-30 15:59] gamalielhere commented on #1795
Closing this for now. If the issue persist, refer to: [#1793](https://github.com/kvhnuke/etherwallet/issues/1793)

[2018-04-30 15:59] #1795 closed, assigned to nobody

[2018-04-30 16:00] gamalielhere commented on #1799
Closing this for now. If the issue persist, refer to: [#1793](https://github.com/kvhnuke/etherwallet/issues/1793)

[2018-04-30 16:00] #1799 closed, assigned to nobody

[2018-04-30 16:00] gamalielhere commented on #1802
Closing this for now. If the issue persist, refer to: [#1793](https://github.com/kvhnuke/etherwallet/issues/1793)

[2018-04-30 16:00] #1802 closed, assigned to nobody

[2018-04-30 16:00] gamalielhere commented on #1762
Closing. If the issue persist, don't hesitate to reach out.

[2018-04-30 16:00] #1762 closed, assigned to nobody

[2018-04-30 17:21] #1738 closed, assigned to nobody

[2018-04-30 17:21] #1624 closed, assigned to nobody

[2018-04-30 17:22] #1444 closed, assigned to nobody

[2018-04-30 17:23] #1347 closed, assigned to nobody

[2018-04-30 23:54] allquantor commented on #1624
@gamalielhere There is a way to approximate the second.

a.) Fetch the `ABI` from Etherscan (if available) and check if `Transfer, Approval..` events are included.
b.) If no `ABI` get a couple of Transactions from the `smart-contract`, get the TxReceipts, look into the logs of TxReceipts if they contain valid data e.g `keccak256("transfer(address,amount)"`...

Although this still does not give a 1

[2018-05-01 01:15] DTDITT opened #1815 "Cannot make a withdraw using ledger nanoS."
Then error message I get when I try to make a withdraw says "Error_33 Cannot connect to the node".
I have 1.3 Etherum in the following address:   0x90E78Ac1cCdCE889DD1C0559bCB38541507357a5
When I open my wallet I don't see the address icon.  The account address shows up but the round icon is empty.  This happens on all 5 of my account addresses on my ether wallet.

[2018-05-01 04:11] gamalielhere commented on #1815
@DTDITT Try hard refreshing your browser

[2018-05-02 13:58] danielsbg commented on #360
Guys i have the same Problem as @imrockin ... i cant understand whats happend, i also see my tokens on a other adress sitting but on my keystore loged in MEW there is balance 0..

@imrockin still not solved ??

i dont want to loose my tokens...

[2018-05-02 14:06] numero41 commented on #360
@danielsbg

How do you log into Mew?
Via a keystore file, Ledger, Metamask?
So the public address that you have after login is different than the one you used to have before?

[2018-05-02 14:23] danielsbg commented on #360
@numero41 i log into MEW via Keystore file (UTC)

and yes, it is crazy - i bought Tokia ICO and set my MEW Adress into their Profile Settings and after the ICO they sent me this one. Today i was writing with the Support of TOKIA and they told me that they sent the tokens to other adress as MEW shows me when i logged in.

When i go on MEW to View w/ Address Only i see my tokens sitting there, but w

[2018-05-02 14:33] numero41 commented on #360
Well... I don't know what to say to you, because all the people who had this issue never got a solution from any kind of support.
At first they say don't worry, the money is safe on the blockchain, but after trying all the combinations of possible user errors, they just continue to say we made a user error, and that our money is lost forever.

I don't know how to get their attention anymore, they

[2018-05-02 14:37] jeee opened #1821 "QR code transfers"
Generate a QR code for a signed transaction that then can be imported on the 'Generate & Send Offline Transaction' page (or a small phone app to send the transaction). This way using an offline device becomes even easier.

[2018-05-02 14:39] danielsbg commented on #360
but me dont say user error

[2018-05-02 14:48] theTrueInvaderZim commented on #360
so this seems to be like the same issue I faced off with etc. You already tested the workaround I posted before and didn't worked for you?

[2018-05-02 14:49] danielsbg commented on #360
workaround?

[2018-05-02 14:49] danielsbg commented on #360
you guys also dont get answer from MEW support ? i wrote 3 mails to them ...

[2018-05-02 14:51] theTrueInvaderZim commented on #360
[...
[... Hello to all.
Today I faced the same situation with my ETC address, luckily I found a way to solve it in another forum, so I would like to share it with you, just in case. When generating the address, I saved all the data, such as utc and private key, but only today I noticed that the address was different from the one a used for the transfer and I didn't know why. After speaking with al

[2018-05-02 14:57] numero41 commented on #360
@theTrueInvaderZim

Thanks for the reminder, yes I remember reading your post a few months ago :)

For myself, it's not related, because I never owned any ETC, and my ETC address is not the correct one either

[2018-05-02 15:01] theTrueInvaderZim commented on #360
@numero41 so I'm really sorry for you, hope you eventually find a solution

[2018-05-02 15:05] danielsbg commented on #360
ok thank you, but i cant send something like you try to explain with this
workaround... i cant send anything because my balance is 0...

i show you again my problem:

I bought the ICO Token TOKIA "TKN" on January i think. after 1 Month i they
told me i have to install a MEW and put the Adress in their Homepage
Profile Settings to receive my Tokens ater the ICO. Then i installed my MEW
and i always

[2018-05-02 15:11] numero41 commented on #360
@danielsbg

So yes, it's exactly the same issue as me, instead that I used the Ledger Nano to unlock Mew.
I never had an issue to "send", because I simply never gained access to my wallet anymore, I only had access to it when I withdrew the coins from the exchange to Mew.

[2018-05-02 15:12] danielsbg commented on #360
@theTrueInvaderZim  you have any idea and understand what me and @numero41 problem is...

[2018-05-02 15:31] theTrueInvaderZim commented on #360
if I understood well it isn't a mew problem, because you never received the given token on the address. Also they gave you another address saying that the tokens should be there and that is very strange and confusing to me. I never heard about tokia, but I don't feel it so much:

https://bitcointalk.org/index.php?topic=2636790.0

also on quora:

https://www.quora.com/Is-TOKIA-ICO-a-scam-or-does-it

[2018-05-02 15:36] Galaxy1496 commented on #360
The same thing happened to me (new wallet addresses) after I did the firmware update on my Ledger NanoS.

I have posted on numero41's thread over on Reddit.

[2018-05-02 15:39] numero41 commented on #360
hey, hello @Galaxy1496

Yes, I follow all your comments also...
This whole thing is crazy, no one seems to give a f*** about us, that's driving me mad

[2018-05-02 15:41] danielsbg commented on #360
did MEW answer your questions guys ? or maybe telegram group or how can i reach them.???

[2018-05-02 16:05] #1815 closed, assigned to nobody

[2018-05-02 16:06] gamalielhere commented on #1815
Please reference https://github.com/kvhnuke/etherwallet/issues/1793 if the problem still persists.

[2018-05-02 16:07] gamalielhere commented on #1763
@mickgearty Closing this for now. Let me know if I can help you with something else.

[2018-05-02 16:07] #1763 closed, assigned to nobody

[2018-05-02 16:20] numero41 commented on #360
These persons answer, some times, but you know, since mew team splited with myCrypto, got hacked last week, etc etc, they won't do anything I guess...
They answered me at the beginning, but with very basic questions, and then no one seemed to care like I said.

Otherwise, I don't have any idea how to reach them, here should be the place lol

Using those tags should send them a reminder :
@wparad @

[2018-05-02 16:45] Galaxy1496 commented on #360
This has happened to just a few people so far and although Ledger (in my case) says they are working on it, they have yet to issue a statement that defines what the user error was that caused the wallet addresses to change or if it was not "user error" then what the actual cause was.

One thing that cannot be denied is my NanoS now shows new addresses for all the wallets which only received crypto

[2018-05-02 19:35] ang3lcop commented on #360
Join the club....this piece of shit software made me loose 17 ether

2018-05-03 1:58 GMT+12:00 danielsbg <notifications@github.com>:

[2018-05-03 02:04] maddyky commented on #360
What u mean

Sent from my BlackBerry 10 smartphone.
From: InvaderZim
Sent: Wednesday, May 2, 2018 11:31 AM
To: kvhnuke/etherwallet
Reply To: kvhnuke/etherwallet
Cc: Subscribed
Subject: Re: [kvhnuke/etherwallet] Please Help Wrong Address or Double Account? (#360)

if I understood well it isn't a mew problem, because you never received the given token on the address. Also they gave you another addre

[2018-05-03 02:07] maddyky commented on #360
This is a account all add to and the profit is then split fairly between all added it has a limit of so many member of 10 this has been very profitable for all in past with bit etc if you want to exit you can but no reentry after ok

Sent from my BlackBerry 10 smartphone.
From: danielsbg
Sent: Wednesday, May 2, 2018 11:41 AM
To: kvhnuke/etherwallet
Reply To: kvhnuke/etherwallet
Cc: Subscribed
Subj

[2018-05-03 02:09] maddyky commented on #360
I know this is a members wallet limit of members and then profit at end is distributed fair between all members and has worked and happy for all in past if you want to exit let me know and I exit you but no reentry ok

Sent from my BlackBerry 10 smartphone.
From: DL
Sent: Wednesday, May 2, 2018 11:39 AM
To: kvhnuke/etherwallet
Reply To: kvhnuke/etherwallet
Cc: Subscribed
Subject: Re: [kvhnuke/ethe

[2018-05-03 19:37] Swennet commented on #1549
This bug makes it impossible to generate offline transactions on mobile devices. Please fix!

[2018-05-04 05:21] BlinkyStitt commented on #1806
Looks like the latest release updated the lockfile

[2018-05-04 05:21] #1806 closed, assigned to nobody

[2018-05-04 08:43] AC0DEM0NK3Y commented on #1047
To add to this, I need to pass a null address and an empty array. It doesn't look like this is possible currently.

[2018-05-04 14:28] nycbrian opened #1826 "Can't Access Ledger Wallet with Local copy of MEW"
Hi,

I downloaded the latest v3.21.09 version of MEW and I am trying run a local copy to view my  erc-20 tokens on my ledger nano s.

I click on: view wallet info > Ledger Wallet

I then click on the "connect to ledger wallet" button and nothing happens. I have my ledger hooked up with the Ethereum app running and browser support on.  Is there something else I need to be doing?

Thanks

[2018-05-04 17:18] infokiller commented on #36
@tayvano any update?

Thanks!

[2018-05-04 18:06] Kanaka23 commented on #1826
Try this link: https://www.myetherwallet.com/
 
On Friday, May 4, 2018 at 10:28 PM, nycbrian <notifications@github.com>
wrote:
 

[2018-05-04 20:02] CryptoGirl3 opened #1828 "I withdrew my POA from Binance on to myetherwallet because I thought it was a ERC20 Tooken"
Hello, I withdrew my POA Tokens from Binance to myetherwallet, however the token never loaded into my ethereum wallet. I did some research and found out that POA is Not an ERC20 token, how ever it is compatible with the ethereum wallet. So I changed the HD Derivation path in the top right hand corner of my ether wallet to Network P0A Core. poa network , and all of my tokens in this area. But what

[2018-05-04 20:26] nycbrian commented on #1826
I was hoping to run this off my computer locally on my machine.

[2018-05-06 01:32] mgarciap commented on #1828
Following these instructions: https://github.com/poanetwork/wiki/wiki/POA-Network-on-Ledger I was able to connect to POA core network with my Ledger Nano S and get my Account Address. Then I sent POA tokens from binance to this address and it worked (checked balance in `View Wallet Info` menu)

[2018-05-06 22:22] tayvano commented on #36
@infokiller Unfortunately no. Everything is in flux: https://github.com/satoshilabs/slips/issues/103

[2018-05-07 05:20] CryptoGirl3 commented on #1828
Hi  Manuel, Thank you for your help. I was able to see the balance of my POA coins. I appreciate your help.

[2018-05-07 05:21] #1828 closed, assigned to nobody

[2018-05-10 05:57] #640 closed, assigned to kvhnuke

[2018-05-11 07:35] tecoLai opened #1841 "Where is the ajaxReq module source code"
Hi,

I am try to review the myEtherWallet source code.
I notice that there have a lot of place will use ajaxReq.getTransactionData function but I can not find the source code.

the ajaxReq code I can find in the mercury branch is like below:

[https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/ajaxReq.js](https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/ajaxReq.js)

Doe

[2018-05-11 12:06] dskvr opened #1842 "Incorrectly listing EOSToken address as scam address"
EOS ERC20 Token Address: `0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0`

![screen shot 2018-05-11 at 2 06 10 pm](https://user-images.githubusercontent.com/299465/39923559-7be515ee-5524-11e8-9120-fa34674b416a.png)

Sounds like someone at MEW was duped.

[2018-05-11 16:58] gamalielhere commented on #1841
If you console log ajaxReq in the dev console, it will show the source code for the functions which is in https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/nodeHelpers/customNode.js

customNode is then looped through and assigned to ajaxReq: https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/controllers/tabsCtrl.js#L87

Also, refer to #1609

closing this for now. Don't h