[2015-08-19 09:00] SuperHenkie opened #7 "Can decrypt private key with multiple passwords?"
While trying out Ether Wallet, I accidentally ran into a strange issue. At some point it created this encrypted private key:

`U2FsdGVkX1+1uLo9NeVrIFUlCiMRkAwUMfIzBA54okCUhtUirLz+W3A48c9PR61WhKv2H5GfsEctki+RPoDfqjS5lKQqFazKOqDpULTrkLgVHv5xfP6g+gQB8XvBAdpU`

I used `asdfasfd` as password (actually meant to type 'asdf' twice, but made a typo).

However in the 'Send Transaction' page, when pasting th

[2015-08-19 21:23] kvhnuke commented on #7
yea true, currently it'll only decrypt the correct privkey if you enter the correct password. but, i agree there should be better validation. I'll add a hash of the address to the end of the encrypted privkey, that way we can verify the final address is the correct address. Im going to add this as a feature request, since it should be backward compatible for users who generated encrypted privkeys

[2015-08-19 21:27] kvhnuke opened #8 "add usd/eur values"
add approximate usd/euro value  next to balance and transaction amount

[2015-08-20 06:20] kvhnuke commented on #7
added this feature, generated encrypted private keys will now have a checksum based on the hash of the address

[2015-08-20 06:20] #7 closed, assigned to kvhnuke

[2015-08-20 08:41] SuperHenkie commented on #7
:thumbsup:

[2015-08-20 08:53] SuperHenkie commented on #8
Good idea. FYI you can retrieve the current price from Kraken directly through this public API call:

`https://api.kraken.com/0/public/Ticker?pair=XETHZEUR`

It returns a piece of json, of which `result`→`XETHZEUR`→`c`→[0] contains the last closing price.

Change the last 3 characters EUR into USD for price in $ instead of €.

[2015-08-20 09:05] kvhnuke commented on #8
awesome you saved me lot of time, I was checking cryptsy api but they dont have https. I can definitely use your solution thanks.

[2015-08-20 09:36] SuperHenkie commented on #8
:thumbsup:
I guess there's more sources you can use, to dampen the influence of temporary spikes at one particular exchange.

For example, you can get the ETH⇆BTC price through
`https://shapeshift.io/rate/eth_btc`
or
`https://poloniex.com/public?command=returnTicker` (the latter returns a whole list currency pairs, you'd need the `BTC_ETH`→`last` part).

And then get the BTC⇆EUR and BTC⇆USD conver

[2015-08-21 05:45] kvhnuke commented on #8
this is supported now, I'll try to get tayvano to beautify it little bit :)

[2015-08-21 05:45] #8 closed, assigned to nobody

[2015-08-22 23:14] tayvano opened #9 "Implement a "Transfer All""
Inspired by request here: https://forum.ethereum.org/discussion/3143/is-there-a-way-to-send-all-ether-from-one-address-to-another

Basically, a button that allows people to transfer the balance of one account to another, automatically calculating transaction fees and gas needed.

[2015-08-23 09:41] kvhnuke opened #10 "add validation"
1. remove space, new lines and CR when pasting private keys
2. only show decrypt when the character length is correct
3. add notification when pasted private keys doesnt have the correct length

[2015-08-26 08:50] #9 closed, assigned to nobody

[2015-08-26 08:50] #10 closed, assigned to kvhnuke

[2015-12-15 15:57] migel12 opened #11 "Unable to conect to http: ...."
Hello i put my wallet key and pass and my etherwallet say accepted but then appear unable to conect to... what happen?

[2015-12-15 17:39] tayvano commented on #11
Hi Migel,

What are you attempting to do when you get this error?

[2015-12-15 18:16] migel12 commented on #11
to watch the money in my wallet

On 15/12/15 11:46, Taylor Van Orden wrote:

[2015-12-15 18:17] kvhnuke commented on #11
Hi Migel,

Server rebooted for maintenance, and I had to manually restart the geth service
it is back online now :)

-----Original Message-----
From: Taylor Van Orden notifications@github.com
To: kvhnuke/etherwallet etherwallet@noreply.github.com
Sent: Tue, Dec 15, 2015 9:46 am
Subject: Re: [etherwallet] Unable to conect to http: .... (#11)

Hi Migel,
What are you attempting to do when you get thi

[2015-12-15 18:25] migel12 commented on #11
ok, thanks i probe and its ok. 2 question
what is the best way to close the wallet when i finish
what is the fee for sending ether?

On 15/12/15 12:20, kvhnuke wrote:

[2015-12-15 18:31] migel12 commented on #11
when i put 50 ether appear below 49435..... usd , the price in incorrect
in that zone.

On 15/12/15 12:20, kvhnuke wrote:

[2015-12-16 20:04] migel12 commented on #11
another time, no show me my ethers only say loading.... in 3 lines, what
happen?

El 15/12/15 a las 12:20, kvhnuke escribió:

[2015-12-16 22:15] migel12 commented on #11
hello now, the wallet is accepted but no appear how many ethers i have only
loading
loading
loading

El 15/12/15 a las 11:46, Taylor Van Orden escribió:

[2015-12-16 23:38] migel12 commented on #11
i attempting to send ethers but no appear only
loading
loading
loading

[2015-12-17 04:22] migel12 commented on #11
what happen continue saying loading loading and loading , not appear the
quantity of ethers that i have?
what happen?

[2015-12-17 08:45] DimiFrederix commented on #11
Same story here,
account balance
loading,...
loading,...
loading,...
and unable to transfer funds

[2015-12-17 09:23] tayvano commented on #11
@kvhnuke is on a plane for like 24 hours or some craziness. When he lands and gets internet, he'll restart the server and fix it. Sorry. :(

[2015-12-17 10:39] DimiFrederix commented on #11
ok thanksThumbs up

Date: Thu, 17 Dec 2015 01:23:07 -0800
From: notifications@github.com
To: etherwallet@noreply.github.com
CC: Dimitri_dhomme@hotmail.com
Subject: Re: [etherwallet] Unable to conect to http: .... (#11)

@kvhnuke is on a plane for like 24 hours or some craziness. When he lands and gets internet, he'll restart the server and fix it. Sorry. :(

—
Reply to this email directly or view

[2015-12-17 17:30] unimercio opened #12 "Account balance shows "Loading""
Hi,
I generated a wallet address and sent 100 finney to it.

But, the account balance shows "Loading" after decrypting. I tried the same with my presale wallet and the account balance shows "Loading" as well.

![screen shot 2015-12-17 at 11 42 59 am](https://cloud.githubusercontent.com/assets/362412/11876840/a3e6dc4e-a4b9-11e5-8268-65dc0bdac24d.png)

![screen shot 2015-12-17 at 11 43 20 am](https:

[2015-12-17 17:35] unimercio commented on #12
The "generate transaction" button is unresponsive, I assume related to "loading" issue.

![screen shot 2015-12-17 at 12 32 48 pm](https://cloud.githubusercontent.com/assets/362412/11876994/97ee872e-a4ba-11e5-8f9a-09111698b06f.png)

[2015-12-17 17:36] unimercio commented on #12
Account Address:

0xb67ba1913fc90cd9b9befad1617757d6f7177ec9

[2015-12-17 17:37] unimercio commented on #12
http://etherscan.io/address/0xb67ba1913fc90cd9b9befad1617757d6f7177ec9

[2015-12-17 19:22] kvhnuke commented on #12
Thank you for bringing this into our attention, I was stuck on a several planes for 24 hrs and just had the chance to fix it. Let us know if you run into any other issues

[2015-12-17 19:22] #12 closed, assigned to nobody

[2015-12-17 19:26] kvhnuke commented on #11
sorry for the inconvenience, I just had the chance to fix it, let us know if you run into any other issues

[2015-12-17 19:26] #11 closed, assigned to nobody

[2015-12-17 19:37] unimercio commented on #12
Thanks @kvhnuke ... and thanks for the lightning reply.

Cheers

[2016-01-19 12:11] stefanrenne opened #13 "RPCClient"
Hi,

In https://github.com/kvhnuke/etherwallet/blob/gh-pages/php_json_relay/api.php I see that you are opening an rpc connection to an ip address. Where can I find the rpc server implementation?

Stefan

[2016-01-19 14:07] kvhnuke commented on #13
Hi Stefan
It is just a geth instance with rpc. You can get more info on how to start geth with rpc from the following link. https://github.com/ethereum/go-ethereum/wiki/Command-Line-Options
On Jan 19, 2016 4:11 AM, stefanrenne notifications@github.com wrote:Hi,

In https://githubcom/kvhnuke/etherwallet/blob/gh-pages/php_json_relay/apiphp I see that you are opening an rpc connection to an ip addres

[2016-01-22 05:40] #13 closed, assigned to nobody

[2016-01-25 21:14] Tobito19 commented on #12
Hi,
I generated a wallet address and sent 0.10087901 ETHER
[Документ Microsoft Word (2).docx](https://github.com/kvhnuke/etherwallet/files/103975/Microsoft.Word.2.docx)
to it.

But, the account balance shows "Loading" after decrypting. I tried the same with my presale wallet and the account balance shows "Loading" as well.

[2016-01-25 21:17] Tobito19 opened #14 "Account balance shows "Loading""
Hi,
I generated a wallet address and sent 0.10087901 ETHER to it.
[Документ Microsoft Word (2).docx](https://github.com/kvhnuke/etherwallet/files/103981/Microsoft.Word.2.docx)
But, the account balance shows "Loading" after decrypting. I tried the same with my presale wallet and the account balance shows "Loading" as well.

[2016-01-26 08:11] kvhnuke commented on #14
can you please check again and let us know.

[2016-01-26 17:36] Tobito19 opened #15 "Account balance shows "Loading""
No changes! Account balance shows "Loading" after decrypting!
![image](https://cloud.githubusercontent.com/assets/16759445/12588968/0962ec56-c464-11e5-95ae-06517e88936d.png)

[2016-01-26 18:12] tayvano commented on #15
@Tobito19 I've checked this with a couple of my accounts and have no issues. If you would like to see your balance, please use a blockchain explorer such as https://etherchain.org/ or http://etherscan.io/

[2016-01-26 18:36] Tobito19 opened #16 "balance"
I looked at the balance http://etherscan.io/~~pobj! How to send to another account?

[2016-01-26 18:43] tayvano commented on #16
@Tobito19 -- simply send from https://www.myetherwallet.com/#send-transaction now. For whatever reason, the balances just aren't loading. You still have a balance on your wallet though and should be able to send to another wallet address. Let me know if you encounter an error sending.

[2016-01-26 18:52] Tobito19 opened #17 "balans"
The "generate transaction" button is unresponsive!
![image](https://cloud.githubusercontent.com/assets/16759445/12591065/b54f2f48-c46e-11e5-954e-0dcb5f6ed640.png)

[2016-01-26 19:11] Tobito19 opened #18 "balance"
Thank you very much for your answers !!! I solved his problem!

[2016-01-26 19:24] #14 closed, assigned to nobody

[2016-01-26 19:25] #15 closed, assigned to nobody

[2016-01-26 19:25] #16 closed, assigned to nobody

[2016-01-26 19:25] tayvano commented on #18
Great to hear - we're always here if you need us. I'm closing these issue now. :+1:

[2016-01-26 19:25] #18 closed, assigned to nobody

[2016-01-26 19:25] #17 closed, assigned to nobody

[2016-01-27 09:36] wildbunny opened #19 "[Feature request] add data field to send transaction"
This wallet is great, but it would be even better if you allowed users to specify an optional 'data' field when they send a transaction, it should have the same effect as the data field you specify in eth.sendTransaction() in geth.

[2016-02-03 18:47] paulpotter opened #20 "jsonfiles"
Hi Dear Support,

I need help for my wallet treatment please. I've mistaked. I losed my json files. Can I get them for my generated ETHER adress? While on any places registered with it yet and it seems hard to change it.
When I can get the files, here is the adress :   0x9fd5f2b34dfdc1e81d55eb76ac0d82d5174f9f30
my mailadress: palfazekas76@gmail.com

Thanks in advance:
Paul

[2016-02-03 19:20] kvhnuke commented on #20
Do you have the associated private key with you?
On Feb 3, 2016 10:48 AM, paulpotter notifications@github.com wrote:Hi Dear Support,

I need help for my wallet treatment please I've mistaked I losed my json files Can I get them for my generated ETHER adress? While on any places registered with it yet and it seems hard to change it
When I can get the files, here is the adress :   0x9fd5f2b34dfdc1e8

[2016-02-03 19:39] paulpotter commented on #20
I have only the adress, and the password to it. I've only that saved om my
pendrive, my winchester is ruined  :(

Password: Pali1222

2016-02-03 20:29 GMT+01:00 kvhnuke notifications@github.com:

[2016-02-03 21:54] kvhnuke commented on #20
Im sorry inform it is not possible to recover the private key using your password, we use the password to encrypt the private key and not generate it. Therefore I'm afraid you are out of luck :( i suggest you to give it another shot to find it
On Feb 3, 2016 11:46 AM, paulpotter notifications@github.com wrote:I have only the adress, and the password to it. I've only that saved om my
pendrive, my w

[2016-02-03 22:22] paulpotter commented on #20
Okay, I will try to change my wallet adress all on the faucet sites, take a
new wallet then.
Thank You for the answers,

Paul

2016-02-03 22:55 GMT+01:00 kvhnuke notifications@github.com:

[2016-02-03 22:27] kvhnuke commented on #20
good luck! feel free to contact us regarding other issues :)

[2016-02-03 22:27] #20 closed, assigned to nobody

[2016-02-03 22:28] kvhnuke commented on #19
thank you for the suggestion, we are planning to implement a send transaction section for advance users which will also allow them to sign them offline. I'll make sure  we add the data field :+1:

[2016-02-10 00:22] owocki opened #21 "Is there a way to sign `myetherwallet.com` code?"
It'd be nice to verify that myetherwallet.com is running the code that's publicly available on github.

Not implying there's anything untrustworthy about the author, just proposing this given the spirit of the trustlessness of cryptocurrencies and Ether.

[2016-02-10 00:25] tayvano commented on #21
Github is serving directly to http://kvhnuke.github.io/etherwallet/ and https://www.myetherwallet.com (our domain with SSL). You can verify its hosted at github by using http://viewdns.info/dnsrecord/?domain=myetherwallet.com - last two A record IPs are owned by github for their custom domain hosting.

You can also download the zip from Github and run it locally. Download the zip from https://gith

[2016-02-10 23:01] kingflurkel commented on #21
How about ipns / ipfs?

[2016-02-12 02:35] hawks5999 opened #22 "Watch-Only Address"
Possible to add a watch-only address with public key but no private key stored?

[2016-02-12 02:40] tayvano commented on #22
I don't hate this and I especially love it for the Chrome Extension. However, perhaps on a new tab or make it so stupidly explicit they they are just viewing a wallet.

I'm becoming jaded because I've literally spent 6 hours today helping people (PLEASE DO NOT CALL MY CELL PHONE!!!!! Also, I have a real job!) who have "lost" a key piece of information that they need to access their wallet. I say "

[2016-02-12 02:41] tayvano commented on #19
@kvhnuke The advanced tab is the main thing I want to implement this weekend/week. Plus typos.

[2016-02-12 03:09] hawks5999 commented on #22
New Tab sounds viable. Maybe titled something like "Expert Settings" or
"Advanced Configuration" or some other scary sounding technical term with
all sorts of BIG RED WARNING words all across the top of it.

On Thu, Feb 11, 2016 at 6:41 PM, Taylor Van Orden notifications@github.com
wrote:

[2016-02-12 12:13] chfast opened #23 "Create printed wallet for existing account"
Is it possible to create printed representation of an existing account?

[2016-02-17 17:01] heysam1337 commented on #23
Yes, check out the view wallet details tab

https://www.myetherwallet.com/#view-wallet-info

[2016-02-17 17:02] tayvano commented on #23
Haha. Awesome work @samuelpj. We just pushed that update late last night and are going through the backlog of comments requesting that feature. You beat us to it

[2016-02-17 21:41] ghost opened #24 "Default RPC server"
Anyway we can get an override option to specify our own rcp server to send the signed transations?

[2016-02-18 11:50] martinkrung opened #25 "PW to complex?"
Hi, I have a password like this:

@Z-7iXe1_>;Erf0-L9+QvrZGQ5tlU!Q)}C=QUH8{{U9nY}Yh

I cannot open my json file with your tool. But with

https://www.kraken.com/ether

this kind of pw works on the same wallet.

any idea?

thanks

[2016-03-04 07:24] #23 closed, assigned to nobody

[2016-03-04 07:26] kvhnuke commented on #19
https://www.myetherwallet.com/#offline-transaction

[2016-03-04 09:25] wildbunny commented on #19
Hey that's great! My only suggestion would be if it were possible to take the data field from that form and put it on the regular send page as an optional, because the advanced tab is super complex looking for everyday users :)

[2016-03-07 05:39] tayvano commented on #22
@hawks5999 - This was implemented and pushed a couple days ago! Thanks for the suggestion. I do really like it.

[2016-03-07 05:39] #22 closed, assigned to nobody

[2016-03-07 05:41] tayvano commented on #19
@wildbunny FYI - we are looking to implement an optional gas / data field on the standard send transactions tab in the near future. Specifically, it's #3 on our to do list. Keep your eyes open in the next week or so.

[2016-03-07 12:34] romanoza opened #26 "Address checksum encoding"
The address generated by the page is not checksum encoded (https://github.com/ethereum/EIPs/issues/55)

[2016-03-07 12:47] romanoza opened #27 "Custom tokens"
Please add the possibility to check the balance and send any amount of custom tokens.

[2016-03-07 23:49] hawks5999 commented on #22
Thanks! It works great in the full page view.
I got it setup and working with an address.
Two bits of feedback.
1) As a nice-to-have feature, parsing and accepting addresses without the leading 0x.... might be helpful to others. For example, I have a json file with presale wallet and the address is expressed without the leading 0x (snip: "ethaddr": "2a59e4...."). I received invalid address errors

[2016-03-14 18:49] thegarn opened #28 "Paste / type your private key on view wallet and send transaction not working"
button missing to submit

[2016-03-15 12:36] odotan opened #29 "Generating bulk wallets with an encryption password still gives unencrypted keys if you print paper wallets"

[2016-03-15 18:08] JonasOlson commented on #26
Specifically, the checksum is missing on the print page. I'm guessing that `toChecksumAddress` needs to be used in this line: https://github.com/kvhnuke/etherwallet/blob/15f9009bcce8b499d6fc7f35a89320e435af4770/js/etherwallet-master.min.js#L1082

[2016-03-15 21:05] tayvano commented on #26
We've been slowly adding checksums to all the different places on this site. Will update print page ASAP.

[2016-03-15 21:06] tayvano commented on #28
@thegarn What browser are you using?

[2016-03-15 21:08] tayvano commented on #25
@martinkrung We haven't had any issues with this. I just created a new wallet using the example password you entered and it worked fine. I can't see any reason why it wouldn't work. Is it your presale Json?

[2016-03-15 21:12] tayvano commented on #27
I may reopen this in the future, but for now, tokens aren't on the long list of priorities. Thank you for the suggestion though and, again, we may rethink this in the future.

[2016-03-15 21:12] #27 closed, assigned to nobody

[2016-03-16 02:08] thegarn commented on #28
tried it on firefox and chrome. The button just isnt there but was a
couple of days ago.
regards
Anthony

On 16/03/2016 10:06 a.m., Taylor Van Orden wrote:

[2016-03-16 02:09] thegarn commented on #28
also just tried on IE - same result: no decrypt button

On 16/03/2016 10:06 a.m., Taylor Van Orden wrote:

[2016-03-16 02:53] tayvano commented on #28
If the decrypt button isn't appearing then you aren't entering a private key. Be certain that whatever you are pasting matches one of these lengths:

encrypted: `U2FsdGVkX18Wi8eFCEOYOth9feZiVsUsjUZvBe353zlgS0vrv71khVdW8mBy1XPnj7E6q7FMaYlDB4WLs4YJIAlrrWDydgMWWySx//4A4wV7Ucy3Aq1PkPkOwaWpIB/9eda5`

unencrypted: `c66b5346d5cf8c68c382a1abd5f71adc7b6db2abe6d86b05b171c724997f5bdc`

See if using one of th

[2016-03-16 04:26] thegarn commented on #28
Sorry schoolboy error! was using my public key. Panic over!
Thanks for your help.

regards
Anthony

On 16/03/2016 3:53 p.m., Taylor Van Orden wrote:

[2016-03-16 16:44] #28 closed, assigned to nobody

[2016-03-17 19:40] maraoz opened #30 "Please add LICENSE"

[2016-03-20 01:24] odotan opened #31 "[Feature request] Allow sending to more than one address/Allow specifying "change" address"
for example, I have 100 ether at address A and I would like to send 10 to address B and 20 to address C.

So I need to be able to add addresses to send to, and everything remaining in the address (70 minus gas), if not explicitly specified, should return to address A.

If the change address is specified, then everything remaining should be moved to the change address.

[2016-03-20 14:41] raineorshine opened #32 "Encryption key recovery plan"
Is there any documentation about how to encrypt/decrypt the private key on our own? I'm considering the case where I have stored the encrypted private key (and have memorized the password) and myetherwallet disappears for some reason. How would I recover my private key in that case?

Great wallet, btw, love the simplicity and ease-of-use. :+1:

[2016-03-21 16:28] tayvano commented on #32
The easiest way is to download the repo and save it along with your backups. You can run it locally and do everything you would normally do on myetherwallet.com.

Honestly, it costs us almost nothing to keep it online though. It's hosted by Github. Even if we stop don't renew the myetherwallet.com domain, it'll still be available here on Github and on the default github URL http://kvhnuke.github.i

[2016-03-21 16:31] tayvano commented on #32
There is also this library that may interest you. https://github.com/axic/ethereumjs-wallet

[2016-03-21 17:08] raineorshine commented on #32
Okay, I will try to run it locally. If that works that should be
sufficient. In some sense it would be nice to isolate that encryption
component or have it documented somewhere so I know what exactly is
happening to my private key. I may submit a pull request if I find the
corresponding code and have time to write up some documentation. Thanks.
On Mon, Mar 21, 2016 at 10:31 AM Taylor Van Orden not

[2016-03-23 00:09] peterjoel opened #33 "I can't view my address without also having my unencrypted private key appear on the screen."
It should be possible to load a wallet file and view public information about it, without exposing private keys on the screen.

[2016-03-23 00:53] tayvano commented on #33
If you would like to see publicly available information, I recommend using a blockchain explorer like https://etherchain.org/ or http://etherscan.io/ or http://live.ether.camp/. We are not looking to spend a lot of time developing this sort of stuff when there are already these 3 excellent services that do a far better job than we could ever do.

Thank you.

[2016-03-23 01:09] peterjoel commented on #33
For example, I would like someone to send ether to an address that I already own. If I open the wallet file to discover the address, I cannot avoid displaying the private information on the screen.

[2016-03-23 01:10] tayvano commented on #33
Ah.

Is there a reason that you aren't saving your address in a text document along with your private key? In general, you should minimize the number of times you upload/access your private key, online and offline.

[2016-03-23 01:26] peterjoel commented on #33
I _am_ saving the address in a text document along with my private key. But isn't part of the point of a graphical interface so that users don't have to open json files in a text editor?

I'm used to using deterministic Bitcoin wallet clients and (perhaps misguidedly) expected a similar experience from an Ethereum client. I understand that most of the software around Ethereum is quite unpolished.

[2016-03-23 01:37] tayvano commented on #33
Here is the [text file](http://i.imgur.com/XHV2BDx.png) that I keep on my desktop. I also bookmark the corresponding etherchain page (ie: https://etherchain.org/account/0x7cb57b5a97eabe94205c07890be4c1ad31e486a8) so I can check the account whenever I want.

The address is public. It should be saved along with the private keys, etc. but it should _also_ be saved separately in an easily accessible p

[2016-03-30 00:41] istrau3 opened #35 "How is it possible to generate a key pair client side and guarantee uniqueness"
General question about this tool:

I ran the tool with my internet off to ensure that it is a completely client side tool. It definitely generated the key pairs.

I am wondering how it is possible to generate a key pair while disconnected from the internet. Wouldn't one have to validate that there is no other existing ethereum account with the same public address? Is the tool relying on how unlike

[2016-03-30 00:47] tayvano commented on #35
Every time you click the generate button, a new key pair will be generated. This is not a brain wallet.

Technically, every single 64 hex string represents a private key and has a matching address. So they already all "exist". It is more a question of whether it has been used / accessed before.

We use a cryptographically random number to generate a private key -> public key -> address. The likeli

[2016-03-30 16:22] istrau3 commented on #35
@tayvano I didn't totally understand that but I guess that is just because of my lack of understanding in how these key pairs are generated in the first place.

If you have the time, I have some follow up questions
1) If I understand you correctly, once you have the private key, you automatically have the public key, why is it that one can't go backwards then (since there is a one to one match), s

[2016-03-30 17:23] tayvano commented on #35
So this is what the code does:
1. Generate a private key (completely randomly)
2. From that private key, generate a public key.
3. From that public key, generate an address.

You actually don't ever see the public key, just the private key and the address.

The password takes the private key and encrypts it. That's all.

Let's say the private key looks like ABC. The encrypted private key looks lik

[2016-03-30 18:34] istrau3 commented on #35
@tayvano Ok, that helps. Thanks for the time.

[2016-03-30 23:54] tayvano commented on #35
@istrau3 One more fun link for you:

http://security.stackexchange.com/questions/25375/why-not-use-larger-cipher-keys/25392#25392

[2016-04-01 12:30] abueesp opened #36 "Encrypted Private Keys / Paper Wallets (use BIP38 spec)"
After reading [this](https://www.reddit.com/r/ethereum/comments/41pug5/wondering_if_ukvhnuke_and_utayvano_are_around/cz5hfra), [this](https://bitcoinpaperwallet.com/bip38-password-encrypted-wallets/) came to my mind.

Pretty good wallet, by the way.

[2016-04-01 15:20] uzyn commented on #21
Instead of serving it from myetherwallet.com, how about serving it directly from https://kvhnuke.github.io/etherwallet/ to eliminate another point of trust – DNS.

You can have myetherwallet.com redirect to https://kvhnuke.github.io/etherwallet/ for backward compatibility.

[2016-04-01 15:22] tayvano commented on #21
@uzyn They serving directly from github. You can use whichever URL you like, or download the repo to your computer and run it locally. MyEtherWallet.com is just a CNAME record pointing to Github's servers.

[2016-04-01 15:24] uzyn commented on #21
@tayvano Yes I understand that. I'm usually using github.io domain.

Just by default, I think it would be better if this is served via github.io to increase the trust and simply have myetherwallet.com redirect to github.io for BC.

This eliminates the extra point of trust that myetherwallet.com is not hijacked. Regarding github.io, we have to trust GitHub anyway, so it does not really matter.

[2016-04-01 15:31] tayvano commented on #21
So the hypothetical situation we are preventing is MyEtherWallet.com getting hacked and pointing to a different place and serving malicious code, instead of the code from github. If we had a redirect set up and someone were to access the domain they could just as easily turn off that redirect and I'm not entirely sure how many people would notice / care.

I think a hash of the github and a hash of

[2016-04-01 16:04] uzyn commented on #21
I agree that hash would be the best and I also agree that majority of users would not bother to check.

A redirect is more easily verifiable to users as one would just have to look at the address bar and notice that it's kvhnuke.github.io and that the cert is green. But one can also argue that if the domain is hacked, the hacker can easily set up a malicious clone hosted on a similar looking usern

[2016-04-07 09:53] gregbkr opened #37 "Send tx offline: Qrcode of signed tx"
Hello,

We are using myetherwallet offline, in order to create wallet, and send offline tx. Works great thx guys!
# Step 3: Send / Publish Transaction (Online Computer):

Do you plan to implement a qrcode of the signed tx, in order to easily get it out of an airgap pc?
# Step 2: Generate Transaction (Offline Computer)

Same with entering a public address for payment, any way to avoid mistake and b

[2016-04-14 02:05] andropole opened #38 "Import/sweep from ETH paper wallet. Please tell how without blochain on my computer."
Import/sweep from ETH paper wallet
with private key but without blockchain on my computer.

What is the procedure to do it with Myehterwallet or anyother way?

Even with my time correct I am unable to download the blockchain to use in Ethereum-Wallet. Three weeks now and little progress.

Need to put paper wallet back into play by sweeping/importing to something that can then send to the exchange.

[2016-04-14 15:17] tayvano commented on #38
You can _access_ your wallet on MyEtherWallet via the send transaction tab. Simply upload your JSON or keystore file or paste your private key and then send the funds wherever you want (like an exchange address)

[2016-04-14 15:20] tayvano commented on #37
Hey! So we're hoping to push a massive update to MyEtherWallet this weekend and we are including QR codes on the Offline tab!

I have one question for you.....how would you personally use the QR codes on the offline transaction tab? Do you have a QR code reader on both computers?

[2016-04-14 15:21] #35 closed, assigned to nobody

[2016-04-14 15:22] #33 closed, assigned to nobody

[2016-04-14 15:24] tayvano commented on #32
I wanted to give an update on this issue before we close.

Starting this weekend, we will be moving to the same type of encryption geth / Mist uses. This means that if MyEtherWallet goes down for any reason (and even if it doesn't) you can easily move your encrypted key to Mist / geth without needing to do anything further.

[2016-04-14 15:24] #32 closed, assigned to nobody

[2016-04-14 15:24] tayvano commented on #31
This is a holdover from Bitcoin and does not apply to Ethereum transactions, sorry. If you want to send to two addresses, you do it via two separate transactions.

[2016-04-14 15:24] #31 closed, assigned to nobody

[2016-04-14 15:29] #30 closed, assigned to nobody

[2016-04-14 15:32] #26 closed, assigned to nobody

[2016-04-14 15:32] #25 closed, assigned to nobody

[2016-04-14 15:33] tayvano commented on #24
If you wish to do this, we recommend using the offline transaction tab to generate the signed transaction and then send it in whatever way you want, using whatever server you want. We have no intentions of adding this feature at this time.

[2016-04-14 15:33] #24 closed, assigned to nobody

[2016-04-14 15:34] tayvano commented on #19
WIll launch with v2.

[2016-04-14 15:34] #19 closed, assigned to nobody

[2016-04-14 17:14] maraoz commented on #30
Closed with no reply? I still can't find the license for this project

[2016-04-14 17:50] tayvano commented on #30
Sorry - it's going to be MIT. I pushed to the v2 repo that we're launching this weekend. Will push to current repo right

[2016-04-14 20:13] raineorshine commented on #32
@tayvano Does this change affect previously encrypted keys?

[2016-04-14 20:21] tayvano commented on #32
If you have an encrypted key from V1 you will be able to use it to create a new geth / mist version of the encrypted key on V2.

You will always be able to access your original encrypted V1 keys via MyEtherWallet no matter what.

[2016-04-14 20:22] raineorshine commented on #32
Okay, thanks!

On Thu, Apr 14, 2016 at 2:21 PM Taylor Van Orden notifications@github.com
wrote:

[2016-04-15 11:09] andropole commented on #38
Thank you very much Tayvano.  Finally I can buy some ETH knowing it can be safely taken out to paper and retrieved.  Did a test out to paper into MyEtherWallet via the send tab which allowed me to put in the paper wallet's private key and send back to the exchange.

Note: if someone reads this and runs a similar test make sure to send enough that the exchange will process the deposit. For Bittrex

[2016-04-15 11:09] #38 closed, assigned to nobody

[2016-04-25 03:59] hkparker opened #39 "Encrypted private key not encrypted?"
After generating a wallet on https://www.myetherwallet.com/#generate-wallet, there is an option to "Download JSON file - Geth/Mist Format (encrypted)".  The JSON file that is downloaded contains the key "Crypto", which contains the key "cyphertext".  The value is the unencrypted private key for the wallet.  I was expecting the value to be the encrypted private key for the wallet.

[2016-04-25 04:11] tayvano commented on #39
While the cipher text may _look_ like a private key (and "be" a private key) it is not the private key / account that the JSON will unlock and it is not encrypted.

Every 64 hex string will open an account. In this case, that string is NOT the private key, but rather a value being used to check / decrypt the public key / private key derivation. You can read more about it here: https://github.com/e

[2016-04-25 04:24] hkparker commented on #39
Ah, sorry for my ignorance, thanks for the information!  In the past when I've used etherwallet the private key was presented in what seems to be an openssl-friendly format beginning with "Salted_" (U2FsdGVkX1).  I've seen this in other wallet generators as well.  Was that ever a standard and is the community settled on an official technique?  I'm trying to understand what format would be best for

[2016-04-25 04:24] #39 closed, assigned to nobody

[2016-05-08 02:08] lexansoft opened #41 "Does not publish the tx"
I am trying to use your wallet for cold storage. All worked fine until I try to publish signed transaction. I transferred the signed transaction to my on-line computer, paste it into the "Step 3: Send/Publish Transaction" field. Clicked "Send Transaction". I can see that the page decoded the transaction and built QR code. At the bottom, I can see Transaction Submitted. TX ID: SOMEHEXSTRING.

But t

[2016-05-08 03:02] lexansoft commented on #41
It was the wrong nonce. My bad.

[2016-05-08 03:02] #41 closed, assigned to nobody

[2016-05-09 17:54] maraoz opened #42 "how to solve "Gas limit is too low" error"
I'm getting this error when sending a tx, and have no idea how to increase the gas limit. Thanks!

[2016-05-11 06:10] apmilen opened #43 "Unlocking private key from JSON wallet file results in unresponsive script error"
Hello,

I'm trying to generate a signed transaction on my offline computer using your nice webapp, however the page freezes with an unresponsive script error whenever I click "Unlock Wallet", and won't complete if I dismiss the warning by clicking continue. I'm using Firefox 45 on Ubuntu 16.04

Any suggestions?

[2016-05-11 06:46] tayvano commented on #43
Any chance you have Chrome? I can definitely run some tests in the AM and see if I can determine what is happening and push a hotfix. I'm guessing it's just a random issue with FIrefox on Ubuntu - we've had a couple slightly similar ones

Can you do the same but have your console open and let me know if you can see any errors in there?

You can access your browser console from the menu: select "Br

[2016-05-11 07:46] apmilen commented on #43
Chrome worked like a charm! Thanks for the tip 😄 I've attached the stacktrace that was logged when I killed the unresponsive script in FF.

[error.txt](https://github.com/kvhnuke/etherwallet/files/258792/error.txt)

[2016-05-11 14:52] kennyrowe commented on #37
Ideally I would like to scan the QR with my phone from the air gapped computer and send the signed transaction from my phone.

[2016-05-11 14:56] kennyrowe commented on #37
p.s. @kumavis has a great idea for stuffing large amounts of data into a QR format (ie deploying a contract). The basic idea is the QR is an animated GIF that displays say 4 or 5 images in a loop.

The QR reader would need to be special in order to ready the QR code though.

[2016-05-11 15:08] gregbkr commented on #37
Thank you, I saw the new version with qrcode of offline signed tx, that's great, already using it! ;-)

[2016-05-17 07:15] stefek99 opened #44 "After transaction the amount of ETH visible on the screen should decrease?"
I'm totally new to the scene, I decided to participate in the DAO hype and I would like to report some issues.
## 1 minute screencast: https://youtu.be/EhZWClglYIs

So I'm logged in and I confirm the transaction. The account balance in the upper left corner remains the same. It was confusing... Everywhere _(bank, PayPal, exchanges, other BTC wallets)_ after confirming transaction the balance shoul

[2016-05-19 07:52] tayvano commented on #43
Reopening this as someone else just reported same thing. Firefox 45, Mac 10.11.

@kvhnuke is going to look into this

[2016-05-20 10:49] bitcometrader opened #45 "Transaction Error"
Trying to send some ETH from my account to another with ERROR MASSAGE :"was an error: no contract code at given address".
Tried different addresses even the ETH donation address.
Any ideas ?

[2016-05-20 17:57] tayvano commented on #45
@bitcometrader Is this occurring on the Send Transaction page?

[2016-05-20 17:59] bitcometrader commented on #45
Yes

[2016-05-20 18:00] tayvano commented on #45
@bitcometrader Thank you -- looking into it right now. Sit tight.

[2016-05-20 18:01] bitcometrader commented on #45
Thanks

[2016-05-20 18:02] tayvano commented on #45
@bitcometrader What's your address you are trying to send from & to? I just had a transaction send successfully. It may be that our node is out of sync though?

[2016-05-20 20:44] bitcometrader commented on #45
Hi Tayvano my address is : 0x60d90480e1973a186eb130e4cb3ff1bbec121b6b

[2016-05-20 22:58] apobekiaris commented on #45
same error for me i try to send from 0xDE46B294cFF3dFdc3c09cAc26f6Ef348bCDDc993 to 0x797ff39aed3484bf2aa7e85a615a8157354a2488. In the past I was able to make that transaction with no issues

[2016-05-21 03:54] tayvano commented on #45
Hi. We just pushed some updates. Can you try again and let me know if you are still seeing the error? Thank you!

[2016-05-21 06:15] bitcometrader commented on #45
It is working now, thanks for the wallet its a good extension for chrome.

[2016-05-23 11:28] ByJIbqp opened #46 "the money did not come"
Good day, I transferred the money to the purse which sgeniriroval on your site, but money is not credited to him, tell me what is the reason, or they will soon be on the balance sheet?

[2016-05-24 05:19] tayvano commented on #46
What is you address? Please check on http://etherscan.io/ -- we seem to be having intermintent issues with the balances displaying on myetherwallet.com.

We are trying to fix it, but http://etherscan.io/ will always show your correct balance

[2016-05-27 15:21] Lairdrome opened #47 "password wrong"
I have seen other posts with this subject. The problem is I am a layman. I have no knowledge of using the keyboard for anything else than writing and calculating. But the whole matter of ETH , DAO BTC interests me a lot, but believe me I struggle to keep up with this mind boggling new stuff. But I just like it.
Anyway, Is there anyone who can explain in layman terms how to solve this problem? Perh

[2016-05-28 22:08] nmushegian opened #49 "Generic ERC20 token support"
Any timeline on adding custom tokens?
https://github.com/ethereum/EIPs/issues/20

[2016-06-03 16:19] u2 opened #50 "npm install error"
[code]

[2016-06-09 21:31] leadilara opened #53 "DAO tokens"
I need help My nerves are blank. I see my DAO tokens at Block Chain explorer. I use Ethereum Wallet 0.7.1. Contract created. Observed but I see no Dao.
So I now have a DAO tokens created .How do I get in Taos "myetherwallet"?

[2016-06-09 21:52] tayvano commented on #53
If you see them on etherscan then just do what you want to do. It's just a display issue on MyEtherWallet.com

[2016-06-12 00:35] tayvano commented on #50
Just pushed some updated. LMK if you are still getting issue & what version of node/npm you are running. Thanks.

[2016-06-12 00:36] #46 closed, assigned to nobody

[2016-06-12 00:36] #45 closed, assigned to nobody

[2016-06-12 00:37] tayvano commented on #44
That is because it used gas because you weren't actually able to send the tokens but it executed a bit of the contract before it errored out. You should be able to send now though.

[2016-06-12 00:37] #44 closed, assigned to nobody

[2016-06-13 21:38] tayvano commented on #49
Sorry - didn't realize I had never commented on this. We would absolutely LOVE to have generic interfaces for tokens. I can't promise timeline or anything but know that it is on our todo list and will most likely be the next big featured pushed. Just a matter of finding the time at this point.

[2016-06-13 21:42] tayvano commented on #43
Issue is: Firefox has a shorter timeout period than Chrome. Mist hashes the keystore files something like 30k times and javascript isn't the most ideal way to handle decrypting it. Chrome seems to just take longer. Firefox gives you an unresponsive script error.

Temporary solution:
- Add loading icons to buttons when you click them so at least you know it's doing something
- Add warning for Firef

[2016-06-13 21:47] tayvano commented on #42
![screen shot 2016-06-13 at 2 44 30 pm](https://cloud.githubusercontent.com/assets/7924827/16024281/c4af2226-3175-11e6-91e4-f0fea052b9a8.jpg)

![screen shot 2016-06-13 at 2 44 35 pm](https://cloud.githubusercontent.com/assets/7924827/16024280/c4add042-3175-11e6-9d66-9e32ab7832b5.jpg)

[2016-06-13 21:47] #42 closed, assigned to nobody

[2016-06-13 21:50] tayvano commented on #37
This was implemented for Mew v2 at the end of May. Those are some fat QR codes but they work! 😝

[2016-06-13 21:50] #37 closed, assigned to nobody

[2016-06-23 11:52] saazaan commented on #53
I have a similar problem. My ETH anв DAO balances are positive:
http://etherscan.io/address/0xdECAEc123a47eA55eaf7c8404FF12E97cB5F68F5
but nothing in my wallet
<img width="1205" alt="screen shot 2016-06-23 at 14 34 18" src="https://cloud.githubusercontent.com/assets/17524792/16302109/ff32a966-3951-11e6-84b2-67338bb2abe5.png">

and i cant send DAO or ETH anywhere!!!

this is really frustrating !!!

[2016-06-23 12:13] GoodVibeAI opened #54 "unable to see/shift ETH, DAO on MyEtherWallet"
My ETH and DAO balances are positive:
http://etherscan.io/address/0xdECAEc123a47eA55eaf7c8404FF12E97cB5F68F5
but nothing in my wallet
screen shot 2016-06-23 at 14 34 18

and i cant send DAO or ETH anywhere!

this is really frustrating (

[2016-06-23 12:14] GoodVibeAI opened #55 "unable to see/shift ETH, DAO on MyEtherWallet"
My ETH and DAO balances are positive:
http://etherscan.io/address/0xdECAEc123a47eA55eaf7c8404FF12E97cB5F68F5
but nothing in my wallet
<img width="1205" alt="screen shot 2016-06-23 at 14 34 18" src="https://cloud.githubusercontent.com/assets/17524792/16302681/24ef6cc2-3955-11e6-94ea-f4f9232f5f74.png">

and i cant send DAO or ETH anywhere!

this is really frustrating (

[2016-06-23 13:03] GoodVibeAI commented on #55
Created another wallet
http://etherscan.io/address/0xc098FB1d115310d309a740f3f60A292982e16AF9
same problem - NIL balances, can not SEND

![screen shot 2016-06-23 at 16 02 01](https://cloud.githubusercontent.com/assets/17524792/16303932/dda66742-395b-11e6-89c0-8b1cc2340ccf.png)

[2016-06-23 13:04] #54 closed, assigned to nobody

[2016-06-23 19:27] leadilara commented on #53
Hi,

you need ether when will send Dao.
Have you make an constract ?

Am 23.06.2016 um 13:52 schrieb saazaan notifications@github.com:

[2016-06-23 21:35] #55 closed, assigned to nobody

[2016-06-25 19:39] Canalytic opened #56 "Importing from Icebox"
I am trying to figure out how to import a wallet from Icebox: https://github.com/ConsenSys/icebox

The encrypted wallet does not seem to be JSON or Keystore or Plain text private key.

[2016-06-27 03:13] tayvano commented on #56
Do you have the seed or the file that ends with `................"nonce":"pNUG73rsX5igxYKDj9upXzQUAXfCNm3+"},"version":2}`?

[2016-06-27 18:49] Canalytic commented on #56
Yes I have the seed.  and I also have a text that ends with "nonce"........"version":2}  What do I save text as in order to load it in myextherwallet?  When I save the text as .json, for example I am told that `this is not a valid wallet file`.  Also get the same error when I save as .txt file.

[2016-06-27 19:30] kvhnuke commented on #56
Can you shoot us an email to myetherwallet@gmail.com I'll be happy to help you out

[2016-07-07 19:33] baobabKoodaa opened #57 "MyEtherWallet performing transactions on its own"
I tried moving 0.1 ETH between my own accounts on MyEtherWallet on Google Chrome (via browser without the extension). I only tried to make 1 transaction, but somehow it performed 6 transactions, moving a total of 0.30122718 ETH into my other account. You can see these transactions listed here:

http://etherscan.io/address/0xd87dfb24fefd44e5d1f441fa086c724e53a73dfb

How is this even possible?

[2016-07-07 19:35] tayvano commented on #57
Were you on MyEtherWallet.com?

Is the address above the address you were sending from or to?

[2016-07-07 19:44] baobabKoodaa commented on #57
Yes, I was on MyEtherWallet.com. The linked address is the receiving address (the "to" address).

[2016-07-07 20:15] baobabKoodaa commented on #57
I just realized something... earlier in the day I was trying to make transactions with Mist Wallet and none of them were going through (they showed up at 0 confirmations for 5 minutes, then just disappeared). The additional 5 transactions must be the ones I was trying to make with Mist Wallet!

So basicly, when I made a transaction on MyEtherWallet hours later, it somehow caused all the earlier tr

[2016-07-07 20:22] tayvano commented on #57
I'm not sure how transactions in Mist would relate to MyEtherWallet, or how one would cause the others to be sent. It may just be that your Mist finally got synced up or something with the network and they happened to be at similar times?

[2016-07-07 21:44] baobabKoodaa commented on #57
All of the transactions show the exact same timestamp, down to the second. It would be a pretty odd coincedence if after hours of waiting Mist finally got synced up the exact same time that MyEtherWallet transaction goes through. In any case I realize this is likely a Mist / Ethereum issue. Thanks for the fast responses and sorry about wasting your time.

[2016-07-19 09:32] richhorn opened #58 "Hard fork and local wallet"
Hi,

Sorry if this has been answered .. I did look elsewhere.

Is my myetherwallet wallet safe as is, on my pc (and backed-up), with the hard fork coming?
Should I do anything to protect it?

Thanks,
Rich.

[2016-07-19 20:23] tayvano commented on #58
Yes and yes. No need to do anything. More info here: https://www.reddit.com/r/ethereum/comments/4tjrqs/myetherwalletcom_hf_dao_withdrawal_questions/

[2016-07-19 20:32] richhorn commented on #58
Fantastic work! Congrats on the awesome project. Will send tip soon.

And congrats too, on your marriage. All the best,

[2016-07-19 20:32] #58 closed, assigned to nobody

[2016-07-22 13:44] demilock159 opened #59 "Unable to connect to http://45.79.107.116:8545 Ether"
I am trying to connect and see my Balance but this is the error I get. any ideas?

[2016-07-22 15:36] thinhouse commented on #59
Same here, I'm getting an unable to connect message.

On Fri, Jul 22, 2016 at 8:44 AM, demilock159 notifications@github.com
wrote:

##

Gary Keife
832-335-2694
Fax: 832-460-3123

[2016-07-22 15:44] tayvano commented on #59
You aren't the only ones. Either our node or our balance API is down. I just woke up moments ago and will do my best to fix it ASAP. After coffee,  because you don't want me fat fingering the node like I just did to this issue ;)

[2016-07-22 16:01] tayvano commented on #59
You all crashed our node. We just fixed it and it should be good now. Let us know if you are still encountering issues. Thanks.

[2016-07-24 13:29] speaktech commented on #59
same error "Unable to connect to http://45.79.107.116:8545" is the amt. of ETH I have available in my unlocked wallet. :(

[eidt] fixed 2hrs later. thnx :D

[2016-08-03 06:38] kobigurk opened #61 "Implement UI to give user's a choice of custom server to use instead of MEW node"
I believe it would be a good feature to have - for example, to submit transaction to ETC clients or private networks.

[2016-08-05 16:46] jgeewax commented on #49
Seems this is making progress? With the "Send tokens" option looks like it works, but I'm getting errors about `Cannot read property 'getData' of undefined` when trying to create a transaction for a custom token. Not sure if this is a bug on my end or not though.

[2016-08-05 16:48] jgeewax commented on #57
Seems like we should close this issue out? (It's scary to see this as an open issue -- I was glad to see that it wasn't really a bug !)

[2016-08-09 14:33] laseryuan commented on #29
Encryption is no longer available for bulk wallet?

[2016-08-11 17:36] nerdralph opened #63 "suggest specifying exact tx fee to be used"
Instead of:
"We use standard rates for all gas + a itty-bitty bit more to ensure it gets mined quickly"
I suggest:
"We will use the mininum gas of 0.00042 ETH + 5% = .000441 ETH to ensure it gets mined quickly"

[2016-08-11 18:04] tayvano commented on #63
Question for you: do you want this changed because you think we are being manipulative or because you wanted to know what our gas price is or what the TX cost is?

I'm thinking of going with the following, as it makes it clear than an increase in gas (say, for a contract) will also increase the TX cost.

A standard transaction using 21000 gas will cost 0.000441 ETH. We use a slightly-above- minimu

[2016-08-11 18:24] nerdralph commented on #63
@tayvano You're jumping to conclusions if you think I'm suggesting any deceit.  Good science requires precision, which is what I'm suggesting.
Your idea is an improvement.  The ideal would be to dynamically to report the actual tx fee total in eth.  I was able to calculate it by converting the hex to decimal and doing the math, but it would be much more convenient if that was done automatically.

[2016-08-11 18:53] tayvano commented on #63
Sorry. It was an honest question. Just wanted to figure out what problem we are trying to solve.

I'd really like to get estimateGas implemented as well, which would go hand in hand with this.

I'll see if I can at least get the updated messaging and dynamic tx cost in the next push. No promises but I'll do my best.

Thank you.

[2016-08-12 12:00] sabr-p opened #64 "include the extra options that show in "Send ETH" also in the "Only ETH/ETC" options"
the option "send ETH" includes the " Transfer total available balance" and "advanced:....." options

however they disappear when the "only ETH/ETH" mode is selected. it would be nice to have these available too    :)

extra stuff:
using these steps, 1) select the ETH option, 2) click on the "transfer total", 3) select "only ETH", the total amount = wallet balance - gas - itty bit
remains in the fi

[2016-08-12 19:50] tayvano commented on #64
This goes hand and hand with https://github.com/kvhnuke/etherwallet/issues/63 as well.

So I think what we are looking for is
1. EstimateGas()
2. Dynamically show the TX cost in ETH
3. Update "transfer total" to adjust based on new dynamic amount rather than original static amount.

[2016-08-12 19:51] #57 closed, assigned to nobody

[2016-08-12 19:51] #53 closed, assigned to nobody

[2016-08-12 19:55] tayvano commented on #59
For future people: this issue occurs when our node goes down or something else goes ka-boom on the backend.

We've updated how things work a bit to try to prevent this from occurring but it may still happen in times of unusually high amounts of TXs or activity. The fastest way to let us know that the node is down is to email us. Typically we know about it in seconds due to our dedicated (albeit bl

[2016-08-12 19:55] #59 closed, assigned to nobody

[2016-08-13 11:34] iFA88 opened #65 "Sign message"
Please expand the website services with message signing. Sadly i can't code that for this source.

[2016-08-14 21:55] fortran77 opened #66 "Please provide a way of invoking this online wallet via https://github.com/ ..."
If possible, please provide some way of invoking this online wallet via a URL beginning with `https://github.com/...` (or, failing that, `https://<subdomain>.github.io/...`).

I don't mean a URL that merely redirects, but rather, a URL that remains in the address bar.

This provides a URL path that one can use with some assurance that one has not reached a hijacked domain. Also, should the SSL cer

[2016-08-18 05:48] moneroexamples opened #67 ""Account does not exist or account balance too low" even though funds are there and inccorect balance!"
---

[2016-08-18 07:13] #67 closed, assigned to nobody

[2016-08-22 17:47] realcodywburns opened #68 "Bulk paper wallet page break"
![screenshot](https://cloud.githubusercontent.com/assets/13103499/17864788/2a5f3afe-6865-11e6-946e-3440b586e8c1.png)
![screen shot2](https://cloud.githubusercontent.com/assets/13103499/17864789/2a607f0e-6865-11e6-9bcf-c3bff0adf939.png)

This issue I am having is when printing bulk wallets the `function generateWallets()` does not recognize page breaks.

adding something like:
`if (i-1) % 3 == 0{ <

[2016-08-24 00:00] egzumer opened #88 "Gas limit instead of Nonce in Step 1 on Send Offline page"
There is a wrong title over the nonce box in mercury branch, it came with translations.

[2016-08-24 00:02] tayvano commented on #88
I am aware. I thought it was fixed on English now but I will double check (all languages). Thank you

[2016-08-24 12:30] sabr-p commented on #64
yes, both issues complement each other.
also, the "backend" engine already does the math for the "transfer total", so it appears it's just needed to throw the internal values onto the UI and show them all nice and separated :)

[2016-08-24 12:49] sabr-p opened #96 "When decrypting new JSON/Keystore file, the page doesn't update with new wallet's info or update existing wallet's info."
preconditions:
a - wallet with JSON key, and encripted.
b - open the "view details" of any wallet (using the JSON option, i did not test the plain text option)
c - note the values shown
these steps setup the required state to reproduce. note, i'm using the wallet locally (files cloned from github) not the .com address. should not make any difference.

now, reproduce:
1- keep the page open. do not

[2016-08-25 00:20] tayvano commented on #68
kvhnuke just added some bottom padding so that 3 fit per page. the page-break thing seemed to not be consistent. Apparently, this is a new thing that I screwed up when I switched the placement of the notes with the rightmost QR code. Whoops.

[2016-08-25 00:20] #68 closed, assigned to nobody

[2016-08-25 08:55] tayvano commented on #88
fixed this finally

[2016-08-25 08:55] #88 closed, assigned to nobody

[2016-08-27 00:15] tayvano opened #113 "Change so ETH and ETC refer to currency itself, and 'ether' to refer to general."
File en.js in some phrases uses acronym ETH to refer to ether in forked branch of Ethereum, while in other places the same acronym is used to refer to ether in general regardles of branch. Probably it would be better to use ETC for classic ether, ETH for forked ether and word 'ether' for general, branch-neutral cases.

[2016-08-27 00:16] tayvano opened #114 "Increase consistency of how we use 'account' and 'address' and 'wallet'"

[2016-08-27 00:16] tayvano opened #115 "Change Numbers to be consistent as well."
Explicit numbers hardcoded into en.js are copied to other translation files, which makes such numbers hard to change consistently. Here are examples of phrases with hardcoded numbers:

DAO_Warning:            'If you are getting an "Insufficient balance for gas" error, you must have a small amount of ETH in your account in order to cover the cost of gas. Add .01 ETH to this account and try again.

[2016-08-27 03:08] tayvano commented on #49
Turns out, if you add a bad token, itll give you errors. Sounds like what is happening here?

To clean out your other tokens:

Chrome:
1. Open the send token page
2. right click and say inspect element
3. find the console tab
4. scroll all the way down
5. and copy and paste the following and then hit enter
6. `localStorage.clear();`

##

Safari Instructs:
1. If you don’t see the Develop menu in th

[2016-08-27 03:44] kevinmonahan commented on #114
<h1>Updated 👍 </h1>

[2016-08-27 03:53] kevinmonahan commented on #113
Updated

[2016-08-27 03:53] kevinmonahan commented on #115
Updated

[2016-08-27 06:39] tayvano commented on #115
done done

[2016-08-27 06:39] #115 closed, assigned to nobody

[2016-08-27 06:59] ugilio opened #143 "Missing translation summary"
This is a list of things that are still not translated (that is, there is no way for translator to translate ATM). At least, this is what I noticed.
- ~~Withdraw DAO:~~
  ~~"You are about to withdraw X DAO Tokens for Y ETH. " (no translation)~~
  ~~"You are about to withdraw X DAO Tokens to ADDRESS_IN_FIELD_ABOVE for Y ETC." (no translation)~~
  ~~"Where do you want your ETC to be sent to?" (no tr

[2016-08-27 07:10] tayvano commented on #143
I'm going to stop saying we're done / close to done. This is never going to end. 😂

**Filed under Taylor is an idiot and will fix**
- Withdraw DAO
- Help page
- Radio buttons _(I can do all these as we have that translated already, just with extra stuff attached)_
- The placeholder "Private Key" when unlocking a wallet is not translated _(same as above)_
- When selecting a wallet file, the message

[2016-08-27 08:19] tayvano commented on #143
Okay I think I've confirmed all the withdaw DAO, help page, radio buttons, placeholders are done.

I just took a quick look and there are a few error or success messages that have add'l text. I'll do those later. :/

@kvhnuke will need to figure out how to get the translated message in them inline & the possibility of translatin geth messages

[2016-08-27 08:54] ugilio commented on #143
New issues after last changes:
- ~~"Disclaimer" in the title on the popup is translated, but on the footer it is not.~~
- ~~Dao: in the popup, when withdrawing DAO, it says "ETC" also in the ETH case~~
- The "File Selected" message still displays in English

For the geth thing, an idea (in pseudocode) might be the following:

[code]

gethMsgsTranslated is updated with the correct language. E.g. in

[2016-08-27 09:48] ugilio commented on #143
Also: the disclaimer content is untranslated (but maybe it's on purpose?)

[2016-08-27 15:06] tayvano commented on #143
Yeah. I need to get it approved first. It's going to change a bit. And I don't know how were supposed to handle it yet.

[2016-08-28 07:03] ugilio commented on #143
Just noticed now that there is no translation for the title of the page ("MyEtherWallet: Open Source JavaScript Client-Side Ether Wallet")

[2016-08-28 22:19] ugilio opened #171 "Tokens disappearing"
With latest version on mercury branch, if you go to "Send tokens":
- Between "Amount to send" and "Gas" there is the list of tokens where you can select the token you want to send
- On the sidebar there is Token Balances, showing the "loading" placeholder for all the tokens

As soon as the "loading" placeholder disappears for a token, the corresponding token is removed from the "selectable list"!

[2016-08-28 22:28] tayvano commented on #171
I'm experimenting with hiding tokens from underneath the "amount" field if the amount is 0. However, I don't think the execution is great right now.

Over the next month or so we are going to be adding Augur and DGX and who knows what else to this list. I don't have a problem with them in the sidebar, but it gets super cluttered under the amount.

I may switch it to show if !== 0 instead of hide =

[2016-08-28 22:31] ugilio commented on #171
Ah ok, I was experimenting with a newly created private key so obviously all tokens and balance was zero. I did not know it was a feature, but now that you tell me it makes sense.

[2016-08-28 22:31] #171 closed, assigned to nobody

[2016-08-29 05:34] #114 closed, assigned to nobody

[2016-08-29 05:34] #113 closed, assigned to nobody

[2016-08-29 23:00] federicoon opened #180 "Offline Transactions not working"
I tried with both Firefox and Chrome: on step 1 I type in a From Address, which is accepted as valid, but then clicking on "Generate information" has no effect: nothing happens, no info is displayed!

Furthermore, step 2 on an offline computer hangs with Firefox on wallet decryption. It only works with Chrome (but I still miss the information which should have been generated on step 1).

Anyway, I

[2016-08-30 03:46] tayvano commented on #180
For step 1, are you doing this on an online computer? I'm having no issues in Chrome or Firefox.

Firefox has trouble decrypting Mist-encrypted Keystore files due to the fact that firefox has a shorter timeout period and javascript is not an efficient way to decrypt something that has been hashed like a million times.

If you prefer using Firefox, open your wallet in Chrome using the "View Wallet

[2016-08-30 11:44] federicoon commented on #180
For step 1 I confirm it was from an online computer. After some more troubleshooting, I realized the issue occurs whenever I set a http proxy. It works well instead in case of direct access to internet.

Then I don't understand what you mean by "download another encrypted version of your private key", sorry.
So you're suggesting to split ETH/ETC balance via online transactions only? Ok, I'll consi

[2016-08-31 08:36] GilAlexander opened #187 "Change validation for existing passwords > 0"
The button "Unlock" under "Unlock your Wallet:" appears only when you typed 4 or more symbols of your password. My keystore was created on an old version of Mist and my password is consist of 1 symbol so I'm unable to use your service with my keystore file. It's also quite difficult to export the private key from keystore since there're no official way to do so.

[2016-08-31 16:15] Arachnid opened #191 "Set default gas to 23300 instead of 21000"
This would allow wallet contracts to receive without going out of gas by default, and won't cost standard transactions anything more than it already does.

[2016-08-31 21:18] tayvano opened #192 "Update gulp / npm install so it "just works""
I had run npm install on the ethereumwallet but not all the dependencies where fetched. I had to download manually and npm install with 'ethereumjs-utils' and 'marked' but now I'm able to build the project with gulp. Maybe you could indicate these steps in the readme in any case thanks for the answer

Also look into browserify / angular deps

[2016-08-31 21:20] tayvano commented on #187
😂 Sorry about that! I will update the validation on the password field to be one character required.

[2016-08-31 21:37] tayvano commented on #180
Okay that http proxy is also and issue that we are having showing balances in some of these. I'll note this there as well.

The "download another version of the private key" - basically if you go to the View Wallet Details tab you can download a file that still be your keystore file and will work in Mist. But its hashed slightly fewer times and the javascript has an easier way to decrypt it so it

[2016-08-31 21:38] tayvano opened #194 "Fix or note port thingy thats preventing some people from getting balances and gas/nonce on step 1 on offline tab"
I don't know exactly what this issue is caused by but @kvhnuke does. We need to fix it so that people can see their balances and stuff even if they are behind a firewall, etc.

If we can't fix it, we should note it if these items can't load for that reason.

[2016-08-31 21:40] tayvano opened #195 "Translation Enhancement Master List"
1. The printed wallet is always in English
2. The tittle of the page is always in English (need to add ctrl for the title of the page first.
3. Check error / success messages to make sure we got them all.
4. Add Finnish to nav
5. Add Hungarian to nav

Fixes to files still in ENG:
1. GEN_Label_4:            'Print your paper wallet, or store a QR code version. (optional)',
2. TRANSModal_No:

[2016-08-31 21:40] tayvano commented on #143
Closing this but moving not-done items to #195

[2016-08-31 21:40] #143 closed, assigned to nobody

[2016-08-31 21:46] #50 closed, assigned to nobody

[2016-08-31 21:47] #47 closed, assigned to nobody

[2016-08-31 21:50] tayvano opened #196 "If they hit "Enter" after selecting a private key or entering a private key, "click" the unlock button"
Same for view wallet and edit wallet on CX.

[2016-08-31 21:51] tayvano commented on #63
This still isn't perfect yet. Another recommendation via reddit:

Update this item with #191 (or rethink / redo the entire thing?)

[2016-08-31 21:53] tayvano opened #197 "Rewrite Paper Wallet (to not use jquery & use angular)"
1. Make it translate-able.
2. Remove jquery from the repo! 💯
3. Give option to have encrypted versions (when that spec is complete)

[2016-08-31 21:55] tayvano opened #198 "Update global ETH / ETC / Token balances"
Make ETH , ETC , and Tokens a global thing.

Make all the sidebars, etc consistently (directive?)

Make "equiv balances" take into account ETH / ETC / Tokens?

[2016-08-31 22:02] tayvano opened #199 "Get extended validation SSL cert so we have "MyEtherWallet" in the green thing in the header too!"
https://en.wikipedia.org/wiki/Extended_Validation_Certificate

(whats the add'l cost?)

[2016-09-01 06:22] tayvano opened #200 "DAO -> ETC Page: Modal Calculated Wrong & the gastracker link goes to etherscan"

[2016-09-01 07:25] myalcin81 opened #201 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
myetherwallet.com ETH, ETC , bla bla.. All Informations doesn't load on API Call . It has an error

XMLHttpRequest cannot load https://rpc.myetherwallet.com:8443/api.mew. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://www.myetherwallet.com' is therefore not allowed access. The response had HTTP status code 524.

Update

[2016-09-01 07:30] tayvano commented on #201
Our ETC node was down for a few minutes due to high volume - can you refresh and let me know if you are still receiving this error? Thank you.

[2016-09-01 07:38] myalcin81 commented on #201
Its look like okay.

[2016-09-01 07:38] #201 closed, assigned to nobody

[2016-09-01 18:54] octocat-mona opened #202 "Can't send entire balance when using 'Only ETH'"
I want to send the entire ETH and ETC balance of my account to another account (basically because I was warned about the replay attack on gastracker).

So when I click 'Send Entire Balance' and switch radio box to 'Only ETH' and send the transaction it shows an error:

When I substract the 0.000441 fee from my total balance which is mentioned below:

I still get the same error.
So how can I send m

[2016-09-02 01:39] tayvano commented on #202
The gas for the "Send Only" functions is greater than the default 21000. It ranges somewhere between 30k and ???. I've seen 32k, 56k, etc.

We use 300k as a safety to prevent it from ever failing as all excess gas gets returned to you. So, at this time, there is no easy way to "send all" via the Reply contract. 😞

We hope to fix this moving forward but for now, the estimate gas function isn't reli

[2016-09-02 02:27] tayvano commented on #202
Sorry - going to update to 60k gas in like 10 minutes

so it'll be .00126 ETH/ETC for gas

[2016-09-02 02:51] tayvano commented on #191
@Arachnid

Rawr. I hate the gas situation right now. Do you know if there is an easy way to detect if something is a wallet contract vs standard account? Is estimateGas() fairly consistent with detecting wallet contracts?

The reason we don't use the estimate function currently is that it doesn't seem very reliable and wildly increased the number of support requests when we last tried to implement

[2016-09-02 03:00] tayvano commented on #202
Just changed to 60k and updated messaging under TX to read:

We use a gas price of 0.000000021 ETH to ensure your TX gets mined quickly. Multiply 0.000000021 by the gas of your TX and you get the cost of the TX in ether. We do not take a transaction fee.

Standard TX: 21000 gas (0.000441 ether)
TX to Wallet Contract: 23300 gas (0.0004893 ether)
Only ETH / ETC TX: 60000 gas (0.00126 ether)

[2016-09-02 03:00] #202 closed, assigned to nobody

[2016-09-02 03:02] tayvano commented on #64
Added messaging to note that only ETH/ETC TXs have a gas of 60000: `Only ETH / ETC TX: 60000 gas (0.00126 ether)`

Still a temporary solution until we really revamp the gas / eth price / estimateGas() functionality.

[2016-09-02 09:30] trustfarm-dev opened #205 "DAO ETC Withdraw pages, whitehat donation % goes to minus value."
DAO ETC Withdraw pages, whitehat donation % goes to minus value.

when changing the donation % , I've click down arraw, donation % has gone to -1,-2,....
that's minimum is 0.

[2016-09-02 10:27] Arachnid commented on #191
Yes; if `eth_getCode` returns nothing, it's an external account; otherwise, it's a contract.

It's been improved of late, though it's difficult to say what might have been wrong when you tried it last.

Oh dear. Well, sending 23,300 if it's a contract and 21,000 if it's not would work, although I'd be happy to work with you to figure out any problems you're having with estimateGas.

[2016-09-02 18:02] octocat-mona commented on #202
Thanks for the update, managed to move my ETH now.
Still having trouble with ETC, hope that you can fix the gas estimation soon :)

[2016-09-02 19:46] kvhnuke commented on #191
@Arachnid
I've been playing with the estimate gas for a while now. However, everytime i tried i never received the desired results. for example

`ajaxReq.getClassicEstimatedGas({"from":"0x26588a9301b0428d95e6fc3a5024fce8bec12d51","to":"0xaa1a6e3e6ef20068f7f8d8c835d2d22fd5116444","value":"0x01","data":"0x0f2c932900000000000000000000000049e1cb970a4123d5a1c716c04d37332b10cda3c000000000000000000000000

[2016-09-02 20:34] Arachnid commented on #191
So, that's going to be the case sometimes, and is expected, because it's possible for a transaction to _require_ more gas than it uses. There are two main ways this happens; the first is because there are gas refunds due to deleting storage elements, which only happens at the end of the transaction. The second is that a contract makes a call to another contract, specifying a fixed amount of gas, o

[2016-09-06 21:19] tayvano commented on #194
Done!

[2016-09-06 21:19] #194 closed, assigned to kvhnuke

[2016-09-06 21:19] tayvano commented on #194
Done!

[2016-09-08 00:44] tayvano opened #213 "Allow users to access their wallet via mnemonic (jaxx/ledger/bip39)"
ref: http://support.ledgerwallet.com/knowledge_base/topics/restoring-your-ethers-eth-or-etc-without-a-ledger-nano-s

[2016-09-08 01:26] tayvano commented on #205
Fixed

[2016-09-08 01:26] #205 closed, assigned to nobody

[2016-09-08 01:28] tayvano commented on #96
Fixed

[2016-09-08 01:28] #96 closed, assigned to kvhnuke

[2016-09-08 01:29] tayvano commented on #180
HTTP proxy issue was fixed

Still aware of slow decrypt times for Mist wallets in FF and it's on the list.

Users will need to know how to calculate data required for the only ETC / only ETH transactions via contract to use the offline tab for now.

[2016-09-08 01:29] #180 closed, assigned to nobody

[2016-09-08 01:38] tayvano commented on #187
Sorry for the delay - this is fixed now.

[2016-09-08 01:38] #187 closed, assigned to nobody

[2016-09-08 01:42] tayvano commented on #29
Waiting for an Ethereum encryption standard to be decided on before implementing text encrypted keys on the site again.

Best thing is to use for now is the encrypted Mist file as it's compatible with the official clients.

[2016-09-08 01:43] tayvano commented on #200
Fixed.

[2016-09-08 01:43] #200 closed, assigned to tayvano, kvhnuke

[2016-09-08 06:46] trustfarm-dev commented on #205
thanks.

[2016-09-08 08:34] kvhnuke commented on #191
Hi @Arachnid
Ive been playing around the estimate gas more, found another problem
http://etherscan.io/tx/0xaa057666d69cb8ea73c712df553149d4e8a2fc9c618b37ca82deb0941364a51d
that transaction went through with 60000 gas, and used gas shows 31561 and then I used 31561 as the gas limit and sent another transaction.
http://etherscan.io/tx/0xd8a7c7a6d135a3198c9aa2acce44da1f5be0c1fefd273806885ce832d8f117c

[2016-09-08 17:01] Arachnid commented on #191
So, as you observe, it's pretty common for a transaction to require more gas than it consumes; either due to refunds or because it calls another contract whilst specifying some amount to send. That last makes gas estimation even harder, since the code may use the amount remaining to estimate how much it can send to the callee!

How much gas did estimateGas say that transaction needed? If it's less

[2016-09-09 01:44] kvhnuke commented on #191
Thanks @Arachnid I think I finally understood how things work. I was able to implement estimateGas function using the vmTrace in parity and it can estimate the absolute minimum for a transaction to fully process through the vm. I'll open tickets in both geth and parity as geth estimate gave 32134 and parity estimate was 31561. However, replay contract requires minimum 49599 to get fully processed,

[2016-09-09 12:48] Arachnid commented on #191
That looks like a great start. How does it work with the amount of gas provided to a call? I realised last night that this gets really complicated with unqualified calls to other contracts; in that situation, Solidity sends all but a small amount of the gas - meaning that the 'high water mark' depends on the value of msg.gas, which makes estimating even harder. No matter what you set the gas limit

[2016-09-09 19:37] kvhnuke commented on #191
Now that I am revisiting the trace I think I took the harder way to estimate the gas using vmTrace, you can use the trace function and come up with the same results with less annoying loop 😉
`"trace": [
            {
                "action": {
                    "call": {
                        "callType": {
                            "call": []
                        },

[2016-09-10 18:51] federicoon commented on #180
I just tried to create an offline transaction, but the "Generate information" button is still not working.
Still using a proxy.

[2016-09-11 14:55] federicoon commented on #180
Yet another failure in step 3 (from the online computer) of an offline transaction with a HTTP proxy.
It didn't go through with Firefox, it worked with Chrome only

[2016-09-14 18:20] h3ll0fr13nd opened #219 ""OFFLLINE_Step1_Title" displayed in Send Offline tab"
In the "Send Offline" tab the first step's header text is displayed as "OFFLLINE_Step1_Title" instead of the actual translation for some languages due to a typo (double LL).

[2016-09-14 21:50] editzend opened #220 "Not Found"
Deleted

[2016-09-15 02:28] tayvano commented on #220
Handling via email.

[2016-09-15 02:28] #220 closed, assigned to nobody

[2016-09-16 07:33] tayvano commented on #219
Fixed (by reintroducing the typo for now)

[2016-09-16 07:33] #219 closed, assigned to nobody

[2016-09-16 07:33] #195 closed, assigned to tayvano

[2016-09-16 07:34] tayvano commented on #191
Alright it works! If you enter a contract address, it now auto updates the gas via estimate gas. Prety much the best thing ever. Thank you so much for your help here!

![screen shot 2016-09-16 at 12 33 05 am](https://cloud.githubusercontent.com/assets/7924827/18578525/58e8009c-7ba5-11e6-99c4-021225b28636.jpg)

[2016-09-16 07:34] #191 closed, assigned to kvhnuke

[2016-09-16 07:36] tayvano commented on #64
The gas now automatically updates for Send Only ETC / Send Only ETH. In addition, the "send entire balance" now works with these as well.

For send only, a teeny tiny bit may be leftover because of limitations with estimateGas. But, it's so close and much better than before.

![screen shot 2016-09-16 at 12 36 18 am](https://cloud.githubusercontent.com/assets/7924827/18578564/9d4864f2-7ba5-11e6-849

[2016-09-16 07:36] #64 closed, assigned to nobody

[2016-09-16 07:37] tayvano commented on #63
Estimate Gas is now way way way better so the gas auto-updates based on the address you are sending to, and therefore send total available balance "just works"

[2016-09-16 07:37] #63 closed, assigned to tayvano, kvhnuke

[2016-09-16 07:38] #49 closed, assigned to nobody

[2016-09-16 12:06] Arachnid commented on #191
That's awesome news!

[2016-09-18 15:12] federicoon opened #222 "Still NOT working when using a HTTP proxy"
Bug #180 should be reopened, as the issue is not solved, moreover when using a proxy both online and offline transactions will fail.
All command buttons ("Generate information", "Send Entire Balance", "Generate Transactions", etc.) do NOT work, neither with Firefox nor with Chrome, so the procedure cannot be completed.

[2016-09-18 22:12] tayvano commented on #222
I need you to provide me with more details. There were numerous people that confirmed it was now  working after we pushed the update.

[2016-09-19 11:33] federicoon commented on #222
This is what I get after entering the password:

![schermata da 2016-09-19 13-24-01](https://cloud.githubusercontent.com/assets/4541039/18631199/cd5c02e8-7e70-11e6-88ac-0e2ebd343c31.jpg)
Notice the account balance is not shown, so clicking the link "Send Entire Balance" has no effect.
If I manually set an amount to send instead, when I click "Generate Transactions" nothing happens.
What more detai

[2016-09-21 15:52] MRGiacalone opened #224 "Allow interaction and/or simply transaction approval of "Multisig Contract Wallets"."
After about 4-5 months of using the **Mist** wallet, I have realised that it is not very useful to have a full node for the type of operations that some of us usually perform. I am mainly using **Mist** because it allows me to send Ether from **Multisig Contract Wallets**.

The other parties to the contract use **myetherwallet.com** to interact with their wallets. This was my recommendation to avo

[2016-09-23 16:58] jiahaoc1993 opened #226 "Can I run it on a private chain？"
Please help

[2016-09-25 09:54] SjonHortensius opened #227 "FAQ/Security no longer up-to-date"
The security section of your FAQ seems to be out of date:
- It explains how to verify the site is running on GH; but it runs on Cloudflare instead
- It explains how to verify there is no network traffic; but it it continuously polls rpc.myetherwallet.com

[2016-09-28 03:08] tayvano commented on #222
Please right click, click "Inspect" or "Inspect Element" and click on the "Console" tab and either copy/paste the red text in there or take a screenshot. I just got another report of this with details and so we're looking into the cause further.

[2016-09-28 03:08] tayvano commented on #222
Internal note:

**Change the ETH / ETC / BTC / USD to say "loading" like tokens do instead of just being blank**

[2016-09-28 10:26] federicoon commented on #222
What element shall I inspect? The "Generate Transaction" button?

EDIT: I tried, but when clicking the button, **nothing** is displayed on the console

[2016-09-28 20:29] tayvano commented on #222
It doesn't matter --- the console will show any errors on the page. Do it once you have unlocked your wallet and seeing no loaded balances for best results.

[2016-09-29 17:35] federicoon commented on #222
The only console output is on the CSS tab (JS and others are empty):

Error in parsing value for ‘-webkit-text-size-adjust’.  Declaration dropped.etherwallet-master.min.css:2:155
Unknown pseudo-class or pseudo-element ‘-webkit-inner-spin-button’.  Ruleset ignored due to bad selector.etherwallet-master.min.css:2:1425
Unknown pseudo-class or pseudo-element ‘-webkit-search-cancel-button’.  Ruleset ig

[2016-09-29 20:52] kvhnuke commented on #222
can you send us a screenshot of the network tab, open the site then open developer tools click on network tab and refresh the page, this will show us all the network calls it makes.  Thank you for helping us figure out the issue

[2016-09-30 10:45] tayvano opened #229 "Master Security Update List"
1. No more Cloudflare, get an EV Cert (https://github.com/kvhnuke/etherwallet/issues/199)
2. Easier way to have "average" user run locally - this may mean a lightweight version with everything in a single page too.
3. Sign that shit ;) (https://github.com/kvhnuke/etherwallet/issues/21)
4. ~~Bring back the http://kvhnuke.github.io/etherwallet/ link too (https://github.com/kvhnuke/etherwallet/issues

[2016-09-30 21:42] tayvano opened #230 "Implement Offline Sending for ERC-20 Tokens"

[2016-09-30 21:44] tayvano commented on #226
@kvhnuke

Please write how-to on how to set up node & include details on private chains / testnet too. Add to main readme (not gh-pages readme)

[2016-09-30 22:07] tayvano commented on #224
This is going to be a fun one.
- Details on how Mist does it: https://klmoney.wordpress.com/beta7-contract-wallets/#c2g
- Need to figure out how to do it if 2 separate people / 2 separate computers are the owners of a multisig.
- Need to warn that all owner accounts need to have X amount of gas
- Need to warn about sending via contract to Coinbase & Shapeshift
- Need to warn about potential replay

[2016-09-30 22:19] tayvano commented on #222
Here's one that someone sent me earlier. Not sure if same issue.

etherwallet-master.js:27480 POST https://rpc.myetherwallet.com/api.mew 400 ()

[2016-09-30 22:24] tayvano opened #231 "Tokens: Don't die if a person adds a bad custom token + Add way for user to easliy remove custom token"
### Part 1

✅  If you add a token that is not actually a token (or perhaps not ERC-20 compliant) the token page and all subsequently loaded pages in that session will fail.

**Error in console:**

[code]

**To recreate**

Add a custom token using '0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8' + "Bad Token" + "1" Decimal.

*\* Fix**

Display error message next to bad token. Check to see if its valid

[2016-10-01 00:46] tayvano commented on #230
@kvhnuke -- all yours
- make the tokens show up (same as send tokens page, but without balance verification because we won't be able to get balances)
- hide the data input field if they selected a token as the address they have in the address field will be put into the data and we will use the address from the token in the generated TX
- change 21000 in Gas Limit field to 150000 if a token are sel

[2016-10-01 00:54] tayvano commented on #66
Apparently we can't do this bc Github doesn't let you if you have a custom domain. 😞

So we can either have a custom domain on a different host, or serve to MyEtherWallet.com directly via github.

If anyone knows a way to do this, please shoot me some links or add'l info.

[2016-10-01 00:54] #66 closed, assigned to kvhnuke

[2016-10-01 00:54] tayvano opened #232 "Chrome Extension: If trying to add a watch-only wallet that already exists as a watch-only or regular wallet, error out."

[2016-10-01 01:01] tayvano commented on #56
For future people -- please email us if you somehow got your hands on a V2 JSON file and we'll help you out. It's not the easiest thing in the world.

We have no plans of adding derivation or decryption of v2 keys as they were only used for a few weeks.

[2016-10-01 01:10] fortran77 commented on #229
Could item 4 (#66) be implemented on a forked repository?

[2016-10-01 01:45] Canalytic commented on #56
I've still never gotten the v2 JSON file to import , unfortunately ...

On Saturday, October 1, 2016, Taylor Van Orden notifications@github.com
wrote:

[2016-10-01 01:47] tayvano commented on #56
Shit... I thought we converted it for you? Or were you the one who found a different version of the key?

Or are you still trapped in the v2 wallet?

Regardless, shoot us an email and we'll try to actually help you out this time.

[2016-10-01 06:55] oneyesoneno opened #233 "Transaction nonce is too low. Try incrementing the nonce."
what should i do when i get those error ?? my balance at myetherwallet.com doesnt match with etherscan.io

[2016-10-01 07:00] kvhnuke commented on #233
Can you please email us your account address and tell us exactly on which page you encountered this error? Can you also please check the URL and make sure it is myetherwallet.com?
On Sep 30, 2016 11:56 PM, oneyesoneno notifications@github.com wrote:what should i do when i get those error ?? my balance at myetherwallet.com doesnt match with etherscan.io

—You are receiving this because you are subs

[2016-10-01 07:45] oneyesoneno commented on #233
yeah i just email to myetherwallet@gmail.com . ty

[2016-10-01 16:03] federicoon commented on #222
Here is the screenshot, with the above mentioned POST highlighted:
![Uploading Schermata da 2016-10-01 17-44-14.jpg…]()

WTF?? can't upload the screenshot:
"Something went really wrong, and we can’t process that file. "

[2016-10-01 21:22] tayvano commented on #222
Try uploading/linking to imgur or https://ipfs.pics/?

[2016-10-02 15:48] federicoon commented on #222
ok, let's give it a try:
[screenshot](https://ipfs.pics/Qmchv2UWWAH8Ra47HyvendDyqxqQu9cBv6MRToLKncA4fc)

[2016-10-03 21:58] mrdomino commented on #229
I notice that the Chrome extension requests permission to read and modify data on all websites. Is there any way to restrict this? (Posting here rather than a new issue since it seems like consolidation into one thread is desirable.)

[2016-10-03 22:59] tayvano commented on #229
@mrdomino Thank you for forcing me to do this. It's been on the list for a while.

I just removed a bunch of stuff and will test to make sure it works. We used a standard framework / starter kit for the chrome extension so I just spent way too much time trying to figure out what can be removed safely. I know we aren't using any data for any page at any point so there is no need for it, I just have

[2016-10-03 23:06] tayvano commented on #229
@fortran77 I just emailed github pages support to see if they could offer any insights into our unique situation. We are also moving off of Cloudflare in order to get the EV Certificate so maybe that will make a difference? Or maybe we set up another repo as you said. Just gotta figure out an easy way to commit to both.

[2016-10-04 00:48] mrdomino commented on #229
@tayvano That change looks reasonable to me. It's been a long time since I did anything with Chrome extensions, but if it builds and works then that's probably good.

[2016-10-04 17:16] tayvano opened #236 "Estimate gas isn't estimating enough gas for Send Only ETC?"
Example TX: https://gastracker.io/tx/0x3387cebe2f0686ed83168f92fed638d376219704c16b5aa003a72c721dcceced

I can get it to go through with 60000.

WTF.

[2016-10-04 17:45] tayvano commented on #213
https://www.reddit.com/r/ethereum/comments/51lwy8/ledger_wallet_problem_need_to_sweep_eth_help/d7dkm2p

[2016-10-05 23:50] tayvano commented on #222
Another similar report:

Error for this case is: ERR_NAME_NOT_RESOLVED for https:rpc.myetherwallet.com/api.mew

[2016-10-06 00:05] tayvano commented on #227
We need to partially solve this by removing latest block thing from offline / generate wallet / help / deploy pages.

aka - we should only attempt to get the latest block on send trans & send tokens & withdraw & claim. Or maybe make a dedicated page for that or something?

[2016-10-06 04:47] danfinlay opened #238 "Check for web3 global variable, use it if available"
This is going to sound like wallet-ception, but bear with me, it might just be crazy enough to be cool.

I'll illustrate by describing a user experience:

I'm a Mist/MetaMask user, and I hear about some cool new feature that was added to MyEtherWallet.  It's a voting tool for some important upcoming fork or something, I donno.  I click a link to MyEtherWallet.

Normally at this point, MEW would sh

[2016-10-06 11:21] SjonHortensius commented on #227
You could include https://www.gavick.com/blog/detect-offline-browser to detect the state and disable the checks (for the offline implementation); but it seems to me in this case you could also ignore any errors from the request itself and simply update the FAQ.

[2016-10-06 11:36] SjonHortensius commented on #21
I think there are a couple of things that could be improved:
- let the browser verify included javascript by including [Subresource Integrity hashes](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity)
- add a Content Security Policy and Strict-Transport-Security header to enforce tls
- combine this with [Public Key Pinning](https://www.owasp.org/index.php/Certificate_and_

[2016-10-06 20:24] keo commented on #233
I have the same problem. Please help :)

[2016-10-06 21:27] kvhnuke commented on #236
i added the new estimate gas to both gh-pages and mercury, it should fix the issue.

[2016-10-06 21:28] kvhnuke commented on #233
hi @keo can you give it a shot now, it seems like parity sometimes reports the wrong nonce, i updated the local parity version and I'll also look into this more. Thanks

[2016-10-07 07:39] keo commented on #233
Tried it with REP, worked now. Thanks!

[2016-10-08 06:57] tayvano commented on #236
Verified only etc and only eth are going thru successfully with estimate gas to brand new accounts and existing accounts. If anyone is still having TX's fail for only etc or only eth, please comment here.

[2016-10-08 06:57] #236 closed, assigned to nobody

[2016-10-08 06:57] tayvano commented on #232
Fixed.

[2016-10-08 06:57] #232 closed, assigned to kvhnuke

[2016-10-08 07:36] tayvano commented on #231
Done and doner

[2016-10-08 07:36] #231 closed, assigned to kvhnuke

[2016-10-08 07:37] tayvano commented on #230
There may need to be some cleanup on the address field as it may cause confusion as we switch it to the token address, but we will see how it goes. Other than that, it works.

[2016-10-08 07:37] #230 closed, assigned to kvhnuke

[2016-10-08 07:38] tayvano commented on #213
Step 2 will be giving the user the ability to unlock the HD levels down...cleanly. For now, it's done.

[2016-10-08 07:38] #213 closed, assigned to kvhnuke

[2016-10-11 11:34] apobekiaris opened #239 "Unexpected token U in JSON at position 0"
When ever i try to initiate a transaction from the chrome addin I get this error, it looks like it is before validating the wallet password

[2016-10-11 17:52] uzyn opened #240 "Allows calling of contract method given ABI"
There is a Data field at Send Ether tab, but no simple means to obtain the data.

Just thought it would be nice to have the ability to interact with contracts right from MyEtherWallet given contract ABI.

[2016-10-11 20:55] tayvano commented on #240
We agree 100%.

We actually have an old branch with a generic contract frontend - it just hasn't been set up yet. This would allow you to interact with a contract, similar to Mist. You provide address / ABI and you can see all the read/write functions and then interact with that contract with any account of yours.

It's a lot of work and testing and we will get there eventually. 😄

[2016-10-11 20:58] tayvano commented on #239
I believe this happens when your JSON file has been saved as a rich text document. Did you re-save your JSON file at any point?

Open it in notepad or textedit or a text editor like sublime text and take a look. It should look like:

`{"version":3,"id":"de466439-e8c1-42f9-af21-f9f72af30042","address":"488a6bbea3ebd94125c8cc535d8e1f690799812c","Crypto":{"ciphertext":"7e4fa7338ded25cc818b0c8222c4e10

[2016-10-13 01:12] chiwalfrm opened #242 "Does not work on Windows XP 32-bit"
Tested with latest version of Chrome (49.0.2623.112m) and Firefox (49.0.1).
Tested with both the downloaded version to local PC and the website version.
First step: "Generate Wallet" function works fine.
Second step: Attempted "Send Ether" function but nothing happens when clicking "Generate Transaction".  No error message, but button does nothing.

[2016-10-17 09:44] apobekiaris commented on #239
On Tue, Oct 11, 2016 at 11:58 PM, Taylor Van Orden <notifications@github.com

I am not sure how this answer relates to my question, what I use is the
chrome extension and the wallet is already displayed there. I did open a
back I had and the format looks like what you said but starts form the
address however this is a backup on my disk and not the chrome extension
wallet

##

Apostolis Bekiaris
Fr

[2016-10-17 09:59] apobekiaris commented on #239
hmm apparently there is an issue with the chrome extension since after my
today attempt to use it i got a corrupted extension message. So more
problems coming :(

1) do I need to make wallet back on every transaction I make?
2) I tried the chrome extension to add wallet so I click on Add wallet then
I click Select Your Wallet File (Keystore / JSON) then point to my walett
backup then password then

[2016-10-18 14:50] danimesq opened #249 "Add ICONOMI/ICN asset"
ICONOMI was one of the biggest ICOs in this year, and is one of the more succesfull Ethereum assets. Why not add it?

[2016-10-18 15:13] Paxxil commented on #249
It will be released next week, so it would be great if you added support for ICN tokens to your wallet.

[2016-10-18 15:17] danimesq commented on #249
ICONOMI is so great like Augur REP's. The genesis block is to be launch in october 25th.

[2016-10-18 16:44] tayvano commented on #249
Ugh. I don't know how many times I have to say this.

WE CANNOT ADD ANY TOKEN WITHOUT THE ADDRESS AND DECIMALS.

If you provide us with those two pieces of information we can add it.

[2016-10-18 17:05] jani8x commented on #249
@tayvano here people are just making sure to notice ICONOMI (but yeah, I know how annoying that can be to hear repeatedly same requests).
We'll provide address and decimals (18 decimals there will be) within few days (once contract is deployed and values assigned to designated addresses).

[2016-10-18 17:32] tayvano commented on #249
I understand that but I'm getting 20+ emails / tweets / reddit message a day right now asking the same question about ICO. We typically receive around 30-40 messages a day with legit support requests.

Raving about how great a token is in my support inbox is not going to prompt us to add the token any faster. We do not add tokens based on emails or our personal feelings on a token. We add them whe

[2016-10-18 17:32] #249 closed, assigned to nobody

[2016-10-20 16:31] apobekiaris commented on #239
anyone?

[2016-10-21 10:39] apobekiaris commented on #239
up2u my reviews will burn u and with all rights your support is zero and the wallet not stable

[2016-10-22 22:08] j13n commented on #239
Actually, I have the same problem as well.

[2016-10-26 12:46] apobekiaris commented on #239
if u lucky u do not have enough money in that wallet cause it seems that these a scum which apparently forget that we also have power in our hands and we can create bad publicity for them. ALready posted a few reviews and i suggest u do the same maybe this will wake them up

[2016-10-26 20:56] tayvano commented on #239
Wow. @apobekiaris - we provide a free, open source service in which we remind you numerous times to BACK UP YOUR PRIVATE KEYS IN NUMEROUS LOCATIONS. I have been terrifically busy the past couple weeks so I apologize for not getting to your questions but you have no right to speak to me in this way, nor do you have the right to "post numerous reviews" shitting on our service.

Let me remind you, on

[2016-10-26 20:56] #239 closed, assigned to nobody

[2016-10-26 20:57] kvhnuke commented on #239
Please feel free to use your power, we do everything we can and fix bugs as we get time to work on them. We also have day jobs which allow us to offer these services for free to you and pay for the servers which you are using. Ill look into this at my earliest convenience but I don't appreciate the way how you are handling this issue.

[2016-10-26 20:57] tayvano commented on #242
This typically happens when you are offline or behind a firewall where the Send Ether tab cannot communicate with the node in order to grab information like gas price and nonce of an account.

Are you seeing your ETH / ETC balances on the Send Ether tab?

[2016-10-27 05:31] apobekiaris commented on #239
@tayvano  nice I see you wake up and left your mirror and your make ups. Now can you please focus on my question? What I ask is really simple and u keep lock my money for so long. Where is the button to add the wallet? Am I not clear? **I can add the wallet unlock it but does not persist**

[2016-10-27 06:03] #233 closed, assigned to nobody

[2016-10-27 06:05] tayvano opened #257 "Error message: "Transaction fee is too low. There is another transaction with same nonce in the queue. Try increasing the fee or incrementing the nonce.""
Common error message being received by our users. We have no idea how to fix this at this time besides refreshing and try to send the transaction again.

Trying to get more info here: https://github.com/ethcore/parity/issues/2908

[2016-10-27 06:09] tayvano opened #258 "NEW PAGE: myetherwallet.com/stats"
Remove block number from every page (see #229) and create new page w:

Gas Price

Difficulty

Gas Limit

Current block #

[2016-10-27 06:16] tayvano commented on #257
hehe. this may be related to:

[2016-10-27 06:36] tayvano commented on #239
Haha. I guess I wasn't clear: we don't provide support to dicks such as yourself. We are not a web wallet and do not have your funds, nor do we have the ability to lock up said funds.

Have a nice evening.

[2016-10-27 08:12] j13n opened #259 "Error View Wallet Info "Invalid password. :RangeError: private key length is invalid""
Hi,

I'm trying to view the wallet to download the corresponding keys. After entering my password I get the "Viewing wallet" screen, although nothing is filled in. However, in the console I see a "Invalid password. :RangeError: private key length is invalid" error. I'm positive that I am using the right password. The behaviour is different when I enter a invalid password which just returns me an "

[2016-10-27 08:15] apobekiaris commented on #239
@tayvano

yeah its obvious u do not know what your project or os in general is about maybe u should ask your dolls

[2016-10-27 08:22] apobekiaris commented on #239
@tayvano btw i am sure u learn your lesson by now and at least u will provide better support to others from now on. and btw my wallet is empty cause i would never trust my money to a project which prioritize mirrors makeups and dolls. Same nice evening to you :)

[2016-10-27 08:22] kvhnuke commented on #239
Seriously dude go take a chill pill, the only reason why your issue is going down in the list is cz of your rude personality. No shit your funds are locked up!

[2016-10-27 08:23] apobekiaris commented on #239
yeah try twice to lock them up hahahhahahah u dump head people

[2016-10-27 08:24] tayvano commented on #259
edit:

# Post-issue summary here: https://github.com/kvhnuke/etherwallet/issues/259#issuecomment-258577480. You're not going to want to read this whole thread and it's mostly trying to figure out what was happening, not how to solve it.

---

I just went through all the emails and the only time we've received a message regarding this that eventually got resolved was with a guy using an private key

[2016-10-27 08:29] kvhnuke commented on #239
Hahahahahahahaha so funny we have a comedian in the house 😂

[2016-10-27 08:33] tayvano commented on #239
@apobekiaris I literally answer 50+ emails per day helping people. I am NOTHING but kind and patient until people like you act like misogynistic dweebs who cannot read, nor write. I took 7 days off to get married. Instead of allowing me to help you by....you know....reading what I had posted 15 days ago (exactly 1 day after you initially asked your question) you decided I wasn't helping you.

You

[2016-10-27 08:38] tayvano commented on #259
Ugh. Okay. This is going to get messy. Bear with me.

In a NEW text document paste the following:

`{"address":"ADDRESS_HERE","Crypto":{"cipher":"aes-128-ctr","ciphertext":"CIPHERTEXT_HERE","cipherparams":{"iv":"IV_HERE"},"kdf":"scrypt","kdfparams":{"dklen":32,"n":N_HERE,"p":1,"r":8,"salt":"SALT_HERE"},"mac":"MAC_HERE"},"id":"ID_HERE","version":3}`

Copy the Address, Ciphertext, IV, N, SALT, mac,

[2016-10-27 18:09] tayvano opened #260 "Error Messages for Ledger Stuff"
1. Replace "Ledger Wallet" by "Ledger Nano S" in the choices
2. Tell it requires Firmware 1.2 - update via https://www.ledgerwallet.com/apps/manager
3. Display "In order to connect to your Ledger, you must be using Chrome or Opera." if using a browser other than Chrome/Opera
4. Display "In order to connect to your Ledger, you must do so over a secure (SSL/HTTPS) connection."

[2016-10-27 18:33] j13n commented on #259
Hi @tayvano, ok so I have a different output when pasting the first command you mentioned. The JSON that returned only had the "nick", "priv" and "type" keys like this:

`Object {0x093<removed>: "{"nick":"Wallet","priv":"<removed>","type":"wallet"}"}0x093<removed>: "{"nick":"Wallet","priv":"<removed>","type":"wallet"}"`

I'm guessing that is causing the error... Seen this before?

Many thanks for

[2016-10-27 19:10] tayvano commented on #259
Oh that's interesting. Hmmmm...

We did a lot of testing before migrating to the new keys (months and months ago) so that this wouldn't be an issue but apparently something went wrong somewhere.

Try copying _just_ the information after `"priv":` and pasting it into https://www.myetherwallet.com/#view-wallet-info -> Private Key

It should ask for your password.

If it decrypts that way successfull

[2016-10-28 15:52] acvanzant opened #262 "Trezor support"
Now that Trezor supports Ethereum in its actual release version could we add support for it to this wallet? Would be happy to test with my Trezor.

[2016-10-28 21:13] tayvano commented on #262
The Ledger team added their own support. (see https://github.com/kvhnuke/etherwallet/pull/248) I'm not sure if Trezor has this functionality, let alone where to even start to implement it.

Do other wallets have Trezor support?

[2016-10-28 21:17] #260 closed, assigned to nobody

[2016-10-28 21:33] tayvano commented on #226
Kvhnuke finished (?) his guide. Let me know if anything is confusing or there are missing steps or anything. (This is over my head)

---

## MyEtherWallet: Use Your Own Server Guide
1. Download the latest copy of MyEtherWallet at https://github.com/kvhnuke/etherwallet/releases. You are going to want the source code - not the gh-pages or chrome-extension release as they do not contain the relay.
2.

[2016-10-29 01:38] kayagoban commented on #226
Pretty good.  Now, how hard would it be to replace these constant strings with user-configurable IP addresses so no coding is needed to make these changes?

(I am a programmer, but 99% of everybody else is not)

[2016-10-30 04:03] jiahaoc1993 commented on #226
THANK　ＹＯＵ　ＶＥＲＲＲＲＲＲＲＹ　ＭＵＣＨ！！！！

[2016-10-30 09:45] odotan opened #266 "Feature request: Viewing an address should also display all tokens associated with it"
View all tokens held by an address, without having to enter the private key.

Simply viewing an address should also display all tokens associated with it, such as Digix DGD, Augur REP's etc. Sometimes I like to check my balances for certain tokens and now I need the private key in the "view wallet info" seciton to do that.

[2016-10-30 09:53] odotan commented on #31
Would still be nice to have it as an option in the UI. The UI should allow you to send to multiple addresses, and allow you to select a "change address", like in bitcoin, while in the background it should actually send multiple transactions. In the above example, three transactions should take place. One sending 10 from A to B, another sending 20 from A to C, and a third transaction sending the re

[2016-10-30 09:58] odotan commented on #29
Generating a single wallet does allow you to select a password (it forces you to select a password actually). Why does bulk generating not allow you to do the same? I understand that there isn't an official standard, but why don't you use the same type of encryption for the bulk wallets as you use for the single wallet? Thanks

[2016-10-30 10:44] j13n commented on #259
Ok. So when I went to the myetherwallet.com wallet it decrypted succesfully (although nothing happened afterwards, just the message in green). However in the console I noticed the following:

![selection_002](https://cloud.githubusercontent.com/assets/5645903/19836042/ee0da704-9e95-11e6-8486-27b168521134.png)

Thanks for the help so far! It is really appreciated.

[2016-11-02 10:54] vied12 commented on #259
I have exactly the same problem when I try open my keystore file on https://www.myetherwallet.com
Please let us know if you have found a solution or if you need additional information

[2016-11-02 22:13] tayvano commented on #259
I just went through all my old backups and still can't recreate this issue. 😠

Can you give me details like:

Where did the file come from?  When / where was the wallet generated? How many characters is the private key? Or, if it's a JSON, what are some of the keys that are in it (januszdotnl already did this above)

I'm going to try to revert back to an old version of the chrome extension, genera

[2016-11-02 22:16] #192 closed, assigned to nobody

[2016-11-02 22:28] tayvano commented on #259
Here's another report when user was trying to use ledger on offline. Wondering if it can also help narrow down where this error is coming from.

https://www.reddit.com/r/ethtrader/comments/58o12k/has_myetherwallet_backend_been_down_during_the/d92cwa6/

[2016-11-02 23:59] tayvano commented on #259
So I just tested with all private key versions found in

CX v 0.0.3
CX v 0.2.2
CX v 3.1.3

And had no issues. I also created a key in 0.0.3 and then updated the app to  0.2.2 and then 3.1.3 and still had no issues decrypting or viewing the wallet.

Now I'm really confused.

[2016-11-03 02:00] tayvano commented on #266
This will be live tonight

[2016-11-03 02:00] #266 closed, assigned to nobody

[2016-11-03 05:42] conor10 opened #269 "Update params in keystore files to be more consistent with geth and parity and/or change to use pbkdf2"
In the wallet files you generate, the kdf field value is defined as "scrypt", however, based on the parameters provided, it should be defined as "pbkdf2" according to the [Secret Storage Definition](https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition).

Additionally, it should not contain the "r" parameter in this definition, and the value of "prf" should be "hmac-sha256".

See th

[2016-11-03 06:23] tayvano commented on #269
So I just generated a brand new account with geth (Version: 1.4.18-stable-c72f5459) and got:

[code]

So either geth very recently changed to use pbkdf2 over scrypt (is there even a newer version out?), or there is something else causing the difference. Perhaps OS? I have no idea. Regardless, all the differences are a result of using `scrypt` rather than `pbkdf2`.

Parity v1.4.0 does use pbkdf2:

[2016-11-03 07:04] conor10 commented on #269
I've been adding support for wallets in [web3j](https://github.com/web3j/web3j), and noticed the above. It's not a huge issue for me, but thought you'd be interested to know.

[2016-11-03 07:19] tayvano commented on #269
Absolutely. Thank you for pointing it out. We'll keep this in mind as we move forward and probably switch it if we change anything else and then test it all extensively. 😄

[2016-11-03 08:01] conor10 commented on #269
No problem. One other thing I've noticed - it looks like the "Crypto" parameter name should be "crypto" to be consistent with Geth/Parity.

[2016-11-03 08:09] tayvano commented on #259
@vied12  @januszdotnl

Do either of you have a version of the key that is NOT working that does NOT have your life savings in it that you would be willing to email us?

We've been looking through stuff all night and cannot figure out what is going on.

We would attempt to convert to a working key first and immediately transfer all the funds in it to a new address that you designate. Then we would

[2016-11-03 09:25] vied12 commented on #259
Hi @tayvano ,
It has been generated by Ethereum-Wallet-linux64-0-7-2 the last 27th May.
It's not a version issue, because the day before, the 26th May, I created another wallet in the same conditions that I am able to open on https://www.myetherwallet.com/#view-wallet-info

json file name: _UTC--2016-05-27T06-58-44.141984544Z--4692c5add9815e24b1b23ccc016280b3d54ff359_
`{"address":"4692c5add9815e24

[2016-11-03 10:08] tayvano commented on #259
@vied12 Thank you.

So I replaced the address, ciphertext, iv, salt, mac, and id with the values found in one of my keystore files created around the same time via ethereum wallet mac and it decrypted. the cipher, kdf, n, and so on already matched. So it's not a file format thing.

Let's try this: can you save the following in a file named like `test` and see if you can unlock it via https://www.m

[2016-11-03 10:12] vied12 commented on #259
Thanks for keeping trying :)

I can unlock it

Le jeu. 3 nov. 2016 à 11:08, Taylor Van Orden notifications@github.com a
écrit :

[2016-11-03 10:18] vied12 commented on #259
Maybe this can help. My private key in the buffer is only 31 length, when it should be 32.

![selection_097](https://cloud.githubusercontent.com/assets/180617/19962269/2a983f12-a1b7-11e6-8a57-7dc456a83ce0.png)

[2016-11-03 11:00] tayvano commented on #259
@vied12 That's actually quite helpful.

So what I'm guessing is that something we are using implemented better checks for private key length and that's why this is happening? I thought it might have been ethereumjs-utils but apparently rolling that back breaks the entire site.

So instead, I'm going to have YOU roll back and see if you can decrypt there and then at least you can (hopefully) decryp

[2016-11-03 11:15] vied12 commented on #259
Haha yes go find some rest that you deserve !

Unfortunately I have the same error with https://github.com/kvhnuke/etherwallet/archive/dfda56db1a3408a52e29afbcaedd64363b4fe9ea.zip

Good night and sweet dreams

[2016-11-03 11:20] tayvano commented on #259
Poop. I had high hopes for that. We can try going back further in time?

Im starting to wonder if this is an ethereum wallet issue.

@januszdotnl what is the N value in your private key that isn't working? 262144?

[2016-11-03 12:00] tayvano commented on #259
Found it. Look like everyone's ensuring 32 bytes now. I'm sure we updated a library that now checks for 32 bytes when it didn't before. And since there's such a low probability of having a key with 31 bytes, we couldn't recreate. @kvhnuke can fix by adding padding tomorrow. Good details in this issue:

https://github.com/ethcore/parity/issues/2263

[2016-11-03 15:45] vied12 commented on #259
Cool! Thanks a lot for all your investigations ! I'm waiting for any update
then

Le jeu. 3 nov. 2016 à 13:00, Taylor Van Orden notifications@github.com a
écrit :

[2016-11-03 19:51] tayvano opened #271 ""Cannot read property ops of null" when pressing button on sendtx tab"
![ii_1582a3859f3a9d4c](https://cloud.githubusercontent.com/assets/7924827/19982601/f1e9f856-a1c3-11e6-9ef2-75dbaf2afa85.png)

"I got this error and don't cant send ether. the button generate trasaction do not generate anything
. It's the same problem in the website and chrome extension."

"Here is error from chrome console:
Cannot read property 'ops' of null

while I click on Send Ether Button

I'

[2016-11-03 20:00] tayvano commented on #257
This was a combo of an out of sync node + some changes to the estimateGas RPC call.

It's been resolved with some changes in parity and how we handle estimateGas

[2016-11-03 20:00] #257 closed, assigned to nobody

[2016-11-03 20:01] tayvano commented on #259
keys to test with: https://github.com/Gustav-Simonsson/go-ethereum/blob/7cc6b801e0967e5ebfa26b9f670675acea6e3a20/accounts/testdata/v3_test_vector.json

implementing in next couple hours

[2016-11-03 21:33] tayvano commented on #259
Alright just pushed an update (#dc995ff) which hopefully fixes it. Not live on the Chrome Extension yet, so please try on MyEtherWallet.com

[2016-11-03 23:59] tayvano commented on #271
Resolved in commit f1b6a13. No longer occurring in >v0.3.2.1

[2016-11-03 23:59] #271 closed, assigned to kvhnuke

[2016-11-04 00:00] tayvano commented on #259
Resolved in f1b6a13 by padding keys with 30 or 31 bytes so they are the required 32 bytes. No longer occuring in >v0.3.2.1

[2016-11-04 00:00] #259 closed, assigned to nobody

[2016-11-04 07:56] vied12 commented on #259
It works now perfectly ! Thanks again

[2016-11-04 08:01] tayvano commented on #259
@vied12 Yay! So glad we finally got this worked out. What a weird situation.

Go buy a lotto ticket. You were one of the lucky 0.3% to have a key with 31 bytes. 🎰

[2016-11-04 22:21] tayvano commented on #269
I just realized that our issue #259 may be pertinent to what you are working on. Essentially some clients can occasionally generate valid private keys that are 30 or 31 bytes - namely geth. I believe geth had updated now but you will likely still need to import these rare keys. Padding left to the required 32 is all that needs to be done. There are links in our thread to the other pertinent thread

[2016-11-05 00:20] tayvano commented on #259
Since this thread is long but certainly going to be something that other developers encounter, here is a summation.
1. Geth (and possibly others) sometimes generate valid private keys that are <32 bytes. Read about the details of how / why / how often this happens and why its valid: https://github.com/paritytech/parity/issues/2263#issuecomment-249287712
2. Some libraries check for == 32 bytes rath

[2016-11-05 00:56] tayvano opened #273 "Embedded send tab"
1. Update URi scheme to have send mode and change dropdown

2. If send more is a token the user doesnt have a balance of, show it in sidebar and dropdown anyways.

3. Turn ng show for the tokens to be in controller bc fuck that string is long.

4. Send users address and tx id to parent frame.

5.  Clean up and minimalize it all.

[2016-11-06 09:44] vikulin opened #276 "Sometimes Account Balance, Equivalent Values show permanent loading"
Sometimes Account Balance, Equivalent Values show permanent loading:

![Loading](http://i.piccy.info/i9/aa0876137b165e0831d5c3163e8a9a27/1478425417/12731/1086894/Selection_042.jpg)

[2016-11-08 17:10] vikulin commented on #276
Not reproduced on v 3.0. Reproduces on v 3.2.

[2016-11-11 15:03] tayvano opened #280 "Invalid status 6a80 when trying to generate a transaction"

[2016-11-11 15:05] tayvano commented on #280
### Solution(s)

When you are connected via a Ledger you will sometimes encounter this error when attempting to generate a transaction. It may be because....
- You are not using a secure (SSL) connection
- You are not using Chrome/Opera
- You are attempting to send a transaction that has data without first turning "contract data" ON in your ledger settings (it's right above 'browser support')
- ??

[2016-11-11 15:05] #280 closed, assigned to nobody

[2016-11-11 15:30] tayvano opened #281 "Create Embedded Send Page"
Embeddable send page specifically for token sales / crowdfunds will be implemented. This will be similar to http://www.myetherwallet.com/embedded.html but for the send page. It will only accept URLs with query strings for sendMode or tokenSymbol and only load the ETH and/or selected token balance. It will not estimate gas. See the "Better URI support" section for details.

- Show only 1 sendMode b

[2016-11-17 17:56] pipermerriam commented on #65
Just voicing that the ability to sign arbitrary messages would be helpful for anyone who has a devcon2 token needing upgrading.

[2016-11-19 06:53] tayvano opened #282 "Cleanup sidebar information to be directives that can be used on any page"
Chrome Extension too. Balances for ETH / USD / Tokens needs to be under the view panel.

[2016-11-19 06:56] #242 closed, assigned to nobody

[2016-11-19 06:57] #198 closed, assigned to nobody

[2016-11-19 17:11] ithinuel commented on #276
Reproduced on v3.2 and got

[code]

in chrome's console.

[2016-11-20 07:36] jzu opened #283 "Update URI parameters to match ERC spec better & work with tokens"
Bitcoin has a bitcoin: scheme ([BIP 21](https://github.com/bitcoin/bips/blob/master/bip-0021.mediawiki)), and btw it launches Armory on my Debian with Chrome (FF only launches Chrome by default. Oh well.) Alex Van de Sande has proposed [ERC: Standard URI scheme with metadata, value and byte code](https://github.com/ethereum/EIPs/issues/67), but it isn't ready yet.

In the meantime, I propose exten

[2016-11-20 08:44] tayvano commented on #283
The send page already has URIs implemented. Docs need to be updated but:

Example of a custom link w/ data: A transaction with a gas limit of `23000`, some `data`, to our `donation address`, for `0.5ETH`:

https://www.myetherwallet.com/?gaslimit=23000&data=5468616e6b20796f752c204d455720322e30&to=0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8&value=0.5#send-transaction
- gaslimit=[number]
- data=[hex d

[2016-11-20 08:59] tayvano commented on #196
`ng-keyup="$event.keyCode == 13 && myFunction()"`

[2016-11-20 09:15] tayvano commented on #196
finnnnallllly

[2016-11-20 09:15] #196 closed, assigned to nobody

[2016-11-20 09:35] jzu commented on #283
Simply great, thanks.

[2016-11-20 11:55] tayvano opened #284 "Implement new send safe reply thingy for hard fork by the hard fork."
Clean up anything that we don't need anymore while you're at it.

[2016-11-20 11:59] tayvano commented on #227
Slowly got around to updating all this. Let me know if I missed some.

[2016-11-20 11:59] #227 closed, assigned to tayvano

[2016-11-20 12:06] tayvano commented on #65
Research on how others do it:
- https://support.coinbase.com/customer/portal/articles/1526413-how-do-i-sign-a-message-with-a-bitcoin-address-
- http://imgur.com/a/nUmZ0#aZjRyKX
- https://ip.bitcointalk.org/?u=https%3A%2F%2Fi.imgur.com%2FftumD67.png&t=570&c=cGpa0leGXPYigQ
- https://ip.bitcointalk.org/?u=https%3A%2F%2Fi.imgur.com%2FqXbURuy.png&t=570&c=VTeZrjBoLTdLHA
- https://ip.bitcointalk.org/?u=h

[2016-11-20 12:08] tayvano opened #285 "Misc CX Bugs"
- ~~Identicons get our of order when you edit the name~~

- No eth or token balances when you view a wallet on #my-walet page. (the lower section)

[2016-11-21 04:05] tayvano commented on #283
Tests

1. ?gaslimit=23000#send-transaction ☑

2. ?gas=23000#send-transaction ☑

3. ?data=5468616e6b20796f752c204d455720322e30#send-transaction ☑

4. ?to=0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8#send-transaction ☑

5. ?value=0.5#send-transaction ☑

6. ?sendMode=0#send-transaction ☑

7. ?sendMode=1#send-transaction ☑

8. ?sendMode=2#send-transaction ☑

9. ?sendMode=3#send-transaction ☑

10. ?sendM

[2016-11-21 05:51] tayvano commented on #283
Done. Commits: 81c7bb1 331719d a80dd24 5ef87aeb a560d76

----

### Final options:

- **to=[address]**
    - default is empty
- **value=[number]**
    - default is empty
-  **sendMode=0 | 1 | 2 | 4**
    - default is 0
-  **tokenSymbol = ARC | ICN | MKR | ....**
    - default is whatever the first token in the list is if sendMode is set to 4
    - BeerCoin and Unicorn are those words, sans emoji
-

[2016-11-21 05:51] #283 closed, assigned to kvhnuke

[2016-11-21 07:00] tayvano commented on #283
Shoot.

In the next couple weeks we will revisit this as the send modes will be:

ETH
ONLY ETC
TOKENS

or we may drop ETC completely.

[2016-11-21 08:50] #285 closed, assigned to kvhnuke

[2016-11-21 08:53] tayvano commented on #284
I don't know what ETC plans are, but as things are right now, yes
Or rather; assuming ETC do nothing; you'll still have to use old tx syntax for etc chain; and those will still be replayable on post-155 ETH chain, due to backward compatibility

Last I heard from ETC on the issue was: https://github.com/ethereumproject/ECIPs/pull/10

Plan A:
- Standard Tx will follow 155
- Remove ETC from site unti

[2016-11-21 11:50] TonyMarq opened #288 "Restore MyEtherWallet and have a shortcut access to the desktop"
Hi,

Can someone help me restore MyEther Wallet?
Also, how do I create a Desktop icon to access it.?

Thanks,
Tony

[2016-11-21 19:09] tayvano opened #289 "Add support for Parity mnemonic private key system"
https://github.com/ethereum/wiki/wiki/Brain-Wallet

https://github.com/ethcore/parity/blob/master/ethkey/src/brain.rs#L30

[2016-11-21 19:11] tayvano commented on #288
Can you please explain what you mean by this?

http://www.laptopmag.com/articles/how-to-create-desktop-shortcuts-for-web-pages-using-chrome

[2016-11-21 19:17] tayvano commented on #56
Future peeps: Please start a new issue or email us if you have a v2 keystore file that cannot be unlocked.

[2016-11-21 19:17] #56 closed, assigned to nobody

[2016-11-21 19:22] tayvano opened #290 "Set up load balancer -> turn on lightweight mode when traffic reaches certain point"
1. Further upgrades to servers and implementation of a proper load balancer to support at least 2x what we current support.

2. Changes to give user feedback on the status of their request, even when the server is under extreme load. Giving immediate feedback rather than giving users uninformative errors 30s after a request is sent. The fact this wasn't implemented long ago is fucking bonkers and

[2016-11-21 19:22] tayvano opened #291 "New Page: Premium Send Page"
Setting up a "premium" page will act as another "load balancer". Transactions sent via this page will be sent via completely separate backend and only transactions with a fee paid to MyEtherWallet will be accepted. Since 99% of users don't pay, if you do you'll be part of the 1%, ensuring your transaction goes through. ;)

[2016-11-21 19:25] #273 closed, assigned to tayvano

[2016-11-21 19:36] tayvano commented on #229
Unfinished items all have their own issues now.

Main things that changed in response to this issue:

- No more chrome extension permissions
- View wallet now has option for viewing info with just your address
- UI/Copy updates with security in mind

[2016-11-21 19:36] #229 closed, assigned to tayvano, kvhnuke

[2016-11-21 20:55] Nogreedy opened #292 "Please, add the possibility to use Google Authenticator and/or Yubikey 2FA to secure transactions"
Please, add the possibility to use Google Authenticator and/or Yubikey 2FA to secure transactions
Thanks for your great app - website.

[2016-11-21 22:01] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-21 22:01] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-21 22:13] TonyMarq commented on #288
Hi, and thank you for the response. I'm trying to get a visual wallet icon of My Ether Wallet that similar to any other offline wallet like Jaxx, Exodus, that show up as an icon on my desktop. For some reason, I thought I could do this. Or, is etherscan.io the only way to view the account?

[2016-11-21 22:27] acvanzant commented on #262
I don't believe any wallets have Trezor support. They're working to get it into Mist but this is the most convenient tool out there, currently.

hey, @trezor

[2016-11-21 22:32] tayvano commented on #288
Ah. I'm guessing you can manually change the icon yourself since we're a website it's probably going to be the Chrome icon by default. Here's the logo.

![etherwallet-logo-02 copy](https://cloud.githubusercontent.com/assets/7924827/20503396/2fe802ba-aff7-11e6-9780-278ae126ae63.png)

Etherscan is quickest way to view transaction history and current balance. You can also do so on the  https://www.my

[2016-11-21 23:16] tayvano commented on #284
Plan A is the winner.

- Standard Tx will follow EIP-155
- Remove Send Only ETH
- Remove Send Only ETC from site (until they implement their version of EIP-155?)
- Tell people to use an old version of the repo  (https://github.com/kvhnuke/etherwallet/releases/tag/v0.3.2.6) if they want to Send Only ETC.

[2016-11-22 22:05] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-22 22:09] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-22 23:57] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-22 23:57] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-23 22:33] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-23 22:33] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-24 00:51] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-24 00:53] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-25 01:03] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-25 02:56] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-25 10:05] chriseth opened #298 "Automatic metadata retrieval"
Solidity will soon add a "metadata hash" to the bytecode of deployed contracts. This is a swarm hash of a json file that includes the ABI and NatSpec information, among others. MyEtherWallet could try to retrieve that file (either from its own swarm node or via swarm-gateways.net) at the point a user wants to interact with a contract and use the ABI information to automatically generate a generic

[2016-11-25 23:40] paulpotter commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-11-26 23:14] #284 closed, assigned to kvhnuke

[2016-11-26 23:18] tayvano opened #299 "Add Ropsten node. Remove ETC node. Add dropdown to switch between the two globally"

[2016-11-28 05:12] tayvano commented on #65
Input welcome: do you think we should...

- auto-include date/timestamp
- just include a date field that encourages a user to input a date (even if there is no validation on it)
- don't bother. just have a message textarea and the user can choose to include whatever they want

[2016-11-28 10:16] tayvano commented on #65
Could probably do with some better messaging and cleanup but let me know your thoughts.

https://www.myetherwallet.com/#sign-message

To be clear: we were going to push this tomorrow or the next day after some cleanup and further research but had some other pushes and didn't feel like hiding everything to push those. We were lazy, this was functioning, let's see what the people have to say. There

[2016-11-30 22:11] kevinday commented on #280
I am still seeing this error occasionally despite satisfying all the conditions listed above.

[2016-11-30 22:50] tayvano commented on #280
You are absolutely positive your contract data is switched to the ON position?

[2016-11-30 23:02] kevinday commented on #280
Hmm, I can't reproduce this anymore. Unplugged/plugged back in the Ledger and everything seems to be working fine now. Ignore this for now - I will post back if I encounter this again. Thanks!

[2016-12-03 16:32] #65 closed, assigned to tayvano

[2016-12-03 16:33] #282 closed, assigned to kvhnuke

[2016-12-12 16:04] mmazi opened #307 "Allow selection of BIP 44 accounts (BIP 44 level 3 index)"
MyEtherWallet seems to only ever use the `m/44'/60'/0'/0/0` [BIP 44](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki) path. As a user, I'd like to be able to select the _account_ number, i.e. the 3rd level index in the chain that is now fixed to `0'`.

(The fourth level (_change_) probably doesn't need to be selectable by the user as it is a technical detail, and moreover only makes

[2016-12-12 16:40] mmazi commented on #307
Um, actually it seems that MyEtherWallet uses `m/44'/60'/0'` (with Ledger Wallet) and derives addresses directly from this key as children instead of deriving keys from its 0-indexed child (the external chain) as specified by BIP 44. Why is this so?

[2016-12-12 16:52] tayvano commented on #307
We use the specifications and paths used by metamask and jaxx and ether.cards and ledger to decrypt ethereum keys. We didn't make up new paths or re-invent the wheel. We just did what as necessary to unlock the same addresses that users were already using on these other products and services.

 I'm curious to know which service you generated a wallet with that didn't use this/these paths?

[2016-12-12 16:57] mmazi commented on #307
I see, so I guess the missing BIP 44 change level is a Ledger issue; I'll ask them.

I used my own software to create the mnemonic and the keys, based on BitGo's HD wallet implementation.

The original issue stands though: I'd still like to be able to select BIP 44 accounts and not be constrained to the 0 account only. (E.g. Ledger's Bitcoin Chrome wallet supports BIP 44 accounts.)

[2016-12-17 14:02] desjohn commented on #226
awesome guide and app, I got an instance of mew up and running in about half a day, the only part of the guide that is missing is to setup for testnet.

I've got it setup on my mew relay node so that I can switch SSH tunnels to talk to my mainnet or testnet node, however using testnet I am running into some issues (can't send a testnet tx but I can load wallet info).

I'm guessing there are some c

[2016-12-17 15:19] kvhnuke commented on #226
Currently EIP155 Txs are hard coded for only mainet, for test net you have to change the chainId to 3 I believe. I'll merge the latest ethereumjs-tx as soon as I get a chance and let user easily configure the chainId. If you would like to configure it manually it is at https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/ethFuncs.js#L66

[2016-12-17 21:50] desjohn commented on #226
thank you, I've been checking it out from a hosting perspective and love how MEW deploys. It was super easy to put up the relay node and get the site up and running, doesn't appear overly hard to scale either.

I'll wait for the update and play around with it then, cheers.

[2016-12-17 22:24] tayvano commented on #226
Great to hear! Feel free to open pull requests if you do something you think other people would find useful! I added a dropdown for switching nodes but it's not hooked up yet....I also think its hidden currently. Frontend code can be copy/pasted from here regardless:

https://github.com/kvhnuke/etherwallet/commit/d426365a21ba180fa850a4975e5f656b7fa803ce#diff-582204a0b3c29d1ad397a01c87c68dd8R56

ht

[2016-12-20 17:48] khovratovich opened #311 "Safari does not download the keystore file"
When generating a new wallet in Safari, click the "Download" button. Then Safari shows the file contents instead of saving it with a proper filename.

It then becomes non-trivial to assign it a Mist-readable name.

[2016-12-21 16:37] fastandscalable opened #312 "gulp stuck while trying to build"
Hi,
Thanks for this awesome code. But when I try to build it, I `npm install`, then run `gulp` while in the main directory, but it's stuck for an hour at this point:
[code]

I figure gulp is doing a lot. But does it take more than an hour? Should I wait more?

Thanks,

[2016-12-21 19:15] #312 closed, assigned to nobody

[2016-12-22 23:33] hyugit commented on #299
hey @tayvano,

Would you mind explaining a bit more what "remove ETC node" means? Does it mean you are stopping supporting ETC? Or are you just removing ETC node to lower operation cost?

Thanks,

[2016-12-22 23:50] tayvano commented on #299
We will be removing ALL ETC functionality. You can use an older repo (i will make a post with which one) to have ETC functionality but since there will be no ETC node for it to talk to, you will need to point it to your own node in order for it to work.

Again, I'll be making a post explaining how to do all of this.

This is to eliminate both server costs (we will be starting a swarm node and rops

[2016-12-23 22:32] hyugit commented on #299
hi @tayvano I'm sorry to hear that. Would you be willing to maintain an 'etc' branch for 'etc' functionalities? I'm sure people will want to send you PRs to help you maintain it.

[2016-12-24 09:03] #291 closed, assigned to nobody

[2016-12-24 09:57] tayvano commented on #307
So we may add support for this in the future if it's requested more often, but we feel like it's a pretty rare use-case. However, you can manually change the path (confirmed using chrome) in the following way.

1. Go to send tab or whatever tab you want to interact with.

2. Click mnemonic and then right click **on the text area** and select "inspect".

3. Click on the console tab in developer too

[2016-12-24 10:02] tayvano commented on #290
Finished a while ago. https://twitter.com/myetherwallet/status/808213481237295104

[2016-12-24 10:02] #290 closed, assigned to nobody

[2016-12-24 10:08] tayvano commented on #289
**0x00aea4154505F4B42f053F35Eff1B88e17D18a08**

```audibly democrat appraisal wriggly heap plentiful padding frenzy vest remnant duplicity reformist```

```{"id":"ed7dc76b-4001-96d7-249a-34c1be52b77c","version":3,"crypto":{"cipher":"aes-128-ctr","cipherparams":{"iv":"7781e015d58e4652dda519163ce51774"},"ciphertext":"1339b191d9c8243707fc124048b5aa155997f7aab36889c42a77674e39211ee8","kdf":"pbkdf2","k

[2016-12-24 10:15] #288 closed, assigned to nobody

[2016-12-24 12:20] tayvano commented on #311
UGH! Fix that worked in 8.x doesnt working in 9.x.

from https://github.com/eligrey/FileSaver.js

FUCK YOU SAFARI. YOU ARE THE NEW IE.

@kvhnuke I need a isSafari, isChrome, isFirefox, isIE specifically to deal with bullshit like this

Safari has been attempting (and utterly failing) at getting this feature properly implemented for **4+ years now**. 😣  https://bugs.webkit.org/attachment.cgi?id=275

[2016-12-24 14:29] khovratovich commented on #311
The problem is that if you save manually it does not seem to provide a proper Geth-readable filename. But MyEtherWallet could provide a proper filename on the webpage that generates the wallet.

[2016-12-25 17:22] hyugit commented on #299
hey taylor,

if I understand it correctly, the way you are supporting both chains is to have a `isClassic` argument passed to all the functions that have blockchain operations. do you think we could create some kind of global constant that determines the underlying chain, and rely solely on that constant? We can still support both chains in the codebase with minimum code, or maybe on a separate br

[2016-12-26 12:11] Nogreedy commented on #292
@tayvano
Is it possible to add a label or comment please?
Thanks.

[2016-12-28 16:48] hyugit commented on #299
hey guys, I see that you are busy working right now. I just want you to know that the latest etc geth 3.2.3 supports EIP 155 now (here: https://github.com/ethereumproject/go-ethereum/releases). thank you again for this amazing project.

[2017-01-02 23:12] tayvano commented on #299
ETC is still enabled. We will be removing our ETC node so users will have to add their own in teh coming days. Launching this tonight.

[2017-01-02 23:12] #299 closed, assigned to nobody

[2017-01-02 23:13] #258 closed, assigned to kvhnuke

[2017-01-02 23:13] tayvano commented on #226
Launching this tonight as well.

[2017-01-02 23:13] #226 closed, assigned to kvhnuke

[2017-01-02 23:14] tayvano commented on #61
launching tonight.

[2017-01-02 23:14] #61 closed, assigned to kvhnuke

[2017-01-03 08:31] hyugit opened #314 "offer an actively managed etc node with long term support"
hi myetherwallet team,

thank you very much for keeping etc in your amazing project.

I just got more great news: on behalf of etc community, @etherninja [here](https://www.github.com/etherninja) is offering an actively managed etc node with long term support. if you are looking to use a **dedicated** etc node with active support for MEW, feel free to switch to it. it's a parity node in geth mode:

[2017-01-03 09:12] mmazi commented on #307
Thanks for the in-depth reply. I'll test it with Ledger Nano (the above answer is for the mnemonic). If it works, it will be fine for my use case.

Please note that this should also work for other radio-button options (eg. Ledger Nan S), not only for the mnemonic variant. But yeah, this sounds like a flexible and not-too-hard-to-implement solution.

[2017-01-03 09:13] kvhnuke commented on #314
it'll be awesome, now we just need that url to be https

[2017-01-03 09:13] tayvano commented on #314
Thank you!

I literally was in the process of writing a post about our new node switching functionality:
https://www.reddit.com/r/ethereum/comments/5lqx90/announcing_myetherwallet_v34_the_node_switcher/

We can all test it out a bit and if everything looks good, we can replace the current *ETC (MyEtherWallet)* with this one when the time comes.

for ref, here is where the nodes are set up: https:/

[2017-01-03 09:39] mmazi commented on #307
I've filed an issue with Ledger regarding their use of m/44'/60'/0' as the parent to derive addresses from:
https://github.com/LedgerHQ/ledger-wallet-ethereum-chrome/issues/7

[2017-01-03 09:39] tayvano commented on #307
The ledger radio uses `$scope.HDWallet.ledgerPath` as well so it should work. It may not though as there are some extra items around the Ledger obviously. Let me know.

[2017-01-03 16:11] ghost commented on #314
@tayvano @kvhnuke Hey guys :-) I just set up the parity instance in geth mode. Do I need to serve it though nginx for ssl cert? I have a cloudflare cert but it would need to proxy through there to use it. Sorry haven't looked at the code for a long while.

[2017-01-03 17:26] ghost commented on #314
Okay, served through cloudflare ssl. disregard 7001 port. standard 443 port used.

[code]

[2017-01-05 23:16] Nogreedy commented on #292
@kvhnuke @tayvano
Is it possible for you to add a label or comment this issue please?
Thanks.
Happy new year.

[2017-01-06 05:27] tayvano commented on #292
As we have no servers, there is no way to add Google Authenticator or other 2FA providers.

The entire point of 2FA is to require a server to not give access unless 3 pieces of information are given: username, password, correct answer to 2fa challenge.

This is NOT how MyEtherWallet nor Ethereum works.

MyEtherWallet allows YOU via YOUR BROWSER to sign transactions with your private key and broadc

[2017-01-06 05:27] #292 closed, assigned to nobody

[2017-01-06 11:55] Nogreedy commented on #292
@tayvano @kvhnuke
Thanks for your answer.
For your information, Electrum wallet (for Bitcoin of course) uses 2FA with multiSig
It uses an external service (TrustedCoin -  paid service - costs 0.0005 BTC/transaction) and Google Authenticator
Bitcoins are stored at a 2-of-3 multisig address.
I know it's different way from how MyEtherWallet works but with MyEtherWallet, if you don't use Ledger Nanao

[2017-01-06 12:31] tayvano commented on #292
And this is a very key difference. In this case, one of your private keys is stored on a server. You can only not have your keys compromised if you **don't** keep both keys on your computer. While this is great in theory, in reality using an online service to provide you with 2 keys means that both keys are on your internet-connected device at some point. So if the site is compromised at any point

[2017-01-06 13:00] Nogreedy commented on #292
@tayvano Thanks so much for your detailed and intelligent answer.

[2017-01-09 20:35] tayvano commented on #298
This + prefilling contract ABI given contract address from manually curated list (similar to common tokens) will be next version.

[2017-01-09 20:36] tayvano commented on #298
+ remove validation from output fields

[2017-01-09 20:49] tayvano opened #317 "Contract Name + Address + ABI (for prefilling when a user enters an address)"
TODO:
1. Save contracts people interact with to local storage.

---

If you created / manage a contract and you would like the ABI prefilled on MyEtherWallet when a user enters an address, please comment here. Please include:

1. Name of Contract

2. Address of Contract

3. ABI

You can *absolutely* link to a github raw file with the ABI in order to prevent this page from being a million miles lon

[2017-01-10 05:04] hyugit commented on #314
hi everyone, I just created a provisional PR for the node -- https://github.com/kvhnuke/etherwallet/pull/318

the only files that matters are **nodes.js** and **nodeHelpers/mewEtc.js**, and I used `customNode` class to implement the etc node

let me know what you think.

[2017-01-11 16:07] tnla opened #321 "Does MEW support Ledger Blue or just Nano S?"
Does MEW support Ledger Blue or just Nano S?

@btchip

[2017-01-11 16:08] btchip commented on #321
both should work after you activate "Browser support" in the application

[2017-01-11 16:23] #321 closed, assigned to nobody

[2017-01-15 07:03] cosmicscr opened #322 "error on clicking "view wallet info">"connect to ledger nano s""
I'm running the MEW site locally with `file:///path/to/dist/index.html`

Not running ssl or https but not sure yet why that necessary or why that would correlate with jquery not being defined.

Thanks for any help

[code]

[2017-01-15 07:36] tayvano commented on #322
Hmmm... I'm not sure why that would be happening either. However, I do know that **you must be using SSL in order to connect to the Ledger. If you aren't connected via SSL, the Ledger will not connect to the interface.**

If you are running locally you can use a self-signed certificate. There are a few tutorials on how to do this online if you google `local development ssl YOUR_OS_HERE`

I persona

[2017-01-15 07:47] cosmicscr commented on #322
Thanks!  Okay I'll let you know if the problem is there once I test it with ssl.  Feel free to close the issue as desired.

[2017-01-15 20:09] cosmicscr commented on #322
Okay, so I got the dist running over SSL using what I thought was a really great tutorial:  https://certsimple.com/blog/localhost-ssl-fix.

Now the issue is that I can't set up a custom node.

The message is `Enter valid url, if you are on https your url must be https`.
![screen shot 2017-01-15 at 1 05 35 pm](https://cloud.githubusercontent.com/assets/6118944/21965737/5b626b40-db23-11e6-963e-55819

[2017-01-16 00:48] tayvano commented on #322
Okay so now there are 2 more steps (SORRY!)

- You need to allow mixed-content in Chrome. I recommend you do this when you are running this MEW/Ledger set up, and then disable it when you aren't. If you frequently use Chrome & your Ledger, I recommend installing Chromium. Then you can set mixed-content ON for Chromium and use Chrome for your day-to-day browsing. That way you don't have to go and s

[2017-01-16 01:19] kvhnuke commented on #322
hi its ready, please download the latest version from https://github.com/kvhnuke/etherwallet/archive/mercury.zip and copy the dist folder fromt he archive  to your localhost server

[2017-01-16 01:22] kvhnuke commented on #322
https://pearsonnacommunity.force.com/support/s/article/How-to-display-mixed-content-with-Google-Chrome-Internet-Explorer-or-Firefox-1408394589290

this seems to be a good tutorial on how to enable mixed content

[2017-01-16 01:25] cosmicscr commented on #322
Thank you!

Okay got past the latest issues... still trying to connect to geth... will update you.

Nope... back to the original.   Open dev tools> right click> empty hard cache and reload and I get this:

![screen shot 2017-01-15 at 6 24 21 pm](https://cloud.githubusercontent.com/assets/6118944/21968815/31a93490-db56-11e6-898b-ef559140876a.png)

[2017-01-16 04:44] kvhnuke commented on #322
can you try again once more, i converted the JS to es5 (usually this is an issue on safari) make sure you download a fresh new copy. Thank you!. If it still doesnt work can you send us a screenshot of your chrome console.

[2017-01-16 23:43] tayvano commented on #322
FYI, you can download dist from https://github.com/kvhnuke/etherwallet/releases/tag/v3.4.5 now. I dunno if kvhnukes compiling fixed it, by mine definitely should have. I usually compile for releases. No idea why his wouldn't but...stranger things have happened.

[2017-01-21 14:15] jase1981 commented on #307
Relevant pull request: #326

[2017-01-23 10:38] tayvano commented on #322
This may help folks: https://github.com/benjaminion/eth-parity-qnap/wiki/Connecting-to-MyEtherWallet

[2017-01-24 11:48] karelbilek commented on #262
Hello there

I am from SatoshiLabs, working on trezor support right now. Soon-ish.

[2017-01-24 11:51] karelbilek opened #327 "Ledger Nano using wrong paths with Ethereum Classic"
Ethereum Classic should use 44'/61'/... path, but ledger is using 44'/60'/... path for both ETH and ETC. ( https://github.com/satoshilabs/slips/blob/master/slip-0044.md )

Unfortunately I cannot "just" fix it in the code right now, since that would prevent people from accessing their ETC wallets.

[2017-01-24 11:54] karelbilek commented on #327
I am now writing support for trezor into etherwallet and I will use the correct paths from the start, if possible

[2017-01-24 11:59] tayvano commented on #327
The path for accessing ETC vs ETH for Trezor should have it's own variable / path regardless. So your code shouldn't affect what Ledger does / supports.

I can't remember where it is, but there is a way to detect if a person is on an etc chain.

So then it should be

is_ETH ?  trezorPath == 44/61 :  trezorPath == 44/60

or whatever.

@kvhnuke Can you please let him know what the ETC variable or wh

[2017-01-24 12:05] karelbilek commented on #327
Well, not really, since the code is very similar for Ledger and Trezor, I reuse some of their code. And Trezor and Ledger use the same BIP44 paths.

Actually, TREZOR and Ledger initialized with the same seed return the same addresses. (Except now for the ETC addresses, which will differ.)

[2017-01-24 12:10] karelbilek commented on #327
cc @btchip

[2017-01-24 12:15] tayvano commented on #327
That's fine. We should probably update any shared functions to accept a path parameter if they don't do so already. Here are the paths used for Jaxx / Metamask and Ledger. We don't know what is going to happen in the future and the paths are obviously different currently, so I still think it's most prudent to set it up in that way instead. If the paths end up being the same later, they end up bein

[2017-01-24 12:19] karelbilek commented on #327
Hm, but the actual path, that gets sent to Ledger (and therefore the more important one :) ), is hard-coded on this line anyway and not reused from that object

https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/controllers/decryptWalletCtrl.js#L154

edit: I will move it out when I am now at it when I am editing the code there

[2017-01-24 12:24] kvhnuke commented on #327
ajaxReq.type is a global variable itll let  you know whether it is "ETH","ETC","ROP"

[2017-01-24 12:24] karelbilek commented on #327
(and I think Jaxx / Metamask have the same issue?)

[2017-01-24 13:35] karelbilek commented on #327
This causes another issue though

Ledger and Trezor have the same mnemonics.

You have a logic, where when pasted mnemonic looks like Ledger seed, it recreates the wallet using ETH paths, always.

But when Trezor will use correct paths for ETC and ROP, I cannot distinguish if it is a ledger seed and should, therefore, use `60'` in cointype, or trezor seed and I should use `61'` (or `1'` with ROP).

[2017-01-24 16:36] hyugit commented on #314
thank you everyone for doing this. I guess this ticket can be closed now.

[2017-01-24 16:36] #314 closed, assigned to nobody

[2017-01-25 10:18] nvtaveras opened #329 "Can't interact with contract using Ledger Nano S"
Whenever I try to write to a contract from the "Contracts" section (after entering the address + abi), and select my ledger device, the modal doesn't show the accounts under my ledger device (the background turns grey, but the modal doesn't pop up).

I can see under the network tab that the accounts are fetched with the correct balances, however they won't show up in the UI. No errors received on

[2017-01-25 10:55] karelbilek commented on #262
https://github.com/kvhnuke/etherwallet/pull/330

[2017-01-25 13:57] tayvano commented on #329
@kvhnuke

This needs to be fixed too.

When the user clicks the "write" button, the <wallet-decrypt-drtv></wallet-decrypt-drtv> should appear below that button, NOT in a modal. It should be the same <wallet-decrypt-drtv> that we use in deploy, as there is no sense in it having all that code twice.

Then you have 2 bindings for messages below that.

Then you have 2 (NOT 4!) ares for the raw and sig

[2017-02-03 06:22] tayvano commented on #329
Pushing live shortly. v 3.4.7

[2017-02-03 06:22] #329 closed, assigned to nobody

[2017-02-03 23:49] tayvano commented on #262
Live...finally

[2017-02-03 23:49] #262 closed, assigned to nobody

[2017-02-04 06:28] tayvano opened #332 "Ledger Nano S & TREZOR initialized with same key but showing different addresses in MEW (via email from Rob)"
@runn1ng  @btchip -- Just received this (very well written) support request via email. Any insights?  Bold areas = key points.

[2017-02-04 07:00] kvhnuke commented on #332
Just noticed,  Trezor uses different path from Ledger [LN20](https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/controllers/decryptWalletCtrl.js#L20) vs [LN23](https://github.com/kvhnuke/etherwallet/blob/mercury/app/scripts/controllers/decryptWalletCtrl.js#L23).

[2017-02-04 08:19] prusnak commented on #332
That was what was the path discussion all about in https://github.com/kvhnuke/etherwallet/pull/330
I though you understood the issue and its implications.

[2017-02-04 08:25] prusnak commented on #332
Key point is https://github.com/kvhnuke/etherwallet/pull/330#issuecomment-275202428 where @btchip agrees to change Ledger paths to be compatible with BIP-44 like most of the wallets.

[2017-02-04 15:38] mcgravier opened #333 "TREZOR: Retyping passphrase for every transaction"
I noticed, that myetherwallet requires typing passphrase for every action - so if I want to make multiple transactions, I have to retype passphrase every time.

On official wallet passphrase is required only once - until device is disconnected or timeout kicks in.
 It would be more convenient if myetherwallet worked in similar way

[2017-02-04 16:34] kvhnuke commented on #332
Yes for a second I completely forgot the whole path discussion, I think we can close this.

[2017-02-04 16:34] #332 closed, assigned to nobody

[2017-02-09 20:12] tayvano opened #335 "Remove connecting via TREZOR and LEDGER from View Wallet Info page"
"When connecting via trezor to the wallet info - you still have the option to download an unencrypted file of the account. I know the downloaded file in encrypted, since you don't have the private key - but I think it would be recommded to disable this feature because it created confustion."

[2017-02-09 20:14] michaelriha opened #336 "Error message of [Object object] when sending from Ledger Nano S while MEW is also viewing Trezor wallet info in another browser"
I was trying to move all of my ETH from my Ledger Nano S (purchased because Trezor hadn't added support yet) to my Trezor. I opened the Trezor wallet from Firefox and the Nano S from chrome. When I clicked "Send Transaction" I get an error [Object object]. I'm guessing it should say "You can't connect two devices at the same time" or similar. I got an error on the Trezor screen "Another U2F device

[2017-02-09 20:15] tayvano commented on #336
I will look into this and see if we can detect / show better error message. Can you confirm if your Trezor works in Firefox when you don't have 2 devices connected?

[2017-02-09 20:34] michaelriha commented on #336
Yes both devices work when only one is connected at a time.

This is probably reproducible regardless of the browser e.g. you could open a second private browsing window in Chrome so that MEW sees two sessions. Firefox is my main browser, but the Nano S doesn't support it so that's why I used both.

Also if it's relevant I think I had Firefox open viewing the Trezor wallet info before I opened Chr

[2017-02-09 20:58] tayvano commented on #336
Thank you for the add'l info! I knew that Ledger didn't support Firefox but interesting to note that Trezor does.

We will definitely look into this.

[2017-02-10 09:51] JanKalin commented on #336
I don't think it has anything to do with Trezor. I just received Ledger Nano S and was playing with it, when I got the same error. It was the only device plugged into USB ports.

My guess is that there is some sort of timeout occurring during communication with Ledger, perhaps caused by the U2F plugin. I can generate a transaction if I confirm it within 10 seconds. So after I click on `Generate Tr

[2017-02-11 09:13] iancoleman opened #337 "Unusual capitalization of hex encoded ethereum address"
I'm unclear whether the hex encoding with unusual capitalization is intended and important, or is just an unusual side-effect with no consequence.

Steps to reproduce:

* navigate browser to https://www.myetherwallet.com/#view-wallet-info
* select mnemonic phrase
* enter `abandon abandon ability`
* click unlock
* see the first address is 0xe5815d5902Ad612d49283DEdEc02100Bd44C2772
* note the unusua

[2017-02-13 07:24] tayvano commented on #337
Capitalization simply means the address has a checksum. You should use the capitalization address because of this, but both will work.

https://github.com/ethereum/EIPs/issues/55

[2017-02-13 07:24] #337 closed, assigned to nobody

[2017-02-16 11:44] tayvano commented on #335
just pushed live @ v3.5.0

[2017-02-16 11:44] #335 closed, assigned to kvhnuke

[2017-02-16 11:45] tayvano commented on #289
just pushed live @ v3.5.0

[2017-02-16 11:45] #289 closed, assigned to kvhnuke

[2017-02-16 11:46] tayvano commented on #307
This is live as of v3.4.7

[2017-02-16 11:46] #307 closed, assigned to nobody

[2017-02-16 11:46] tayvano commented on #240
live as of 3.4.7

[2017-02-16 11:46] #240 closed, assigned to nobody

[2017-02-16 11:47] #222 closed, assigned to kvhnuke

[2017-02-16 11:51] tayvano commented on #276
fixed in new nodes that will be primary nodes in ~2wks.

[2017-02-16 11:51] #276 closed, assigned to kvhnuke

[2017-02-16 11:59] tayvano opened #340 "Full freaking ENS Support"
🎉 🍾

[2017-02-16 12:02] tayvano commented on #322
Let me know if this wasnt resolved

[2017-02-16 12:02] #322 closed, assigned to nobody

[2017-02-16 12:03] tayvano commented on #336
@kvhnuke  Need better error messages for this. Returning [object object] -> straight to ALL your inboxes. #motivation?

[2017-02-16 12:05] tayvano opened #341 "Cleanup CX Add Wallet + My Wallet + Validation"

[2017-02-17 04:27] ghost opened #343 "Add support for Classic Donations"
I usually don't have too much ETH on hand. An address for ETC donations would be helpful. Or if notice that MEW monitors the same address.

[2017-02-17 08:38] sekisanchi commented on #340
Love it!  I need that on my lifetime mail service possibly with Personal Data Locker of 2030.io!
Let's see how Nick and others finalize the spec!

[2017-02-17 10:16] tayvano commented on #343
All ETH/ETC/Tokens can go to the main donation address (0x7cB57B5A97eAbe94205C07890BE4c1aD31E486A8)

Every so often we divvy it up, decide how much we want to go to overhead like servers, and keep the rest for ourselves. That applies to everything in that account.

We considered making add'l addresses but decided against it as it would just be another thing to keep track of 📦

Thanks 😄

[2017-02-17 10:16] #343 closed, assigned to nobody

[2017-02-17 12:38] ghost commented on #343
:-) Some ETC sent your way along with some BEC Token.

[2017-02-17 20:18] tayvano commented on #343
Thank you - much appreciated!

[2017-02-19 11:50] JanKalin opened #348 "(Fix modals) Cannot connect to Ledger Nano S from `Send Ether and Tokens` tab after having opened `View Wallet Info` tab"
A strange bug... Steps to reproduce:

- Navigate to `View Wallet Info` tab
- Navigate to `Send Ether and Tokens` tab
- Click on `Connect to Ledger Nano S`.
- The page goes grey and stays that way without ever connecting to Ledger.

The issue is resolved by reloading the `Send...` tab in the browser.

This is the only way of triggering this bug. I have only noticed it because I happen to have https

[2017-02-19 12:04] tayvano commented on #348
Interesting. I'm guessing it has something to do with the modal. We had a couple things similar to this. You try to do X but the modal pops up on the View Wallet Info page so you can't see it.

@kvhnuke Can we like.....fix the modals in general?

[2017-02-19 12:07] tayvano commented on #348
Yeah this is also reproducible using any mnemonic key. Definitely the modal getting lost somewhere.

[2017-02-19 12:08] tayvano opened #349 "Mnemonic modal should show ETH or ETC or Ropsten ETH balances depending on the node"
![screen shot 2017-02-19 at 4 07 19 am](https://cloud.githubusercontent.com/assets/7924827/23102169/0b9c2c9e-f659-11e6-8dcb-fd8e470f57df.jpg)

[2017-02-22 10:09] tayvano commented on #349
![screen shot 2017-02-22 at 2 09 28 am](https://cloud.githubusercontent.com/assets/7924827/23206831/f934742e-f8a3-11e6-81ec-8b4d0f77dd17.jpg)

Fiat numbers should be limited to 2 decimals.

[2017-02-23 10:13] #336 closed, assigned to kvhnuke

[2017-02-23 10:13] #348 closed, assigned to kvhnuke

[2017-02-23 10:13] #349 closed, assigned to kvhnuke

[2017-02-26 22:22] benjaminion opened #355 "Regression: Ledger Nano S not working in v.3.5.3"
I just tried to send an Ether transfer in v.3.5.3 using my Ledger Nano S, but was unable to do so. I reverted to v.3.4.4 which I have on my local server and everything worked fine. I have previously used the Ledger Nano S with MEW many times, and am definitely selecting the right options on the device (browser support is enabled, etc).

In all cases I am using the Eth(MyEtherWallet) node. The foll

[2017-02-27 14:15] benjaminion commented on #355
And today.... problem 1 (Send Ether & Tokens) has gone away, but problem 2 (Send Offline Transaction) remains.

Chrome Version 56.0.2924.87 (64-bit), by the way.

Edit: apologies - issue 2 is _not_ a regression. This one also occurs in 3.4.4, where the error message is "TypeError: private key should be a Buffer".

[2017-03-01 08:23] DESIGNfromWITHIN opened #356 "Unable to send any ALT coin with Ledger Nano S "insufficient balance for gas" but have over 100 ETH"
I connect my Ledger Nano S (latest firmware: 1.3)

- Contract data is YES
- Browser Support is YES
- Over 100 ETH available in account

As soon as I change the coin type to anything but ETH I get:

If I **Generate Transaction** I can confirm on the Ledger Nano S but this does nothing, seems like all just hangs and after a few minutes I get the timeout error on the site.

_Below a gif of the issue:

[2017-03-01 08:29] DESIGNfromWITHIN commented on #356
Really bad for me tried 3 computers and it does not work anywhere

[2017-03-01 08:40] DESIGNfromWITHIN commented on #356
Using more gas does not help.

[2017-03-01 09:44] kvhnuke commented on #356
that is just an info msg, not an actual error.

However, nothing showing up is an error, I just tried both Firefox and chrome and was able to successfully transfer REP token. What operating system are you on? browser? if you are on chrome press ctrl+shift+j (this should open up the console window) let me know if it shows any errors.

[2017-03-01 09:55] pollastri-pierre commented on #356
Hello this is an issue with your version of the Nano S Ethereum application. Please uninstall and reinstall it, it should solve the issue.

[2017-03-01 10:02] DESIGNfromWITHIN commented on #356
Ok thanks will try

[2017-03-01 10:05] DESIGNfromWITHIN commented on #356
@pollastri-pierre
Thank you reinstalling did the trick!

[2017-03-01 10:05] #356 closed, assigned to nobody

[2017-03-01 11:03] tayvano commented on #298
+ from etherscan please
https://etherscan.io/apis#contracts

[2017-03-01 11:12] #355 closed, assigned to nobody

[2017-03-01 19:26] avatar-lavventura opened #357 "etherwallet-3.5.0: read contract returns blank text-box."
I am using `myetherwallet` on my private Ethereum network. Under Contracts=>"Read/Write Contract", I was able to access methods of my contract(entering its address and abi) successfully and I was able to write into my contract successfully. I do check through `geth`, that string "hello" is written into my contract.

<img width="581" alt="screen shot 2017-03-01 at 22 00 21" src="https://cloud.githu

[2017-03-01 19:28] tayvano commented on #357
Is there any way you can provide me with Address / ABI so I can look into this further. You mentioned its on a private net but is there anything on the main net or (currently broken Ropsten) thats creating this same issue?

[2017-03-01 19:29] tayvano opened #358 "Set Ropsten node to auto reset every 12 hours...or use geth"
Ropsten is currently having some difficulties due to some sort of network attacks or something, which is why we cannot stay in sync.

If this is not solvable by switching to geth, please ghetto-rig it to restart if it's out of sync or every X hours so that it's not completely useless, 100% of the time

[2017-03-01 20:30] avatar-lavventura commented on #357
Sure:
[code]

My Contract: (Here is a simple contract that I have tried.) `get()` does not return 100 via `myetherwallet`, but it returns 100 when I access it through `geth`. Please note that `write`(`contract.set()`) works through `myetherwallet`.
<img width="429" alt="screen shot 2017-03-01 at 23 31 22" src="https://cloud.githubusercontent.com/assets/18537398/23479953/dceb58ce-fece-11e6-90c1-a58

[2017-03-02 10:14] kvhnuke commented on #358
couldn't get parity to sync, running geth now. Ropston is fully functional

[2017-03-02 10:14] #358 closed, assigned to kvhnuke

[2017-03-02 10:42] kvhnuke commented on #358
ignore the trace_call not found error until latest version goes live @tayvano

[2017-03-03 05:31] ghost opened #359 "Not a valid ERC-20 token"
Hi,

My token had been verified on etherscan as an ERC-20 token. However after adding the token in MEW, it shows 'Not a valid ERC-20 token'.

Contract address : 0x8c859BD1c35A79f09c6e30E35FFAcf852014a264

Had the symbols and decimals similar with etherscan

Thank you

[2017-03-03 22:51] tayvano commented on #359
@neowenyuan27 - Etherscan does not show this address as an ERC-20 address.

This one looks like the address you are looking for:

0x70a8629c1b9a50133c5325502232bd54447beee7
SOAR
decimals: 6

[2017-03-04 06:06] ghost commented on #359
Sorry for my error @tayvano. Everything is fine now, thank you for your time

[2017-03-04 06:06] #359 closed, assigned to nobody

[2017-03-05 00:17] imrockin opened #360 "Please Help Wrong Address or Double Account?"
**Hello I dont know if I can get help here. I apologize if this is the wrong area.

What info can I provide to get help?

I dont know what to do.  I dont know if my coins are in limbo elsewhere or is there a possible double account with a different address??**

1. I signed up for a myetherwallet.

2. I withdrew my Eth Tokens from the Chronobank.io site to myetherwallet.

3. I look at myetherwallet

[2017-03-05 14:17] retotrinkler opened #362 "QR code for signed txs not showing in Firefox"
Not an issue but an idea.

For super secure offline signing the have a QR code out of the `Signed Transaction` data string would be great. This way one could have truly offline storing of keys and have a convenient and air-gapped way to get data - signed tx - via QR code from an offline system into an online system.

maybe things like the below could be useful
https://github.com/soldair/node-qrcod

[2017-03-06 20:22] tayvano commented on #362
Have you used the Offline tab on MEW? I believe this is already implemented but let me know if you're talking about QR code functionality elsewhere

[2017-03-06 20:42] retotrinkler commented on #362
Do you mean the "Send Offline" tab?

[2017-03-06 20:46] retotrinkler commented on #362
![screenshot from 2017-03-06 20-45-32](https://cloud.githubusercontent.com/assets/13721565/23628896/de4805b8-02ad-11e7-8777-9dbf9edfb8e1.png)

sry if i miss something - meant for this "Signed Transaction" part

[2017-03-06 20:47] tayvano commented on #360
Hi @imrockin,

I'm not super familiar with the Chronobank / deposit situation so I don't know how much help I will be either. When you created the wallet it would have given you your UTC file and shown your address. The address is also inside the UTC file.

I'm not sure where the deposit address came from or how you got it to Chronobank, but if you copied it from MEW when you created the wallet, i

[2017-03-06 20:50] tayvano commented on #362
Oh weird!

What browser are you using?

![screen shot 2017-03-06 at 12 49 39 pm](https://cloud.githubusercontent.com/assets/7924827/23629091/6c945094-026b-11e7-9413-e9686c70987f.jpg)

[2017-03-06 21:33] retotrinkler commented on #362
ha interesting - using Firefox v51.0.1

[2017-03-06 22:42] tayvano commented on #362
So strange! I'll look into it and try to figure out why it's not showing on Firefox.

[2017-03-07 06:42] imrockin commented on #360
Thanks for your reply. Im still trying to figure this out.  The strange thing is I never created a eth wallet until the day i opened a Mew just for this purpose.

I do have the Utc file and the printout as well.  Im still really puzzled.

  I can put the withdrawl  address here if its ok if anyone wants to try to help me out and even the Tx ID.

I cant figure out where it is.  I dont want to lose

[2017-03-07 06:44] tayvano commented on #360
Sure, post the address here. Just not the private key or UTC file. 😄

Where did the deposit address come from? Is that a Chronobank thing?

[2017-03-07 06:49] imrockin commented on #360
yeah it was an ico at chronobank that i got into.  I withdrew them out of chronobank to put in Mew that I created that same day.  Then when i logged into my Chronobank Dashboard I noticed the address did not match up to my Mew so I was freaking out and I looked at every file and every account that I even have. I cant find this address.

Your tokens was withdrawn to address:
0x4682e3DA4AA62e69656c3

[2017-03-07 06:54] imrockin commented on #360
Omg, when i go to Mew and go to view with address only I see them!! but is that someone elses wallet?  I did not create that icon profile.   What is going on

[2017-03-07 07:12] imrockin commented on #360
Im really confused.  I can see them when i go to Mew and put in view by address only.  but how do i unlock this?

Because when I put in my private key it looks like its unlocking a different Mew other than the one I see a balance in.

[2017-03-07 07:13] tayvano commented on #360
Try searching your entire computer for "4682e3DA4AA62e69656c3Fe85262202C3a53F0E6"

Note the lack of 0x at the beginning of the string

[2017-03-07 07:15] imrockin commented on #360
no results.  This is crazy..  Is that my wallet or did i get hacked?

[2017-03-07 07:16] imrockin commented on #360
when I click on the link transaction history why is there no history??

[2017-03-07 07:17] tayvano commented on #360
I doubt your wallet was hacked as you are saying that the privte key / keystore / UTC file you saved does not match the address that you put as a deposit address. In other words, you do not have the private key to access the 0x4682e3DA4AA62e69656c3Fe85262202C3a53F0E6 account.

In order to access that address, you need the private key for that address. I'm trying to determine where it could be base

[2017-03-07 07:19] imrockin commented on #360
Thats correct what you are saying. I have a private key for the ad05 account and it shows zero balance.
When i put in my private key its like it goes to another account and the icon is blue at the top instead of that gree purple icon.

I have no idea how this happened.

[2017-03-07 07:45] tayvano commented on #362
I think I just got to your email (I'm making my way through a backlog of 130 emails at the moment)

Who sent you this confirmation? Was it Chronobank? Where did they have you create the wallet? On MyEtherWallet.com?

[2017-03-07 07:46] tayvano commented on #360
I think I just got to your email (I'm making my way through a backlog of 130 emails at the moment)

Who sent you this confirmation? Was it Chronobank? Where did they have you create the wallet? On MyEtherWallet.com?

Also, did you happen to save the printed version of your private key or anything?

[2017-03-07 08:06] imrockin commented on #360
yes that was from chronobank that sent me those confirmations.  They recommended Mew also parity and couple others but said Mew is a good choice.

I have a printed version of my private key yes and the address. Its not the one that shows the balance unfortunately.

I searched my whole PC for the key. Nothing shows.  This really sucks. I cant believe this happened.

[2017-03-07 08:15] imrockin commented on #360
How can there be no transaction history? the one that shows the balance.  Is that possible?

[2017-03-08 15:49] imrockin commented on #360
Am I at a total loss on my coins?  Im not sure what else to do at this point.
Appreciate the help.

[2017-03-09 05:12] oneyesoneno opened #366 "sending asset token via myetherwallet but it stuck"
hi guys... i try send asset through myetherwallet to bittrex exchanger but it seems like it is stuck there for few hours already.

https://etherscan.io/tx/0xaca01ac7b3a4dc4528c0c60bb6813f1fda083b06aed061285ffdacf684bb9574

can someone help me pls.
ty

[2017-03-09 05:19] oneyesoneno commented on #366
nevermind.. the asset is return to my wallet... i dont know why and how but i am so relieved... fiuhhhhhh

[2017-03-10 07:59] chriseth opened #367 "QR code reader"
Adding a QR code reader to MEW would be make it super-awesome as an "ad hoc" wallet:

Take any phone, go to myetherwallet.com, scan a QR code containing your private key from a piece of paper, scan the recipient's address, enter the value (or select function to call) and hit send.

In general, I think MEW would profit a lot from a QR code reader to "enter" addresses.

Are there any plans to add su

[2017-03-10 08:22] tayvano commented on #367
I think if you go back in time to the original posts --- the posts where kvhnuke was still posting them to reddit --- this was requested and we were like "oh yeah for sure...we'll add that." I mean, QR codes have been on the paper wallets since day 1. 😂

It is one of those features that isn't that hard to implement, would be a very nice nice-to-have, but never somehow makes it on to the "it gets d

[2017-03-10 09:12] chriseth commented on #367
Nice! I just tried the npm package and it seems to work! I took a photo of the "generate wallet" screen - at first the decoder was confused because some parts of the second qr code was still visible (you might consider moving them more apart for that reason), but cropping the image did the trick!
I just tried it on a laptop, so combining it with webrtc for a demo would be the next step.

[2017-03-10 09:23] tayvano opened #368 "Add JS only copy-to-clipboard functionality for important fields"
Inspired by random article on my Google now

https://www.bennadel.com/blog/3235-creating-a-simple-copy-to-clipboard-directive-in-angular-2-4-9.htm

[2017-03-10 10:28] chriseth commented on #367
I created a small demo using the qrcode-reader npm package: https://chriseth.github.io/qr-demo/
It works really nicely with both firefox and chrome on my laptop, but somehow, firefox on my phone reports some internal qr decoding error - it finds the patterns but then complains about "locator degree does not match the number of roots".

[2017-03-10 10:32] tayvano commented on #367
https://github.com/sembrestels/angular-qr-scanner - So I also had this one saved but never thought much of it because the demo doesn't work. Turns out...the demo doesn't work because the demo has a hardcoded http:// in there. I fixed it and it works fairly well (tested with a printed paper wallet - address and private key)

It gets lost if you move too much though...

I sftp'd to the [nearest ssl

[2017-03-10 10:40] chriseth commented on #367
I get exactly the same error for that.

[2017-03-10 10:48] tayvano commented on #367
Yours is better because it stops when it detects, too. Alright. I'll try to sneak this in with ENS. It may go into wallet decryption before addresses, but we'll see.

As an internal note, we will need to use a standard QR code format for addresses or whatever (similar to Bitcoin). I'll take a look at Jaxx and see if they do anything special. And ping Metamask because they love standards. 😝

**TODO

[2017-03-12 23:37] bdimych opened #369 "Feature Request: alert user if there is opened tab with unlocked wallet."
I always have several browser windows with multiple tabs opened, and I often forget to close myetherwallet tab,
Alert or signal would be very good in this case.

[2017-03-13 04:55] CryptoHound opened #370 "Unable to withdraw tokens"
I have been unable to withdraw tokens from my etherwallet, I have plenty of gas ether what ever you want to call it but every time I try it just takes my ether and never transfers the tokens, I have sent the people at myeatherwallet several emails and still no answers, not help at all, it is very frustrating, can someone out there please give me some answers

[2017-03-13 06:22] #370 closed, assigned to nobody

[2017-03-17 14:47] GenTarkin opened #374 "Trezor functionality w/ local copy of repo/release, not working =("
I cant seem to get trezor working when I start index.html w/ a local copy of the repo/release.
It just gets stuck at the trezor login popup window, seems to never find trezor.
Is there any way to make it work or plans to fix?

Thanks

[2017-03-17 20:39] tayvano commented on #374
I'm guessing this is due to not being connected via SSL.

You will need to run MyEtherWallet locally over SSL.

Not sure of your OS but you can google `ssl local dev` and there are a variety of guides on how to set it up.

[2017-03-17 20:39] #366 closed, assigned to nobody

[2017-03-17 20:39] #340 closed, assigned to nobody

[2017-03-17 20:41] tayvano commented on #333
For security reasons, we're going to leave this as is. Even if it's a pain, it's more secure and I'm okay with that.

[2017-03-17 20:41] #333 closed, assigned to nobody

[2017-03-18 02:36] tayvano opened #375 "Offline TX Page: show both fields on step #2 like we do on the send tx page."
Question: When you send ether offline (for example with Myetherwallet), is it possible to verify that the destination address is indeed the intended one within the text of the signed transaction? Thanks.

Answer: Press the send transaction button. A modal will appear with the address you are sending to, from, and amount.

[2017-03-18 02:38] tayvano commented on #375
Answer: Press the send transaction button. A modal will appear with the address you are sending to, from, and amount.

[2017-03-20 00:24] bokkypoobah opened #377 "Contracts - radio button works incorrectly across two boolean function parameters."
To test, use the address `0xf8ae5575d303e27a94d2fb2cb7990afae695b262` and the ABI:

Then select the activate function. You can only select ONE of `_buysTokens` True or False and `_sellsTokens` True or False.

[2017-03-20 08:36] #375 closed, assigned to nobody

[2017-03-20 08:36] #377 closed, assigned to nobody

[2017-03-20 08:46] kvhnuke commented on #357
![image](https://cloud.githubusercontent.com/assets/10602065/24092972/d1124a28-0d0e-11e7-802a-82006c648869.png)

I have a feeling you might not have your mew connected to local node, or the testnet  you are using. use the top right node switcher and make sure you are connected to the correct node. I just deployed your contract at 0x7047c65D21b8e0942B69f5fb7719034e8addBc79 and used mew to read the

[2017-03-20 09:04] avatar-lavventura commented on #357
Thank you @kvhnuke. I have tried this on my private ethereum network (http://ethereum.stackexchange.com/a/11240/4575). I have followed your guide to use the wallet for private network as well. I have done the node switcher and the red error box on top of the page also removed. I think my mew is connected to my local node where I can get my account's balance and also send transaction to other addre

[2017-03-20 11:01] kvhnuke commented on #357
can you please open up the browser console and send us a screenshot, it might be failing due to a different error,
if you can send the network tab screenshot it'll be great too. Ill try to test it on a custom network as soon as I get a chance

[2017-03-20 13:59] avatar-lavventura commented on #357
etherwallet-master.js
[code]
Call order of the error:
`completeRequest(callback, status, response, xhr.getAllResponseHeaders(), statusText);`=>
`callback(status, response, headersString, statusText);`=>
`if (!$rootScope.$$phase) $rootScope.$apply();`=>
`$rootScope.$digest();`=>
`asyncTask.scope.$eval(asyncTask.expression, asyncTask.locals);`=>
`return $parse(expr)(this, locals);`=>
`exceptionHandl

[2017-03-20 14:10] avatar-lavventura commented on #357
There is this error always show up.

<img width="799" alt="screen shot 2017-03-20 at 17 10 17" src="https://cloud.githubusercontent.com/assets/18537398/24103326/98937b94-0d87-11e7-9330-96fda8c54e82.png">

[2017-03-20 14:28] avatar-lavventura commented on #357
Let me re-try with the latest version v3.5.6 and updated you based on that without changing the original code. @kvhnuke

[2017-03-21 05:24] thrillbit opened #378 "Incorrect Wallet Password"
I am trying to transfer eth into my ledger nano s. I currently use myetherwallet to manage my eth. I created a new wallet on myetherwallet with my mnemonic that I was given from my ledger. It then asked me to create a password on myetherwallet. So I created a password, but now the password won't work. I sent 1 eth to it and I cannot access it. Can someone explain to me where I went wrong?

[2017-03-21 05:51] tayvano commented on #378
Which page were you on when you said you created a new wallet with your mnemonic? Screenshot?

[2017-03-21 07:48] aresabi opened #379 "Different public-adress - Lost 5 ETH"
Last week, I decided to create a wallet on myetherwallet.com and send 5 ETH from btcdirect.eu
to the public address. After my registration, the public address was shown. I copied & pasted it.
Now the address under the same private key seems to be different and my balance is 0 ETH.
What to do now?

[2017-03-21 07:49] tayvano commented on #379
Hi, please send us an email at myetherwallet @ gmail.com and send me your address so I can look into this. Thank you.

[2017-03-21 07:51] aresabi commented on #360
Hey rockin,
exact same problem here. The public key from the registration is different to the key, which is shown after the login. Didn't find a solution either

[2017-03-21 07:52] aresabi commented on #379
Already sent you an email with both of the addresses 15 minutes ago. Thank you so far

[2017-03-21 07:54] tayvano commented on #379
Okay - I'm answering emails from about 2 hours ago so I should get to you shortly. Constantly playing catchup in the inbox. Sorry for the delay!

[2017-03-21 11:45] avatar-lavventura commented on #357
Same error, lines are on the original code: v3.5.0. @kvhnuke
<img width="602" alt="screen shot 2017-03-21 at 14 45 26" src="https://cloud.githubusercontent.com/assets/18537398/24146034/90ec66a2-0e3c-11e7-844f-2bd5f480d17a.png">

[2017-03-21 13:05] bokkypoobah commented on #377
Just tested and it's all good. Thanks @kvhnuke !

[2017-03-21 14:47] imrockin commented on #360
hello,
so we both have the same exact problem.  I didnt make another extra key.  I only created 1 account.  I really am wondering if it is some type of glitch.  Did you notify anyone in the github forum?
I am puzzled as heck, and I dont want to lose my coins forever.   If i put the withdrawl address into the MEW under View address only, I can see my coins sitting there but I dont have access to th

[2017-03-21 15:06] kvhnuke commented on #360
When you say registration? Are you referring to the chronobank ico registration or actually generating a wallet? and what browser are you using?

[2017-03-21 15:12] kvhnuke commented on #360
Can you also check the chronobank address confirmation email? And see whether that address and the address they sent tokens to match

[2017-03-21 15:22] imrockin commented on #360
Yes I meant register with MEW i believe.   I got the confirmation email from Chronobank it is as follows on Feb 24th
Please confirm your Ethereum withdrawal address by following the link below
https://chronobank.io/confirmaddress/0b21e1f346b85ce683eb21d7c8e46b2819ae5bf8c734e7963e5eb3294af43fd9ef66586a0d
Then after I confirmed, I got another confirmation email from Chrono that my address has change

[2017-03-21 15:38] kvhnuke commented on #360
When you followed the link, do you remember which address it showed?
Also if you can let us know your browser it'll help to debug

[2017-03-21 16:24] thrillbit commented on #378
it was on my ledger nano s. I used that mnemonic to try and access it on myetherwallet

[2017-03-21 16:35] imrockin commented on #360
I honestly dont.  I just clicked the link.  I just remember cut and pasting the address for my MEW wallet for a deposit into it.Then when I looked i was confused why they didnt show. 
Then noticed why is the address different.
I never had a MEW wallet until that day to create one just for the Time Tokens.My pc has no record of the address  0x4682e3DA4AA62e69656c3Fe85262202C3a53F0E6
My MEW is total

[2017-03-21 17:01] thrillbit commented on #378
I got it all figured out thank you for you help!

[2017-03-22 09:14] Antoniosss21 opened #380 "wrong address"
Hello. I had an error buying etherium. I accidentally pointed out the wrong address. I do not know how it happened, but the translation did not come to my address.
My adress is 0xA6e5dd276Fa1dE00EF5926F3c124b252F2135Ac1
Tell me, could you transfer money to my account
![1](https://cloud.githubusercontent.com/assets/26594156/24190051/67569c10-0ef8-11e7-8d31-69bff6b6701c.png)
![2](https://cloud.githu

[2017-03-22 09:18] tayvano commented on #380
I’m really sorry but MyEtherWallet is not actually a "web wallet". You do not create an account or give us your Ether or any tokens to hold onto. We cannot access every address that exists on the Ethereum Blockchain

Without the private key to this account, no one can access that ETH.

Please take some time to look over our getting started guides so you can get a better understanding of how this a

[2017-03-22 09:26] Antoniosss21 commented on #380
So what should I do? I lost my money?

[2017-03-22 09:27] tayvano commented on #380
Do you have the private key for the address 0xfcb9fa29fce2498025ac166d929c528aeba26209?

Where did this address come from?

[2017-03-22 09:35] Antoniosss21 commented on #380
No, I do not, I do not know where. I have kept the revisions in a text document. And maybe I did not keep them right. Or something has casually changed.

[2017-03-22 09:44] tayvano commented on #380
What do you mean by 'revisions'?

[2017-03-22 09:45] Antoniosss21 commented on #380
requisites*

[2017-03-22 09:48] tayvano commented on #380
Please email myetherwallet @ gmail.com and we can dive deeper and see if we can help figure out what came from where. Thanks.

[2017-03-22 09:48] #380 closed, assigned to nobody

[2017-03-22 09:50] Antoniosss21 commented on #380
Probably this is my old address, but I have not saved it correctly, so I have another one.
![e1](https://cloud.githubusercontent.com/assets/26594156/24191863/29943cf6-0efe-11e7-8cfe-78ddfd01a5e1.png)
![e2](https://cloud.githubusercontent.com/assets/26594156/24191862/2992ccd6-0efe-11e7-8980-6a3bea7e1a0f.png)

[2017-03-22 09:52] tayvano commented on #380
**Please** email us. I would rather not have you sending sensitive or secret information in a public forum.

[2017-03-22 09:54] Antoniosss21 commented on #380
ok, if you think that there is information on which someone can break my account, delete it

[2017-03-22 10:09] Antoniosss21 commented on #380
Sorry for the inconvenience, I found this key in other files. And thanks for the aging to help me. have a nice day

[2017-03-23 23:49] Nogreedy opened #381 "How can I send a tip to someone who doesn't own an ETH address?"
Hello,
I'd like to send an ETH tip... but 99.99% of people doesn't own an ETH address.
How can I do with myetherwallet.com?
Is it possible to obtain a URL link (to send to a recipient) from myetherwallet.com?
When I used Bitcoins (in an other life) it was possible with ChangeTip, GoCoin, Blockchain.info, Coinbase.... but it was centralized...
I think the possibility to send Ethers to someone who d

[2017-03-24 06:53] GenTarkin opened #382 "www.myetherwallet.com is down??"
Just wondering where the site went. I get err 404 =(

[2017-03-24 07:15] kvhnuke commented on #382
We made some changes to our DNS settings and it might take some time to propergate through out the world. Until the main domain starts to work for you please feel free to use https://kvhnuke.github.io/etherwallet/. you can also try to reset your dns settings and try again

[2017-03-24 14:27] GenTarkin commented on #382
Thanks for heads up! Site working now =)

[2017-03-25 01:31] GenTarkin commented on #382
Seems the site is down again =(
update: nevermind, seems the www is required

[2017-03-25 01:37] tayvano commented on #382
We haven't made any changes so whatever you did before to get it to work...try again?

[2017-03-25 10:04] dyia40 opened #383 "i lost my Keystore File (UTC / JSON) in www.myetherwallet.com"
There is no other way to access my account except "Keystore File (UTC / JSON)",
What should do ?

[2017-03-25 12:29] chicken84 opened #384 "Unable to connect to node. See the help page for troubleshooting suggestions."
Hi!

I got some issues by visiting your site. I will attach a screenshot to show you my problem.

Things i tried to find a solution:

- Tried with Firefox (Screenshot)
- Tried with Firefox in Private mode
- Cleaning the Cookies
- Cleaning the Cache
- Tried with Internet Explorer

Still the same Problem. Only using the TOR-Browser to see if something wrong with my firefox does help.
I tried to mine

[2017-03-25 17:19] tayvano commented on #384
It looks like you have Javascript disabled. Do you?

[2017-03-25 17:19] linagee opened #385 "Sent testnet coins on Ropsten, not showing up"
https://testnet.etherscan.io/address/0x1ccd836bbee3584a62734ce120639f0725841508

How to reproduce:

- https://www.myetherwallet.com/#view-wallet-info
- Make sure you're on Ropsten in the upper right
- "View with Address Only"
- 0x1cCD836bBee3584a62734cE120639F0725841508

Still shows as zero balance.

Right now it shows "Latest Block#: 355480" (Jan-16-2017) on the bottom right of your page, but the

[2017-03-25 17:30] kvhnuke commented on #385
Testnet is currently resyncing after removing all the spam blocks. However it seems like there are not many  nodes with the new version of the chain therefore it is taking little longer to sync. Please wait until it is fully synced before submitting txs

[2017-03-25 20:03] Nogreedy commented on #381
@tayvano @kvhnuke
Please, answer my strange question.
Thanks.

[2017-03-25 20:04] tayvano commented on #381
As we do not have servers or store any information this is not possible. You would have to create a wallet for the person and send it to them.

[2017-03-25 20:32] botylev opened #386 "Incorrect balance"
https://gastracker.io/addr/0x578a3514aa5e7def0b4dc35bec99bba738e90baa showing 0 ETH
https://etherscan.io/address/0x578a3514aa5e7def0b4dc35bec99bba738e90baa showing 0.26640072 ETH

i cant send ethers

[2017-03-25 22:01] tayvano commented on #386
Gastracker.io is ETC. Etherscan.io is ETH. They are separate coins.

[2017-03-25 22:02] tayvano commented on #386
You have to switch to the etc chain to send etc using the node switcher in the upper right corner

[2017-03-27 18:00] tayvano opened #388 "Singular DTV Rewards Contract"
Withdraw Reward Documentation:

There is a smart contract named SingularDTVFund (https://github.com/ConsenSys/singulardtv-contracts/blob/master/contracts/SingularDTVFund.sol) that will handle the logic.

The ABI is here: https://raw.githubusercontent.com/ConsenSys/singulardtv-contracts/master/abi/SingularDTVFund.json

The method that does the withdrawal is "withdrawRevenue". It returns the amount

[2017-03-28 00:31] loicson opened #389 "(Didn't receive ETH immediately after swap transaction - resolved)"
Hello
I did a swap of BTC into ETH. The Order was cancelled but the Bitcoins went sucessfully to the swap address. I didn't received back my bitcoins nor my ETH. This is the first time I come accross this issue. I clicked on the  Issue with your Swap? Contact support link but it doesn't work. find attach screenshot of what I'm saying. thanks
![myether 2](https://cloud.githubusercontent.com/assets/

[2017-03-29 18:30] kvhnuke commented on #385
we are back on track now.

[2017-03-29 18:30] #385 closed, assigned to nobody

[2017-03-30 11:52] adnancosovic opened #390 "lost round?"
hello i cant see any more my round token in my ether wallet. why? i miss more than 46000 Round!

can you help me plx?

[2017-03-30 15:20] #390 closed, assigned to nobody

[2017-03-31 23:50] #389 closed, assigned to nobody

[2017-03-31 23:50] #386 closed, assigned to nobody

[2017-03-31 23:51] #382 closed, assigned to nobody

[2017-03-31 23:51] #379 closed, assigned to nobody

[2017-03-31 23:51] #378 closed, assigned to nobody

[2017-04-01 10:59] jmiehau opened #394 "Gas price unit on offline transactions at MEW"
If I want to make an Offline transaction at MEW, I would like to be sure on which unit the software is calculating the gas price. I'm only able to see this message: "This was displayed in Step 1 on your online computer".

Is it in Gwei or in Wei?  A link to http://ethgasstation.info would be perfect to know how much are we paying.

In the other hand, how it's calculated the gas price of a normal M

[2017-04-01 20:41] ghost opened #395 "Error when trying to send GNT token: Invalid status 6a80"
Hi,

I cannot send my GNT token from my Ledger Nano S, when I try I get this error "Invalid status 6a80". Let know if you need any more info.

Thanks!

[2017-04-01 20:47] tayvano commented on #395
Turn contract data on on your ledger device.

[2017-04-01 20:49] ghost commented on #395
Sweet!! thanks a lot tayvano!!

[2017-04-01 20:49] tayvano commented on #395
No problem!

[2017-04-01 20:49] #395 closed, assigned to nobody

[2017-04-02 06:04] roronano opened #396 "balance stolen"
hi,
i login to my ether wallet, and found that all of my balance have been transferred to another address !!!
do u have any idea ???

my wallet: 0x689B5Fc06B92059FAA691350AF18fe6dc7cBa13E
all my balance transferred to 0x8478FEA1DD6B9107393C1aa4DA4fDeeEb88F880b
which is then transferred to:  0xFa52274DD61E1643d2205169732f29114BC240b3

Note:
i login to my wallet through:
https://www.myetherwallet.co

[2017-04-02 06:21] tayvano commented on #396
Hello Raid,

I’m really sorry, but it sounds like you may have been the victim of a phishing attack, malware, remote-access hack (e.g. via Teamviewer), or something similar. I cannot easily tell you how this could have happened without knowing what you have done since the creation of these keys. :(

Unfortunately, once a transaction is on the blockchain, it's final. We do actively attempt to track

[2017-04-02 06:21] #396 closed, assigned to nobody

[2017-04-02 06:25] tayvano commented on #394
Hi jmiehau,

The gas is in Wei. We manually set the gas price at this time and the gas price on the offline tab is the same price as the online tab. We have only changed the gas price once when it was recommended during the network attacks. At that time we increased the price to  41000000000.

The transaction fee is the gas price * gas limit. A default transaction has a gas limit of 21000. The cur

[2017-04-02 06:25] #394 closed, assigned to nobody

[2017-04-02 06:25] #384 closed, assigned to nobody

[2017-04-02 06:27] tayvano commented on #383
You can access your account via your private key. This private key comes in a number of forms and how you access you account depends on what private key format you saved.

What format did you save when you generated your wallet? Did you generate your wallet on MyEtherWallet.com?

[2017-04-02 08:38] DaveAppleton opened #397 "Unable to call a constructor when deploying a contract"
Under deployment, all I am asked for is binary and not the ABI code

Thus you cannot add data to a constructor (eg on a coin deployment)

[2017-04-03 08:31] tayvano opened #398 "Put big message on Send page if people have DAO / DAO ExtraBalance / DAO ETC"
- Where?
    https://www.myetherwallet.com/#send-transaction

- What?
    - If DAO -> "You have DAO tokens that you can swap for ETH instantly. [Learn How](https://myetherwallet.groovehq.com/knowledge_base/topics/how-do-i-withdraw-my-dao?from_search=true)"
    - If DAO ExtraBalance of DAO at block XXX -> "Have you withdrawn your DAO for ETC? Have you withdrawn your DAO ExtraBalance? If not, you sh

[2017-04-03 09:14] Naigel56 opened #399 "Unencrypted private key always visible"
Once I click on "View Wallet Info" button and I unlock my wallet the second line display the unencrypted private key, big and visible. Wouldn't be better not to display the private key but only an obfuscated version with a "Show my private key" button?

When I create a new wallets and I save the crypted keys the first thing I try is to re-open the wallet, to be sure I entered the correct password

[2017-04-03 10:16] tayvano commented on #399
This would definitely be a lower priority on the overall list but has been requested before. If you open a PR with it, we will certainly pull it in and there would be more than a few happy folks.

The one thing to be aware of is to make sure you test unlocking using both a private key, a keystore file, and the "Unlock with Address Only" options. Each of these show slightly different things based o

[2017-04-03 17:10] tayvano opened #400 "Accept private keys that start with `0x`"
Wallet decrypt directive:

Some places export a private key that starts with an 0x. If a user inputs them currently, it doesn't validate. It should unlock regardless (basically by pretending the 0x isnt there or whatever)

[2017-04-04 19:20] tayvano opened #403 "Reload balances in sidebar drtv ~15s after making a transaction, once every 5 minutes."

[2017-04-05 01:12] fortran77 opened #404 "Feature request: Extract release zips into a subdirectory"
The release zip archives should extract into a suitably-named subdirectory. E.g., dist‑v3.6.0.zip might extract into a subdirectory dist‑v3.6.0, and so on.

This will be useful for two reasons.

First, we can extract a new release and it automatically goes into its own unique subdirectory. We don't need to manually create a separate directory for it, and there is no risk of absent-mindedly extract